credentials/1M5pfm5Gt9bw62hC.json
{
  "active": false,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-15T06:25:46.838Z",
  "id": "1M5pfm5Gt9bw62hC",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Get Image",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ac6c6aca-4e63-4f8c-828e-4821d23ab782",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "=https://serpapi.com/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"q\": \"{{ $json.Keyword }}\",\n  \"tbm\": \"isch\",\n  \"hl\": \"vi\",\n  \"gl\": \"vn\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "e95dea04-7653-47ec-95a4-80785c8fff73",
      "name": "HTTP Request",
      "credentials": {
        "serpApi": {
          "id": "79mxRugvCSVv3aep",
          "name": "SerpAPI (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "images_results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "41a6df81-3273-4de9-8357-237592d3cccc",
      "name": "Split Out"
    },
    {
      "parameters": {
        "maxItems": 20
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "109814f1-c6b5-46e4-bab5-d643d10f3541",
      "name": "Limit"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "original"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1100,
        0
      ],
      "id": "76201f7e-b031-4b26-8795-de108fecb4e4",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23f952c5-df4b-4415-b26d-df6f6e763db7",
              "name": "Keyword",
              "value": "Honda Civic",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "2da1d7ce-3d3b-4b58-b09f-5e3f67765def",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $('Loop Over Items').item.json.original }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Accept\": \"image/webp,image/apng,image/*,*/*;q=0.8\"\n}\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        220
      ],
      "id": "4143fcda-344f-46bb-bb48-32db3ea103cf",
      "name": "HTTP Request1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1600,
        0
      ],
      "id": "848d9789-e74d-460a-bce0-0e3a30d2057e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "original",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1320,
        0
      ],
      "id": "5aa2986a-c7fd-4a22-9e1f-3d32cdc04b18",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2060,
        160
      ],
      "id": "49ba2009-7a67-4e2f-a5eb-a7fb6c5790fb",
      "name": "Wait",
      "webhookId": "eee88cbb-ae20-4eaf-b080-6738c1ce8f59"
    },
    {
      "parameters": {
        "name": "={{ $('Edit Fields').item.json.Keyword.replace(/ /g, \"-\").toLowerCase() + \"-\" + $itemIndex + \".jpg\" }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1jPoYy9bKfWpp9b76YufVMZ955455wnrZ",
          "mode": "list",
          "cachedResultName": "Honda Civic",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1jPoYy9bKfWpp9b76YufVMZ955455wnrZ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2220,
        500
      ],
      "id": "f096a432-b8fc-48fa-970c-fe93d34085de",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2940,
        260
      ],
      "id": "21cd1085-3004-4b45-b607-fb317ae9d380",
      "name": "Wait1",
      "webhookId": "2b92f78f-494b-43f0-8380-5a92b350d982"
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 800,
        "height": null,
        "resizeOption": "ignoreAspectRatio",
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        2560,
        220
      ],
      "id": "adcb4f3d-3fea-4d6b-a738-2f00c05720dd",
      "name": "Edit Image",
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-16T07:07:32.977Z",
  "versionId": "104a5aad-ea9a-4872-b4ba-0fae3127a4f8"
}