credentials/2SNRyEHNbatUl7DK.json
{
  "active": false,
  "connections": {
    "Initial Research": {
      "main": [
        [
          {
            "node": "Blog Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Blog Planner",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Get title chapter and content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Research Chapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Research Chapter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Copywriter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Setting": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy output": {
      "main": [
        [
          {
            "node": "Tách output",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search URL Featured Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tách output": {
      "main": [
        [
          {
            "node": "Internal&Article",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger1": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Setting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Initial Research",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "ai_languageModel": [
        [
          {
            "node": "Initial Research",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "XML1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Internal&Article",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "XML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Initial Research",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Blog Planner",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Copywriter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Planner": {
      "main": [
        [
          {
            "node": "Check empty output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check empty output": {
      "main": [
        [
          {
            "node": "Create Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Blog Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Internal&Article": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Chapter": {
      "main": [
        [
          {
            "node": "Copywriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copywriter": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Tool 1": {
      "ai_tool": [
        [
          {
            "node": "Research Chapter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research Tool": {
      "ai_tool": [
        [
          {
            "node": "Initial Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get title chapter and content": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder": {
      "main": [
        [
          {
            "node": "Lấy output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Search URL Image Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search URL Image Google": {
      "main": [
        [
          {
            "node": "Image Scource",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Resize Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize Image": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload chapter images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Scource": {
      "main": [
        [
          {
            "node": "Get 1 Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 1 Image": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload chapter images": {
      "main": [
        [
          {
            "node": "Update image meta data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update image meta data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image1": {
      "main": [
        [
          {
            "node": "Resize Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Scource1": {
      "main": [
        [
          {
            "node": "Get 1 Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 1 Image1": {
      "main": [
        [
          {
            "node": "Download Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize Image1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Upload featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search URL Featured Image": {
      "main": [
        [
          {
            "node": "Image Scource1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload featured image": {
      "main": [
        [
          {
            "node": "Set featured image for post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set featured image for post": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-03-21T02:38:57.431Z",
  "id": "2SNRyEHNbatUl7DK",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "SEO Post Tool prompt tiengViet",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Mục tiêu\nBạn là một chuyên gia nghiên cứu nội dung trong lĩnh vực ô tô. Nhiệm vụ của bạn là thực hiện một bản nghiên cứu nền tảng sâu sắc và toàn diện về chủ đề:{{ $json.Keyword }}. Nghiên cứu này sẽ là tiền đề để biên soạn một bài viết chất lượng cao chuẩn SEO, có cấu trúc, thông số kỹ thuật và chiều sâu chuyên môn.\n\n## Chủ Đề Chính (Main Topic)\n- Chủ đề nghiên cứu: `{{ $json.Keyword }}`\n\n## Bối cảnh và yêu cầu bài viết\n- Lĩnh vực: Ngành ô tô.\n- Văn phong: Chuyên gia, dễ đọc, gần gủi`.\n- Mô tả bài viết: `{{ $json.Article_description }}`.\n- Đối tượng độc giả:: `{{ $json.Target_audience }}`.\n\n## Nhiệm vụ nghiên cứu\nVui lòng thực hiện một bản nghiên cứu nội dung chuyên sâu, bao gồm các yếu tố sau:\n### 1. Tổng quan sản phẩm:\n- Nguồn gốc, phân khúc xe, mục tiêu thị trường của Honda BR-V.\n- Các phiên bản, đời xe hiện hành.\n\n### 2. Thông số kỹ thuật và đặc điểm nổi bật\n- Kích thước, động cơ, hộp số, mức tiêu hao nhiên liệu.\n- Hệ thống an toàn, giải trí, nội ngoại thất.\n- Tính năng khác biệt so với đối thủ.\n\n### 3. Bối cảnh thị trường và xu hướng tiêu dùng\n- Tình hình cạnh tranh với các dòng xe cùng phân khúc (ví dụ: Toyota Rush, Mitsubishi Xpander...).\n- Xu hướng người tiêu dùng tại Việt Nam với xe SUV nhỏ.\n- Điểm mạnh và điểm cần cải thiện của Honda BR-V.\n\n### 4. Phân tích chiến lược truyền thông và định vị sản phẩm (nếu có):\n- Cách Honda định vị BR-V trong chiến lược sản phẩm.\n- Điểm nhấn truyền thông và lợi ích hướng đến người tiêu dùng.\n\n## Cấu trúc chủ đề phụ (Subtopics)\n- Bài viết cần chia thành đúng {{ $json.Chapters }} tiểu mục độc lập.\n- Mỗi chủ đề phụ phải có từ khóa {{ $json.Keyword }} để duy trì tính nhất quán của chủ đề.\n- Mỗi chủ đề phụ phải: \n  - Phù hợp với bối cảnh thực tế của nghành công nghiệp ô tô.\n  - Cân bằng nội dung kỹ thuật, trải nghiệm của người dùng và quan điểm thị trường.\n  - Làm nổi bật bản chất đa diện của sản phẩm hoặc chủ đề nghiên cứu.\n\n## Đầu ra mong muốn (Expected Output)\n- Tất cả đầu ra phải được viết bằng **Vietnamese**.\n- Trả về kết quả ở **định dạng JSON**:\n```json\n{\n  \"topic\": \"Tên chủ đề chính\",\n  \"research_overview\": \"Tổng quan nghiên cứu bằng tiếng Việt chuyên sâu, có số liệu, kỹ thuật và phân tích ngành ô tô\",\n  \"subtopics\": [\n    {\n      \"subtopic_title\": \"Tiêu đề tiểu mục có chứa từ khóa chính\"\n    }\n    //Ensure it includes exactly the number of subtopics defined in `{{ $json.Chapters }}`\n  ]\n}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Bạn là một nhà nghiên cứu có quyền truy cập vào các công cụ nghiên cứu nâng cao. Nhiệm vụ của bạn là tìm kiếm thông tin trên internet dựa trên từ khóa được cung cấp và trả về kết quả nghiên cứu đầy đủ, nguyên vẹn. Hãy tuân thủ các hướng dẫn sau một cách nghiêm ngặt:\n\n## Kết quả đầy đủ và chi tiết:\n- Trả về toàn bộ kết quả nghiên cứu, bao gồm tất cả chi tiết, tiêu đề, nội dung chuyên sâu, thuật ngữ kỹ thuật, dữ liệu thống kê và cấu trúc phân tích.\nTuyệt đối không được rút gọn, tóm tắt hoặc lược bỏ bất kỳ phần nào trong kết quả. Phải bao gồm đầy đủ số liệu, tiêu đề các mục, danh sách, nhận định và phân tích chuyên môn như kết quả nghiên cứu ban đầu.\n## Đảm bảo độ chính xác:\n- Trả lại kết quả chính xác theo nội dung từ công cụ nghiên cứu. Không được tự diễn đạt lại, không viết lại, không thay đổi câu từ.\nKết quả phải phản ánh đầy đủ mọi khía cạnh, chi tiết như nội dung nguyên bản từ nguồn nghiên cứu."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1100,
        1180
      ],
      "id": "fddaa5b6-729d-414e-80c8-265829315621",
      "name": "Initial Research",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1540,
        1420
      ],
      "id": "16f524e6-7582-44ee-897a-235e3fbc5d8e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi (thipha0409)"
        }
      }
    },
    {
      "parameters": {
        "batchSize": "={{ $('Setting').item.json.Chapters }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3220,
        1200
      ],
      "id": "17b74a57-5278-430f-96db-a176c168e671",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4200,
        1360
      ],
      "id": "e239684b-b853-4432-b4a1-e81ee48108f5",
      "name": "Wait",
      "webhookId": "a45da480-4839-411e-9fc0-55c353777f40"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3420,
        1560
      ],
      "id": "289329ec-4936-49dc-8e21-cbb457661345",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi (thipha0409)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3800,
        1560
      ],
      "id": "9df7b144-7f0a-4e0b-8b1e-ca931b685d4f",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi (thipha0409)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad784d08-27fd-4189-b48a-0f7d0950d237",
              "name": "Website",
              "value": "={{ $json.Website }}",
              "type": "string"
            },
            {
              "id": "42a27cc8-6d50-4556-854e-5e6722716656",
              "name": "Keyword",
              "value": "={{ $json.Keyword }}",
              "type": "string"
            },
            {
              "id": "ef220c1c-0093-47ac-abb8-d05a327d1eb5",
              "name": "Article_description",
              "value": "={{ $json.Article_description }}",
              "type": "string"
            },
            {
              "id": "2544c5d1-7790-4a1d-b789-0651bdfc8945",
              "name": "Max_word_count",
              "value": "={{ $json.Max_word_count }}",
              "type": "number"
            },
            {
              "id": "fd51cf35-75ab-4b73-8e89-4e22b41869e0",
              "name": "Target_audience",
              "value": "={{ $json.Target_audience }}",
              "type": "string"
            },
            {
              "id": "be6358c5-8a28-41e4-8e7b-475507b14d2f",
              "name": "Chapters",
              "value": "={{ $json.Chapters }}",
              "type": "number"
            },
            {
              "id": "7d436648-dbf0-498d-8883-09bc43403b15",
              "name": "CTA",
              "value": "={{ $json.CTA }}",
              "type": "string"
            },
            {
              "id": "5cd867d2-163f-4ebf-ad0a-ee1721d623e2",
              "name": "CTA_URL",
              "value": "={{ $json.CTA_URL }}",
              "type": "string"
            },
            {
              "id": "7f68068e-3046-4b2b-9bb0-84fbb47c25b7",
              "name": "Company_offering",
              "value": "={{ $json.Company_offering }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        1180
      ],
      "id": "4354efbc-3e14-4a08-bdcc-ee6946748713",
      "name": "Setting"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8aa74ec2-15d5-4328-a6cc-866b66485f73",
              "name": "output",
              "value": "={{ $('Blog Planner').item.json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        1180
      ],
      "id": "61310805-6447-4bfa-b6e1-e6e3c45c0192",
      "name": "Lấy output"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.chapters",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2620,
        1180
      ],
      "id": "2452527f-7a58-452d-926f-afa7076f6b2a",
      "name": "Tách output"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 9
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1cXDMu_Z-y3vHNzGVefMpqh8_-it9ASDNKx5ybuPR2Ek",
          "mode": "list",
          "cachedResultName": "Data-seo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cXDMu_Z-y3vHNzGVefMpqh8_-it9ASDNKx5ybuPR2Ek/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cXDMu_Z-y3vHNzGVefMpqh8_-it9ASDNKx5ybuPR2Ek/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        160,
        1180
      ],
      "id": "3768fc8b-c75a-4238-8d4d-8468017c60da",
      "name": "Google Sheets Trigger1",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "1DnhMaOtkvEN1OXm",
          "name": "Google Sheets Trigger (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        380,
        1180
      ],
      "id": "5607a4cf-3b41-4fca-a955-1927c195023a",
      "name": "Limit2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "641c0265-fe58-4733-9a35-7f3e6d95276f",
              "leftValue": "={{ $json.Website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "96c6a0eb-161b-4600-99cd-58120cc24ce1",
              "leftValue": "={{ $json.Keyword }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2ec857e1-be25-40f2-9e74-76b13b8a09ef",
              "leftValue": "={{ $json.Article_description }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "72417de3-efdf-48ae-ac8b-4df0f50d0940",
              "leftValue": "={{ $json.Max_word_count }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "33255ead-0538-4918-9afc-e694ff6634a7",
              "leftValue": "={{ $json.Target_audience }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "d0d51954-ecbe-473c-8261-0b102a12e605",
              "leftValue": "={{ $json.Chapters }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        820,
        1180
      ],
      "id": "25fbefa0-7f91-478f-a2cb-ba23377bfe16",
      "name": "If1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1000,
        1400
      ],
      "id": "b08b9f65-cc90-4f15-b64d-eaea4e68a91f",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi (thipha0409)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1740,
        760
      ],
      "id": "e267c99d-f3dc-4749-a3d5-7dddf675006f",
      "name": "XML1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urlset.url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1960,
        760
      ],
      "id": "c65a7c1d-3508-4f4e-9730-da4e16cf22cb",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "maxItems": 20
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2180,
        760
      ],
      "id": "a5a8681b-fcd4-4c92-a12a-023331d97f35",
      "name": "Limit3"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "loc"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2400,
        760
      ],
      "id": "b862d1ff-e6c9-4073-8100-a550c8577d79",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "url": "=https://{{ $json.Website }}/post-sitemap.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        760
      ],
      "id": "f3075cdc-b468-42cb-b11b-0467f1dfbe0c",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"topic\": {\n      \"type\": \"string\"\n    },\n    \"research_overview\": {\n      \"type\": \"string\"\n    },\n    \"subtopics\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"subtopic_title\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1340,
        1400
      ],
      "id": "5e75f866-718b-4455-af7a-5690bda4c74c",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"string\",\n  \"subtitle\": \"string\",\n  \"introduction\": \"string\",\n  \"slug\": \"string\",\n  \"google_excerpt\": \"string\",\n  \"google_meta_description\": \"string\",\n  \"chapters\": [\n    {\n      \"chapter_title\": \"string\",\n      \"image_suggestion_keyword\": \"string (short keyword for image search, max 5 words or 50 characters)\",\n      \"file_name\": \"string (SEO-friendly, hyphen-separated, no extension)\",\n      \"alt_text\": \"string (Vietnamese alt text describing the image for SEO)\"\n    }\n  ],\n  \"conclusion\": \"string\",\n  \"cta\": \"string\",\n  \"cta_url\": \"string\",\n  \"company_offering\": \"string\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1760,
        1420
      ],
      "id": "3f8b19fc-20e0-447f-bb9e-6d463dae8e4f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"chapter_title\": {\n      \"type\": \"string\"\n    },\n    \"chapter_content\": {\n      \"type\": \"string\"\n    }\n}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        4000,
        1560
      ],
      "id": "62e0cea4-1b67-4cb6-93c1-0b72b8a06e65",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "jsCode": "let article = \"\";\n\n// Lấy phần introduction từ node \"Blog Planner\"\narticle += $('Blog Planner').first().json.output.introduction;\narticle += \"\\n\\n\";\n\n// Duyệt qua từng chương từ các node đầu vào (chứa cả tiêu đề, nội dung và ảnh)\nfor (const item of $input.all()) {\n  const title = item.json.chapter_title || \"Chapter\";\n  const content = item.json.chapter_content || \"\";\n  const imageUrl = item.json.source_url || \"\";\n\n  // Thêm tiêu đề chương\n  article += `## ${title}\\n\\n`;\n\n  // Thêm hình ảnh nếu có\n  if (imageUrl !== \"\") {\n    article += `![${title}](${imageUrl})\\n\\n`;\n  }\n\n  // Thêm nội dung chương\n  article += content + \"\\n\\n\";\n}\n\n// Thêm phần kết luận (Conclusion)\narticle += \"###Kết Luận\\n\\n\";\narticle += $('Blog Planner').first().json.output.conclusion;\narticle += \"\\n\\n\";\n\n// Thêm phần kêu gọi hành động (CTA)\narticle += $('Blog Planner').first().json.output.cta + \"\\n\\n\";\narticle += \"Xem thêm: [\" + $('Blog Planner').first().json.output.cta_url + \"](\" + $('Blog Planner').first().json.output.cta_url + \")\\n\\n\";\n\n// Thêm phần giới thiệu công ty (Company Offering)\narticle += \"###Giới thiệu doanh nghiệp\\n\\n\";\narticle += $('Blog Planner').first().json.output.company_offering;\n\n// Xuất kết quả\nreturn [\n  {\n    article\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5760,
        1340
      ],
      "id": "5c342962-9934-47af-9674-580edbf83a67",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02a12b46-ee14-492c-b4ba-cc4daccb95ed",
              "name": "article",
              "value": "={{ $json.article }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6040,
        1340
      ],
      "id": "57f4d97d-867e-4399-897b-dc18dc87c5bf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.article }}",
        "destinationKey": "article",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        6320,
        1340
      ],
      "id": "45464d18-410c-4510-91d2-fdf7474968e0",
      "name": "Markdown"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9eae4d86-f7cf-4304-8cc9-fd53aae5d1fa",
              "name": "article",
              "value": "={{ $json.article }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6520,
        1340
      ],
      "id": "114a3774-56be-447b-9212-fff54e73190d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "title": "={{ $('Blog Planner').first().json.output.title }}",
        "additionalFields": {
          "content": "={{ $json.article }}",
          "slug": "={{ $('Blog Planner').first().json.output.slug }}",
          "status": "draft"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        6760,
        1340
      ],
      "id": "d040864e-143f-4c85-99fe-7d464c28ae5a",
      "name": "Wordpress",
      "credentials": {
        "wordpressApi": {
          "id": "QgbogXv2coNRFVF3",
          "name": "hondaotosaigonquan2.com.vn"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Hướng dẫn thực hiện\nDựa trên kết quả nghiên cứu ban đầu sau:\n{{ $json.output.research_overview }}\n\nHãy lên kế hoạch cho một bài viết về {{ $('Setting').item.json.Keyword }} , hướng đến đối tượng độc giả {{ $('Setting').item.json.Target_audience }}, với **văn phong dễ đọc, mạch lạc, tự nhiên, thân thiện, tránh dùng các từ ngữ quá học thuật hoặc máy học** . Bài viết cần có {{ $('Setting').item.json.Chapters }} chương và độ dài tối đa {{ $('Setting').item.json.Max_word_count }} từ.\n\nCác tiểu mục của bài viết sẽ phát triển thành từng chương:\n{{ $json.output.subtopics.toJsonString() }}\n\n**Lưu ý quan trọng:** \n- Mỗi chương cần liên kết chặt chẽ với chủ đề chính.\n- Các chương không được lạc đề hoặc quá chung chung.\n- Từng chương cần có chiều sâu phân tích, phù hợp với phong cách chuyên gia.\n\n## Cấu trúc nội dung cần xây dựng:\n### Tiêu đề & Phụ đề\nViết một **tiêu đề thật hấp dẫn**, truyền tải thông điệp chính của bài viết một cách rõ ràng và lôi cuốn. **Không sử dụng bất kỳ dấu hai chấm (:) hoặc dấu gạch ngang (-)** trong tiêu đề để đảm bảo tính nhất quán và thân thiện với SEO.\nViết **phụ đề ngắn gọn, súc tích**, đóng vai trò bổ sung ý nghĩa cho tiêu đề, giúp người đọc hình dung được nội dung tổng quan và định hướng của bài viết.\n\n### Giới thiệu (Introduction)\nHãy viết một đoạn mở đầu với độ dài khoảng 200 từ. **Mục tiêu giới thiệu về chủ đề bài viết, phải có tính gợi mở mạnh mẽ, tạo sự tò mò cho người đọc, phải có tính liên quan đến các chương sắp trình bày**.\n- Văn phong: tự nhiên, dễ đọc, mạch lạc, thân thiện như đang trò chuyện với người Việt.\n- Tránh dùng những cụm từ như:\n  - “Trong bài viết này”\n  - \"Bài viết này\"\n\n### Slug\n- Tạo một **slug chuẩn SEO ngắn gọn**, có chứa từ khóa chính.\n- Dùng **dấu gạch ngang (-)** thay vì khoảng trắng.\n\n### Google Excerpt\n- Viết một đoạn trích **lôi cuốn, thân thiện với Google (tối đa 160 ký tự)** – sử dụng **câu chủ động, có từ khóa chính**.\n\n### Google Meta Description\n- Viết meta description tối đa **156 ký tự**, phong cách hành động (actionable), có chứa từ khóa mục tiêu.\n\n### Các Chương\nTạo nội dung chi tiết cho từng chương, đảm bảo liên kết chặt chẽ với chủ đề chính của bài viết và logic xuyên suốt toàn bộ nội dung.\n\n- **Cấu trúc**:\n  - Mỗi chương được xây dựng **dựa trên** một tiểu mục đã định trước (subtopic).\n  - Mỗi chương cần có tiêu đề rõ ràng, mang tính mô tả, thể hiện trọng tâm nội dung của chương và phải gắn chặt với chủ đề chính {{ $('Setting').item.json.Keyword }}.\n  - Dữ liệu của các chương được trình bày dưới dạng mảng **JSON chapters**, mỗi chương bao gồm các trường sau:\n    - `chapter_title`\n  - Tiêu đề chương cần được xây dựng dựa trên tiêu đề tiểu mục, thể hiện rõ nội dung chính của chương và có mối liên hệ chặt chẽ với chủ đề bài viết.\n  - Nội dung của mỗi chương phải được phát triển một cách liền mạch với mạch truyện tổng thể của bài viết, đảm bảo rằng không có chương nào bị lạc đề hoặc rời rạc khỏi định hướng chính. Mỗi chương cần đóng vai trò bổ trợ cho bài viết, tạo nên một cấu trúc nội dung thống nhất và nhất quán từ đầu đến cuối.\n- **Định dạng trình bày nội dung (Markdown Formatting)**:\n  - Cho phép sử dụng Markdown để thể hiện rõ cấu trúc:\n  - *In đậm* để nhấn mạnh ý quan trọng.\n  - *In nghiêng* hoặc **gạch dưới** để phân biệt điểm nổi bật.\nCó thể sử dụng:\n  - Bullet list (danh sách chấm đầu dòng).\n  - Numbered list (danh sách đánh số) nếu cần hệ thống hóa thông tin.\n\n### Đoạn kết (Conclusion)\nViết một đoạn kết có độ dài khoảng 100 - 150 từ, đúc kết lại chủ đề, tóm tắt các điểm chính một cách ngắn gọn. \n\n### Lời kêu gọi hành động (Call-to-Action) & Giới thiệu doanh nghiệp\n- Kết thúc bài viết bằng một lời kêu gọi hành động mạnh mẽ, thu hút sự quan tâm của độc giả và khuyến khích họ thực hiện bước tiếp theo. Hãy nhấn mạnh giá trị mà họ nhận được khi tìm hiểu hoặc trải nghiệm dịch vụ của {{ $('Setting').item.json.CTA }}, tạo động lực để họ liên hệ hoặc khám phá thêm thông tin. \n- **CTA URL**: Cung cấp liên kết trực tiếp để người đọc có thể dễ dàng truy cập và tìm hiểu thêm về sản phẩm, dịch vụ: {{ $('Setting').item.json.CTA_URL }}\n- **Company Offering**: Cung cấp một mô tả chi tiết, rõ ràng về dịch vụ mà doanh nghiệp đang cung cấp. Nêu bật các điểm mạnh, cam kết chất lượng, và lý do tại sao khách hàng nên chọn {{ $('Setting').item.json.CTA_URL }}. Ví dụ: {{ $('Setting').item.json.Company_offering }}\n\n---\n\n### Output Format: JSON\nYour output must be in valid JSON format, following the structure below exactly:\n```json\n{\n  \"title\": \"Tiêu đề nổi bật thu hút người đọc và phản ánh đúng nội dung chính của bài viết.\",\n  \"subtitle\": \"Tóm tắt ngắn gọn giúp bổ sung ý nghĩa cho tiêu đề và định hướng chủ đề bài viết.\",\n  \"introduction\": \"Đoạn mở đầu ngắn gọn, dễ đọc, giới thiệu chủ đề, nêu bật ý nghĩa và gợi mở nội dung các chương tiếp theo.\",\n  \"slug\": \"tieu-de-seo-than-thien-url\",\n  \"google_excerpt\": \"Mô tả ngắn gọn tối đa 160 ký tự, giọng văn chủ động, có chứa từ khóa SEO chính.\",\n  \"google_meta_description\": \"Mô tả chuẩn SEO không quá 156 ký tự, có từ khóa chính, mang tính hành động, rõ ràng.\",\n  \"chapters\": [\n    {\n      \"chapter_title\": \"Tiêu đề chương rõ ràng, phản ánh đúng nội dung chương và có liên kết với chủ đề bài viết.\",\n      \"image_suggestion_keyword\": \"từ khóa ảnh, bắt buộc là tiếng Anh và chứa từ khóa chính của chủ đề\",\n      \"file_name\": \"ten-file-chapter-seo\",\n      \"alt_text\": \"mô tả ảnh bằng tiếng Việt ngắn gọn, có từ khóa và đúng ngữ cảnh chương\"\n    }\n  ],\n  \"conclusion\": \"Đoạn kết ngắn gọn, dễ hiểu, tóm lược nội dung và nhấn mạnh thông điệp cuối cùng để lại cho người đọc.\",\n  \"cta\": \"Thông điệp kêu gọi hành động mạnh mẽ, thúc đẩy người đọc hành động sau bài viết.\",\n  \"cta_url\": \"https://link-hanh-dong.com\",\n  \"company_offering\": \"Giới thiệu chi tiết về sản phẩm/dịch vụ công ty đang cung cấp, nhấn mạnh giá trị mang lại cho khách hàng mục tiêu.\"\n}\n",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1560,
        1180
      ],
      "id": "c8c14da1-ee71-4ddf-853e-c55a49b5b73f",
      "name": "Blog Planner",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "df6b94b4-5d1b-40fe-affc-ffd304af7ac9",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1960,
        1180
      ],
      "id": "7c0ca9d1-06ea-4fc4-8883-11b5001100e4",
      "name": "Check empty output"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2920,
        1200
      ],
      "id": "b1908e53-c2d6-4003-b0c4-985d7fae2243",
      "name": "Internal&Article"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Chủ đề: {{ $json.chapter_title }}",
        "options": {
          "systemMessage": "=Bạn là một chuyên gia nghiên cứu trong lĩnh vực ô tô với quyền truy cập vào các công cụ nghiên cứu chuyên sâu. Nhiệm vụ của bạn là thực hiện **nghiên cứu chi tiết và toàn diện** cho từng chủ đề chương riêng biệt của bài viết, đặc biệt tập trung vào **bối cảnh ngành ô tô tại thị trường Việt Nam**. Vui lòng tuân thủ chặt chẽ các hướng dẫn sau:\n\n## Mục tiêu:\n- Thực hiện nghiên cứu chuyên sâu, tập trung vào chủ đề của chương hiện tại đã được cung cấp.\n- Thu thập đầy đủ thông tin liên quan đến chương đó, bao gồm: Thông số kỹ thuật, công nghệ, tính năng, thị trường, hành vi người tiêu dùng.\n- Ưu tiên sử dụng **nguồn tiếng Việt** hoặc thông tin có tính liên hệ trực tiếp với thị trường Việt Nam (nếu có).\n\n## Yêu cầu về kết quả đầu ra:\n- Trả về **toàn bộ kết quả nghiên cứu nguyên bản**, bao gồm:\n   - Dữ liệu kỹ thuật (động cơ, tiêu hao nhiên liệu, kích thước, tiện nghi, an toàn, công nghệ, thị hiếu người dùng…).\n   - Trình bày rõ ràng, không tóm tắt, không thêm ý kiến cá nhân.\n\n##  Đảm bảo tính chính xác & nguyên vẹn:\n- Tuyệt đối không được tóm tắt, viết lại hay diễn giải lại nội dung.\n- Không thêm bình luận chủ quan hoặc ý kiến cá nhân.\n- Nội dung phải phản ánh đúng và đầy đủ kết quả trả về từ công cụ nghiên cứu, không lược bỏ bất kỳ phần nào.\n\n## Định dạng & Văn phong:\n- Trình bày kết quả dưới dạng **văn bản thuần (plain text)** với cấu trúc rõ ràng.\n- Văn phong chuyên nghiệp, kỹ thuật, mang tính nghiên cứu."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3440,
        1360
      ],
      "id": "3127aa6e-23bf-4ca4-b190-2fac44d9dd20",
      "name": "Research Chapter",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Nhiệm vụ (Task)\nViết một **chương nội dung hoàn chỉnh, hấp dẫn và chuyên sâu bằng tiếng Việt** cho một bài viết thuộc lĩnh vực **ngành ô tô tại thị trường Việt Nam**. Nội dung cần được triển khai dựa trên **tài liệu nghiên cứu đã cung cấp trước đó**, đảm bảo yếu tố **chính xác, đầy đủ thông tin kỹ thuật, có chiều sâu phân tích và trình bày mạch lạc**.\nChương viết ra phải có **sự liên kết chặt chẽ với chủ đề tổng thể của bài viết**, đồng thời thể hiện rõ chủ đề tiểu mục đang được đề cập, tránh viết nội dung quá chung chung hoặc tách rời khỏi mạch chính.\n\n---\n\n## Dữ liệu đầu vào (Input Data)\n\n- **Chủ đề tổng thể của bài viết:**  \n  `{{ $('Initial Research').first().json.output.topic }}`\n   - Đây là chủ đề chính của toàn bài viết, mọi chương nội dung cần đảm bảo có sự liên kết xuyên suốt với chủ đề này.\n- **Tổng quan nghiên cứu ban đầu:**  \n  `{{ $('Initial Research').first().json.output.research_overview }}`\n   - Tài liệu nghiên cứu nền tảng tổng quát, giúp bạn hiểu bối cảnh bài viết, đặc điểm sản phẩm và góc nhìn thị trường cần triển khai.\n- **Tiêu đề chương hiện tại (Chapter title):** \n  `{{ $('Loop Over Items').item.json.chapter_title }}`\n   -  Đây là tiêu đề tiểu mục tương ứng với chương bạn đang viết. Cần sử dụng để phát triển thành một tiêu đề hấp dẫn và tự nhiên hơn\n- **Kết quả nghiên cứu chi tiết cho chương:**\n   - Đây là nội dung nghiên cứu chuyên sâu dành riêng cho chương hiện tại, là dữ liệu chính để triển khai nội dung chương.\n  `{{ $json.output }}`\n\n- *Danh sách liên kết nội bộ (Blog URLs):**  \n  *(Chỉ sử dụng nếu thực sự phù hợp với nội dung chương. Mỗi URL chỉ được dùng một lần duy nhất trong toàn bài.)*  \n  ```\n{{ $('Loop Over Items').item.json.loc.join(\"\\n\") }}\n  ```\n- **Cài đặt độ dài nội dung chương:**  \n  Mỗi chương nên có độ dài khoảng **`{{ Math.round($('Setting').item.json.Max_word_count / $('Setting').item.json.Chapters) }}` từ**  \n  - Đảm bảo nội dung đủ sâu, mạch lạc và tối ưu trải nghiệm đọc mà không lan man.\n\n---\n\n## Hướng dẫn viết nội dung\n\n### Tiêu đề chương (Chapter Title)\n- **Diễn đạt rõ ràng và hấp dẫn**:Tiêu đề chương cần thể hiện rõ trọng tâm nội dung của chương, sử dụng ngôn ngữ mô tả sinh động, lôi cuốn và thu hút người đọc ngay từ phần nhìn đầu tiên.\n- **Liên kết chặt chẽ với chủ đề tổng thể**: Tiêu đề chương phải có sự kết nối rõ ràng với chủ đề chính của toàn bài viết. Tránh viết tiêu đề lạc đề hoặc không phản ánh được mối liên hệ nội dung giữa các phần trong bài.\n- **Ngôn ngữ tự nhiên, phù hợp với độc giả Việt Nam**: Tiêu đề cần sử dụng cách diễn đạt tự nhiên, dễ hiểu, phù hợp với văn phong tiếng Việt và thói quen tiếp cận nội dung của độc giả Việt. Tránh các cách dịch cứng nhắc hoặc kiểu tiêu đề máy móc.\n- **Tránh lạm dụng dấu câu không cần thiết**: Không sử dụng dấu hai chấm (:) hoặc dấu gạch ngang (-) trong tiêu đề chương để đảm bảo tính liền mạch và tối ưu cho trải nghiệm đọc.\n\n### Nội dung và Cấu trúc chương (Content and Structure)\n- **Triển khai nội dung xuyên suốt và chuyên sâu**: Xây dựng nội dung chương dưới dạng một mạch kể chuyện liền mạch, có chiều sâu phân tích rõ ràng. Cần bao phủ toàn bộ nội dung chủ đề của chương, tránh viết theo kiểu liệt kê rời rạc hoặc chia thành nhiều tiểu mục nhỏ không cần thiết.\n- **Hạn chế sử dụng tiêu đề phụ**: Nếu thật sự cần chia nhỏ nội dung bên trong chương, chỉ nên sử dụng tối đa 1–2 tiêu đề phụ lớn mang tính định hướng. Tuyệt đối không chia nhỏ chương thành quá nhiều đoạn có tiêu đề riêng, tránh gây phân mảnh nội dung và giảm trải nghiệm đọc.\n- **Đảm bảo sự liền mạch giữa các chương**: Nội dung chương cần được triển khai theo mạch logic chung của toàn bài viết, đảm bảo sự kết nối tự nhiên với các chương liền trước và sau. Không chèn phần giới thiệu mở đầu riêng cho chương hay kết luận chương riêng biệt — mọi nội dung phải hòa nhập với mạch nội dung tổng thể.\n\n### Phong cách trình bày và Định dạng nội dung (Style and Formatting)\n- **Định dạng Markdown:** Sử dụng định dạng Markdown đơn giản để làm nổi bật các nội dung cần nhấn mạnh, chẳng hạn như **in đậm hoặc in nghiêng**. Nếu thật sự cần phân chia nội dung theo phần, có thể sử dụng tiêu đề phụ lớn (H2), tuy nhiên hạn chế tối đa việc lạm dụng các tiêu đề nhỏ (H3) để tránh làm ngắt mạch đọc và phân mảnh nội dung.\n- **Câu văn ngắn gọn, rõ ràng:** Ưu tiên sử dụng câu văn ngắn, mạch lạc, trung bình dưới 20 từ mỗi câu để đảm bảo dễ đọc, dễ hiểu và tăng trải nghiệm cho người đọc.\n- **Đầu ra ở dạng văn bản thuần (Plain Text Output):** Nội dung cần được trình bày dưới dạng **văn bản thuần có sử dụng định dạng Markdown nếu cần, không được chèn thêm các cấu trúc JSON khác, không có tiêu đề phụ không cần thiết, và không thêm bất kỳ đoạn mô tả hoặc đánh dấu ngoài yêu cầu.**\n\n### Nội dung cần tránh (Prohibited Content)\n- **Tránh sử dụng các cụm từ sáo rỗng, mơ hồ hoặc mang tính khẩu hiệu chung chung**, ví dụ như: “Trong thế giới hiện đại ngày nay”, “Cuộc sống ngày càng phát triển nhanh chóng” hoặc những cụm từ cường điệu không mang lại giá trị thông tin cụ thể cho người đọc.\n- **Không đề cập đến bất kỳ tên sản phẩm hoặc dịch vụ cụ thể nào** trong nội dung chương (ngoài nội dung chủ đề chính của bài viết nếu đã được chỉ định sẵn). Tránh đưa các nội dung quảng bá mang tính thương mại không liên quan trực tiếp đến nội dung nghiên cứu.\n\n### Liên kết nội dung giữa các chương (Context Consideration)\n{{ $itemIndex > 0 ? \"- Previous chapter title: \" + $('Loop Over Items').all()[$itemIndex - 1].json.chapter_title : \"\" }}\n{{ $itemIndex < $input.all().length - 1 ? \"- Next chapter title: \" + $('Loop Over Items').all()[$itemIndex + 1].json.chapter_title : \"\" }}\n \n- Khi viết nội dung cho chương hiện tại, cần đảm bảo tính liền mạch với các chương trước và sau trong toàn bộ bài viết.\n- Tránh lặp lại ý tưởng, khái niệm hoặc thông tin đã được đề cập ở các chương khác.\n- Nội dung cần được xây dựng như một phần trong tổng thể thống nhất, không bị tách rời về mặt nội dung hay dòng chảy thông tin.\n\n### Liên kết nội bộ (Internal Linking)\n- Xem xét kỹ danh sách các liên kết blog nội bộ (blog URLs) đã được cung cấp.\n- Lựa chọn **một đường dẫn phù hợp nhất với nội dung chương hiện tại**, và chèn vào nội dung như một **liên kết nội bộ tự nhiên**, sử dụng anchor text mang tính mô tả ý nghĩa, được phát triển từ nội dung của URL thay vì đơn thuần hiển thị đường dẫn thô.\n- *Chỉ sử dụng mỗi URL một lần duy nhất** trong toàn bộ bài viết. Nếu không có liên kết nào thực sự phù hợp với nội dung chương, có thể bỏ qua mà không cần chèn link.\n\n---\n\n## Viết \n\n---\n###  Định dạng đầu ra bắt buộc (Output Format (Strict Requirement))\nBạn **phải trả về duy nhất một đối tượng JSON hợp lệ**, tuân theo **định dạng chính xác dưới đây**, và **không được kèm theo bất kỳ nội dung nào khác** ngoài JSON.\n\nĐịnh dạng đầu ra phải có cấu trúc như sau (không sử dụng dấu nháy kép hoặc tiêu đề ngoài lề):\n{\n  \"chapter_title\": \"Tiêu đề chương (bằng tiếng Việt, hấp dẫn, có liên kết với topic tổng)\",\n  \"chapter_content\": \"Nội dung chương bằng tiếng Việt, trình bày liền mạch, có thể sử dụng Markdown đơn giản (ví dụ: **bold**, *italic*) nếu cần.\"\n}\n- **Không được chèn thêm phần giải thích, ghi chú, mô tả ngoài lề hoặc định dạng không cần thiết.**\n- **Không được sử dụng dấu đánh dấu khối mã (ví dụ: ```) hoặc bất kỳ ký tự phụ trợ nào ngoài dấu {} mở và đóng JSON.**\n- **Phần phản hồi của bạn sẽ được đánh giá nghiêm ngặt dựa trên việc tuân thủ định dạng JSON này. Bất kỳ phản hồi nào không đúng định dạng sẽ bị từ chối.**\n\n---\n\n## Lưu ý cuối cùng (Final Note)\n- Hãy đảm bảo chương được viết có độ dài phù hợp, khoảng {{ Math.round($('Setting').item.json.Max_word_count / $('Setting').item.json.Chapters) }} từ, đồng thời tuân thủ đầy đủ các hướng dẫn đã được nêu ở trên.\n- Nội dung chương cần được triển khai mạch lạc, có chiều sâu, thống nhất về ngữ nghĩa, và tránh chia nhỏ nội dung thành quá nhiều tiểu mục không cần thiết. Chương phải đóng vai trò như một phần liền mạch trong bài viết tổng thể, mang lại giá trị thực tiễn và trải nghiệm đọc trọn vẹn cho người dùng.\n- Giờ hãy viết chương theo đúng yêu cầu.",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        3820,
        1360
      ],
      "id": "12aafa72-9889-4e91-8325-8125db17856a",
      "name": "Copywriter",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "name": "research_tool",
        "description": "Call this tool to do research. The input should be a topic.",
        "workflowId": {
          "__rl": true,
          "value": "EoPvFqTRrfxFOWuS",
          "mode": "list",
          "cachedResultName": "Research"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        3640,
        1560
      ],
      "id": "00db0886-35cb-4d73-addc-38aef9a8a2e8",
      "name": "Research Tool 1"
    },
    {
      "parameters": {
        "name": "research_tool",
        "description": "Call this tool to do research. The input should be a topic.",
        "workflowId": {
          "__rl": true,
          "value": "EoPvFqTRrfxFOWuS",
          "mode": "list",
          "cachedResultName": "Research"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1200,
        1400
      ],
      "id": "f41208ed-c5ba-497d-8e3e-3c89d13cfa6a",
      "name": "Research Tool"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5afccf4-a534-42a3-8c33-772fc4e55a4a",
              "name": "chapter_title",
              "value": "={{ $json.output.chapter_title }}",
              "type": "string"
            },
            {
              "id": "facdd216-65ac-43d7-9efe-82eccde47e9a",
              "name": "chapter_content",
              "value": "={{ $json.output.chapter_content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4420,
        1160
      ],
      "id": "3a2a36c4-9406-4d1f-9010-8f943cc2f8ad",
      "name": "Get title chapter and content"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Setting').item.json.Keyword }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1gK0JEGVUyQWfsuNpZQtY6GfK8i2TcUa1",
          "mode": "list",
          "cachedResultName": "Image_oto",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1gK0JEGVUyQWfsuNpZQtY6GfK8i2TcUa1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2200,
        1180
      ],
      "id": "b6ac486e-a99b-47c3-bf9d-e7a657711c58",
      "name": "Create Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2940,
        1860
      ],
      "id": "9102400a-b31b-4e13-9023-9d742e69154c",
      "name": "Loop Over Items1",
      "disabled": true
    },
    {
      "parameters": {
        "name": "={{ $('Tách output').item.json.file_name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4580,
        2060
      ],
      "id": "23ab7784-dfb2-473e-827b-beda27ad0d49",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://serpapi.com/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"engine\": \"google_images\",\n  \"q\": \"{{ $('Tách output').item.json.image_suggestion_keyword }}\",\n  \"location_requested\": \"United States\",\n  \"location_used\": \"United States\",\n  \"google_domain\": \"google.com\",\n  \"tbm\": \"isch\",\n  \"hl\": \"en\",\n  \"gl\": \"us\",\n  \"imgsz\": \"m\",\n  \"image_type\": \"photo\",\n  \"device\": \"desktop\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3140,
        1960
      ],
      "id": "4c2bed6d-1fc1-40c2-abd9-30579027167f",
      "name": "Search URL Image Google",
      "credentials": {
        "serpApi": {
          "id": "VRH8uvIbqYrfnktc",
          "name": "SerpAPI trungnam2807"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.original }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64)"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "file"
            }
          },
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3860,
        1960
      ],
      "id": "7c32e0f1-db8b-4dc6-8649-4109f55f800d",
      "name": "Download Image"
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 800,
        "height": 0,
        "options": {
          "fileName": "={{ $('Loop Over Items1').item.json.file_name }}",
          "format": "webp"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        4140,
        1960
      ],
      "id": "c2d46106-07cb-4084-80f2-acfec91766d4",
      "name": "Resize Image",
      "retryOnFail": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "images_results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3360,
        1960
      ],
      "id": "5df43e9f-44c6-4306-9a85-f7af4c46e434",
      "name": "Image Scource"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3600,
        1960
      ],
      "id": "87846c59-38b1-4629-9014-33c8f35f8b41",
      "name": "Get 1 Image"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5040,
        1960
      ],
      "id": "05c11910-01f5-4bba-85ac-522f54904fa0",
      "name": "Merge"
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5260,
        2040
      ],
      "id": "a9f20b76-0765-454f-904f-db806bf49e50",
      "name": "Wait1",
      "webhookId": "ad381969-167c-48aa-9ea9-50e7a615b669"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5500,
        1340
      ],
      "id": "32f3ed4f-8272-4d14-92da-78abe60df190",
      "name": "Merge1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Google Sheets Trigger1').item.json.Website }}/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{ $binary.data.fileName }}.{{ $binary.data.fileExtension }}\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4480,
        1880
      ],
      "id": "dcb54d12-b58e-47c8-9f8c-5e6d1595950a",
      "name": "Upload chapter images",
      "credentials": {
        "wordpressApi": {
          "id": "QgbogXv2coNRFVF3",
          "name": "hondaotosaigonquan2.com.vn"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Limit2').item.json.Website }}/wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "alt_text",
              "value": "={{ $('Tách output').item.json.alt_text }}"
            },
            {
              "name": "title",
              "value": "={{ $('Tách output').item.json.chapter_title }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4700,
        1880
      ],
      "id": "613b7652-1dc5-4d56-8b95-3b5ee02cb51f",
      "name": "Update image meta data",
      "credentials": {
        "wordpressApi": {
          "id": "QgbogXv2coNRFVF3",
          "name": "hondaotosaigonquan2.com.vn"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.original }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3920,
        2280
      ],
      "id": "b14d37c3-6ad2-4d37-83c6-b9c00af65d62",
      "name": "Download Image1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 800,
        "height": 0,
        "options": {
          "fileName": "=feature{{ $('Setting').item.json.Keyword }}",
          "format": "webp"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        4160,
        2280
      ],
      "id": "56d5fe7b-c84c-4ba6-85d2-8375eeac3223",
      "name": "Resize Image1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "images_results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3420,
        2280
      ],
      "id": "85983254-9d73-405f-9550-e5ad60e55747",
      "name": "Image Scource1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3660,
        2280
      ],
      "id": "6bea9bed-4a91-4ff7-9e47-bf03f0465567",
      "name": "Get 1 Image1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        7000,
        1360
      ],
      "id": "d72c21bd-8168-4f18-90e0-9fb2df05462f",
      "name": "Merge3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting').item.json.Website }}/wp-json/wp/v2/posts/{{ $('Wordpress').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f2f6bf1e-616a-44e6-ab88-1ad3999f0c79",
      "name": "Set featured image for post",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        7460,
        1360
      ],
      "typeVersion": 4.1,
      "credentials": {
        "wordpressApi": {
          "id": "QgbogXv2coNRFVF3",
          "name": "hondaotosaigonquan2.com.vn"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://serpapi.com/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"engine\": \"google_images\",\n  \"q\": \"{{ $('Setting').item.json.Keyword }}\",\n  \"location_requested\": \"Vietnam\",\n  \"location_used\": \"Vietnam\",\n  \"google_domain\": \"google.com\",\n  \"tbm\": \"isch\",\n  \"hl\": \"vi\",\n  \"gl\": \"vn\",\n  \"imgsz\": \"l\",\n  \"image_type\": \"photo\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3180,
        2280
      ],
      "id": "70881211-02fe-4a76-aefb-291d1a97cd27",
      "name": "Search URL Featured Image",
      "credentials": {
        "serpApi": {
          "id": "VRH8uvIbqYrfnktc",
          "name": "SerpAPI trungnam2807"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hondaotosaigonquan2.com.vn/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"feature{{ $('Setting').item.json.Keyword }}.{{ $binary.data.fileExtension }}\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "976e66cf-441f-4e4e-b71b-bc4ebf5817bb",
      "name": "Upload featured image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        7220,
        1360
      ],
      "typeVersion": 4.1,
      "credentials": {
        "wordpressApi": {
          "id": "QgbogXv2coNRFVF3",
          "name": "hondaotosaigonquan2.com.vn"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {
    "Blog Planner": [
      {
        "json": {
          "output": {
            "title": "Khám Phá Vẻ Đẹp và Độ Thực Tiễn Của Honda BR-V",
            "subtitle": "Tìm hiểu chi tiết về mẫu SUV 7 chỗ lý tưởng cho gia đình và những chuyến đi thú vị.",
            "introduction": "Tính năng linh hoạt, thiết kế hiện đại cùng khả năng chở được 7 hành khách khiến Honda BR-V trở thành sự lựa chọn hoàn hảo cho các gia đình và những người yêu thích du lịch. Với sự kết hợp giữa sức mạnh và hiệu suất nhiên liệu ấn tượng, BR-V không chỉ ghi điểm với vẻ ngoài thể thao mà còn mang lại trải nghiệm lái xe an toàn và thoải mái. Bài viết này sẽ đưa bạn vào một hành trình tìm hiểu sâu hơn về Honda BR-V, từ lịch sử ra đời đến những thông số kỹ thuật nổi bật, và đánh giá thị trường để giúp bạn có cái nhìn tổng quát hơn về mẫu xe này.",
            "slug": "khám-phá-honda-br-v",
            "google_excerpt": "Khám phá Honda BR-V - SUV 7 chỗ hoàn hảo cho gia đình với thiết kế đương đại và nhiều tiện nghi đáng giá.",
            "google_meta_description": "Tìm hiểu Honda BR-V, SUV lý tưởng cho gia đình với thiết kế đẹp và tính năng vượt trội ngay hôm nay.",
            "chapters": [
              {
                "chapter_title": "Tổng quan về Honda BR-V - Lịch sử và phân khúc",
                "image_suggestion_keyword": "honda-br-v-overview",
                "file_name": "honda-br-v-history",
                "alt_text": "Tổng quan về Honda BR-V, SUV 7 chỗ lý tưởng cho gia đình"
              },
              {
                "chapter_title": "Thông số kỹ thuật và tính năng nổi bật của Honda BR-V",
                "image_suggestion_keyword": "honda-br-v-specifications",
                "file_name": "honda-br-v-specs",
                "alt_text": "Thông số kỹ thuật nổi bật của Honda BR-V"
              },
              {
                "chapter_title": "So sánh thị trường và xu hướng tiêu dùng đối với Honda BR-V",
                "image_suggestion_keyword": "honda-br-v-market-analysis",
                "file_name": "honda-br-v-market",
                "alt_text": "Phân tích thị trường và xu hướng tiêu dùng của Honda BR-V"
              }
            ],
            "conclusion": "Honda BR-V không chỉ đơn thuần là một chiếc SUV 7 chỗ, mà còn là một lựa chọn tuyệt vời cho những ai tìm kiếm sự tiện nghi và hiệu suất. Với thiết kế đẹp mắt, nhiều tính năng hiện đại và sự linh hoạt trong không gian nội thất, BR-V khẳng định được giá trị của mình trong phân khúc SUV hiện tại.",
            "cta": "Khám phá các dòng xe Honda mới nhất tại Honda Ôtô Sài Gòn – Quận 2 ngay hôm nay!",
            "cta_url": "https://hondaotosaigon-quan2.com/lien-he/",
            "company_offering": "Honda Ôtô Sài Gòn – Quận 2 là đại lý chính hãng hàng đầu cung cấp xe và dịch vụ Honda. Với cam kết bảo đảm chất lượng và phục vụ tận tình, chúng tôi sẽ mang đến cho bạn những trải nghiệm tuyệt vời nhất với những mẫu xe Honda mới nhất."
          }
        }
      }
    ],
    "Initial Research": [
      {
        "json": {
          "output": {
            "topic": "Honda BR-V",
            "research_overview": "Honda BR-V là một mẫu SUV nhỏ gọn được thiết kế nhằm cung cấp sự kết hợp giữa phong cách, tính năng và tính thực tiễn. Xe đặc biệt phổ biến vì khả năng chở tới 7 hành khách, làm cho nó trở thành lựa chọn lý tưởng cho các gia đình và những người yêu thích khám phá. Dưới đây là tổng quan toàn diện về Honda BR-V, tập trung vào thiết kế, tính năng, hiệu suất và các tính năng an toàn:\n\n## Thiết kế và tính năng\n\n- **Thiết kế ngoại thất**: Các mẫu mới nhất của Honda BR-V có thiết kế mới mạnh mẽ với lưới tản nhiệt phía trước hung hãn hơn, đèn pha LED thanh lịch, và thân xe được dập nổi. Xe cũng đi kèm với bánh xe hợp kim thiết kế mới và bảng màu mở rộng, cho phép tùy biến tốt hơn.\n- **Tính năng nội thất**: Bên trong, BR-V cung cấp bảng điều khiển hiện đại với chất liệu cao cấp và bề mặt mềm mại. Nó bao gồm một cabin rộng rãi với ghế ngồi có thể điều chỉnh cho tối đa 7 hành khách. Ghế hàng thứ hai và thứ ba có thể gập lại để tăng không gian khoang hành lý, làm cho nó linh hoạt cho cả việc đi lại hàng ngày và các chuyến đi dài.\n- **Giải trí và kết nối**: BR-V được trang bị hệ thống thông tin giải trí cảm ứng hỗ trợ Apple CarPlay và Android Auto không dây. Ngoài ra, xe còn có nhiều cổng USB và sạc không dây, đảm bảo tất cả hành khách có thể kết nối.\n\n## Hiệu suất\n\n- **Tùy chọn động cơ**: BR-V thường đi kèm với động cơ xăng 1.5 lít, sản sinh khoảng 119 mã lực và 145 Nm mô-men xoắn. Cũng có phiên bản hybrid có sẵn, giúp tăng hiệu suất nhiên liệu và giảm phát thải.\n- **Hộp số và hệ thống lái**: Động cơ có thể được kết hợp với hộp số tay hoặc hộp số CVT, cho khả năng tăng tốc mượt mà hơn. Hệ thống dẫn động 4 bánh có thể có sẵn như một tùy chọn cho khả năng bám đường tốt hơn trong điều kiện lái xe khó khăn.\n\n## Các tính năng an toàn\n\n- **Honda Sensing**: BR-V bao gồm bộ tính năng an toàn tiên tiến của Honda, được gọi là Honda Sensing, với tính năng kiểm soát hành trình thích ứng, hỗ trợ giữ làn đường, phanh khẩn cấp tự động, và giám sát điểm mù. Những tính năng này tăng cường đáng kể độ an toàn khi lái xe.\n- **Tăng cường cấu trúc**: Xe có các tăng cường cấu trúc để bảo vệ tốt hơn trong trường hợp va chạm và bao gồm hệ thống video 360° để cải thiện tầm nhìn trong các không gian hạn chế.\n\n## So sánh với các mẫu xe khác\n\n- **Honda CR-V**: So với Honda CR-V, BR-V là lựa chọn thân thiện với ngân sách hơn, cung cấp dung tích động cơ tương tự nhưng với sức mạnh thấp hơn (119 mã lực so với 187 mã lực của CR-V). BR-V có giá rẻ hơn đáng kể so với CR-V, làm cho nó trở thành một lựa chọn hợp lý hơn cho những ai đang tìm kiếm một chiếc SUV 7 chỗ.",
            "subtopics": [
              {
                "subtopic_title": "Tổng quan về Honda BR-V - Lịch sử và phân khúc"
              },
              {
                "subtopic_title": "Thông số kỹ thuật và tính năng nổi bật của Honda BR-V"
              },
              {
                "subtopic_title": "So sánh thị trường và xu hướng tiêu dùng đối với Honda BR-V"
              }
            ]
          }
        }
      }
    ],
    "Research Chapter": [
      {
        "json": {
          "output": "## Tổng quan về Honda BR-V\n\nHonda BR-V là một mẫu xe MPV (Multi-Purpose Vehicle) 7 chỗ cỡ nhỏ của Honda, được thiết kế để đáp ứng nhu cầu của các gia đình và cá nhân yêu thích sự tiện dụng và không gian rộng rãi. Dưới đây là thông tin chi tiết về lịch sử và phân khúc của Honda BR-V tại thị trường Việt Nam.\n\n### Lịch sử\n\n- **Ra mắt lần đầu**: Honda BR-V được giới thiệu lần đầu vào tháng 8/2015 tại triển lãm ô tô quốc tế Gaikindo Indonesia.\n- **Thị trường Việt Nam**: Xe chính thức ra mắt thị trường Việt Nam vào ngày 4/7/2023 với hai phiên bản, được nhập khẩu nguyên chiếc từ Indonesia.\n\n### Thiết kế và Trang bị\n\n- **Ngoại thất**: Honda BR-V sở hữu thiết kế mạnh mẽ, nam tính và đậm chất SUV. Xe có kích thước dài x rộng x cao lần lượt là 4.490 x 1.780 x 1.685 mm, với khoảng sáng gầm 201 mm. Xe có 6 tùy chọn màu ngoại thất, bao gồm Xanh, Đỏ, Trắng, Bạc, Đen, Xám.\n- **Nội thất**: Xe có không gian nội thất rộng rãi với 7 chỗ ngồi, thiết kế theo kiểu rạp chiếu phim để tạo tầm nhìn tốt cho hành khách. Hàng ghế thứ hai có thể trượt và gập 60:40, hàng ghế cuối gập 50:50. Thể tích khoang hành lý là 244 L và có thể tăng lên 530 L khi gập hàng ghế cuối.\n- **Trang bị công nghệ**: Xe được trang bị màn hình giải trí trung tâm 7 inch hỗ trợ Apple CarPlay/Android Auto, hệ thống âm thanh 4 loa tiêu chuẩn (phiên bản L có 6 loa), điều hòa tự động 2 vùng với cửa gió cho hàng ghế sau.\n\n### Vận hành và An toàn\n\n- **Động cơ**: Honda BR-V được trang bị động cơ xăng i-VTEC 4 xi-lanh, DOHC, dung tích 1.5L, sản sinh công suất tối đa 119 mã lực tại 6.600 vòng/phút và mô-men xoắn cực đại 145 Nm tại 4.300 vòng/phút. Xe sử dụng hộp số tự động biến thiên vô cấp CVT và hệ dẫn động cầu trước.\n- **An toàn**: Xe đạt mức an toàn 5 sao cao nhất do tổ chức ASEAN NCAP đánh giá, nhờ gói công nghệ Honda Sensing bao gồm hỗ trợ phanh khẩn cấp, giữ làn đường, cảnh báo chệch làn đường, kiểm soát hành trình thích ứng, và cảnh báo khởi hành.\n\n### Phân khúc tại thị trường Việt Nam\n\n- **Phân khúc MPV cỡ nhỏ**: Honda BR-V cạnh tranh trực tiếp với các đối thủ như Mitsubishi Xpander, Toyota Innova Cross, Hyundai Stargazer, và Suzuki XL7.\n- **Doanh số**: Trong tháng đầu năm 2025, Honda BR-V ghi nhận mức giảm doanh số thấp nhất trong phân khúc MPV, chỉ 9,20%, giúp xe giữ vững vị trí trong top 3.\n- **Giá bán**: Giá xe Honda BR-V 2025 tại Việt Nam bắt đầu từ khoảng 629 triệu đồng.\n\nTóm lại, Honda BR-V là một lựa chọn lý tưởng cho các gia đình và cá nhân yêu thích sự tiện dụng, không gian rộng rãi, và các tính năng an toàn hiện đại. Xe đã tạo được dấu ấn trên thị trường Việt Nam với thiết kế trẻ trung và khả năng vận hành ổn định."
        }
      },
      {
        "json": {
          "output": "Honda BR-V 2025 tại thị trường Việt Nam sở hữu nhiều tính năng và thông số kỹ thuật nổi bật, giúp nó trở thành một lựa chọn hấp dẫn trong phân khúc MPV 7 chỗ. Dưới đây là những thông tin chi tiết về xe:\n\n## Thông số kỹ thuật\n\n- **Động cơ**: Xăng i-VTEC 4 xi-lanh, DOHC, dung tích 1.5L.\n- **Công suất**: Tối đa 119 mã lực tại tua máy 6.600 vòng/phút.\n- **Mô-men xoắn**: Cực đại 145 Nm tại tua máy 4.300 vòng/phút.\n- **Hộp số**: Tự động biến thiên vô cấp CVT.\n- **Hệ dẫn động**: Cầu trước (FWD).\n- **Chế độ lái**: Normal, Eco, Sport.\n\n## Tính năng nổi bật\n\n- **Thiết kế ngoại thất**:\n  - Thân xe chắc chắn với đường gân nổi khối.\n  - Bộ la-zăng đa chấu, kích thước 16-17 inch.\n  - Tay nắm cửa mạ crom tích hợp đèn báo rẽ.\n  - Gương chiếu hậu ngoài có đế màu đen thể thao.\n  - Đèn hậu LED thiết kế mới.\n  - Ăng-ten vây cá, cánh lướt gió và ốp gầm màu bạc.\n\n- **Thiết kế nội thất**:\n  - Khoang cabin rộng rãi với 3 hàng ghế.\n  - Màn hình giải trí trung tâm 7 inch hỗ trợ Apple Carplay/Android Auto.\n  - Vô-lăng 3 chấu viền kim loại có thể điều chỉnh cao, thấp.\n  - Đồng hồ kỹ thuật số kết hợp giữa analogue và màn hình đa thông tin 4,2 inch.\n  - Hàng ghế thứ 2 có bệ tỳ tay trung tâm, gập 60:40 và trượt linh hoạt.\n  - Hàng ghế cuối gập 50:50, có thể chứa người cao 1,7m.\n\n- **Trang bị tiện ích**:\n  - Chìa khóa thông minh với tính năng khởi động máy và bật/tắt điều hòa từ xa.\n  - Khóa cửa tự động.\n  - Hệ thống âm thanh 4 loa tiêu chuẩn (phiên bản cao cấp có 6 loa).\n  - Điều hòa tự động 2 vùng với cửa gió cho hàng ghế sau.\n  - Phiên bản cao cấp có ghế bọc da, lẫy chuyển số, gương trang điểm tích hợp đèn.\n\n- **An toàn**:\n  - Đạt mức an toàn 5 sao do tổ chức ASEAN NCAP đánh giá.\n  - Gói công nghệ Honda Sensing bao gồm hỗ trợ phanh khẩn cấp, giữ làn đường, cảnh báo chệch làn đường, tránh cướp ga, kiểm soát hành trình thích ứng, cảnh báo khởi hành.\n  - Bản cao cấp có camera hỗ trợ quan sát làn đường LaneWatch.\n\n## Giá bán\n\n- Giá của Honda BR-V 2025 tại Việt Nam bắt đầu từ 629 triệu đồng cho phiên bản cơ bản.\n\nTóm lại, Honda BR-V 2025 là một lựa chọn tốt trong phân khúc MPV 7 chỗ với thiết kế hiện đại, nội thất rộng rãi, và nhiều tính năng an toàn tiên tiến. Tuy nhiên, giá bán cao hơn so với một số đối thủ cùng phân khúc có thể là một hạn chế đối với một số khách hàng."
        }
      },
      {
        "json": {
          "output": "## Thị trường và Xu hướng Tiêu dùng đối với Honda BR-V tại Việt Nam\n\n### Giới thiệu về Honda BR-V\nHonda BR-V là mẫu MPV 7 chỗ cỡ nhỏ của Honda, được nhập khẩu nguyên chiếc từ Indonesia vào thị trường Việt Nam. Xe được thiết kế trẻ trung, đậm chất SUV, với nội thất rộng rãi và nhiều tiện nghi hiện đại. Honda BR-V 2025 có giá niêm yết từ 629 triệu đồng cho phiên bản G và 705 triệu đồng cho phiên bản L.\n\n### Thị trường MPV tại Việt Nam\nPhân khúc MPV tại Việt Nam đang trở nên sôi động với sự xuất hiện của nhiều mẫu xe mới và đa dạng về giá cả, từ hơn 500 triệu đồng đến vài tỷ đồng. Honda BR-V cạnh tranh trực tiếp với các đối thủ như Mitsubishi Xpander, Toyota Veloz Cross, Suzuki XL7, và Hyundai Stargazer.\n\n### Xu hướng Tiêu dùng\nXu hướng tiêu dùng tại Việt Nam đang dịch chuyển sang các dòng xe đa dụng, gầm cao, và trang bị nhiều công nghệ. MPV là một trong những phân khúc tăng trưởng nhanh, đáp ứng nhu cầu của người tiêu dùng về không gian rộng rãi và tính tiện dụng.\n\n### Vị thế của Honda BR-V\nHonda BR-V giữ vững vị trí trong top 3 MPV bán chạy nhất tại Việt Nam vào đầu năm 2025, với mức giảm doanh số thấp nhất trong phân khúc. Xe được đánh giá cao về thiết kế, trang bị an toàn, và hiệu suất vận hành.\n\n### Ưu điểm và Nhược điểm\n**Ưu điểm:**\n- **Thiết kế trẻ trung và hiện đại**: Honda BR-V sở hữu ngoại hình mạnh mẽ, đậm chất SUV.\n- **Nội thất rộng rãi**: Xe có không gian ngồi thoải mái cho 7 người, với hàng ghế sau có thể gập linh hoạt.\n- **Trang bị an toàn cao cấp**: Được trang bị công nghệ Honda Sensing, đạt an toàn 5 sao ASEAN NCAP.\n- **Hiệu suất vận hành tốt**: Động cơ 1.5L cho công suất 119 mã lực, vượt trội so với một số đối thủ.\n\n**Nhược điểm:**\n- **Giá cả cạnh tranh**: Giá của Honda BR-V cao hơn một số đối thủ như Mitsubishi Xpander và Suzuki XL7.\n- **Sự cạnh tranh từ các mẫu xe khác**: Thị trường MPV tại Việt Nam đang có sự xuất hiện của nhiều mẫu xe mới và đa dạng.\n\n### Kết luận\nHonda BR-V đang giữ vững vị thế trong thị trường MPV tại Việt Nam nhờ thiết kế hiện đại, trang bị an toàn cao cấp, và hiệu suất vận hành tốt. Tuy nhiên, để tăng cường cạnh tranh, Honda cần xem xét lại chiến lược định giá và tiếp tục cải tiến sản phẩm để đáp ứng nhu cầu ngày càng đa dạng của người tiêu dùng."
        }
      }
    ],
    "Copywriter": [
      {
        "json": {
          "output": {
            "chapter_title": "Khám phá Honda BR-V - Hành trình và Phân khúc của Xe MPV Tại Việt Nam",
            "chapter_content": "Honda BR-V, một mẫu MPV (Multi-Purpose Vehicle) cỡ nhỏ đến từ thương hiệu danh tiếng Honda, đã chính thức ra mắt thị trường Việt Nam vào ngày 4 tháng 7 năm 2023. Với thiết kế thông minh và tính năng tiện dụng, BR-V đã nhanh chóng khẳng định vị thế của mình trong lòng người tiêu dùng,尤其 là các gia đình và những người yêu thích không gian rộng rãi và linh hoạt.\n\n### Lịch sử phát triển\nMẫu xe này lần đầu tiên được giới thiệu tại triển lãm ô tô quốc tế Gaikindo Indonesia vào tháng 8 năm 2015, và đã tạo nên một làn sóng mới trong phân khúc MPV. Với sự ra mắt lần này tại Việt Nam, Honda đã mang đến cho thị trường hai phiên bản nhập khẩu nguyên chiếc từ Indonesia, thể hiện sự quyết tâm chinh phục phân khúc xe gia đình cỡ nhỏ.\n\nHonda BR-V mang đến cho người dùng những trải nghiệm tuyệt vời với thiết kế mạnh mẽ, đậm chất SUV. Kích thước tổng thể của mẫu xe này là 4.490 x 1.780 x 1.685 mm, với khoảng sáng gầm lên tới 201 mm, giúp khả năng di chuyển trên các địa hình khác nhau trở nên dễ dàng hơn. Xe được trang bị 6 tùy chọn màu sắc nổi bật, từ xanh, đỏ cho đến các gam màu trung tính như trắng, bạc, đen và xám, đáp ứng đa dạng nhu cầu khách hàng.\n\n### Nội thất và tiện nghi\nNội thất của Honda BR-V được thiết kế rộng rãi với khả năng chứa tối đa 7 hành khách. Hàng ghế thứ hai có thể trượt và gập 60:40, trong khi hàng ghế cuối gập 50:50 để tối ưu hóa không gian chứa đồ. Thể tích khoang hành lý đạt 244L, có thể mở rộng lên 530L khi gập hàng ghế cuối. Điều này làm cho BR-V trở thành một lựa chọn lý tưởng cho những hành trình dài hoặc những chuyến dã ngoại cùng gia đình.\n\n### Phân khúc thị trường tại Việt Nam\nHonda BR-V hiện đang đối đầu với một loạt các đối thủ mạnh trong phân khúc MPV cỡ nhỏ, bao gồm Mitsubishi Xpander, Toyota Innova Cross, Hyundai Stargazer, và Suzuki XL7. Dù mới gia nhập thị trường không lâu, BR-V đã ghi nhận doanh số khả quan, duy trì vị trí trong top 3 mẫu xe MPV bán chạy nhất thiên nhiên nhờ vào những tính năng an toàn vượt trội và thiết kế hiện đại.\n\nBên cạnh đó, sự kết hợp giữa giá thành hợp lý, tính năng tiện ích phong phú, và yếu tố thương hiệu mạnh đã giúp BR-V trở thành lựa chọn hàng đầu cho các gia đình và những ai đam mê khám phá. Giá bán khởi điểm của Honda BR-V 2025 tại Việt Nam từ khoảng 629 triệu đồng, mở ra nhiều lựa chọn cho khách hàng trong phân khúc này."
          }
        }
      },
      {
        "json": {
          "output": {
            "chapter_title": "Khám Phá Thông Số Kỹ Thuật và Tính Năng Nổi Bật của Honda BR-V 2025",
            "chapter_content": "Honda BR-V 2025 tại thị trường Việt Nam không chỉ gây ấn tượng bởi kiểu dáng hiện đại mà còn sở hữu nhiều thông số kỹ thuật ấn tượng, đáp ứng nhu cầu của những gia đình đông thành viên hay những người thường xuyên di chuyển. Đầu tiên, về động cơ, Honda BR-V được trang bị động cơ xăng i-VTEC 4 xi-lanh, DOHC, dung tích 1.5L, cho phép xe sản sinh tối đa ***119 mã lực*** tại tua máy 6.600 vòng/phút và mô-men xoắn cực đại đạt ***145 Nm*** tại tua máy 4.300 vòng/phút. Sức mạnh này giúp BR-V duy trì được sự linh hoạt và khả năng di chuyển mượt mà, bất kể điều kiện đường sá.\n\nHệ thống hộp số tự động biến thiên vô cấp CVT cũng là một điểm cộng lớn, giúp tối ưu hóa hiệu suất nhiên liệu và đem đến trải nghiệm lái nhẹ nhàng, êm ái. Đặc biệt, chế độ lái của BR-V rất phong phú với **Normal**, **Eco**, và **Sport**, giúp người lái có thể tùy chỉnh theo nhu cầu sử dụng.\n\n### Tính Năng Ngoại Thất Nổi Bật\nHonda BR-V 2025 sở hữu thiết kế ngoại thất chắc chắn với đường gân nổi khối, kích thước la-zăng đa chấu từ 16-17 inch, kết hợp với tay nắm cửa mạ crom tinh tế và đèn hậu LED kiểu dáng mới mẻ. Đặc biệt, phiên bản này còn được nâng cấp bằng ăng-ten vây cá và cánh lướt gió, tạo nên một phong cách thể thao và hiện đại.\n\n### Nội Thất Sang Trọng\nBên trong, BR-V gây ấn tượng với khoang cabin rộng rãi có khả năng chứa tối đa ***7 hành khách***, cùng với thiết kế với các chất liệu cao cấp và bề mặt mềm mại mang lại cảm giác thoải mái tối ưu. Màn hình giải trí trung tâm 7 inch tích hợp Apple Carplay và Android Auto đảm bảo rằng mọi hành khách luôn được kết nối với công nghệ hiện đại nhất.\n\n### Các Tính Năng Tiện Ích Khác\nBR-V cũng nổi bật với các trang bị tiện ích ban đầu như khóa thông minh, khóa cửa tự động và hệ thống âm thanh 4 loa tiêu chuẩn. Với phiên bản cao cấp, người dùng còn được trải nghiệm điều hòa tự động 2 vùng và ghế bọc da sang trọng. Ngoài ra, hệ thống điều hòa còn được trang bị cửa gió cho hàng ghế sau, giúp không khí luôn mát mẻ.\n\n### Tính Năng An Toàn Được Ưu Tiên\nKhông thể không nhắc đến tính năng an toàn của Honda BR-V. Xe đạt tiêu chuẩn an toàn 5 sao từ tổ chức ASEAN NCAP và được trang bị gói công nghệ ***Honda Sensing***, bao gồm hỗ trợ phanh khẩn cấp và giữ làn đường, giúp tăng cường sự an toàn cho người lái và hành khách. Trong phiên bản cao cấp, camera hỗ trợ quan sát làn đường LaneWatch cũng giúp người lái dễ dàng xử lý các tình huống khó khăn trong giao thông.\n\nTóm lại, với những thông số kỹ thuật nổi bật và tính năng ưu việt, Honda BR-V 2025 xứng đáng là một trong những lựa chọn hàng đầu trong phân khúc MPV 7 chỗ. Với giá khởi điểm từ ***629 triệu đồng*** cho phiên bản cơ bản, BR-V không chỉ đáng để cân nhắc cho những gia đình mà còn phù hợp với những người yêu thích sự khám phá."
          }
        }
      },
      {
        "json": {
          "output": {
            "chapter_title": "Phân tích thị trường và xu hướng tiêu dùng cho Honda BR-V tại Việt Nam",
            "chapter_content": "Honda BR-V, mẫu MPV 7 chỗ cỡ nhỏ đến từ thương hiệu Honda, đã nhanh chóng chiếm lĩnh thị trường xe hơi tại Việt Nam kể từ khi ra mắt. Với thiết kế trẻ trung, hiện đại và không gian nội thất rộng rãi, BR-V không chỉ thu hút những gia đình muốn tìm kiếm một chiếc xe tiện dụng mà còn cả những người trẻ năng động thích khám phá. Giá niêm yết khởi điểm từ 629 triệu đồng cho phiên bản G và 705 triệu đồng cho phiên bản L, BR-V đáp ứng nhu cầu của nhiều đối tượng khách hàng. \n\nPhân khúc MPV tại Việt Nam đang chứng kiến sự cạnh tranh khốc liệt với sự xuất hiện của nhiều mẫu xe mới như Mitsubishi Xpander, Toyota Veloz Cross, và Hyundai Stargazer. Sự phát triển của thị trường này phản ánh xu hướng tiêu dùng ngày càng tăng cao về nhu cầu xe đa dụng, gầm cao, và các công nghệ an toàn, tiện nghi hiện đại. \n\nTheo số liệu thống kê, thị trường MPV tại Việt Nam đã tăng trưởng liên tục trong những năm gần đây, nhờ sự thay đổi trong thói quen tiêu dùng của người Việt Nam. Sự ưu tiên cho không gian thoải mái, khả năng chở nhiều người và trang bị tính năng an toàn đã khiến các mẫu xe như Honda BR-V trở thành lựa chọn hàng đầu. BR-V hiện đang giữ vững vị trí trong top ba mẫu MPV bán chạy nhất tại Việt Nam. \n\nHonda BR-V nổi bật với những ưu điểm như thiết kế mạnh mẽ, nội thất linh hoạt, và trang bị an toàn đạt tiêu chuẩn 5 sao từ ASEAN NCAP. Đây là một yếu tố quan trọng thúc đẩy sự lựa chọn của người tiêu dùng, đặc biệt khi giá trị bền bỉ và độ tin cậy của Honda cũng được biết đến rộng rãi. \n\nTuy nhiên, BR-V cũng phải đối mặt với những thách thức từ những đối thủ cạnh tranh trực tiếp ở mức giá thấp hơn như Mitsubishi Xpander. Dù giá bán cao hơn, nhưng người tiêu dùng đã dần nhận thức rằng mức giá này đi kèm với chất lượng và các tính năng hiện đại mà BR-V mang lại. \n\nVới sự phát triển không ngừng của thị trường, Honda BR-V cần củng cố thêm chiến lược marketing và cam kết cải tiến sản phẩm để tiếp tục thu hút người tiêu dùng. Sự linh hoạt trong thiết kế và các tùy chọn động cơ đang dẫn dắt xu hướng tiêu dùng, đồng thời sự hiện diện mạnh mẽ trên thị trường cũng sẽ đảm bảo vị thế của BR-V trong thời gian tới. \n\nNhìn chung, Honda BR-V không chỉ là một chiếc xe đơn thuần mà còn là một biểu tượng của phong cách sống hiện đại, đáp ứng nhu cầu đa dạng của người tiêu dùng tại Việt Nam."
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Sheets Trigger1": {
      "documentId": "1cXDMu_Z-y3vHNzGVefMpqh8_-it9ASDNKx5ybuPR2Ek",
      "sheetId": 0,
      "lastIndexChecked": 1
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-12T13:55:21.454Z",
  "versionId": "6eb01ab2-0018-4074-a295-657b975559c8"
}