credentials/6jVpIj65zIPQqwYO.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Contact Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Contact Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get contact": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update a contact": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-26T06:35:51.371Z",
  "id": "6jVpIj65zIPQqwYO",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Get_Contact",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -660,
        320
      ],
      "id": "44dc383e-1e40-4993-a9c8-8eb815058f94",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a contact management assistant. Your responsibilities include looking up contacts, adding new contacts, or updating a contact's information.\n\nwhen you update the conacts,  you don't need to fill out all the information that is in database, just fill out the information that you are given\n\nAll the output need to be in Vietnamese.\n**Contact Management**  \n   - Use \"Get Contacts\" to retrieve contact information. \n   - Use \"Add or Update Contact\" to store new contact information or modify existing entries. \n   - Use \"notes\" when you need to leave some note that corresponding to the contact as the user request."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -520,
        80
      ],
      "id": "bdedc61a-ec45-4645-9e89-f425dd2c46f0",
      "name": "Contact Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "71500810-3106-4a90-ae6a-1a7abe824c8c",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "An error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        180
      ],
      "id": "aea740cc-1ef1-43fd-8297-974cbc6f0571",
      "name": "Try Again"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -740,
        80
      ],
      "id": "f59eb02f-77b3-403b-a0a1-a8ea2015d747",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_LpbryX2uwsfTDwQqFRv5AWdnZ_1DSTMNqBFTJQuF9Q",
          "mode": "list",
          "cachedResultName": "Get Contact",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_LpbryX2uwsfTDwQqFRv5AWdnZ_1DSTMNqBFTJQuF9Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_LpbryX2uwsfTDwQqFRv5AWdnZ_1DSTMNqBFTJQuF9Q/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Ho_va_Ten",
              "lookupValue": "={{ $fromAI(\"name\") }}"
            },
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $fromAI(\"emailAdress\") }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -440,
        340
      ],
      "id": "513fee8c-2144-4385-a6b8-a3d96f528aa4",
      "name": "Get contact",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgZ6QgXTze23DhsT",
          "name": "Google Sheets API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1_LpbryX2uwsfTDwQqFRv5AWdnZ_1DSTMNqBFTJQuF9Q",
          "mode": "list",
          "cachedResultName": "Get Contact",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_LpbryX2uwsfTDwQqFRv5AWdnZ_1DSTMNqBFTJQuF9Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_LpbryX2uwsfTDwQqFRv5AWdnZ_1DSTMNqBFTJQuF9Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ho_va_Ten": "={{ $fromAI(\"name\") }}",
            "Email": "={{ $fromAI(\"emailAddress\") }}",
            "Cong_Ty": "={{ $fromAI(\"company\") }}",
            "Phone": "={{ $fromAI(\"phonenumber\") }}",
            "Note": "={{ $fromAI(\"notes\") }}"
          },
          "matchingColumns": [
            "Ho_va_Ten"
          ],
          "schema": [
            {
              "id": "Ho_va_Ten",
              "displayName": "Ho_va_Ten",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cong_Ty",
              "displayName": "Cong_Ty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -260,
        340
      ],
      "id": "37caa75c-0528-4ef1-9cd0-977640f84b33",
      "name": "update a contact",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgZ6QgXTze23DhsT",
          "name": "Google Sheets API (namlee2807)"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-26T08:59:07.839Z",
  "versionId": "a59c20ad-3acd-45d8-9fdf-3ffcb9c7e065"
}