credentials/6lMC6Ecg8k17fwHa.json
{
  "active": false,
  "connections": {
    "Generate featured image": {
      "main": [
        [
          {
            "node": "Upload featured image to Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resize featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Create post title and structure",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create post title and structure": {
      "main": [
        [
          {
            "node": "Create Drive folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write chapter text": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Check inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Write chapter text",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split out chapters": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get post sitemap": {
      "main": [
        [
          {
            "node": "Get XML file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get XML file": {
      "main": [
        [
          {
            "node": "Split out links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out links": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get title chapter and content": {
      "main": [
        [
          {
            "node": "Merge chapters title and text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate chapter image": {
      "main": [
        [
          {
            "node": "Upload chapter images to Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resize Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize Image": {
      "main": [
        [
          {
            "node": "Upload chapter images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload chapter images": {
      "main": [
        [
          {
            "node": "Update image meta data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge chapters title and text": {
      "main": [
        [
          {
            "node": "Combine into article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown to HTML": {
      "main": [
        [
          {
            "node": "FInal article in HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post on Wordpress": {
      "main": [
        [
          {
            "node": "Add featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize featured image": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload featured image": {
      "main": [
        [
          {
            "node": "Update featured image meta data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update image meta data": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge chapters title and text",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update featured image meta data": {
      "main": [
        [
          {
            "node": "Set featured image for post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Get title chapter and content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set featured image for post": {
      "main": [
        [
          {
            "node": "Set excerpt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set excerpt": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Create post title and structure",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Write chapter text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Generate chapter image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Write chapter text",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Get the latest topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Aggregate internal links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check inputs": {
      "main": [
        [
          {
            "node": "Create post title and structure",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get post sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add featured image": {
      "main": [
        [
          {
            "node": "Upload featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Doc": {
      "main": [
        [
          {
            "node": "Save texts to Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload chapter images to Drive": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Save texts to Doc": {
      "main": [
        [
          {
            "node": "Post on Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get output": {
      "main": [
        [
          {
            "node": "Split out chapters",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Drive folder": {
      "main": [
        [
          {
            "node": "Get output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload featured image to Drive": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Add featured image",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the latest topic": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FInal article in HTML": {
      "main": [
        [
          {
            "node": "Create Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final article in Markdown": {
      "main": [
        [
          {
            "node": "Markdown to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine into article": {
      "main": [
        [
          {
            "node": "Final article in Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate internal links": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-24T07:36:57.957Z",
  "id": "6lMC6Ecg8k17fwHa",
  "meta": null,
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "content": "Final confirmation to the user",
        "height": 80,
        "width": 263,
        "color": 7
      },
      "id": "ea4675d2-130d-459b-8878-564561f87e8e",
      "name": "Sticky Note43",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5220,
        3000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate a photographic image to be used as the cover image for the article titled {{ $('Create post title and structure').first().json.output.title }}, {{ $('Create post title and structure').first().json.output.subtitle }}\nThis is the prompt for the image: {{ $('Create post title and structure').first().json.output.image.imagePrompt }}, photography, realistic. Do not show any texts in the image.",
        "options": {
          "quality": "standard",
          "size": "1792x1024",
          "style": "natural"
        }
      },
      "id": "f601420e-2bd6-48d0-89da-150b46ab667f",
      "name": "Generate featured image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1220,
        1460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"Content Schema\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\"\n    },\n    \"subtitle\": {\n      \"type\": \"string\"\n    },\n    \"introduction\": {\n      \"type\": \"string\"\n    },\n    \"slug\": {\n      \"type\": \"string\"\n    },\n    \"googleExcerpt\": {\n      \"type\": \"string\"\n    },\n    \"googleMetaDescription\": {\n      \"type\": \"string\"\n    },\n    \"chapters\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": {\n            \"type\": \"string\"\n          },\n          \"prompt\": {\n            \"type\": \"string\"\n          },\n          \"image\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"imagePrompt\": {\n                \"type\": \"string\"\n              },\n              \"fileName\": {\n                \"type\": \"string\"\n              },\n              \"caption\": {\n                \"type\": \"string\"\n              },\n              \"altText\": {\n                \"type\": \"string\"\n              }\n            }\n          }\n        }\n      }\n    },\n    \"conclusion\": {\n      \"type\": \"string\"\n    },\n    \"image\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"imagePrompt\": {\n          \"type\": \"string\"\n        },\n        \"fileName\": {\n          \"type\": \"string\"\n        },\n        \"caption\": {\n          \"type\": \"string\"\n        },\n        \"altText\": {\n          \"type\": \"string\"\n        }\n      }\n    },\n    \"cta\": {\n      \"type\": \"string\"\n    },\n    \"ctaUrl\": {\n      \"type\": \"string\"\n    },\n    \"companyOffering\": {\n      \"type\": \"string\"\n    }\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -280,
        540
      ],
      "id": "c0bfbcc6-a2e9-4f6c-8e52-8fee52a1dfe1",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Instructions\nWrite a article about {{ $json['Seed keyword'] }} that targets {{ $json['Target audience'] }} in {{ $json.style }} writing style. The article should have {{ $json['Number of chapters'] }} chapters with {{ $json['Max word count'] }} maximum word count. \n\n### Title and Subtitle\nWrite an **engaging title** and a **concise subtitle** that reflects the topic.\n\n### Introduction\nWrite an introduction of approximately **{{ $json['Introduction length'] }} words** that introduces the topic and sets the stage for the rest of the article.\n\n- **Avoid phrases** like:\n  - \"In this article\"\n  - \"In the fast-paced world\"\n  - \"Transformative\"\n\n### Slug\nCreate a **short, SEO-friendly URL slug** of 3-5 words:\n\n- Ensure it contains the **SEO keyword phrase**.\n- Use **dashes (-)** to separate words.\n\n### Google Excerpt\nWrite a **Google-friendly excerpt** (up to **160 characters**):\n\n- Use an **active voice**.\n- Include the **target key phrase**.\n\n### Google Meta Description\nBased on the article content:\n\n- Limit to **156 characters**.\n- Use an **active voice** and make it **actionable**.\n- Include the **target key phrase**.\n\n### Chapters\nCreate detailed chapter content:\n\n- **Structure**:\n  - Provide a title and an **exhaustive prompt** for each chapter.\n  - Place chapters in an array field called **chapters**, with fields:\n    - `title`\n    - `prompt`\n    - `image`\n  - Ensure a **logical flow** between chapters without repeating concepts.\n  - Avoid generic titles like \"Chapter 1,\" \"Chapter 2,\" etc.; use **descriptive titles**.\n\n- **Markdown Formatting**:\n  - Use **bold**, *italic*, and _underline_ styles when appropriate.\n  - Include **lists** and **numbered lists** as needed.\n\n- **Image Details** for Each Chapter:\n  - **Image Prompt**: A vivid and detailed description of the image.\n  - **File Name**: A descriptive file name for the image (without an extension).\n  - **Caption**: A succinct summary of the image content.\n  - **Alt Text**: An accessibility-focused description of the image.\n\n### Conclusion\nWrite a **{{ $json['Conclusion length'] }}-word conclusion** summarizing the article and leaving the reader with a final takeaway.\n\n### Call-to-Action (CTA) and Company Offering\n- **CTA**: At the end of the article, include a compelling call-to-action message that motivates readers to take the next step: {{ $('Settings').item.json.CTA }} \n- **CTA URL**: Provide a URL for the CTA: {{ $('Settings').item.json['CTA URL'] }}\n- **Company Offering**: Include a detailed description of the company’s offering: {{ $('Settings').item.json['Company Offering'] }}\n\n---\n\n## Image Details for Article Cover\nThe article should include a **featured image object** with the following fields:\n\n- **Image Prompt**: A vivid and detailed description of the image reflecting the article's content and sentiment.\n- **File Name**: A descriptive file name for the cover image (without an extension).\n- **Caption**: A succinct summary of the cover image content.\n- **Alt Text**: An accessibility-focused description of the cover image.\n\n**Requirements** for the Cover Image:\n- **Aspect Ratio**: 16:9\n- Must be **relevant** to the article's content and sentiment.\n- Contain **rich details** and reflect the text content in a **photo-realistic style**.\n- Exclude any text other than the DALL-E 3 prompt.\n\n---\n\n### Output Format: JSON\n```json\n{\n  \"title\": \"string\",\n  \"subtitle\": \"string\",\n  \"introduction\": \"string\",\n  \"slug\": \"string\",\n  \"googleExcerpt\": \"string\",\n  \"googleMetaDescription\": \"string\",\n  \"chapters\": [\n    {\n      \"title\": \"string\",\n      \"prompt\": \"string\",\n      \"image\": {\n        \"imagePrompt\": \"string\",\n        \"fileName\": \"string\",\n        \"caption\": \"string\",\n        \"altText\": \"string\"\n      }\n    }\n  ],\n  \"conclusion\": \"string\",\n  \"image\": {\n    \"imagePrompt\": \"string\",\n    \"fileName\": \"string\",\n    \"caption\": \"string\",\n    \"altText\": \"string\"\n  },\n  \"cta\": \"string\",\n  \"ctaUrl\": \"string\",\n  \"companyOffering\": \"string\"\n}\n```",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -480,
        360
      ],
      "id": "1910bfe4-198b-470e-a803-92dab29ff185",
      "name": "Create post title and structure",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Write a Chapter for an Article**\n\n**Article Details:**\n- **Topic:** {{ $('Create post title and structure').first().json.output.title }}\n- **Subtitle:** {{ $('Create post title and structure').first().json.output.subtitle }}\n\n**Chapter Details:**\n- **Chapter Title:** {{ $json.title }}\n- **Chapter Prompt:** {{ $json.prompt }}\n\n**Task:**\nGenerate a chapter for the article using the topic, subtitle, chapter title, and chapter prompt above.\n\n**Guidelines:**\n- **Avoid Phrases:** Do not use “In today’s fast-paced world” or similar expressions.\n- **No Product Names:** Refrain from mentioning any names of products or services.\n- **Formatting:** \n  - Return the chapter content as plain text without extra internal titles or headings.\n  - Use markdown formatting (e.g., **bold**, *italic*, lists) where appropriate.\n- **Length & Style:**\n  - The chapter should be about **{{ Math.round($('Settings').first().json['Max word count']) / $('Settings').first().json['Number of chapters'] }} words**.\n  - Keep most sentences under 20 words.\n  - Dive deep into the topic—avoid superficial explanations.\n- **Context Consideration:**\n  - **Previous Chapter:**  \n    {{ $itemIndex > 0 ? \"- Previous chapter title: \" + $input.all()[$itemIndex - 1].json.title : \"\" }}  \n    {{ $itemIndex > 0 ? \"- Previous chapter prompt: \" + $input.all()[$itemIndex - 1].json.prompt : \"\" }}\n  - **Next Chapter:**  \n    {{ $itemIndex < $input.all().length - 1 ? \"- Next chapter title: \" + $input.all()[$itemIndex + 1].json.title : \"\" }}  \n    {{ $itemIndex < $input.all().length - 1 ? \"- Next chapter prompt: \" + $input.all()[$itemIndex + 1].json.prompt : \"\" }}\n  - Ensure the chapter content is coherent with both previous and following chapters and does not repeat concepts already discussed.\n- **Internal Linking:**\n  - Review the list of blog URLs below:\n    ```\n    {{ $json.internal_links.join(\"\\n\") }}\n    ```\n  - Choose one URL that is relevant to the chapter content and embed it as an internal link with appropriate hyperlink text.\n  - Use each URL only once. If none are relevant, do not add any links.\n- **Integration:**  \n  This chapter is part of a larger article. Do not include an introduction or conclusion that stands alone; ensure the chapter flows naturally into the overall article.\n\n**Output Format:**\nReturn the chapter as a JSON object with two fields:\n```json\n{\n  \"title\": \"string\",\n  \"content\": \"string\"\n}\n```\n\n---",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1940,
        460
      ],
      "id": "1edd4964-3b51-47a6-a547-a66aefff559d",
      "name": "Write chapter text"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1020,
        360
      ],
      "id": "ea2a72e3-47a1-43ec-b35c-bdb83d5a8d08",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "deb6621e-982a-4e20-a1c1-1140be02cad3",
              "name": "Website",
              "value": "={{ $json.Website }}",
              "type": "string"
            },
            {
              "id": "fdd24a9b-649b-4088-b085-da0be99f3d86",
              "name": "Seed keyword",
              "value": "={{ $json.Seed_keyword }}",
              "type": "string"
            },
            {
              "id": "2b0b01e1-8a4b-4cf4-8327-bc6e0ca30ef8",
              "name": "Target audience",
              "value": "={{ $json.Target_audience }}",
              "type": "string"
            },
            {
              "id": "0dafb0ac-5735-4243-84cc-85e787697892",
              "name": "Max word count",
              "value": "={{ $json.Word_Count }}",
              "type": "number"
            },
            {
              "id": "3bab3dcd-e18d-4b22-9c86-a8e9b60ea5c3",
              "name": "Number of chapters",
              "value": "={{ $json.Chapters }}",
              "type": "number"
            },
            {
              "id": "191105bb-4f7e-4b4f-bab7-95fa1f858c43",
              "name": "Introduction length",
              "value": "={{ $json.Introduction_length }}",
              "type": "number"
            },
            {
              "id": "d1368f97-9249-4bb6-9c5c-f3185b7ef9eb",
              "name": "Conclusion length",
              "value": "={{ $json.conclusion_length }}",
              "type": "number"
            },
            {
              "id": "9579a7f2-1a4e-45b7-8cd7-ef249073798d",
              "name": "style",
              "value": "={{ $json.Style }}",
              "type": "string"
            },
            {
              "id": "1575eee8-6b01-4d0f-8304-68d4d541f0f7",
              "name": "Category ID",
              "value": "={{ $json.Category_ID }}",
              "type": "number"
            },
            {
              "id": "ae45f0c3-1ed6-4901-bf50-359ea3da33a9",
              "name": "CTA",
              "value": "={{ $json.CTA }}",
              "type": "string"
            },
            {
              "id": "c71d3ccd-369d-4c50-8f57-1cb693af14be",
              "name": "CTA URL",
              "value": "={{ $json.CTA_URL }}",
              "type": "string"
            },
            {
              "id": "f6e4ce2b-6d29-4ca8-9b91-6236701d71b5",
              "name": "Company Offering",
              "value": "={{ $json.Company_offering }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1220,
        360
      ],
      "id": "d2507db5-b329-4fca-b576-eb68a26eb551",
      "name": "Settings"
    },
    {
      "parameters": {
        "content": "## Settings",
        "height": 431,
        "width": 567,
        "color": 2
      },
      "id": "96ee3819-a573-4732-9310-db540628b97b",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1280,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Create Article structure\n",
        "height": 431,
        "width": 607,
        "color": 2
      },
      "id": "88aa7587-a122-48d3-b133-6d92abf7e714",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -660,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Generate text for each chapter\n",
        "height": 511,
        "width": 2047,
        "color": 2
      },
      "id": "d35e8236-c447-4a56-835c-7025e0f0460f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Get all internal links\n",
        "height": 231,
        "width": 1207,
        "color": 2
      },
      "id": "c6440ba7-4f8a-4034-9098-2c37476ed8c9",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Generate image for each chapter",
        "height": 431,
        "width": 1727,
        "color": 2
      },
      "id": "77f6ddd3-e8a3-4666-adb8-1c4663e98733",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Combine and finalize the article\n",
        "height": 431,
        "width": 1347,
        "color": 2
      },
      "id": "530d790a-5df7-4b55-ae8e-837345d5b190",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2620,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Publish article to website\n",
        "height": 431,
        "width": 367,
        "color": 2
      },
      "id": "5c01f95b-6926-4f71-8c50-2b964a801eee",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4680,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Set featured image for the article\n",
        "height": 431,
        "width": 987,
        "color": 2
      },
      "id": "e2af7cbe-12f9-42a7-874f-80cf09e4b785",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5120,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"title\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"content\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2180,
        640
      ],
      "id": "bf45fdd2-2cab-4534-a84e-2f8a5d86e5ca",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.chapters",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        620,
        360
      ],
      "id": "779bd9f2-cc49-441d-b9b4-f6b3c343716d",
      "name": "Split out chapters"
    },
    {
      "parameters": {
        "url": "=https://{{ $json.Website }}/post-sitemap.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        60
      ],
      "id": "d839155a-1a30-4d67-95a2-5679069a93b0",
      "name": "Get post sitemap"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        300,
        60
      ],
      "id": "22218b00-19bb-45b5-96e7-3d5e4e96018f",
      "name": "Get XML file"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urlset.url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        520,
        60
      ],
      "id": "612679ff-9fa1-4282-ae10-6172710e43d2",
      "name": "Split out links"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3db2a3a4-d89e-4848-835c-1d6ac68419ac",
              "name": "chapter_title",
              "value": "={{ $json.output.title }}",
              "type": "string"
            },
            {
              "id": "25fbf572-7e57-4797-99ba-34fc1c8d560a",
              "name": "chapter_content",
              "value": "={{ $json.output.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        340
      ],
      "id": "18ae639a-8ec6-434d-8d71-e916eb737c90",
      "name": "Get title chapter and content"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate a photographic image to be used as the cover image for the chapter {{ $json.title }} in the article titled {{ $('Create post title and structure').first().json.output.title }},\nThis is the prompt for the image: {{ $json.image.imagePrompt }}, photography, realistic. Do not show any texts in the image.",
        "options": {
          "quality": "standard",
          "size": "1792x1024",
          "style": "natural"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        1660,
        1040
      ],
      "id": "9a7a615d-7062-4d97-89b4-188aa21ada13",
      "name": "Generate chapter image"
    },
    {
      "parameters": {
        "operation": "resize",
        "dataPropertyName": "=data",
        "width": 800,
        "height": 800,
        "options": {
          "fileName": "={{ $('Split out chapters').item.json.image.fileName }}",
          "format": "webp"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1920,
        940
      ],
      "id": "b0118bfa-b777-45da-8282-696fddceaa25",
      "name": "Resize Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{ $binary.data.fileName }}.{{ $binary.data.fileExtension }}\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "c63fb58e-3b67-4620-b30b-e054bfe3f63d",
      "name": "Upload chapter images",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2220,
        1000
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "c286382e-9a45-426b-83d4-ba6ef77a016e",
      "name": "Merge chapters title and text",
      "type": "n8n-nodes-base.merge",
      "position": [
        2800,
        420
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.article }}",
        "destinationKey": "article",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        3540,
        420
      ],
      "id": "0d9c4334-c876-4e01-9260-11bbd97b0f9e",
      "name": "Markdown to HTML"
    },
    {
      "parameters": {
        "title": "={{ $('Create post title and structure').first().json.output.title }}",
        "additionalFields": {
          "content": "={{ $('FInal article in HTML').item.json.article }}",
          "slug": "={{ $('Create post title and structure').first().json.output.slug }}",
          "status": "publish",
          "categories": [
            403
          ]
        }
      },
      "id": "1524fe1c-c874-41d7-bcda-640b87955983",
      "name": "Post on Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        4800,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 800,
        "height": 800,
        "options": {
          "fileName": "={{ $('Create post title and structure').item.json.output.image.fileName }}",
          "format": "webp"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1620,
        1400
      ],
      "id": "0aebb07d-1ba4-4580-aef5-0412dc303b2e",
      "name": "Resize featured image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{ $('Create post title and structure').item.json.output.image.fileName }}.{{ $binary.data.fileExtension }}\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "9ac6d8ac-a033-48ea-98ad-0804ac89bb30",
      "name": "Upload featured image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5440,
        440
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/posts/{{ $('Post on Wordpress').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "afeb58ed-b6d7-45c5-b812-6b1e43a11326",
      "name": "Set featured image for post",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5860,
        440
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "alt_text",
              "value": "={{ $('Split out chapters').first().json.image.altText }}"
            },
            {
              "name": "title",
              "value": "={{ $('Split out chapters').first().json.image.caption }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Split out chapters').first().json.image.caption }}"
            },
            {
              "name": "description",
              "value": "={{ $('Split out chapters').first().json.image.caption }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        1000
      ],
      "id": "ff223c69-fd59-4fb9-8379-73f557f2a5b7",
      "name": "Update image meta data"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1220,
        920
      ],
      "id": "839870ff-e0b7-47f5-a85c-ab3a47168718",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "alt_text",
              "value": "={{ $('Create post title and structure').first().json.output.image.altText }}"
            },
            {
              "name": "title",
              "value": "={{ $('Create post title and structure').first().json.output.image.caption }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Create post title and structure').first().json.output.image.caption }}"
            },
            {
              "name": "description",
              "value": "={{ $('Create post title and structure').first().json.output.image.caption }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5660,
        440
      ],
      "id": "f87787bd-1f1a-4202-ac6b-c3031fedcde6",
      "name": "Update featured image meta data"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1240,
        360
      ],
      "id": "00eb8c9e-4596-4705-a7c2-8dbda5117702",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "178011dc-bb76-420d-a01e-5a5d9797957e",
              "name": "response",
              "value": "=A new blog post was created and published at {{ $json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6800,
        440
      ],
      "id": "237ee795-33d2-416c-874f-03b325089c2f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Generate featured image",
        "height": 431,
        "width": 1067,
        "color": 2
      },
      "id": "8cd92d48-138b-4702-8e66-c0d85c88ac3f",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1140,
        1380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## SEO\n",
        "height": 431,
        "width": 507,
        "color": 2
      },
      "id": "fd255d70-cd65-4433-9ad3-88948c681f37",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6160,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/posts/{{ $('Post on Wordpress').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "excerpt",
              "value": "={{ $('Create post title and structure').first().json.output.googleExcerpt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6220,
        440
      ],
      "id": "d1b3cf20-ee34-4b01-8646-cac7d0ded1f5",
      "name": "Set excerpt"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -480,
        540
      ],
      "id": "f18ba735-e104-4e90-b239-180b07d28b95",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1680,
        460
      ],
      "id": "536fbc8f-5c6a-4b5e-8960-6118997509fc",
      "name": "Wait",
      "webhookId": "ecc9702f-fabf-4b8e-957e-11a05033f36e",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1440,
        1040
      ],
      "id": "e479d16d-d868-455b-b207-2abedc4ed3c6",
      "name": "Wait1",
      "webhookId": "6d464934-8067-45c6-8e9f-4c90f806784c",
      "disabled": true
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1920,
        640
      ],
      "id": "3d82a885-425a-43a1-b580-ecf62c01c296",
      "name": "OpenRouter Chat Model1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1aPn-7tRcSzd3A0_4LDCS66rdZdtQWEe6If71hs-TeXM/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "blog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D-aoHvQ4UbwI3OANqwNc1_bbwTw8IwnERgkP428ueDE/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1860,
        360
      ],
      "id": "f7d639c7-c18b-462b-943e-0ba33d10bb65",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "1DnhMaOtkvEN1OXm",
          "name": "Google Sheets Trigger (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 20
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        760,
        60
      ],
      "id": "8e387ea2-e312-4c4f-a1e7-b7553490fc24",
      "name": "Limit1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a5e0892b-6f70-46d4-81fc-e33321dc87b9",
              "leftValue": "={{ $json.Website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b4b4c8d5-9acb-4b8d-be85-7cb70954da7d",
              "leftValue": "={{ $json['Seed keyword'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "48f46993-3214-48b6-a7d1-54a23c0cad48",
              "leftValue": "={{ $json['Target audience'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5599e8bf-4ed9-4316-9b2d-3eea6f74e9a3",
              "leftValue": "={{ $json['Max word count'] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "4b177d23-d6e7-4444-8bbb-fe4d5064da03",
              "leftValue": "={{ $json['Number of chapters'] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "34b9e9d2-c5a3-4878-a12a-f5ad87b43efa",
              "leftValue": "={{ $json['Introduction length'] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "68969bc3-a14a-4459-95d3-7c6a0cb279ce",
              "leftValue": "={{ $json['Conclusion length'] }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "30633e71-924d-4f0f-9ea8-f2d4a119ae51",
              "leftValue": "={{ $json.style }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "ecb3a6a6-a19a-40b5-8026-2b26cca361de",
              "leftValue": "={{ $json['Category ID'] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -940,
        360
      ],
      "id": "5e38d1f0-3978-4a23-bd9e-ba5190480eb0",
      "name": "Check inputs"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5220,
        440
      ],
      "id": "cfb13892-bd1f-4143-9a4e-b1aa50ef9271",
      "name": "Add featured image"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Final article in Markdown').item.json.article }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        4360,
        420
      ],
      "id": "954db704-79e8-43da-a86d-13fadd4b42e4",
      "name": "Save texts to Doc"
    },
    {
      "parameters": {
        "folderId": "={{ $('Create Drive folder').first().json.id }}",
        "title": "={{ $('Create post title and structure').first().json.output.title.replace(/ /g, \"_\") }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        4120,
        420
      ],
      "id": "56437c40-2167-4d1a-a295-7f0707322c31",
      "name": "Create Doc"
    },
    {
      "parameters": {
        "name": "={{ $('Create post title and structure').item.json.output.image.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Drive folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1620,
        1640
      ],
      "id": "62e9e52b-bd91-44c7-a5e0-d2ea550d4c4f",
      "name": "Upload featured image to Drive"
    },
    {
      "parameters": {
        "name": "={{ $('Split out chapters').item.json.image.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Drive folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1920,
        1180
      ],
      "id": "6a76e605-5089-4a39-9d7f-aabbe1fb4792",
      "name": "Upload chapter images to Drive"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8cada260-4cd5-4470-8dba-139cec531ddc",
              "name": "output",
              "value": "={{ $('Create post title and structure').item.json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        360
      ],
      "id": "5371afc0-afcc-493e-9409-6aa82bc3f7fa",
      "name": "Get output"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.output.title.replace(/ /g, \"_\") }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1tSlpyxnzGSU1wj-SXruBjXYp2PFALNTf",
          "mode": "list",
          "cachedResultName": "Auto blog",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tSlpyxnzGSU1wj-SXruBjXYp2PFALNTf"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        20,
        360
      ],
      "id": "bbf47099-0edf-4e44-b680-4da3fa41a530",
      "name": "Create Drive folder"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2040,
        1520
      ],
      "id": "b3df8fcc-8285-425e-a4c1-5dae5bacbbb5",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2640,
        1040
      ],
      "id": "ca244385-bf63-4c6f-858f-f223b0c781d9",
      "name": "Merge1"
    },
    {
      "parameters": {
        "content": "Create Save Folder on Drive",
        "height": 431,
        "width": 467,
        "color": 2
      },
      "id": "48d7d673-4157-4661-a3b5-b3ba876b719c",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -20,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save to Doc on Drive\n",
        "height": 431,
        "width": 507,
        "color": 2
      },
      "id": "46101f72-6b2b-460d-be68-aedd900b764c",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4060,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1860,
        580
      ],
      "id": "d2fc3a9a-2a2a-4ac4-beeb-558128e3af02",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1520,
        360
      ],
      "id": "6c091f7e-c40b-4ad4-89b6-d809c5358960",
      "name": "Get the latest topic"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1860,
        800
      ],
      "id": "60a8fa46-8094-4e4d-8e84-ea8012678878",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6877f11-541d-4ac5-8556-f10374322f2a",
              "name": "article",
              "value": "={{ $json.article }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3780,
        420
      ],
      "id": "46cb5222-a9c7-45ee-a607-571782156944",
      "name": "FInal article in HTML"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd9e8fee-8386-4410-8cb4-5ef83c265d52",
              "name": "article",
              "value": "={{ $json.article }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3320,
        420
      ],
      "id": "727ee6b7-fb54-4943-a1e3-8f4897235673",
      "name": "Final article in Markdown"
    },
    {
      "parameters": {
        "jsCode": "let article = \"\";\n\n// Introduction\narticle += $('Create post title and structure').first().json.output.introduction;\narticle += \"\\n\\n\";\n\nfor (const item of $input.all()) {\n  // Add the chapter title as a level 2 Markdown header\n  article += \"## \" + item.json.chapter_title + \"\\n\\n\";\n  \n  // Insert the chapter image if it exists (Markdown image syntax)\n  if (item.json.source_url) {\n    article += `![${item.json.title.rendered}](${item.json.source_url})\\n\\n`;\n  }\n  \n  // Add the chapter content\n  article += item.json.chapter_content;\n  article += \"\\n\\n\";\n}\n\n// Conclusion\narticle += \"## Final words\\n\\n\";\narticle += $('Create post title and structure').first().json.output.conclusion;\narticle += \"\\n\\n\";\n\n// Call-to-Action (CTA)\narticle += $('Create post title and structure').first().json.output.cta + \"\\n\\n\";\narticle += \"Learn more: [\" + $('Create post title and structure').first().json.output.ctaUrl + \"](\" + $('Create post title and structure').first().json.output.ctaUrl + \")\\n\\n\";\n\n// Company Offering\narticle += \"## About us\\n\\n\";\narticle += $('Create post title and structure').first().json.output.companyOffering;\n\nreturn [\n  {\n    \"article\": article\n  }\n];\n"
      },
      "id": "bb387f9d-9ba8-4d19-8f88-4797553126e9",
      "name": "Combine into article",
      "type": "n8n-nodes-base.code",
      "position": [
        3040,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "loc",
              "renameField": true,
              "outputFieldName": "internal_links"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1020,
        60
      ],
      "id": "c99407f4-215b-4437-8d8d-2eb9fa08eea7",
      "name": "Aggregate internal links"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-02-20T04:08:24.345Z",
      "updatedAt": "2025-02-20T04:08:24.345Z",
      "id": "Gv1k0DVSmyEB61kz",
      "name": "AI"
    },
    {
      "createdAt": "2025-02-20T04:08:24.352Z",
      "updatedAt": "2025-02-20T04:08:24.352Z",
      "id": "l0qG43hY9LtBKQbZ",
      "name": "WordPress"
    },
    {
      "createdAt": "2025-02-20T04:08:24.359Z",
      "updatedAt": "2025-02-20T04:08:24.359Z",
      "id": "Mw1m9iBiZ0Xoyh6H",
      "name": "OpenAI"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-02-24T07:36:57.957Z",
  "versionId": "2fb0e7c3-a4e8-4ddf-8c27-be6eb08abaf1"
}