credentials/8cfkER40daXfRhXa.json
{
  "active": false,
  "connections": {
    "Data Sale": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-15T14:16:56.317Z",
  "id": "8cfkER40daXfRhXa",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=## Vai trò:\nBạn là một trợ lý nhập liệu thông minh, có nhiệm vụ hỗ trợ tôi trích xuất số liệu từ văn bản báo cáo và nhập chính xác vào Google Sheet có tên là **Data Sale**.\n---\n\n## Nhiệm vụ:\nBạn sẽ nhận một đoạn văn bản đầu vào chứa báo cáo bán hàng, sau đó:\n1. **Xác định ngày đo lường** (ví dụ: \"09/04/2025\").\n2. **Trích xuất các số liệu cụ thể**:\n   - Tổng số xe bán (ví dụ: “77”)\n   - Bán lẻ (ví dụ: “Bán lẻ: 73”)\n   - Bán sỉ (ví dụ: “Bán sỉ: 04”)\n   - Bỏ qua các dòng cộng dồn và chi tiết phụ (trực tiếp, MKT online, TMĐT, Grab...) – không cần xử lý trong lần này.\n   - Nếu dữ liệu là **Không phát sinh thì bằng 0**.\n## Lưu ý:\n- Nếu trong đoạn văn bản có nhiều dòng chứa số liệu, hãy chỉ lấy **dòng đầu tiên** phù hợp với tiêu chí.\n- Không lặp lại ngày đã từng xử lý trước đó (nếu bạn biết ngày đó đã có trong hệ thống).\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -1280,
        360
      ],
      "id": "c3a0634a-93f8-4b47-b556-04fbdaa132de",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "14rkN7wSxlQbkujUU7OWEe5G9UvfHjtEMR-5UXMwQVb0",
          "mode": "list",
          "cachedResultName": "Thắm dễ thương",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14rkN7wSxlQbkujUU7OWEe5G9UvfHjtEMR-5UXMwQVb0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14rkN7wSxlQbkujUU7OWEe5G9UvfHjtEMR-5UXMwQVb0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ngay": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ngay__using_to_match_', `Dữ liệu ngày`, 'string') }}",
            "Tong_xe_ban": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tong_xe_ban', `Dữ liệu tổng xe bán`, 'string') }}",
            "Ban_le": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ban_le', `Dữ liệu xe bán lẻ`, 'string') }}",
            "Ban_HĐ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ban_H_', `Dữ liệu xe bán HĐ`, 'string') }}",
            "Ban_si": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ban_si', `Dữ liệu xe bán sỉ`, 'string') }}"
          },
          "matchingColumns": [
            "Ngay"
          ],
          "schema": [
            {
              "id": "Ngay",
              "displayName": "Ngay",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tong_xe_ban",
              "displayName": "Tong_xe_ban",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ban_le",
              "displayName": "Ban_le",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ban_HĐ",
              "displayName": "Ban_HĐ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ban_si",
              "displayName": "Ban_si",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -1080,
        560
      ],
      "id": "e999ed1f-043c-4c0d-a566-72eb5d70c889",
      "name": "Data Sale",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgZ6QgXTze23DhsT",
          "name": "Google Sheets API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1300,
        560
      ],
      "id": "e13ef952-78ab-468e-862f-96a37e598d48",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi (thipha0409)"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}\n\nHãy kiểm tra lại Google Sheet nếu muốn nhé: https://docs.google.com/spreadsheets/d/14rkN7wSxlQbkujUU7OWEe5G9UvfHjtEMR-5UXMwQVb0/edit?usp=sharing",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -820,
        360
      ],
      "id": "0c804d5d-2955-4e72-bd9b-2b06292a3abc",
      "name": "Telegram",
      "webhookId": "36f80223-42c3-441b-8161-f1a80625b53c",
      "credentials": {
        "telegramApi": {
          "id": "EUJL0Q8mSeRtq6TP",
          "name": "Telegram NamLee"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1300,
        20
      ],
      "id": "1ba91afe-9b3d-417b-99da-ba3fd7ab3cd7",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Vai trò:\nBạn là một trợ lý AI chuyên xử lý dữ liệu từ báo cáo PDF. Nhiệm vụ của bạn là đọc nội dung văn bản từ một bảng báo cáo bán hàng xe máy. Và **trích xuất dữ theo yêu cầu**.\n\n---\n\n## Yêu cầu:\nTừ bảng báo cáo bán hàng xe máy (bao gồm các dòng từ PT1 đến PT6), bạn hãy trích xuất chính xác các trường sau:\n\n- \"Ngay\": ghi ngày báo cáo, ví dụ `\"2025-04-10\"`\n- \"Cua_hang\": ghi cửa hàng, ví dụ `\"PT1\"`\n- \"Phan_hang\"\n- \"Chi_tieu\"\n- \"Muc_tieu\"\n- \"Khach_truc_tiep_cua_hang\"\n- \"Khach_MKT\"\n- \"Khach_TMĐT\"\n- \"Khach_GRAB\"\n- \"SL_ban_thuc_te\"\n- \"Chi_tieu_ban_le_HVN\": là số liệu CHỈ TIÊU BÁN LẺ HVN\n- \"Muc_tieu_ban_le_HVN\": là số liệu MỤC TIÊU BÁN HÀNG HVN ĐẾN...\n\n---\n\n## Định dạng kết quả:\n\nHãy trả về một **mảng JSON** gồm 6 object, mỗi object là 1 dòng dữ liệu từ PT1 đến PT6, ví dụ như sau:\n\n```json\n[\n  {\n    \"Ngay\": \"2025-04-10\",\n    \"Cua_hang\": \"PT1\",\n    \"Phan_hang\": 349,\n    \"Chi_tieu\": 230,\n    \"Muc_tieu\": 75,\n    \"Khach_truc_tiep_cua_hang\": 77,\n    \"Khach_MKT\": 2,\n    \"Khach_TMĐT\": 8,\n    \"Khach_GRAB\": 1,\n    \"SL_ban_thuc_te\": 88,\n    \"Chi_tieu_ban_le_HVN\": 336,\n    \"Muc_tieu_ban_le_HVN\": 101\n  },\n  ...\n]\n\n##Lưu ý:\n**- Tất cả số liệu đều là số nguyên.**\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -1080,
        20
      ],
      "id": "bef07218-aad3-4829-8c29-a835b59f6df9",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1120,
        200
      ],
      "id": "1d679b56-1250-4354-b66c-ab9386e67ca1",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Zp2T3hQm0uRSB2Dn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.document.mime_type || '' }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1a0a7808-50c5-4f68-98e3-c7b0b8c72854"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f3c3a4ec-7a95-4e91-bd93-86e8202903ad",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1600,
        220
      ],
      "id": "688760e3-f4ce-4b98-b4f3-a29a81505670",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14rkN7wSxlQbkujUU7OWEe5G9UvfHjtEMR-5UXMwQVb0",
          "mode": "list",
          "cachedResultName": "Thắm dễ thương",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14rkN7wSxlQbkujUU7OWEe5G9UvfHjtEMR-5UXMwQVb0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 202697470,
          "mode": "list",
          "cachedResultName": "Trang tính2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14rkN7wSxlQbkujUU7OWEe5G9UvfHjtEMR-5UXMwQVb0/edit#gid=202697470"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ngay": "={{ $json.Ngay }}",
            "Cua_hang": "={{ $json.Cua_hang }}",
            "Phan_hang": "={{ $json.Phan_hang }}",
            "Chi_tieu": "={{ $json.Chi_tieu }}",
            "Muc_tieu": "={{ $json.Muc_tieu }}",
            "Khach_truc_tiep_cua_hang": "={{ $json.Khach_truc_tiep_cua_hang }}",
            "Khach_MKT": "={{ $json.Khach_MKT }}",
            "Khach_TMĐT": "={{ $json['Khach_TMĐT'] }}",
            "Khach_GRAB": "={{ $json.Khach_GRAB }}",
            "SL_ban_thuc_te": "={{ $json.SL_ban_thuc_te }}",
            "Chi_tieu_ban_le_HVN": "={{ $json.Chi_tieu_ban_le_HVN }}",
            "Muc_tieu_ban_le_HVN": "={{ $json.Muc_tieu_ban_le_HVN }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ngay",
              "displayName": "Ngay",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cua_hang",
              "displayName": "Cua_hang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phan_hang",
              "displayName": "Phan_hang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi_tieu",
              "displayName": "Chi_tieu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Muc_tieu",
              "displayName": "Muc_tieu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Khach_truc_tiep_cua_hang",
              "displayName": "Khach_truc_tiep_cua_hang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Khach_MKT",
              "displayName": "Khach_MKT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Khach_TMĐT",
              "displayName": "Khach_TMĐT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Khach_GRAB",
              "displayName": "Khach_GRAB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SL_ban_thuc_te",
              "displayName": "SL_ban_thuc_te",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi_tieu_ban_le_HVN",
              "displayName": "Chi_tieu_ban_le_HVN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Muc_tieu_ban_le_HVN",
              "displayName": "Muc_tieu_ban_le_HVN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -200,
        140
      ],
      "id": "c2f63200-8327-4c65-8ff8-0298be9e8459",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgZ6QgXTze23DhsT",
          "name": "Google Sheets API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "[\n  {\n    \"Ngay\": \"2025-04-10\",\n    \"Cua_hang\": \"PT1\",\n    \"Phan_hang\": 0,\n    \"Chi_tieu\": 0,\n    \"Muc_tieu\": 0,\n    \"Khach_truc_tiep_cua_hang\": 0,\n    \"Khach_MKT\": 0,\n    \"Khach_TMĐT\": 0,\n    \"Khach_GRAB\": 0,\n    \"SL_ban_thuc_te\": 0,\n    \"Chi_tieu_ban_le_HVN\": 0,\n    \"Muc_tieu_ban_le_HVN\": 0\n  }\n]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -880,
        200
      ],
      "id": "2b92f175-6258-4897-9c06-a2daa111f50d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -720,
        20
      ],
      "id": "f08c6c2c-7a3e-48d4-ac07-8dbc7b3d3c22",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -500,
        20
      ],
      "id": "5ce5ad72-e0e3-4fa0-8905-199bf9c905e8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Đã cập nhật file PDF gòi á Thắm:\nKiếm tra nhé: https://docs.google.com/spreadsheets/d/14rkN7wSxlQbkujUU7OWEe5G9UvfHjtEMR-5UXMwQVb0/edit?usp=sharing\n{{ $json.Ngay }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        -40
      ],
      "id": "0bf47600-bbdf-4761-9ab2-ddb6632c330d",
      "name": "Telegram1",
      "webhookId": "48047b80-58c9-4484-a4a8-5144657bab3e",
      "credentials": {
        "telegramApi": {
          "id": "EUJL0Q8mSeRtq6TP",
          "name": "Telegram NamLee"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3681b7bf-01e7-4fd8-b42e-cbd498c23efc",
              "name": "Ngay",
              "value": "={{ $json.Ngay }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -220,
        -40
      ],
      "id": "94e811c4-8081-468b-ac4b-163e5520e9f4",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        0,
        -40
      ],
      "id": "1e98af6d-8e4d-4509-8cf9-edd5631ca259",
      "name": "Limit"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1840,
        220
      ],
      "id": "39051dfb-d5cd-4609-a990-1e6b188a7dd1",
      "name": "Telegram Trigger",
      "webhookId": "abfb0c5f-b1c0-454d-ba6f-926581c78544",
      "credentials": {
        "telegramApi": {
          "id": "EUJL0Q8mSeRtq6TP",
          "name": "Telegram NamLee"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-15T14:16:56.317Z",
  "versionId": "44544ffb-7f82-4089-bb92-1c82bdc0db96"
}