credentials/8v05o9r1TrOpFhrg.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-16T07:51:55.747Z",
  "id": "8v05o9r1TrOpFhrg",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Design Image Templated.io",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "20b9c2f2-b48c-4284-b790-750017a02b30",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c9252a7-0882-4c70-9c76-fa5e36b6ff93",
              "name": "title",
              "value": "Honda City",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        0
      ],
      "id": "619d97b3-5ea4-49d4-aa03-4e83d5b56f68",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.templated.io/v1/render",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ba15faea-3df2-416d-9fbc-bda81a651bee"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template\": \"9af3beb3-9645-4758-8e85-54dc8718600d\",\n  \"layers\": {\n    \"text-1\": {\n      \"text\": \"{{ $json.title }}\",\n      \"color\": \"#FFFFFF\"\n    },\n    \"image-1\": {\n      \"image_url\": \"https://pathtomyphoto.com/123.jpg\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        0
      ],
      "id": "9ed06329-f25e-47ba-8955-0132174742dd",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-18T01:04:43.716Z",
  "versionId": "ec533c7b-3c1a-4839-bca0-7934ffb98fc6"
}