credentials/9y69QoBm2Rbs2RJz.json
{
  "active": false,
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Initial Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Tool": {
      "ai_tool": [
        [
          {
            "node": "Initial Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Initial Research",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Initial Research",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-14T08:44:03.660Z",
  "id": "9y69QoBm2Rbs2RJz",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "SEO Post Tool (redeploy)",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1cXDMu_Z-y3vHNzGVefMpqh8_-it9ASDNKx5ybuPR2Ek",
          "mode": "list",
          "cachedResultName": "Data-seo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cXDMu_Z-y3vHNzGVefMpqh8_-it9ASDNKx5ybuPR2Ek/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Blog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cXDMu_Z-y3vHNzGVefMpqh8_-it9ASDNKx5ybuPR2Ek/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "redeploy"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        0
      ],
      "id": "445a8e33-de9b-4377-a427-4cf12ab36730",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgZ6QgXTze23DhsT",
          "name": "Google Sheets API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Topic\n- Provide the topic: `{{ $json.Keyword }}`.\n\n## Research Overview\n- Provide a comprehensive, detailed, and thorough research overview about the topic: `{{ $json.Keyword }}`.\n- Include all key aspects from the research.\n- Integrate specific details, numerical data, technical terms, and any important insights from the research.\n- Avoid overly brief summaries; ensure that each point is fully explained and substantiated.\n\n## Subtopics\n- Identify exactly {{ $json.Chapters }} subtopics that directly relate to the main topic.\n- For each subtopics should accurately capture the essence of the chapter.\n- **Each subtopic title must explicitly reference or incorporate the main topic `{{ $json.Keyword }}`** to ensure a clear and direct link to the overall subject.\n- Each subtopics should cover a distinct aspect of the research, ensuring that the entire scope of the topic is represented with depth and clarity.\n\n## Output Detail and Depth\n- Ensure that the research overview is exhaustive, capturing all important details from the research content provided.\n- Your analysis should be sufficiently long and detailed, addressing each segment (technological, economic, geopolitical, and societal) with in-depth explanations and supporting details.\n- Each subtopic should reflect the multifaceted nature of the main topic and include a subtopic title that clearly demonstrates its connection to `{{ $json.Keyword }}`.\n\n## Formatting Requirements\n- Your output must be in valid JSON format, following the structure below exactly:\n  ```json\n  {\n    \"topic\": \"Your main topic here\",\n    \"research_overview\": \"A comprehensive and detailed overview of the research findings, including all relevant details, technical terms, and in-depth analysis...\",\n    \"subtopics\": [\n      {\n        \"subtopic_title\": \"Subtopic Title that explicitly references the main topic\"\n      }\n      // Include exactly the specified number of chapters.\n    ]\n  }\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a researcher with access to advanced research tools. Your task is to search the internet using the provided keywords and return the full, unabridged research output. Follow these instructions carefully:\n\n## Complete and Detailed Output:\n   - Return the full research result including every detail, section, and technical nuance.\n   - Do not shorten, summarize, or omit any parts of the research. Include all numerical data, technical terms, section headers, lists, and analysis as found.\n\n## Accuracy:\n   - Return the exact research result provided by your research tool. Do not modify or paraphrase the content.\n   - Your response should be as detailed as the research source, reflecting every aspect of the findings.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        520,
        -40
      ],
      "id": "fea2dcf4-24f3-440a-ac7c-c55b55dc8d43",
      "name": "Initial Research"
    },
    {
      "parameters": {
        "name": "research_tool",
        "description": "Call this tool to do research. The input should be a topic.",
        "workflowId": {
          "__rl": true,
          "value": "EoPvFqTRrfxFOWuS",
          "mode": "list",
          "cachedResultName": "Research"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        560,
        240
      ],
      "id": "b19e0c9c-0223-46d5-9d16-e49e9c73f3ec",
      "name": "Research Tool"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        380,
        200
      ],
      "id": "ca11efbf-3873-47af-981e-06ebfa4da60f",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"topic\": {\n      \"type\": \"string\"\n    },\n    \"research_overview\": {\n      \"type\": \"string\"\n    },\n    \"subtopics\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"subtopic_title\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        720,
        200
      ],
      "id": "fc2a41bc-17aa-4cc2-84d4-bab8bf896391",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "8ead5cf6-c857-42c3-b98e-d63fb08effd5",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-14T08:50:43.525Z",
  "versionId": "d2aeac97-d154-4b22-9095-4fcc487d0b53"
}