credentials/adsLkIwSGB5jnysm.json
{
  "active": false,
  "connections": {
    "Initial Research": {
      "main": [
        [
          {
            "node": "Blog Planner",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Blog Planner",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Get title chapter and content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Research Chapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Research Chapter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Copywriter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Lấy output": {
      "main": [
        [
          {
            "node": "Tách output",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search URL Featured Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tách output": {
      "main": [
        [
          {
            "node": "Internal&Article",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "ai_languageModel": [
        [
          {
            "node": "Initial Research",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "XML1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Internal&Article",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "XML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Initial Research",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Blog Planner",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Copywriter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Planner": {
      "main": [
        [
          {
            "node": "Check empty output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check empty output": {
      "main": [
        [
          {
            "node": "Create Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Blog Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Internal&Article": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Chapter": {
      "main": [
        [
          {
            "node": "Copywriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copywriter": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Tool 1": {
      "ai_tool": [
        [
          {
            "node": "Research Chapter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research Tool": {
      "ai_tool": [
        [
          {
            "node": "Initial Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get title chapter and content": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder": {
      "main": [
        [
          {
            "node": "Lấy output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Search URL Image Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search URL Image Google": {
      "main": [
        [
          {
            "node": "Image Scource",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Resize Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize Image": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload chapter images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Scource": {
      "main": [
        [
          {
            "node": "Get 1 Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 1 Image": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload chapter images": {
      "main": [
        [
          {
            "node": "Update image meta data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update image meta data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image1": {
      "main": [
        [
          {
            "node": "Resize Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize Image1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Image Scource1": {
      "main": [
        [
          {
            "node": "Get 1 Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 1 Image1": {
      "main": [
        [
          {
            "node": "Download Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Upload featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search URL Featured Image": {
      "main": [
        [
          {
            "node": "Image Scource1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload featured image": {
      "main": [
        [
          {
            "node": "Set featured image for post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Initial Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-28T13:23:00.656Z",
  "id": "adsLkIwSGB5jnysm",
  "meta": null,
  "name": "test1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        520,
        -20
      ],
      "id": "5321a219-7f76-4f2b-9713-fdc0eb2dc760",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Mục tiêu\nBạn là một chuyên gia nghiên cứu nội dung trong lĩnh vực ô tô. Nhiệm vụ của bạn là thực hiện một bản nghiên cứu nền tảng sâu sắc và toàn diện về chủ đề:{{ $json.Keyword }}. Nghiên cứu này sẽ là tiền đề để biên soạn một bài viết chất lượng cao chuẩn SEO, có cấu trúc, thông số kỹ thuật và chiều sâu chuyên môn.\n\n## Chủ Đề Chính (Main Topic)\n- Chủ đề nghiên cứu: `{{ $json.Keyword }}`\n\n## Bối cảnh và yêu cầu bài viết\n- Lĩnh vực: Ngành ô tô.\n- Văn phong: Chuyên gia, dễ đọc, gần gủi`.\n- Đối tượng độc giả:: `người quan tâm ô tô`.\n\n## Nhiệm vụ nghiên cứu\nVui lòng thực hiện một bản nghiên cứu nội dung chuyên sâu, bao gồm các yếu tố sau:\n### 1. Tổng quan sản phẩm:\n- Nguồn gốc, phân khúc xe, mục tiêu thị trường của Honda BR-V.\n- Các phiên bản, đời xe hiện hành.\n\n### 2. Thông số kỹ thuật và đặc điểm nổi bật\n- Kích thước, động cơ, hộp số, mức tiêu hao nhiên liệu.\n- Hệ thống an toàn, giải trí, nội ngoại thất.\n- Tính năng khác biệt so với đối thủ.\n\n### 3. Bối cảnh thị trường và xu hướng tiêu dùng\n- Tình hình cạnh tranh với các dòng xe cùng phân khúc (ví dụ: Toyota Rush, Mitsubishi Xpander...).\n- Xu hướng người tiêu dùng tại Việt Nam với xe SUV nhỏ.\n- Điểm mạnh và điểm cần cải thiện của Honda BR-V.\n\n### 4. Phân tích chiến lược truyền thông và định vị sản phẩm (nếu có):\n- Cách Honda định vị BR-V trong chiến lược sản phẩm.\n- Điểm nhấn truyền thông và lợi ích hướng đến người tiêu dùng.\n\n## Cấu trúc chủ đề phụ (Subtopics)\n- Bài viết cần chia thành đúng 3 tiểu mục độc lập.\n- Mỗi chủ đề phụ phải có từ khóa {{ $json.Keyword }} để duy trì tính nhất quán của chủ đề.\n- Mỗi chủ đề phụ phải: \n  - Phù hợp với bối cảnh thực tế của nghành công nghiệp ô tô.\n  - Cân bằng nội dung kỹ thuật, trải nghiệm của người dùng và quan điểm thị trường.\n  - Làm nổi bật bản chất đa diện của sản phẩm hoặc chủ đề nghiên cứu.\n\n## Đầu ra mong muốn (Expected Output)\n- Tất cả đầu ra phải được viết bằng **Vietnamese**.\n- Trả về kết quả ở **định dạng JSON**:\n```json\n{\n  \"topic\": \"Tên chủ đề chính\",\n  \"research_overview\": \"Tổng quan nghiên cứu bằng tiếng Việt chuyên sâu, có số liệu, kỹ thuật và phân tích ngành ô tô\",\n  \"subtopics\": [\n    {\n      \"subtopic_title\": \"Tiêu đề tiểu mục có chứa từ khóa chính\"\n    }\n    //Ensure it includes exactly the number of subtopics defined in `{{ $json.Chapters }}`\n  ]\n}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Bạn là một nhà nghiên cứu có quyền truy cập vào các công cụ nghiên cứu nâng cao. Nhiệm vụ của bạn là tìm kiếm thông tin trên internet dựa trên từ khóa được cung cấp và trả về kết quả nghiên cứu đầy đủ, nguyên vẹn. Hãy tuân thủ các hướng dẫn sau một cách nghiêm ngặt:\n\n## Kết quả đầy đủ và chi tiết:\n- Trả về toàn bộ kết quả nghiên cứu, bao gồm tất cả chi tiết, tiêu đề, nội dung chuyên sâu, thuật ngữ kỹ thuật, dữ liệu thống kê và cấu trúc phân tích.\nTuyệt đối không được rút gọn, tóm tắt hoặc lược bỏ bất kỳ phần nào trong kết quả. Phải bao gồm đầy đủ số liệu, tiêu đề các mục, danh sách, nhận định và phân tích chuyên môn như kết quả nghiên cứu ban đầu.\n## Đảm bảo độ chính xác:\n- Trả lại kết quả chính xác theo nội dung từ công cụ nghiên cứu. Không được tự diễn đạt lại, không viết lại, không thay đổi câu từ.\nKết quả phải phản ánh đầy đủ mọi khía cạnh, chi tiết như nội dung nguyên bản từ nguồn nghiên cứu."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        740,
        -20
      ],
      "id": "43aa17b7-b0be-42d6-a6e9-7e46f90d9623",
      "name": "Initial Research",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1180,
        220
      ],
      "id": "140692c2-5807-4a3e-83c6-6d468fe549ca",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": "={{ $('Setting').item.json.Chapters }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2860,
        0
      ],
      "id": "2e95e9f1-6118-4b23-9782-fa2a0eaa7cda",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4380,
        160
      ],
      "id": "36ed0164-64b4-4833-bce2-147a1011e79e",
      "name": "Wait",
      "webhookId": "a45da480-4839-411e-9fc0-55c353777f40"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3060,
        360
      ],
      "id": "acd027df-56c3-4fa7-9f81-fd6acbf7756f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3500,
        360
      ],
      "id": "6179cf6b-567f-4fcf-bf5e-52b099b9a0cc",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8aa74ec2-15d5-4328-a6cc-866b66485f73",
              "name": "output",
              "value": "={{ $('Blog Planner').item.json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2040,
        -20
      ],
      "id": "21a1a11d-5a6a-42f9-870e-1cc38891db2f",
      "name": "Lấy output"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.chapters",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2260,
        -20
      ],
      "id": "30d93c9b-cbcf-4ba8-ae91-8c88aa612602",
      "name": "Tách output"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        200
      ],
      "id": "5a3cb49c-6800-46c6-80d5-18357964b94b",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1380,
        -440
      ],
      "id": "17960487-ee7d-4775-a22f-2c181472ef99",
      "name": "XML1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urlset.url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1600,
        -440
      ],
      "id": "5ebaf2d1-c2b0-46e2-aad6-36d22437ca17",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "maxItems": 20
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1820,
        -440
      ],
      "id": "9245d850-c4e7-459b-b2d0-d5f02f86a15e",
      "name": "Limit3"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "loc"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2040,
        -440
      ],
      "id": "34ca4f46-45de-4393-852c-b12a52d73f5d",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "url": "=https://{{ $json.Website }}/post-sitemap.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        -440
      ],
      "id": "2dbfefd1-c26a-4ec6-a421-622960aa61ea",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"topic\": {\n      \"type\": \"string\"\n    },\n    \"research_overview\": {\n      \"type\": \"string\"\n    },\n    \"subtopics\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"subtopic_title\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        980,
        200
      ],
      "id": "5d156360-9dd6-4f1d-a08a-ca6bade7cab4",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"string\",\n  \"subtitle\": \"string\",\n  \"introduction\": \"string\",\n  \"slug\": \"string\",\n  \"google_excerpt\": \"string\",\n  \"google_meta_description\": \"string\",\n  \"chapters\": [\n    {\n      \"chapter_title\": \"string\",\n      \"image_suggestion_keyword\": \"string (short keyword for image search, max 5 words or 50 characters)\",\n      \"file_name\": \"string (SEO-friendly, hyphen-separated, no extension)\",\n      \"alt_text\": \"string (Vietnamese alt text describing the image for SEO)\"\n    }\n  ],\n  \"conclusion\": \"string\",\n  \"cta\": \"string\",\n  \"cta_url\": \"string\",\n  \"company_offering\": \"string\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1400,
        220
      ],
      "id": "a605864e-9395-49bf-8b23-f39a7f6e8d39",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"chapter_title\": {\n      \"type\": \"string\"\n    },\n    \"chapter_content\": {\n      \"type\": \"string\"\n    }\n}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        3700,
        360
      ],
      "id": "c3e09191-8423-4aeb-a43f-9de1bf6c2c26",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "jsCode": "let article = \"\";\n\n// Lấy phần introduction từ node \"Blog Planner\"\narticle += $('Blog Planner').first().json.output.introduction;\narticle += \"\\n\\n\";\n\n// Duyệt qua từng chương từ các node đầu vào (chứa cả tiêu đề, nội dung và ảnh)\nfor (const item of $input.all()) {\n  const title = item.json.chapter_title || \"Chapter\";\n  const content = item.json.chapter_content || \"\";\n  const imageUrl = item.json.source_url || \"\";\n\n  // Thêm tiêu đề chương\n  article += `## ${title}\\n\\n`;\n\n  // Thêm hình ảnh nếu có\n  if (imageUrl !== \"\") {\n    article += `![${title}](${imageUrl})\\n\\n`;\n  }\n\n  // Thêm nội dung chương\n  article += content + \"\\n\\n\";\n}\n\n// Thêm phần kết luận (Conclusion)\narticle += \"###Kết Luận\\n\\n\";\narticle += $('Blog Planner').first().json.output.conclusion;\narticle += \"\\n\\n\";\n\n// Thêm phần kêu gọi hành động (CTA)\narticle += $('Blog Planner').first().json.output.cta + \"\\n\\n\";\narticle += \"Xem thêm: [\" + $('Blog Planner').first().json.output.cta_url + \"](\" + $('Blog Planner').first().json.output.cta_url + \")\\n\\n\";\n\n// Thêm phần giới thiệu công ty (Company Offering)\narticle += \"###Giới thiệu doanh nghiệp\\n\\n\";\narticle += $('Blog Planner').first().json.output.company_offering;\n\n// Xuất kết quả\nreturn [\n  {\n    article\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5400,
        140
      ],
      "id": "44025875-ce5e-435e-a065-9877463e59b9",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02a12b46-ee14-492c-b4ba-cc4daccb95ed",
              "name": "article",
              "value": "={{ $json.article }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5680,
        140
      ],
      "id": "fd24b85e-7abe-4069-b093-663ed02d04cc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.article }}",
        "destinationKey": "article",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        5960,
        140
      ],
      "id": "2e0d0309-e234-48e1-b3c1-d05808e45b4a",
      "name": "Markdown"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9eae4d86-f7cf-4304-8cc9-fd53aae5d1fa",
              "name": "article",
              "value": "={{ $json.article }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6160,
        140
      ],
      "id": "bb3c9343-bec4-4ccc-84e7-1fa4e96365b7",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "title": "={{ $('Blog Planner').first().json.output.title }}",
        "additionalFields": {
          "content": "={{ $json.article }}",
          "slug": "={{ $('Blog Planner').first().json.output.slug }}",
          "status": "publish"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        6400,
        140
      ],
      "id": "25d4d057-7905-4243-8167-b3d7cee9fb9a",
      "name": "Wordpress",
      "credentials": {
        "wordpressApi": {
          "id": "1hr4XzljgrCdNgQK",
          "name": "thaomockhumui.com.vn"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Hướng dẫn thực hiện\nDựa trên kết quả nghiên cứu ban đầu sau:\n{{ $json.output.research_overview }}\n\nHãy lên kế hoạch cho một bài viết về {{ $('Setting').item.json.Keyword }} , hướng đến đối tượng độc giả người quan tâm ô tô, với **văn phong dễ đọc, mạch lạc, tự nhiên, thân thiện, tránh dùng các từ ngữ quá học thuật hoặc máy học** . Bài viết cần có 1200 từ.\n\nCác tiểu mục của bài viết sẽ phát triển thành từng chương:\n{{ $json.output.subtopics.toJsonString() }}\n\n**Lưu ý quan trọng:** \n- Mỗi chương cần liên kết chặt chẽ với chủ đề chính.\n- Các chương không được lạc đề hoặc quá chung chung.\n- Từng chương cần có chiều sâu phân tích, phù hợp với phong cách chuyên gia.\n\n## Cấu trúc nội dung cần xây dựng:\n### Tiêu đề & Phụ đề\nViết một **tiêu đề thật hấp dẫn**, truyền tải thông điệp chính của bài viết một cách rõ ràng và lôi cuốn. **Không sử dụng bất kỳ dấu hai chấm (:) hoặc dấu gạch ngang (-)** trong tiêu đề để đảm bảo tính nhất quán và thân thiện với SEO.\nViết **phụ đề ngắn gọn, súc tích**, đóng vai trò bổ sung ý nghĩa cho tiêu đề, giúp người đọc hình dung được nội dung tổng quan và định hướng của bài viết.\n\n### Giới thiệu (Introduction)\nHãy viết một đoạn mở đầu với độ dài khoảng 200 từ. **Mục tiêu giới thiệu về chủ đề bài viết, phải có tính gợi mở mạnh mẽ, tạo sự tò mò cho người đọc, phải có tính liên quan đến các chương sắp trình bày**.\n- Văn phong: tự nhiên, dễ đọc, mạch lạc, thân thiện như đang trò chuyện với người Việt.\n- Tránh dùng những cụm từ như:\n  - “Trong bài viết này”\n  - \"Bài viết này\"\n\n### Slug\n- Tạo một **slug chuẩn SEO ngắn gọn**, có chứa từ khóa chính.\n- Dùng **dấu gạch ngang (-)** thay vì khoảng trắng.\n\n### Google Excerpt\n- Viết một đoạn trích **lôi cuốn, thân thiện với Google (tối đa 160 ký tự)** – sử dụng **câu chủ động, có từ khóa chính**.\n\n### Google Meta Description\n- Viết meta description tối đa **156 ký tự**, phong cách hành động (actionable), có chứa từ khóa mục tiêu.\n\n### Các Chương\nTạo nội dung chi tiết cho từng chương, đảm bảo liên kết chặt chẽ với chủ đề chính của bài viết và logic xuyên suốt toàn bộ nội dung.\n\n- **Cấu trúc**:\n  - Mỗi chương được xây dựng **dựa trên** một tiểu mục đã định trước (subtopic).\n  - Mỗi chương cần có tiêu đề rõ ràng, mang tính mô tả, thể hiện trọng tâm nội dung của chương và phải gắn chặt với chủ đề chính {{ $('Setting').item.json.Keyword }}.\n  - Dữ liệu của các chương được trình bày dưới dạng mảng **JSON chapters**, mỗi chương bao gồm các trường sau:\n    - `chapter_title`\n  - Tiêu đề chương cần được xây dựng dựa trên tiêu đề tiểu mục, thể hiện rõ nội dung chính của chương và có mối liên hệ chặt chẽ với chủ đề bài viết.\n  - Nội dung của mỗi chương phải được phát triển một cách liền mạch với mạch truyện tổng thể của bài viết, đảm bảo rằng không có chương nào bị lạc đề hoặc rời rạc khỏi định hướng chính. Mỗi chương cần đóng vai trò bổ trợ cho bài viết, tạo nên một cấu trúc nội dung thống nhất và nhất quán từ đầu đến cuối.\n- **Định dạng trình bày nội dung (Markdown Formatting)**:\n  - Cho phép sử dụng Markdown để thể hiện rõ cấu trúc:\n  - *In đậm* để nhấn mạnh ý quan trọng.\n  - *In nghiêng* hoặc **gạch dưới** để phân biệt điểm nổi bật.\nCó thể sử dụng:\n  - Bullet list (danh sách chấm đầu dòng).\n  - Numbered list (danh sách đánh số) nếu cần hệ thống hóa thông tin.\n\n### Đoạn kết (Conclusion)\nViết một đoạn kết có độ dài khoảng 100 - 150 từ, đúc kết lại chủ đề, tóm tắt các điểm chính một cách ngắn gọn. \n\n### Lời kêu gọi hành động (Call-to-Action) & Giới thiệu doanh nghiệp\n- Kết thúc bài viết bằng một lời kêu gọi hành động mạnh mẽ, thu hút sự quan tâm của độc giả và khuyến khích họ thực hiện bước tiếp theo. Hãy nhấn mạnh giá trị mà họ nhận được khi tìm hiểu hoặc trải nghiệm dịch vụ của phattien.com, tạo động lực để họ liên hệ hoặc khám phá thêm thông tin. \n- **CTA URL**: Cung cấp liên kết trực tiếp để người đọc có thể dễ dàng truy cập và tìm hiểu thêm về sản phẩm, dịch vụ: phattien.com\n- **Company Offering**: Cung cấp một mô tả chi tiết, rõ ràng về dịch vụ mà doanh nghiệp đang cung cấp. Nêu bật các điểm mạnh, cam kết chất lượng, và lý do tại sao khách hàng nên chọn phattien.com\n\n---\n\n### Output Format: JSON\nYour output must be in valid JSON format, following the structure below exactly:\n```json\n{\n  \"title\": \"Tiêu đề nổi bật thu hút người đọc và phản ánh đúng nội dung chính của bài viết.\",\n  \"subtitle\": \"Tóm tắt ngắn gọn giúp bổ sung ý nghĩa cho tiêu đề và định hướng chủ đề bài viết.\",\n  \"introduction\": \"Đoạn mở đầu ngắn gọn, dễ đọc, giới thiệu chủ đề, nêu bật ý nghĩa và gợi mở nội dung các chương tiếp theo.\",\n  \"slug\": \"tieu-de-seo-than-thien-url\",\n  \"google_excerpt\": \"Mô tả ngắn gọn tối đa 160 ký tự, giọng văn chủ động, có chứa từ khóa SEO chính.\",\n  \"google_meta_description\": \"Mô tả chuẩn SEO không quá 156 ký tự, có từ khóa chính, mang tính hành động, rõ ràng.\",\n  \"chapters\": [\n    {\n      \"chapter_title\": \"Tiêu đề chương rõ ràng, phản ánh đúng nội dung chương và có liên kết với chủ đề bài viết.\",\n      \"image_suggestion_keyword\": \"từ khóa ảnh, bắt buộc là tiếng Anh và chứa từ khóa chính của chủ đề\",\n      \"file_name\": \"ten-file-chapter-seo\",\n      \"alt_text\": \"mô tả ảnh bằng tiếng Việt ngắn gọn, có từ khóa và đúng ngữ cảnh chương\"\n    }\n  ],\n  \"conclusion\": \"Đoạn kết ngắn gọn, dễ hiểu, tóm lược nội dung và nhấn mạnh thông điệp cuối cùng để lại cho người đọc.\",\n  \"cta\": \"Thông điệp kêu gọi hành động mạnh mẽ, thúc đẩy người đọc hành động sau bài viết.\",\n  \"cta_url\": \"https://link-hanh-dong.com\",\n  \"company_offering\": \"Giới thiệu chi tiết về sản phẩm/dịch vụ công ty đang cung cấp, nhấn mạnh giá trị mang lại cho khách hàng mục tiêu.\"\n}\n",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1200,
        -20
      ],
      "id": "51ea36f7-9ee1-47f5-af91-b14995ba45e0",
      "name": "Blog Planner",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "df6b94b4-5d1b-40fe-affc-ffd304af7ac9",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        -20
      ],
      "id": "54aea179-8dbb-4231-830c-389b5cbbfa21",
      "name": "Check empty output"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2560,
        0
      ],
      "id": "9401c00a-096c-4bcc-8630-5e02ca03ccb9",
      "name": "Internal&Article"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Chủ đề: {{ $json.chapter_title }}",
        "options": {
          "systemMessage": "=Bạn là một chuyên gia nghiên cứu trong lĩnh vực ô tô với quyền truy cập vào các công cụ nghiên cứu chuyên sâu. Nhiệm vụ của bạn là thực hiện **nghiên cứu chi tiết và toàn diện** cho từng chủ đề chương riêng biệt của bài viết, đặc biệt tập trung vào **bối cảnh ngành ô tô tại thị trường Việt Nam**. Vui lòng tuân thủ chặt chẽ các hướng dẫn sau:\n\n## Mục tiêu:\n- Thực hiện nghiên cứu chuyên sâu, tập trung vào chủ đề của chương hiện tại đã được cung cấp.\n- Thu thập đầy đủ thông tin liên quan đến chương đó, bao gồm: Thông số kỹ thuật, công nghệ, tính năng, thị trường, hành vi người tiêu dùng.\n- Ưu tiên sử dụng **nguồn tiếng Việt** hoặc thông tin có tính liên hệ trực tiếp với thị trường Việt Nam (nếu có).\n\n## Yêu cầu về kết quả đầu ra:\n- Trả về **toàn bộ kết quả nghiên cứu nguyên bản**, bao gồm:\n   - Dữ liệu kỹ thuật (động cơ, tiêu hao nhiên liệu, kích thước, tiện nghi, an toàn, công nghệ, thị hiếu người dùng…).\n   - Trình bày rõ ràng, không tóm tắt, không thêm ý kiến cá nhân.\n\n##  Đảm bảo tính chính xác & nguyên vẹn:\n- Tuyệt đối không được tóm tắt, viết lại hay diễn giải lại nội dung.\n- Không thêm bình luận chủ quan hoặc ý kiến cá nhân.\n- Nội dung phải phản ánh đúng và đầy đủ kết quả trả về từ công cụ nghiên cứu, không lược bỏ bất kỳ phần nào.\n\n## Định dạng & Văn phong:\n- Trình bày kết quả dưới dạng **văn bản thuần (plain text)** với cấu trúc rõ ràng.\n- Văn phong chuyên nghiệp, kỹ thuật, mang tính nghiên cứu."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3080,
        160
      ],
      "id": "942bcde4-3806-44d4-9511-b3cbe606cad8",
      "name": "Research Chapter",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Nhiệm vụ (Task)\nViết một **chương nội dung hoàn chỉnh, hấp dẫn và chuyên sâu bằng tiếng Việt** cho một bài viết thuộc lĩnh vực **ngành ô tô tại thị trường Việt Nam**. Nội dung cần được triển khai dựa trên **tài liệu nghiên cứu đã cung cấp trước đó**, đảm bảo yếu tố **chính xác, đầy đủ thông tin kỹ thuật, có chiều sâu phân tích và trình bày mạch lạc**.\nChương viết ra phải có **sự liên kết chặt chẽ với chủ đề tổng thể của bài viết**, đồng thời thể hiện rõ chủ đề tiểu mục đang được đề cập, tránh viết nội dung quá chung chung hoặc tách rời khỏi mạch chính.\n\n---\n\n## Dữ liệu đầu vào (Input Data)\n\n- **Chủ đề tổng thể của bài viết:**  \n  `{{ $('Initial Research').first().json.output.topic }}`\n   - Đây là chủ đề chính của toàn bài viết, mọi chương nội dung cần đảm bảo có sự liên kết xuyên suốt với chủ đề này.\n- **Tổng quan nghiên cứu ban đầu:**  \n  `{{ $('Initial Research').first().json.output.research_overview }}`\n   - Tài liệu nghiên cứu nền tảng tổng quát, giúp bạn hiểu bối cảnh bài viết, đặc điểm sản phẩm và góc nhìn thị trường cần triển khai.\n- **Tiêu đề chương hiện tại (Chapter title):** \n  `{{ $('Loop Over Items').item.json.chapter_title }}`\n   -  Đây là tiêu đề tiểu mục tương ứng với chương bạn đang viết. Cần sử dụng để phát triển thành một tiêu đề hấp dẫn và tự nhiên hơn\n- **Kết quả nghiên cứu chi tiết cho chương:**\n   - Đây là nội dung nghiên cứu chuyên sâu dành riêng cho chương hiện tại, là dữ liệu chính để triển khai nội dung chương.\n  `{{ $json.output }}`\n\n- *Danh sách liên kết nội bộ (Blog URLs):**  \n  *(Chỉ sử dụng nếu thực sự phù hợp với nội dung chương. Mỗi URL chỉ được dùng một lần duy nhất trong toàn bài.)*  \n  ```\n{{ $('Loop Over Items').item.json.loc.join(\"\\n\") }}\n  ```\n- **Cài đặt độ dài nội dung chương:**  \n  Mỗi chương nên có độ dài khoảng **`{{ Math.round($('Setting').item.json.Max_word_count / $('Setting').item.json.Chapters) }}` từ**  \n  - Đảm bảo nội dung đủ sâu, mạch lạc và tối ưu trải nghiệm đọc mà không lan man.\n\n---\n\n## Hướng dẫn viết nội dung\n\n### Tiêu đề chương (Chapter Title)\n- **Diễn đạt rõ ràng và hấp dẫn**:Tiêu đề chương cần thể hiện rõ trọng tâm nội dung của chương, sử dụng ngôn ngữ mô tả sinh động, lôi cuốn và thu hút người đọc ngay từ phần nhìn đầu tiên.\n- **Liên kết chặt chẽ với chủ đề tổng thể**: Tiêu đề chương phải có sự kết nối rõ ràng với chủ đề chính của toàn bài viết. Tránh viết tiêu đề lạc đề hoặc không phản ánh được mối liên hệ nội dung giữa các phần trong bài.\n- **Ngôn ngữ tự nhiên, phù hợp với độc giả Việt Nam**: Tiêu đề cần sử dụng cách diễn đạt tự nhiên, dễ hiểu, phù hợp với văn phong tiếng Việt và thói quen tiếp cận nội dung của độc giả Việt. Tránh các cách dịch cứng nhắc hoặc kiểu tiêu đề máy móc.\n- **Tránh lạm dụng dấu câu không cần thiết**: Không sử dụng dấu hai chấm (:) hoặc dấu gạch ngang (-) trong tiêu đề chương để đảm bảo tính liền mạch và tối ưu cho trải nghiệm đọc.\n\n### Nội dung và Cấu trúc chương (Content and Structure)\n- **Triển khai nội dung xuyên suốt và chuyên sâu**: Xây dựng nội dung chương dưới dạng một mạch kể chuyện liền mạch, có chiều sâu phân tích rõ ràng. Cần bao phủ toàn bộ nội dung chủ đề của chương, tránh viết theo kiểu liệt kê rời rạc hoặc chia thành nhiều tiểu mục nhỏ không cần thiết.\n- **Hạn chế sử dụng tiêu đề phụ**: Nếu thật sự cần chia nhỏ nội dung bên trong chương, chỉ nên sử dụng tối đa 1–2 tiêu đề phụ lớn mang tính định hướng. Tuyệt đối không chia nhỏ chương thành quá nhiều đoạn có tiêu đề riêng, tránh gây phân mảnh nội dung và giảm trải nghiệm đọc.\n- **Đảm bảo sự liền mạch giữa các chương**: Nội dung chương cần được triển khai theo mạch logic chung của toàn bài viết, đảm bảo sự kết nối tự nhiên với các chương liền trước và sau. Không chèn phần giới thiệu mở đầu riêng cho chương hay kết luận chương riêng biệt — mọi nội dung phải hòa nhập với mạch nội dung tổng thể.\n\n### Phong cách trình bày và Định dạng nội dung (Style and Formatting)\n- **Định dạng Markdown:** Sử dụng định dạng Markdown đơn giản để làm nổi bật các nội dung cần nhấn mạnh, chẳng hạn như **in đậm hoặc in nghiêng**. Nếu thật sự cần phân chia nội dung theo phần, có thể sử dụng tiêu đề phụ lớn (H2), tuy nhiên hạn chế tối đa việc lạm dụng các tiêu đề nhỏ (H3) để tránh làm ngắt mạch đọc và phân mảnh nội dung.\n- **Câu văn ngắn gọn, rõ ràng:** Ưu tiên sử dụng câu văn ngắn, mạch lạc, trung bình dưới 20 từ mỗi câu để đảm bảo dễ đọc, dễ hiểu và tăng trải nghiệm cho người đọc.\n- **Đầu ra ở dạng văn bản thuần (Plain Text Output):** Nội dung cần được trình bày dưới dạng **văn bản thuần có sử dụng định dạng Markdown nếu cần, không được chèn thêm các cấu trúc JSON khác, không có tiêu đề phụ không cần thiết, và không thêm bất kỳ đoạn mô tả hoặc đánh dấu ngoài yêu cầu.**\n\n### Nội dung cần tránh (Prohibited Content)\n- **Tránh sử dụng các cụm từ sáo rỗng, mơ hồ hoặc mang tính khẩu hiệu chung chung**, ví dụ như: “Trong thế giới hiện đại ngày nay”, “Cuộc sống ngày càng phát triển nhanh chóng” hoặc những cụm từ cường điệu không mang lại giá trị thông tin cụ thể cho người đọc.\n- **Không đề cập đến bất kỳ tên sản phẩm hoặc dịch vụ cụ thể nào** trong nội dung chương (ngoài nội dung chủ đề chính của bài viết nếu đã được chỉ định sẵn). Tránh đưa các nội dung quảng bá mang tính thương mại không liên quan trực tiếp đến nội dung nghiên cứu.\n\n### Liên kết nội dung giữa các chương (Context Consideration)\n{{ $itemIndex > 0 ? \"- Previous chapter title: \" + $('Loop Over Items').all()[$itemIndex - 1].json.chapter_title : \"\" }}\n{{ $itemIndex < $input.all().length - 1 ? \"- Next chapter title: \" + $('Loop Over Items').all()[$itemIndex + 1].json.chapter_title : \"\" }}\n \n- Khi viết nội dung cho chương hiện tại, cần đảm bảo tính liền mạch với các chương trước và sau trong toàn bộ bài viết.\n- Tránh lặp lại ý tưởng, khái niệm hoặc thông tin đã được đề cập ở các chương khác.\n- Nội dung cần được xây dựng như một phần trong tổng thể thống nhất, không bị tách rời về mặt nội dung hay dòng chảy thông tin.\n\n### Liên kết nội bộ (Internal Linking)\n- Xem xét kỹ danh sách các liên kết blog nội bộ (blog URLs) đã được cung cấp.\n- Lựa chọn **một đường dẫn phù hợp nhất với nội dung chương hiện tại**, và chèn vào nội dung như một **liên kết nội bộ tự nhiên**, sử dụng anchor text mang tính mô tả ý nghĩa, được phát triển từ nội dung của URL thay vì đơn thuần hiển thị đường dẫn thô.\n- *Chỉ sử dụng mỗi URL một lần duy nhất** trong toàn bộ bài viết. Nếu không có liên kết nào thực sự phù hợp với nội dung chương, có thể bỏ qua mà không cần chèn link.\n\n---\n\n## Viết \n\n---\n###  Định dạng đầu ra bắt buộc (Output Format (Strict Requirement))\nBạn **phải trả về duy nhất một đối tượng JSON hợp lệ**, tuân theo **định dạng chính xác dưới đây**, và **không được kèm theo bất kỳ nội dung nào khác** ngoài JSON.\n\nĐịnh dạng đầu ra phải có cấu trúc như sau (không sử dụng dấu nháy kép hoặc tiêu đề ngoài lề):\n{\n  \"chapter_title\": \"Tiêu đề chương (bằng tiếng Việt, hấp dẫn, có liên kết với topic tổng)\",\n  \"chapter_content\": \"Nội dung chương bằng tiếng Việt, trình bày liền mạch, có thể sử dụng Markdown đơn giản (ví dụ: **bold**, *italic*) nếu cần.\"\n}\n- **Không được chèn thêm phần giải thích, ghi chú, mô tả ngoài lề hoặc định dạng không cần thiết.**\n- **Không được sử dụng dấu đánh dấu khối mã (ví dụ: ```) hoặc bất kỳ ký tự phụ trợ nào ngoài dấu {} mở và đóng JSON.**\n- **Phần phản hồi của bạn sẽ được đánh giá nghiêm ngặt dựa trên việc tuân thủ định dạng JSON này. Bất kỳ phản hồi nào không đúng định dạng sẽ bị từ chối.**\n\n---\n\n## Lưu ý cuối cùng (Final Note)\n- Hãy đảm bảo chương được viết có độ dài phù hợp, khoảng {{ Math.round($('Setting').item.json.Max_word_count / $('Setting').item.json.Chapters) }} từ, đồng thời tuân thủ đầy đủ các hướng dẫn đã được nêu ở trên.\n- Nội dung chương cần được triển khai mạch lạc, có chiều sâu, thống nhất về ngữ nghĩa, và tránh chia nhỏ nội dung thành quá nhiều tiểu mục không cần thiết. Chương phải đóng vai trò như một phần liền mạch trong bài viết tổng thể, mang lại giá trị thực tiễn và trải nghiệm đọc trọn vẹn cho người dùng.\n- Giờ hãy viết chương theo đúng yêu cầu.",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        3500,
        160
      ],
      "id": "a3ba506c-93c8-4771-8df1-91132aeab484",
      "name": "Copywriter",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "name": "research_tool",
        "description": "Call this tool to do research. The input should be a topic.",
        "workflowId": {
          "__rl": true,
          "value": "EoPvFqTRrfxFOWuS",
          "mode": "list",
          "cachedResultName": "Research"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        3280,
        360
      ],
      "id": "36fb0c58-554a-47ba-bbac-096dd4b2e510",
      "name": "Research Tool 1"
    },
    {
      "parameters": {
        "name": "research_tool",
        "description": "Call this tool to do research. The input should be a topic.",
        "workflowId": {
          "__rl": true,
          "value": "EoPvFqTRrfxFOWuS",
          "mode": "list",
          "cachedResultName": "Research"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        840,
        200
      ],
      "id": "76f87028-4f5e-4f58-b214-ccfe934d07b2",
      "name": "Research Tool"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5afccf4-a534-42a3-8c33-772fc4e55a4a",
              "name": "chapter_title",
              "value": "={{ $json.output.chapter_title }}",
              "type": "string"
            },
            {
              "id": "facdd216-65ac-43d7-9efe-82eccde47e9a",
              "name": "chapter_content",
              "value": "={{ $json.output.chapter_content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4060,
        -40
      ],
      "id": "59d4926f-f822-44b9-9aa4-8d4a355701bc",
      "name": "Get title chapter and content"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Setting').item.json.Keyword }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1gK0JEGVUyQWfsuNpZQtY6GfK8i2TcUa1",
          "mode": "list",
          "cachedResultName": "Image_oto",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1gK0JEGVUyQWfsuNpZQtY6GfK8i2TcUa1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1840,
        -20
      ],
      "id": "1e1bc492-136a-4396-b8af-e175e2b3e225",
      "name": "Create Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2580,
        660
      ],
      "id": "43131881-9813-4bb8-b289-dfc0de66e0ec",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "name": "={{ $('Tách output').item.json.file_name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4220,
        860
      ],
      "id": "34971a1a-e5fc-42ff-9c87-771e684e0eaa",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://serpapi.com/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"engine\": \"google_images\",\n  \"q\": \"{{ $('Tách output').item.json.image_suggestion_keyword }}\",\n  \"location_requested\": \"United States\",\n  \"location_used\": \"United States\",\n  \"google_domain\": \"google.com\",\n  \"tbm\": \"isch\",\n  \"hl\": \"en\",\n  \"gl\": \"us\",\n  \"imgsz\": \"m\",\n  \"image_type\": \"photo\",\n  \"device\": \"desktop\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2780,
        760
      ],
      "id": "222711b7-29e6-40da-a3de-fdd26467114b",
      "name": "Search URL Image Google",
      "credentials": {
        "serpApi": {
          "id": "s7AgvtfJYXwuEi5E",
          "name": "SerpAPI (thipha0409)"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.original }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64)"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "file"
            }
          },
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3500,
        760
      ],
      "id": "b520d1c6-4241-480f-9ed0-509ec7e23ad0",
      "name": "Download Image"
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 800,
        "height": 0,
        "options": {
          "fileName": "={{ $('Loop Over Items1').item.json.file_name }}",
          "format": "webp"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        3780,
        760
      ],
      "id": "8cf74b18-1f9d-4633-af99-f782306f4148",
      "name": "Resize Image",
      "retryOnFail": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "images_results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3000,
        760
      ],
      "id": "f57b288d-185f-49bb-b438-cb48acc25e4f",
      "name": "Image Scource"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3240,
        760
      ],
      "id": "d5dfb5b7-f142-4cd4-9512-4f648fae3380",
      "name": "Get 1 Image"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4680,
        760
      ],
      "id": "3c101188-ab62-47b3-bb26-08696401ed40",
      "name": "Merge"
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4900,
        840
      ],
      "id": "139c07f9-ffc7-45cc-9d97-d9ee8677f83e",
      "name": "Wait1",
      "webhookId": "ad381969-167c-48aa-9ea9-50e7a615b669"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5140,
        140
      ],
      "id": "88fa5ace-454b-431c-8da7-f32713680ffa",
      "name": "Merge1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Google Sheets Trigger1').item.json.Website }}/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{ $binary.data.fileName }}.{{ $binary.data.fileExtension }}\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4120,
        680
      ],
      "id": "1896ca86-1582-49d6-9e6c-119b00da56e6",
      "name": "Upload chapter images",
      "credentials": {
        "wordpressApi": {
          "id": "QgbogXv2coNRFVF3",
          "name": "hondaotosaigonquan2.com.vn"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Limit2').item.json.Website }}/wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "alt_text",
              "value": "={{ $('Tách output').item.json.alt_text }}"
            },
            {
              "name": "title",
              "value": "={{ $('Tách output').item.json.chapter_title }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4340,
        680
      ],
      "id": "68059eea-4a26-4338-b22c-e50bf50a64b4",
      "name": "Update image meta data",
      "credentials": {
        "wordpressApi": {
          "id": "QgbogXv2coNRFVF3",
          "name": "hondaotosaigonquan2.com.vn"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.original }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3560,
        1080
      ],
      "id": "a113eb13-9568-4d39-a1b2-9bd9e738dc74",
      "name": "Download Image1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 800,
        "height": 0,
        "options": {
          "fileName": "=feature{{ $('Setting').item.json.Keyword }}",
          "format": "webp"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        3800,
        1080
      ],
      "id": "7b76747b-6b4a-4e82-9871-2b836dfdb03b",
      "name": "Resize Image1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "images_results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3060,
        1080
      ],
      "id": "18931063-6bdf-4ba6-886e-902fcd610fd4",
      "name": "Image Scource1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3300,
        1080
      ],
      "id": "3566a431-bcb1-42b2-a241-58358a5a0ad9",
      "name": "Get 1 Image1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        6640,
        160
      ],
      "id": "ada59336-5742-4070-8361-612df367a5c6",
      "name": "Merge3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting').item.json.Website }}/wp-json/wp/v2/posts/{{ $('Wordpress').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7d7d06bc-9cc6-430b-9a84-6f0ab0cde46d",
      "name": "Set featured image for post",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        7100,
        160
      ],
      "typeVersion": 4.1,
      "credentials": {
        "wordpressApi": {
          "id": "QgbogXv2coNRFVF3",
          "name": "hondaotosaigonquan2.com.vn"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://serpapi.com/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"engine\": \"google_images\",\n  \"q\": \"{{ $('Setting').item.json.Keyword }}\",\n  \"location_requested\": \"Vietnam\",\n  \"location_used\": \"Vietnam\",\n  \"google_domain\": \"google.com\",\n  \"tbm\": \"isch\",\n  \"hl\": \"vi\",\n  \"gl\": \"vn\",\n  \"imgsz\": \"l\",\n  \"image_type\": \"photo\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2820,
        1080
      ],
      "id": "77395a33-ee58-48bf-85ad-2c520534e5d1",
      "name": "Search URL Featured Image",
      "credentials": {
        "serpApi": {
          "id": "s7AgvtfJYXwuEi5E",
          "name": "SerpAPI (thipha0409)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hondaotosaigonquan2.com.vn/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"feature{{ $('Setting').item.json.Keyword }}.{{ $binary.data.fileExtension }}\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "bd41935a-4e07-4e81-bc66-b4b1d4867620",
      "name": "Upload featured image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        6860,
        160
      ],
      "typeVersion": 4.1,
      "credentials": {
        "wordpressApi": {
          "id": "QgbogXv2coNRFVF3",
          "name": "hondaotosaigonquan2.com.vn"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-28T14:36:32.646Z",
  "versionId": "d035c1c1-2864-4d14-84d4-54fff4be6840"
}