credentials/C2VMJR1R9WnrZtVT.json
{
  "active": false,
  "connections": {
    "Generate featured image": {
      "main": [
        [
          {
            "node": "Upload featured image to Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resize featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get post sitemap": {
      "main": [
        [
          {
            "node": "Get XML file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get XML file": {
      "main": [
        [
          {
            "node": "Split out links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out links": {
      "main": [
        [
          {
            "node": "Limit internal links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate chapter image": {
      "main": [
        [
          {
            "node": "Upload chapter images to Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resize Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize Image": {
      "main": [
        [
          {
            "node": "Upload chapter images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload chapter images": {
      "main": [
        [
          {
            "node": "Update image meta data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge chapters title and text": {
      "main": [
        [
          {
            "node": "Combine into article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown to HTML": {
      "main": [
        [
          {
            "node": "FInal article in HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post on Wordpress": {
      "main": [
        [
          {
            "node": "Wait featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize featured image": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload featured image": {
      "main": [
        [
          {
            "node": "Update featured image meta data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update image meta data": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge chapters title and text",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Generate chapter image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update featured image meta data": {
      "main": [
        [
          {
            "node": "Set featured image for post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set featured image for post": {
      "main": [
        [
          {
            "node": "Set excerpt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set excerpt": {
      "main": [
        [
          {
            "node": "Create Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check inputs": {
      "main": [
        [
          {
            "node": "Get post sitemap",
            "type": "main",
            "index": 0
          },
          {
            "node": "Initial Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Doc": {
      "main": [
        [
          {
            "node": "Save texts to Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload chapter images to Drive": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Save texts to Doc": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get output": {
      "main": [
        [
          {
            "node": "Generate featured image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split out chapters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Drive folder": {
      "main": [
        [
          {
            "node": "Get output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload featured image to Drive": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Wait featured image",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Researcher": {
      "main": [
        [
          {
            "node": "Copywriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Tool": {
      "ai_tool": [
        [
          {
            "node": "Initial Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Blog Planner",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Research Tool1": {
      "ai_tool": [
        [
          {
            "node": "Researcher",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait featured image": {
      "main": [
        [
          {
            "node": "Upload featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Copywriter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "Initial Research",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Check inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initial Research": {
      "main": [
        [
          {
            "node": "Blog Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out chapters": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copywriter": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit internal links": {
      "main": [
        [
          {
            "node": "Aggregate internal links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Get title chapter and content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Researcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get title chapter and content": {
      "main": [
        [
          {
            "node": "Merge chapters title and text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final article in Markdown": {
      "main": [
        [
          {
            "node": "Markdown to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FInal article in HTML": {
      "main": [
        [
          {
            "node": "Post on Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine into article": {
      "main": [
        [
          {
            "node": "Final article in Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate internal links": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Limit to last post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Planner": {
      "main": [
        [
          {
            "node": "Check empty output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Initial Research",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Blog Planner",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Researcher",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Copywriter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check empty output": {
      "main": [
        [
          {
            "node": "Create Drive folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Blog Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to last post": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PerplexityAI API": {
      "main": [
        [
          {
            "node": "Get Research Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "PerplexityAI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-03-09T04:36:29.206Z",
  "id": "C2VMJR1R9WnrZtVT",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "2024_02_28_WordPress_Blog_Automation_Pro__Deep_Research__v1",
  "nodes": [
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate a photographic image to be used as the cover image for the article titled {{ $('Blog Planner').first().json.output.title }}, {{ $('Blog Planner').first().json.output.subtitle }}\nThis is the prompt for the image: {{ $('Blog Planner').first().json.output.image.imagePrompt }}, photography, realistic. Do not show any texts in the image.",
        "options": {
          "quality": "standard",
          "size": "1792x1024",
          "style": "natural"
        }
      },
      "id": "e19c2a2a-54f8-48ca-bce4-725f6efddec8",
      "name": "Generate featured image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1060,
        1580
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        780,
        380
      ],
      "id": "e16b7834-8a35-44d1-b87e-f94317271d66",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "## Settings",
        "height": 431,
        "width": 707,
        "color": 2
      },
      "id": "3ad0d932-8106-4210-80c7-f57bd4c523e7",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2820,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Create Article structure\n",
        "height": 431,
        "width": 707,
        "color": 2
      },
      "id": "cbbf8568-b6de-4985-9fce-efa62aa7dd5d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1220,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Research keywords & Generate text for each chapter\n",
        "height": 671,
        "width": 2627,
        "color": 2
      },
      "id": "e147fc6e-34ba-4295-a110-fd75001c9b82",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        180,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Get all internal links\n",
        "height": 231,
        "width": 1207,
        "color": 2
      },
      "id": "26e1e91a-7709-423d-9c96-eb831c15fee5",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Generate image for each chapter and save to Drive",
        "height": 431,
        "width": 2307,
        "color": 2
      },
      "id": "b2130ddb-80b8-47cf-ab3a-9a18b4d53ebd",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        1020
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Combine and finalize the article\n",
        "height": 431,
        "width": 987,
        "color": 2
      },
      "id": "6c7e01d2-dd53-4aa2-9b49-3ceeb2bd4871",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3260,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Publish article to website\n",
        "height": 431,
        "width": 527,
        "color": 2
      },
      "id": "321551ef-8c65-43de-90b2-ed7a1e7c3c95",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4320,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Set featured image for the article\n",
        "height": 431,
        "width": 947,
        "color": 2
      },
      "id": "dc6d0efc-a8f4-4e13-89bc-22a0a0ff3be4",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4880,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://{{ $json.Website }}/post-sitemap.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        40
      ],
      "id": "8a4eb62f-80a7-4c24-ae33-006a345e6e17",
      "name": "Get post sitemap"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        340,
        40
      ],
      "id": "520ecb8b-cc34-4bd3-9ef5-e5dc0f829c62",
      "name": "Get XML file"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urlset.url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        40
      ],
      "id": "be233edf-1e78-4174-8391-60eba7470514",
      "name": "Split out links"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate a photographic image to be used as the cover image for the chapter {{ $json.title }} in the article titled {{ $('Blog Planner').first().json.output.title }},\nThis is the prompt for the image: {{ $json.image.imagePrompt }}, photography, realistic. Do not show any texts in the image.",
        "options": {
          "quality": "standard",
          "size": "1792x1024",
          "style": "natural"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        1380,
        1180
      ],
      "id": "32b7f852-bd9b-4762-a1c9-b274fb44ad2e",
      "name": "Generate chapter image",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "resize",
        "dataPropertyName": "=data",
        "width": 800,
        "height": 800,
        "options": {
          "fileName": "={{ $('Split out chapters').item.json.image.file_name }}",
          "format": "webp"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1640,
        1080
      ],
      "id": "cf1c149e-bf08-455c-8c3a-2c0cc497e0e1",
      "name": "Resize Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{ $binary.data.fileName }}.{{ $binary.data.fileExtension }}\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "1409fd2e-40e7-4528-9a40-f8e65975e483",
      "name": "Upload chapter images",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1940,
        1140
      ],
      "typeVersion": 4.1,
      "credentials": {
        "wordpressApi": {
          "id": "mMsblukJDhYhqjHZ",
          "name": "amoo.com.vn"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "87a5c4a2-b8e9-4c6e-9e34-4b6441b1eb1a",
      "name": "Merge chapters title and text",
      "type": "n8n-nodes-base.merge",
      "position": [
        3380,
        640
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.article }}",
        "destinationKey": "article",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        4040,
        640
      ],
      "id": "bbbc789b-89a7-46c0-ba5c-e8937bea42ab",
      "name": "Markdown to HTML"
    },
    {
      "parameters": {
        "title": "={{ $('Blog Planner').first().json.output.title }}",
        "additionalFields": {
          "content": "={{ $('FInal article in HTML').item.json.article }}",
          "slug": "={{ $('Blog Planner').first().json.output.slug }}",
          "status": "publish",
          "categories": [
            403
          ]
        }
      },
      "id": "14ec45fe-1a08-41e9-8f79-70fc5866aab3",
      "name": "Post on Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        4640,
        640
      ],
      "typeVersion": 1,
      "credentials": {
        "wordpressApi": {
          "id": "mMsblukJDhYhqjHZ",
          "name": "amoo.com.vn"
        }
      }
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 800,
        "height": 800,
        "options": {
          "fileName": "={{ $('Blog Planner').item.json.output.image.file_name }}",
          "format": "webp"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1460,
        1520
      ],
      "id": "17108942-6b1e-4c8f-af9a-6bc4c7a926db",
      "name": "Resize featured image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{ $('Blog Planner').item.json.output.image.file_name }}.{{ $binary.data.fileExtension }}\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "85e6eb24-e93e-47fc-a6b0-2ed83a83823e",
      "name": "Upload featured image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5200,
        660
      ],
      "typeVersion": 4.1,
      "credentials": {
        "wordpressApi": {
          "id": "mMsblukJDhYhqjHZ",
          "name": "amoo.com.vn"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/posts/{{ $('Post on Wordpress').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2446b61e-27ea-4b12-b86a-7a5eda2e7c91",
      "name": "Set featured image for post",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5620,
        660
      ],
      "typeVersion": 4.1,
      "credentials": {
        "wordpressApi": {
          "id": "mMsblukJDhYhqjHZ",
          "name": "amoo.com.vn"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "alt_text",
              "value": "={{ $('Split out chapters').first().json.image.alt_text }}"
            },
            {
              "name": "title",
              "value": "={{ $('Split out chapters').first().json.image.caption }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Split out chapters').first().json.image.caption }}"
            },
            {
              "name": "description",
              "value": "={{ $('Split out chapters').first().json.image.caption }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2140,
        1140
      ],
      "id": "0457f592-16b9-4927-aaae-293e338c8832",
      "name": "Update image meta data",
      "credentials": {
        "wordpressApi": {
          "id": "mMsblukJDhYhqjHZ",
          "name": "amoo.com.vn"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1060,
        1060
      ],
      "id": "f1cd40fb-0229-42d4-a960-8888c675544f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "alt_text",
              "value": "={{ $('Blog Planner').first().json.output.image.alt_text }}"
            },
            {
              "name": "title",
              "value": "={{ $('Blog Planner').first().json.output.image.caption }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Blog Planner').first().json.output.image.caption }}"
            },
            {
              "name": "description",
              "value": "={{ $('Blog Planner').first().json.output.image.caption }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5420,
        660
      ],
      "id": "195313b8-b5e2-40fb-af2b-f2a8da3bea05",
      "name": "Update featured image meta data",
      "credentials": {
        "wordpressApi": {
          "id": "mMsblukJDhYhqjHZ",
          "name": "amoo.com.vn"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "178011dc-bb76-420d-a01e-5a5d9797957e",
              "name": "response",
              "value": "=A new blog post was created and published at {{ $('Post on Wordpress').item.json.link }}. All the generated materials are saved to Google Drive: https://drive.google.com/drive/folders/{{ $('Create Drive folder').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7240,
        660
      ],
      "id": "4946565a-c11c-4f7c-8437-ae24e04dc492",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Generate featured image and save to Drive",
        "height": 451,
        "width": 2027,
        "color": 2
      },
      "id": "a035c147-994f-4a86-9eda-bdd4bb902446",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        780,
        1500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## SEO\n",
        "height": 431,
        "width": 507,
        "color": 2
      },
      "id": "cbe1477a-746f-46e5-95b8-92a415b56f4c",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5860,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/posts/{{ $('Post on Wordpress').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "excerpt",
              "value": "={{ $('Blog Planner').first().json.output.googleExcerpt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5920,
        660
      ],
      "id": "b8ed3efe-4980-425f-88a2-477dfcb0c024",
      "name": "Set excerpt",
      "credentials": {
        "wordpressApi": {
          "id": "mMsblukJDhYhqjHZ",
          "name": "amoo.com.vn"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2600,
        1180
      ],
      "id": "24992247-ff7a-44da-b047-94e2892ae7fc",
      "name": "Wait1",
      "webhookId": "c2e09c43-ce4e-4e27-b963-4cbd8d8b5567",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a5e0892b-6f70-46d4-81fc-e33321dc87b9",
              "leftValue": "={{ $json.Website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b4b4c8d5-9acb-4b8d-be85-7cb70954da7d",
              "leftValue": "={{ $json.Topic }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "48f46993-3214-48b6-a7d1-54a23c0cad48",
              "leftValue": "={{ $json['Target audience'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5599e8bf-4ed9-4316-9b2d-3eea6f74e9a3",
              "leftValue": "={{ $json['Max word count'] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "4b177d23-d6e7-4444-8bbb-fe4d5064da03",
              "leftValue": "={{ $json['Number of chapters'] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "34b9e9d2-c5a3-4878-a12a-f5ad87b43efa",
              "leftValue": "={{ $json['Introduction length'] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "68969bc3-a14a-4459-95d3-7c6a0cb279ce",
              "leftValue": "={{ $json['Conclusion length'] }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "30633e71-924d-4f0f-9ea8-f2d4a119ae51",
              "leftValue": "={{ $json.style }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "ecb3a6a6-a19a-40b5-8026-2b26cca361de",
              "leftValue": "={{ $json['Category ID'] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2360,
        380
      ],
      "id": "1af2efcb-eb76-4313-8c55-7d504fcc2d5c",
      "name": "Check inputs"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Final article in Markdown').item.json.article }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        6700,
        660
      ],
      "id": "28629de7-bb3b-44ca-81c1-31cddb53a3fe",
      "name": "Save texts to Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "FBIsiwZrvt3m5rjG",
          "name": "Google Docs API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "folderId": "={{ $('Create Drive folder').item.json.id }}",
        "title": "={{ $('Create Drive folder').item.json.name }} "
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        6480,
        660
      ],
      "id": "e4497c66-04a4-4852-8359-595dad612231",
      "name": "Create Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "FBIsiwZrvt3m5rjG",
          "name": "Google Docs API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Blog Planner').item.json.output.image.file_name }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Drive folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1460,
        1760
      ],
      "id": "75804cb7-f743-41bf-9ebe-429629a7bfaa",
      "name": "Upload featured image to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Split out chapters').item.json.image.file_name }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Drive folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1640,
        1280
      ],
      "id": "076ed841-6363-400f-a0d1-95bdc9115897",
      "name": "Upload chapter images to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8cada260-4cd5-4470-8dba-139cec531ddc",
              "name": "output",
              "value": "={{ $('Blog Planner').item.json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -40,
        360
      ],
      "id": "06fbc1b5-6476-4cef-82a0-ecef47b64bc7",
      "name": "Get output"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.output.title.replace(/ /g, \"_\") }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1KVAwQmkBkctpZ8rBfwOyuy7_7x-Rm20a",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -320,
        360
      ],
      "id": "164371ac-c04b-4e86-989f-0949fd07fef9",
      "name": "Create Drive folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1880,
        1640
      ],
      "id": "eb83c067-f7be-4d25-abb7-4c528abb5c7c",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2360,
        1180
      ],
      "id": "ae7edc50-3e97-4d58-ae10-899532081483",
      "name": "Merge1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $json.chapter_title }}",
        "options": {
          "systemMessage": "=You are a researcher with access to advanced research tools. Your task is to search the internet using the provided topic and return the full, unabridged research output. Follow these instructions carefully:\n\n## Complete and Detailed Output:\n   - Return the full research result including every detail, section, and technical nuance.\n   - Do not shorten, summarize, or omit any parts of the research. Include all numerical data, technical terms, section headers, lists, and analysis as found.\n\n## Accuracy:\n   - Return the exact research result provided by your research tool. Do not modify or paraphrase the content.\n   - Your response should be as detailed as the research source, reflecting every aspect of the findings.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1400,
        520
      ],
      "id": "33dc799e-f7c4-4c7e-bd32-55e70015d0ad",
      "name": "Researcher"
    },
    {
      "parameters": {
        "name": "research_tool",
        "description": "Call this tool to do research. The input should be a topic.",
        "workflowId": {
          "__rl": true,
          "value": "TkcGa16IAv5FqnJX",
          "mode": "list",
          "cachedResultName": "2024_02_28_WordPress_Blog_Automation_Pro__Deep_Research__v1_subflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -1600,
        620
      ],
      "id": "95358b4c-083f-4e69-bde8-8a5af3602f9a",
      "name": "Research Tool"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3920,
        900
      ],
      "id": "73a35fb5-4164-4034-b170-4f29097b5726",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"string\",\n  \"subtitle\": \"string\",\n  \"introduction\": \"string\",\n  \"slug\": \"string\",\n  \"google_excerpt\": \"string\",\n  \"google_meta_description\": \"string\",\n  \"chapters\": [\n    {\n      \"chapter_title\": \"string\",\n      \"image\": {\n        \"image_prompt\": \"string\",\n        \"file_name\": \"string\",\n        \"caption\": \"string\",\n        \"alt_text\": \"string\"\n      }\n    }\n  ],\n  \"conclusion\": \"string\",\n  \"image\": {\n    \"image_prompt\": \"string\",\n    \"file_name\": \"string\",\n    \"caption\": \"string\",\n    \"alt_text\": \"string\"\n  },\n  \"cta\": \"string\",\n  \"cta_url\": \"string\",\n  \"company_offering\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -780,
        600
      ],
      "id": "441893c8-fffc-43c4-a2fd-30415cc5cc8d",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "name": "research_tool",
        "description": "Call this tool to do research. The input should be a topic.",
        "workflowId": {
          "__rl": true,
          "value": "TkcGa16IAv5FqnJX",
          "mode": "list",
          "cachedResultName": "2024_02_28_WordPress_Blog_Automation_Pro__Deep_Research__v1_subflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1660,
        780
      ],
      "id": "31688a79-5848-4b11-bcf6-5acf27f27e53",
      "name": "Research Tool1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2560,
        520
      ],
      "id": "ed2345ac-f5a0-4955-8012-b56d65a1cf19",
      "name": "Wait2",
      "webhookId": "76c3315a-5570-401f-a378-000346a945b0",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4980,
        660
      ],
      "id": "05e74fc9-3baf-42f0-a1b8-c3254da66f03",
      "name": "Wait featured image"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"chapter_title\": {\n      \"type\": \"string\"\n    },\n    \"chapter_content\": {\n      \"type\": \"string\"\n    }\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2200,
        780
      ],
      "id": "8eb71e21-7c32-41e0-82e7-f71a048c9c67",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"topic\": {\n      \"type\": \"string\"\n    },\n    \"research_overview\": {\n      \"type\": \"string\"\n    },\n    \"subtopics\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"subtopic_title\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1440,
        620
      ],
      "id": "e7d74491-d408-43e3-89ca-7717f0124c86",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "deb6621e-982a-4e20-a1c1-1140be02cad3",
              "name": "Website",
              "value": "={{ $json.Website }}",
              "type": "string"
            },
            {
              "id": "fdd24a9b-649b-4088-b085-da0be99f3d86",
              "name": "Topic",
              "value": "={{ $json.Topic }}",
              "type": "string"
            },
            {
              "id": "2b0b01e1-8a4b-4cf4-8327-bc6e0ca30ef8",
              "name": "Target audience",
              "value": "={{ $json.Target_audience }}",
              "type": "string"
            },
            {
              "id": "0dafb0ac-5735-4243-84cc-85e787697892",
              "name": "Max word count",
              "value": "={{ $json.Max_word_count }}",
              "type": "number"
            },
            {
              "id": "3bab3dcd-e18d-4b22-9c86-a8e9b60ea5c3",
              "name": "Number of chapters",
              "value": "={{ $json.Chapters }}",
              "type": "number"
            },
            {
              "id": "191105bb-4f7e-4b4f-bab7-95fa1f858c43",
              "name": "Introduction length",
              "value": "={{ $json.Introduction_length }}",
              "type": "number"
            },
            {
              "id": "d1368f97-9249-4bb6-9c5c-f3185b7ef9eb",
              "name": "Conclusion length",
              "value": "={{ $json.conclusion_length }}",
              "type": "number"
            },
            {
              "id": "9579a7f2-1a4e-45b7-8cd7-ef249073798d",
              "name": "style",
              "value": "={{ $json.Style }}",
              "type": "string"
            },
            {
              "id": "1575eee8-6b01-4d0f-8304-68d4d541f0f7",
              "name": "Category ID",
              "value": "={{ $json.Category_ID }}",
              "type": "number"
            },
            {
              "id": "ae45f0c3-1ed6-4901-bf50-359ea3da33a9",
              "name": "CTA",
              "value": "={{ $json.CTA }}",
              "type": "string"
            },
            {
              "id": "c71d3ccd-369d-4c50-8f57-1cb693af14be",
              "name": "CTA URL",
              "value": "={{ $json.CTA_URL }}",
              "type": "string"
            },
            {
              "id": "f6e4ce2b-6d29-4ca8-9b91-6236701d71b5",
              "name": "Company Offering",
              "value": "={{ $json.Company_offering }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2640,
        380
      ],
      "id": "a3501c43-1c08-4c6f-be0b-b1db8c617534",
      "name": "Settings"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Topic\n- Provide the topic: `{{ $json.Topic }}`.\n\n## Research Overview\n- Provide a comprehensive, detailed, and thorough research overview about the topic: `{{ $json.Topic }}`.\n- Include all key aspects from the research.\n- Integrate specific details, numerical data, technical terms, and any important insights from the research.\n- Avoid overly brief summaries; ensure that each point is fully explained and substantiated.\n\n## Subtopics\n- Identify exactly {{ $json['Number of chapters'] }} subtopics that directly relate to the main topic.\n- For each subtopics should accurately capture the essence of the chapter.\n- **Each subtopic title must explicitly reference or incorporate the main topic `{{ $json.Topic }}`** to ensure a clear and direct link to the overall subject.\n- Each subtopics should cover a distinct aspect of the research, ensuring that the entire scope of the topic is represented with depth and clarity.\n\n## Output Detail and Depth\n- Ensure that the research overview is exhaustive, capturing all important details from the research content provided.\n- Your analysis should be sufficiently long and detailed, addressing each segment (technological, economic, geopolitical, and societal) with in-depth explanations and supporting details.\n- Each subtopic should reflect the multifaceted nature of the main topic and include a subtopic title that clearly demonstrates its connection to `{{ $json.Topic }}`.\n\n## Formatting Requirements\n- Your output must be in valid JSON format, following the structure below exactly:\n  ```json\n  {\n    \"topic\": \"Your main topic here\",\n    \"research_overview\": \"A comprehensive and detailed overview of the research findings, including all relevant details, technical terms, and in-depth analysis...\",\n    \"subtopics\": [\n      {\n        \"subtopic_title\": \"Subtopic Title that explicitly references the main topic\"\n      }\n      // Include exactly the specified number of chapters.\n    ]\n  }\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a researcher with access to advanced research tools. Your task is to search the internet using the provided keywords and return the full, unabridged research output. Follow these instructions carefully:\n\n## Complete and Detailed Output:\n   - Return the full research result including every detail, section, and technical nuance.\n   - Do not shorten, summarize, or omit any parts of the research. Include all numerical data, technical terms, section headers, lists, and analysis as found.\n\n## Accuracy:\n   - Return the exact research result provided by your research tool. Do not modify or paraphrase the content.\n   - Your response should be as detailed as the research source, reflecting every aspect of the findings.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1780,
        360
      ],
      "id": "45d8e181-8787-4e73-8f00-302e7d1bafa8",
      "name": "Initial Research"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.chapters",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        380,
        360
      ],
      "id": "93efbead-f1e3-4147-9136-666a0e0f2f02",
      "name": "Split out chapters"
    },
    {
      "parameters": {
        "content": "## Initial research",
        "height": 431,
        "width": 727,
        "color": 2
      },
      "id": "ba802a5b-1a57-440a-8b60-d7bf9f3275a8",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2000,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Create Drive folder to save",
        "height": 431,
        "width": 627,
        "color": 2
      },
      "id": "8536b0f4-c6cd-47b3-a816-ef3d09c0f1aa",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save to Doc\n",
        "height": 431,
        "width": 627,
        "color": 2
      },
      "id": "93bf241b-eeb9-482b-971e-5411c17686b7",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6420,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Task\nWrite a detailed, cohesive chapter for an article based on the provided research materials and context. The chapter should flow naturally without segmenting the content into many short or shallow subtopics. Additionally, craft a chapter title that is inspired by the given subtopic title—but make it descriptive, engaging, and interesting, while strongly tying back to the overall article topic.\n\n---\n\n## Input Data\n\n- **Overall Article Topic:**  \n  `{{ $('Initial Research').first().json.output.topic }}`\n\n- **Initial Research Overview:**  \n  `{{ $('Initial Research').first().json.output.research_overview }}`\n\n- **Chapter title:** \n  `{{ $('Loop Over Items2').item.json.chapter_title }}`\n- **Detailed Research Results for the Chapter:**  \n  `{{ $json.output }}`\n\n- **Blog URLs for Internal Links:**  \n  *(Use these only if relevant, each URL once)*  \n  ```\n{{ $('Loop Over Items2').item.json.internal_links.join(\"\\n\") }}\n  ```\n- **Word Count Setting:**  \n  Each chapter should be approximately `{{ Math.round($('Settings').first().json['Max word count']) / $('Settings').first().json['Number of chapters'] }}` words long.\n\n---\n\n## Writing Guidelines\n\n### Chapter Title\n- **Descriptive and Engaging:** Develop a chapter title that is descriptive, engaging, and interesting.\n- **Tie Back to the Article Topic:** Ensure the title makes a strong connection with the overall article topic to provide coherence and context.\n\n### Content and Structure\n- **Comprehensive Narrative:** Develop a unified, in-depth narrative that covers the chapter topic thoroughly. Instead of breaking the chapter into multiple short subtopics (e.g., several H3 headings), aim for a fluid, integrated discussion.\n- **Minimal Subheadings:** If internal headings are necessary, limit them to at most one or two broad sections. The content should not be segmented into many shallow subtopics.\n- **Seamless Integration:** Ensure the chapter integrates smoothly with both previous and following chapters. Do not include standalone introductions or conclusions.\n\n### Style and Formatting\n- **Markdown Formatting:** Use Markdown for emphasis (e.g., **bold**, *italic*) and to separate major sections if absolutely needed. Avoid overusing headings like H3 that break the narrative flow.\n- **Concise Sentences:** Aim to keep most sentences under 20 words for clarity.\n- **Plain Text Output:** Produce plain text with Markdown formatting only—no extra JSON structures or additional headers beyond what is specified.\n\n### Prohibited Content\n- Avoid generic phrases such as “In today’s fast-paced world” or similar clichés.\n- Do not mention any specific product or service names.\n\n### Context Consideration\n{{ $itemIndex > 0 ? \"- Previous chapter title: \" + $('Split out chapters').all()[$itemIndex - 1].json.chapter_title : \"\" }}  \n{{ $itemIndex < $input.all().length - 1 ? \"- Next chapter title: \" + $('Split out chapters').all()[$itemIndex + 1].json.chapter_title : \"\" }}  \n- Ensure the chapter content is coherent with both previous and following chapters and does not repeat concepts already discussed.\n\n### Internal Linking\n- Review the provided blog URLs.\n- Select one URL that is most relevant to the chapter’s content and embed it as an internal hyperlink with meaningful anchor text derived from the URL.\n- Use each URL only once; if none are relevant, do not include any links.\n\n---\n\n## Output Format\n\nReturn the chapter as a valid JSON object with exactly two keys:\n\n```json\n{\n  \"chapter_title\": \"<Descriptive, engaging chapter title tied to the overall article topic>\",\n  \"chapter_content\": \"<Chapter text formatted in Markdown>\"\n}\n```\n\n---\n\n## Final Note\n\nEnsure the chapter meets the specified word count (approximately `{{ Math.round($('Settings').first().json['Max word count']) / $('Settings').first().json['Number of chapters'] }}` words) and adheres to all the guidelines above. The chapter should be a cohesive, comprehensive narrative that avoids excessive segmentation into subtopics. Now, write the chapter accordingly.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert copywriter."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1960,
        520
      ],
      "id": "d03ead4c-3d77-4786-9b38-43c33d5d7d51",
      "name": "Copywriter"
    },
    {
      "parameters": {
        "maxItems": 20
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        800,
        40
      ],
      "id": "be25144f-937d-4689-bbba-764c47359e91",
      "name": "Limit internal links"
    },
    {
      "parameters": {
        "batchSize": "={{ $('Settings').item.json['Number of chapters'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1080,
        380
      ],
      "id": "c8e93062-6707-40e5-a9bd-65f2b62e636c",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3db2a3a4-d89e-4848-835c-1d6ac68419ac",
              "name": "chapter_title",
              "value": "={{ $json.output.chapter_title }}",
              "type": "string"
            },
            {
              "id": "25fbf572-7e57-4797-99ba-34fc1c8d560a",
              "name": "chapter_content",
              "value": "={{ $json.output.chapter_content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        360
      ],
      "id": "673278f3-eead-42bc-b8ca-3fbced964fb6",
      "name": "Get title chapter and content"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd9e8fee-8386-4410-8cb4-5ef83c265d52",
              "name": "article",
              "value": "={{ $json.article }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3820,
        640
      ],
      "id": "036a84a7-8137-4666-a0c2-9afa48e3f585",
      "name": "Final article in Markdown"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6877f11-541d-4ac5-8556-f10374322f2a",
              "name": "article",
              "value": "={{ $json.article }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4420,
        640
      ],
      "id": "7811b2a1-ced5-467e-b3b4-3cb44c33ab93",
      "name": "FInal article in HTML"
    },
    {
      "parameters": {
        "jsCode": "let article = \"\";\n\n// Introduction\narticle += $('Blog Planner').first().json.output.introduction;\narticle += \"\\n\\n\";\n\nfor (const item of $input.all()) {\n  // Add the chapter title as a Markdown level 2 header\n  article += \"## \" + item.json.chapter_title + \"\\n\\n\";\n  \n  // Insert the chapter image if it exists (using Markdown image syntax)\n  if (item.json.source_url) {\n    article += `![${item.json.title.rendered}](${item.json.source_url})\\n\\n`;\n  }\n  \n  // Add the chapter content\n  article += item.json.chapter_content;\n  article += \"\\n\\n\";\n}\n\n// Conclusion\narticle += \"## Final thoughts\\n\\n\";\narticle += $('Blog Planner').first().json.output.conclusion;\narticle += \"\\n\\n\";\n\n// Call-to-Action (CTA)\narticle += $('Blog Planner').first().json.output.cta + \"\\n\\n\";\narticle += \"Learn more: [\" + $('Blog Planner').first().json.output.cta_url + \"](\" + $('Blog Planner').first().json.output.cta_url + \")\\n\\n\";\n\n// Company Offering\narticle += \"## About us\\n\\n\";\narticle += $('Blog Planner').first().json.output.company_offering;\n\nreturn [\n  {\n    \"article\": article\n  }\n];\n"
      },
      "id": "0d516bdf-730e-44f9-8659-127d29bcf2f2",
      "name": "Combine into article",
      "type": "n8n-nodes-base.code",
      "position": [
        3600,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "loc",
              "renameField": true,
              "outputFieldName": "internal_links"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1020,
        40
      ],
      "id": "4b2e97af-79b9-4e4a-8875-f03deb9cf26c",
      "name": "Aggregate internal links"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1FowQPQda-K7YH7Rk08P6_qz_YS5LTdBz_d5sUVmJxnM",
          "mode": "list",
          "cachedResultName": "n8n_Blog_Automation_Pro_v2__SEO_topic_template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FowQPQda-K7YH7Rk08P6_qz_YS5LTdBz_d5sUVmJxnM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "blog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FowQPQda-K7YH7Rk08P6_qz_YS5LTdBz_d5sUVmJxnM/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -3920,
        380
      ],
      "id": "4f9f87d1-a1a6-47ec-b36c-72295e35fb4b",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "1DnhMaOtkvEN1OXm",
          "name": "Google Sheets Trigger (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3920,
        640
      ],
      "id": "646e61c4-4ca8-4b42-9f96-4cbe11c5fae0",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Instructions\n\nBased on the initial research:\n{{ $json.output.research_overview }}\n\nWrite an article about **{{ $('Settings').item.json.Topic }}** that targets **{{ $('Settings').item.json['Target audience'] }}** in a **{{ $('Settings').item.json.style }}** writing style. The article should have **{{ $('Settings').item.json['Number of chapters'] }}** chapters and a maximum word count of **{{ $('Settings').item.json['Max word count'] }}**.\n\nHere are subtopics, each subtopic will develop into a chapter:\n{{ $json.output.subtopics.toJsonString() }}\n\n**Important:** Every chapter must clearly and explicitly relate back to the overall topic. Each chapter should build on the main narrative and avoid generic or tangential subjects.\n\n### Title and Subtitle\nBased on the initial research, write an **engaging title** and a **concise subtitle** that reflect the topic and hint at the integrated content throughout the article.\n\n### Introduction\nCraft an introduction of approximately **{{ $('Settings').item.json['Introduction length'] }} words** that introduces the topic, establishes its relevance, and sets the stage for the detailed chapters. The introduction must hint at how each chapter will contribute to understanding the topic holistically.\n\n- **Avoid phrases** like:\n  - \"In this article\"\n  - \"In the fast-paced world\"\n  - \"Transformative\"\n\n### Slug\nCreate a **short, SEO-friendly URL slug**:\n- Ensure it contains the **SEO keyword phrase**.\n- Use **dashes (-)** to separate words.\n\n### Google Excerpt\nWrite a **Google-friendly excerpt** (up to **160 characters**):\n- Use an **active voice**.\n- Include the **target key phrase**.\n\n### Google Meta Description\nBased on the article content:\n- Limit to **156 characters**.\n- Use an **active voice** and make it **actionable**.\n- Include the **target key phrase**.\n\n### Chapters\nCreate detailed chapter content that remains tightly integrated with the overall article narrative:\n\n- **Structure**:\n  - For each chapter, provide a descriptive title that is **based on** the corresponding subtopic title.\n  - Chapters must be presented in an array field called **chapters**, with the following fields:\n    - `chapter_title`\n    - `image`\n  - Each chapter's title and subsequent content should be logically connected to the central theme, ensuring no chapter appears out of sync with the article’s focus.\n\n- **Markdown Formatting**:\n  - Use **bold**, *italic*, and _underline_ styles where appropriate.\n  - Include **lists** and **numbered lists** as needed.\n  \n- **Image Details** for Each Chapter:\n  - **Image Prompt**: Provide a vivid and detailed description of the image that ties directly to the chapter’s focus within the context of **{{ $('Settings').item.json.Topic }}**.\n  - **File Name**: Use a descriptive file name that reflects the chapter content (without an extension).\n  - **Caption**: Write a succinct summary of the image content, ensuring it reinforces the chapter's relevance.\n  - **Alt Text**: Provide an accessibility-focused description of the image.\n\n### Conclusion\nWrite a **{{ $('Settings').item.json['Conclusion length'] }}-word conclusion** summarizing the article and leaving the reader with a final takeaway.\n\n### Call-to-Action (CTA) and Company Offering\n- **CTA**: At the end of the article, include a compelling call-to-action message that motivates readers to take the next step: {{ $('Settings').item.json.CTA }}\n- **CTA URL**: Provide a URL for the CTA: {{ $('Settings').item.json['CTA URL'] }}\n- **Company Offering**: Include a detailed description of the company’s offering: {{ $('Settings').item.json['Company Offering'] }}\n\n---\n\n## Image Details for Article Cover\nThe article should include a **featured image object** with the following fields:\n\n- **Image Prompt**: A vivid and detailed description of the image reflecting the article's content and sentiment. \n- **File Name**: A descriptive file name for the cover image (without an extension).\n- **Caption**: A succinct summary of the cover image content.\n- **Alt Text**: An accessibility-focused description of the cover image.\n\n**Requirements** for the Cover Image:\n- **Aspect Ratio**: 16:9\n- Must be **relevant** to the article's content and sentiment.\n- Contain **rich details** and reflect the text content in a **photo-realistic style**.\n- Exclude any text other than the DALL-E 3 prompt.\n\n---\n\n### Output Format: JSON\nYour output must be in valid JSON format, following the structure below exactly:\n```json\n{\n  \"title\": \"The engaging headline of your article that grabs attention and encapsulates the main message.\",\n  \"subtitle\": \"A concise summary that complements the title and provides a clear insight into the article's focus.\",\n  \"introduction\": \"A compelling introduction of the specified word count that sets the stage by introducing the topic, context, and significance, drawing readers in from the start.\",\n  \"slug\": \"A short, SEO-friendly URL slug (3-5 words) that incorporates the SEO keyword phrase and uses dashes (-) to separate words.\",\n  \"google_excerpt\": \"A succinct, Google-friendly excerpt of up to 160 characters, written in an active voice and including the target key phrase.\",\n  \"google_meta_description\": \"A precise meta description of up to 156 characters that is actionable, written in an active voice, and includes the target key phrase.\",\n  \"chapters\": [\n    {\n      \"chapter_title\": \"A descriptive chapter title that clearly conveys the chapter’s focus and explicitly links back to the overall topic, based on the corresponding subtopic title.\",\n      \"image\": {\n        \"image_prompt\": \"A vivid and detailed description of the image to visually represent the chapter content.\",\n        \"file_name\": \"A descriptive file name for the chapter image (without file extension).\",\n        \"caption\": \"A brief caption summarizing the content and purpose of the image.\",\n        \"alt_text\": \"An accessibility-focused description of the image for screen readers.\"\n      }\n    }\n  ],\n  \"conclusion\": \"A concise conclusion of the specified word count that summarizes the article, reinforces the key insights, and leaves the reader with a final takeaway.\",\n  \"image\": {\n    \"image_prompt\": \"A vivid and detailed description of the cover image that reflects the article's overall content and sentiment.\",\n    \"file_name\": \"A descriptive file name for the cover image (without file extension).\",\n    \"caption\": \"A succinct caption summarizing the cover image’s content.\",\n    \"alt_text\": \"An accessibility-focused description of the cover image for users with visual impairments.\"\n  },\n  \"cta\": \"A compelling call-to-action message that motivates readers to take the next step based on the article's insights.\",\n  \"cta_url\": \"A URL where readers can learn more or take action, directly related to the call-to-action.\",\n  \"company_offering\": \"A detailed description of the company’s offering that explains its value and benefits to the target audience.\"\n}\n",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -1040,
        360
      ],
      "id": "d643c579-dd2c-4b96-a4d3-762c10ef05ee",
      "name": "Blog Planner"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1860,
        620
      ],
      "id": "c7badd69-1be2-45f7-b6c2-1791dd37918f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1060,
        600
      ],
      "id": "7620d8cd-1b37-4c5f-81b7-fcc3190212b6",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1360,
        780
      ],
      "id": "88284c06-8855-43a2-9793-4387532e17c9",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1940,
        780
      ],
      "id": "34f5bef1-32c4-43c9-9f8d-1929ca0b597f",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b043cc68-a129-4e84-a7c7-dfa1984cb986",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -680,
        360
      ],
      "id": "3d0d6745-d1d2-468c-9b2c-8a09ade569d8",
      "name": "Check empty output"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -3320,
        380
      ],
      "id": "8b1102e5-3b06-4358-abc2-740a283f4bc0",
      "name": "Limit to last post"
    },
    {
      "parameters": {},
      "id": "91faaf99-cc45-4f6c-bfcb-53161226dc13",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2620,
        1640
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.model }}\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify($json.system_message) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.query) }}\n    }\n  ],\n  \"max_tokens\": {{ $json.max_tokens }},\n  \"temperature\": 0.2,\n  \"top_p\": 0.9,\n  \"search_domain_filter\": null,\n  \"return_images\": false,\n  \"return_related_questions\": false,\n  \"search_recency_filter\": \"month\",\n  \"top_k\": 0,\n  \"stream\": false,\n  \"presence_penalty\": 0,\n  \"frequency_penalty\": 1,\n  \"response_format\": null\n}",
        "options": {}
      },
      "id": "163060d4-dcdc-49e9-b1e6-75e5f2866b20",
      "name": "PerplexityAI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2040,
        1640
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea477bb8-47dd-49be-9560-e29cc544cc9e",
              "name": "response",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8e067e49-5121-4a90-8ca5-b64bc1f8a044",
      "name": "Get Research Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1760,
        1640
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1543a7e-3509-4a39-b132-32106c34cb7c",
              "name": "model",
              "value": "sonar",
              "type": "string"
            },
            {
              "id": "c2cc5e5b-31d2-4964-9bc7-f0b55dd2ec1b",
              "name": "query",
              "value": "={{ $json.query }}",
              "type": "string"
            },
            {
              "id": "559d4864-9e2d-41ca-9dc4-01c4aa105276",
              "name": "system_message",
              "value": "Be thorough and comprehensive",
              "type": "string"
            },
            {
              "id": "3f954b4c-2f56-4397-9832-518fc5d32ae5",
              "name": "max_tokens",
              "value": "1000",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2280,
        1640
      ],
      "id": "fa5482ea-f561-420a-ba83-6ce3b8457393",
      "name": "Edit Fields1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Subworkflow - Research tool",
        "height": 340,
        "width": 1280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2760,
        1540
      ],
      "id": "e27c30c1-c571-489c-89d1-363ebf40d734",
      "name": "Sticky Note13",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## README\n\nThe **best content automation template** in the market is now even better—with “**deep research” on time-sensitive topics**\\! Unlike most n8n content automation templates that are mainly for “demo purposes,” this advanced n8n workflow is for the real PROs. It conducts **in-depth research on the latest information about a topic**, then automatically creates and publishes **SEO-optimized blog posts** to your WordPress website. In addition, it generates **a unique image for each chapter and a featured image for the overall article**, and it collects internal website links—**seamlessly inserting links** throughout each chapter and the entire article. Furthermore, it **backs up all content and images** to a designated folder in your Google Drive.\n\nThis integrated approach not only creates high-quality, comprehensive content for readers but also enhances on-page SEO, improves navigation, and streamlines your content creation process—saving you time while ensuring your work is securely stored.\n\nThis is a complimentary variation of the n8n WordPress Blog Automation Pro for SEO topics. That one specializes in auto-blogging content about established topics that do not need up-to-date information while this one takes it further by incorporating online research into the workflow. **Both make up the perfect combo to run your blog on autopilot\\!**\n\n## How It Works\n\n1. **Trigger:** It activates upon adding a new row to a Google Sheet. Users can control many customizable parameters, such as key topic, number of subtopics, target audience, length, and style.  \n2. **Initial Research:** The workflow initiates preliminary research on the topic to gather insights for the content planning phase.  \n3. **Structure Planning:** Based on the initial research, it plans a detailed structure for the entire article and breaks the article into subtopics strongly tied to the main topic.  \n4. **In-Depth Research & Writing:** For each subtopic, it conducts further research to gather the most up-to-date, relevant information, then uses that research to write each chapter in depth.  \n5. **Image Generation:** It generates and adds images for each chapter, as well as a featured image for the article.  \n6. **Internal Linking:** The system gathers internal website links and strategically embeds them within each chapter and throughout the article, boosting SEO and enhancing user navigation.  \n7. **Final Assembly & Publishing:** All texts, images, and links are combined into one comprehensive article, which is then published directly to your WordPress website. You can also choose to post it as a draft for final review.  \n8. **Auto Backup to Drive:** Get peace of mind knowing all content (blog post and images) is automatically saved to Google Drive, organized in a folder named after the blog post title.\n\n---\n\n## Unique Features\n\n1. **Deep Research:** The workflow leverages advanced, real-time research to gather the latest information about a topic. It breaks down the key topic into subtopics and conducts in-depth research on each one, ensuring the most comprehensive and current knowledge.  \n2. **Loop in Loop:** Clever looping is used to write each chapter and generate images (both chapter images and the featured image), ensuring optimal results. “Wait” nodes are added where appropriate to avoid API call rate limits.  \n3. **Full Automation:** Designed to be 100% automated, the workflow runs without manual intervention once imported and configured.  \n4. **Simple Activation:** It is easily triggered through the Google Sheets interface—simply add a new row to a Google Sheet.  \n5. **Customization Options:** Offers a wide array of options, including topic, category, target audience, word count, number of chapters, length of introduction and conclusion, and writing style. It also allows for the inclusion of calls-to-action (CTAs) and company/product introductions.  \n6. **Automatic Content Saving:** After the blog post is created, all content and images are automatically saved to Google Drive, preventing data loss. The folder is named after the blog post title.  \n7. **SEO-Optimized Content:** It is designed to create SEO-optimized content using seed keywords.  \n8. **Internal Link Limit:** The workflow limits the number of internal links to 20 by default.  \n9. **Error Catch:** “If” nodes are strategically used to ensure that the output from AI nodes strictly meets the JSON schema, ensuring a smooth flow of data without interruption.\n\nAnd many more big and small improvements.\n\n---\n\n## Requirements\n\nPlease make sure you have these requirements ready to ensure smooth deployment of this n8n workflow:\n\n1. OpenAI API or equivalent for text and image generation  \n2. PerplexityAI API or equivalent for online research  \n3. A WordPress website (other website platforms will not work\\!)  \n4. Google Sheets for triggering the workflow, or a trigger of your choice  \n5. Google Drive and Google Docs for auto backup\n\n---\n\n## Set Up Steps\n\n1. **Install the Workflow Template:** Import the JSON files into your n8n instance. There are 2 files: one for the main workflow and one for the research tool (PerplexityAI).  \n2. **Connect the Workflow with Your Accounts:** Link your credentials for OpenAI API, PerplexityAI API, Google Drive, Google Sheets, Google Docs, and your WordPress website.  \n3. **Configure the Google Sheet:** Ensure your Google Sheet is set up to trigger the workflow upon adding a new row and that the input data is correctly formatted.  \n4. **Customize the Workflow:** Adjust parameters like topic, target audience, and writing style to match your specific content needs. Optimize prompts for the best results.  \n5. **Test the Workflow:** Use low-cost AI models and image settings initially to ensure everything runs smoothly.  \n6. **Tailor Further as Needed:**  Modify workflow elements to perfectly align with your needs and content strategy.\n\n---\n\n## Tips for PROs\n\n1. **Image Generation:** The default AI model for image generation is OpenAI’s Dall-E. However, the outputs of this model are not impressive. Consider using FLUX.1 for image generation.  \n2. **Research:** PerplexityAI is the tool of choice for research. The default model used in this workflow is sonar due to its fast speed and low cost. Feel free to experiment with its other models, including the sonar-deep-research model, which is dedicated to deep research.  \n3. **Triggering:** Triggering with a new row on Google Sheets is limited and unreliable. Consider setting an auto trigger with a daily schedule at a specific time. You can even put the whole workflow in a loop to process multiple rows one-by-one from Google Sheets.  \n4. **Human in the Loop:** It is possible to incorporate a human review process. For example, after the article is posted to WordPress as a draft, a human can review the draft. Only after approval will the post be published, and a final copy of the post will be saved to the shared Drive folder.",
        "height": 2440,
        "width": 1620
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5740,
        340
      ],
      "id": "8e64d01c-6734-46cd-9d10-bfb5f7483f8f",
      "name": "Sticky Note14"
    }
  ],
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "json": {}
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-02-20T04:08:24.345Z",
      "updatedAt": "2025-02-20T04:08:24.345Z",
      "id": "Gv1k0DVSmyEB61kz",
      "name": "AI"
    },
    {
      "createdAt": "2025-02-20T04:08:24.352Z",
      "updatedAt": "2025-02-20T04:08:24.352Z",
      "id": "l0qG43hY9LtBKQbZ",
      "name": "WordPress"
    },
    {
      "createdAt": "2025-02-20T04:08:24.359Z",
      "updatedAt": "2025-02-20T04:08:24.359Z",
      "id": "Mw1m9iBiZ0Xoyh6H",
      "name": "OpenAI"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-03-14T11:53:44.701Z",
  "versionId": "92a70682-6af6-4ddc-9811-a72dee57f70d"
}