credentials/dyT4SamoZ44ymzKU.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-02T07:48:05.293Z",
  "id": "dyT4SamoZ44ymzKU",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Test trigger human",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "18c0a587-b9d1-499c-b787-525177082a4d",
      "name": "Telegram Trigger",
      "webhookId": "a0da65c2-393f-4f72-b3bf-c287f745e15e",
      "credentials": {
        "telegramApi": {
          "id": "EUJL0Q8mSeRtq6TP",
          "name": "Telegram NamLee"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        220,
        0
      ],
      "id": "780e0802-5ad0-4384-8058-416ec220cc20",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        140,
        220
      ],
      "id": "2e0a3183-70c3-4dd1-91bf-be37beb22fa9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        280,
        200
      ],
      "id": "6fc322e0-7d69-4441-88e4-e0ff56c0e673",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        480,
        220
      ],
      "id": "ba5d0461-af18-48dd-b49d-5ad5cfdd6e8a",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgZ6QgXTze23DhsT",
          "name": "Google Sheets API (namlee2807)"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 994561181,
          "message": {
            "message_id": 193,
            "from": {
              "id": 5369399797,
              "is_bot": false,
              "first_name": "Jinhin",
              "language_code": "en"
            },
            "chat": {
              "id": 5369399797,
              "first_name": "Jinhin",
              "type": "private"
            },
            "date": 1743580090,
            "text": "/start",
            "entities": [
              {
                "offset": 0,
                "length": 6,
                "type": "bot_command"
              }
            ]
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-02T07:49:18.692Z",
  "versionId": "0057622c-7672-4b22-99da-fd79d635d9f1"
}