credentials/EoPvFqTRrfxFOWuS.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "PerplexityAI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PerplexityAI API": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-13T09:26:19.142Z",
  "id": "EoPvFqTRrfxFOWuS",
  "meta": null,
  "name": "Research",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "3e16b330-0cc5-492c-968f-1701a45a6183",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c191b7a2-4e37-4381-b77d-2d4a27f1366b",
              "name": "model",
              "value": "=sonar",
              "type": "string"
            },
            {
              "id": "68071ef8-ab5d-4480-8f0a-c367673dce0b",
              "name": "query",
              "value": "={{ $json.query }}",
              "type": "string"
            },
            {
              "id": "cb22a8ea-a55f-4dba-9972-5dae2d897d56",
              "name": "system_message",
              "value": "Be thorough and comprehensive",
              "type": "string"
            },
            {
              "id": "7ed97d78-dc88-486d-a662-caf0fcb98371",
              "name": "token",
              "value": "1000",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "659f40d0-146b-4851-a46c-4e0aa6a85fa2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.model }}\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify($json.system_message) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.query) }}\n    }\n  ],\n  \"max_tokens\": {{ $json.token }},\n  \"temperature\": 0.2,\n  \"top_p\": 0.9,\n  \"search_domain_filter\": null,\n  \"return_images\": false,\n  \"return_related_questions\": false,\n  \"search_recency_filter\": \"month\",\n  \"top_k\": 0,\n  \"stream\": false,\n  \"presence_penalty\": 0,\n  \"frequency_penalty\": 1,\n  \"response_format\": null\n}",
        "options": {}
      },
      "id": "5c7f02ca-3ad2-499c-9494-17bea3e7f27f",
      "name": "PerplexityAI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "UnFzTSuz9IzMqNas",
          "name": "Perplexity API 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d4eced6-951d-4f4e-b0b4-11c2f351a57d",
              "name": "response",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        0
      ],
      "id": "f31bd516-5479-43be-bf8b-17d98bbfbafa",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-26T01:41:07.917Z",
  "versionId": "15f5c1ba-250b-4f1d-86d7-6fff05da7136"
}