credentials/FyJn1N8XIj5W06yi.json
{
  "active": false,
  "connections": {
    "Initial Research": {
      "main": [
        [
          {
            "node": "Blog Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Blog Planner",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Get title chapter and content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Research Chapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Research Chapter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Copywriter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Setting": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy output": {
      "main": [
        [
          {
            "node": "Tách output",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search URL Featured Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tách output": {
      "main": [
        [
          {
            "node": "Internal&Article",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger1": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Setting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Initial Research",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "ai_languageModel": [
        [
          {
            "node": "Initial Research",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "XML1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Internal&Article",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "XML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Initial Research",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Blog Planner",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Copywriter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Planner": {
      "main": [
        [
          {
            "node": "Check empty output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check empty output": {
      "main": [
        [
          {
            "node": "Create Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Blog Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Internal&Article": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Chapter": {
      "main": [
        [
          {
            "node": "Copywriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copywriter": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Tool 1": {
      "ai_tool": [
        [
          {
            "node": "Research Chapter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research Tool": {
      "ai_tool": [
        [
          {
            "node": "Initial Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get title chapter and content": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder": {
      "main": [
        [
          {
            "node": "Lấy output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Search URL Image Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search URL Image Google": {
      "main": [
        [
          {
            "node": "Image Scource",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Resize Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize Image": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload chapter images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Scource": {
      "main": [
        [
          {
            "node": "Get 1 Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 1 Image": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload chapter images": {
      "main": [
        [
          {
            "node": "Update image meta data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update image meta data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image1": {
      "main": [
        [
          {
            "node": "Resize Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Scource1": {
      "main": [
        [
          {
            "node": "Get 1 Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 1 Image1": {
      "main": [
        [
          {
            "node": "Download Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize Image1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Upload featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search URL Featured Image": {
      "main": [
        [
          {
            "node": "Image Scource1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload featured image": {
      "main": [
        [
          {
            "node": "Set featured image for post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set featured image for post": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PerplexityAI API": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "PerplexityAI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-13T09:11:38.386Z",
  "id": "FyJn1N8XIj5W06yi",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "SEO Post Tool",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Main Topic\n- Research topic: `{{ $json.Keyword }}`\n\n## Article Context\n- This article belongs to the **automotive industry**. It must reflect technical expertise and clearly convey automotive specifications, market trends, or product features.\n- Article Description: `{{ $json.Article_description }}`\n- Target Audience: `{{ $json.Target_audience }}`\n- Writing Style: `{{ $json.Style }}`\n\n## Research Overview Objective\n- Write a **comprehensive and in-depth research overview** on the topic: `{{ $json.Keyword }}`\n- Ensure the content:\n  - Covers all aspects as described in the article description.\n  - Includes technical specifications, statistical data, and automotive-related figures if available.\n  - Integrates market trends, competitive landscape, or consumer insights if relevant.\n  - Must be clearly structured and professionally written in `{{ $json.Style }}` style for `{{ $json.Target_audience }}` audience.\n\n## Subtopic Structure\n- Divide the article into **{{ $json.Chapters }} independent subtopics**, each focusing on a specific aspect of the main topic.\n- Each **subtopic title must include the keyword `{{ $json.Keyword }}`** to maintain topic coherence.\n- Each subtopic must:\n  - Be aligned with real-world automotive industry context.\n  - Balance technical content, user experience, and market perspective.\n  - Highlight the multifaceted nature of the product or research topic.\n\n## Expected Output\n- All output must be written in **Vietnamese**.\n- Return results in the following **valid JSON format**:\n```json\n{\n  \"topic\": \"Tên chủ đề chính\",\n  \"research_overview\": \"Tổng quan nghiên cứu bằng tiếng Việt chuyên sâu, có số liệu, kỹ thuật và phân tích ngành ô tô\",\n  \"subtopics\": [\n    {\n      \"subtopic_title\": \"Tiêu đề tiểu mục có chứa từ khóa chính\"\n    }\n    //Ensure it includes exactly the number of subtopics defined in `{{ $json.Chapters }}`\n  ]\n}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert automotive industry researcher with access to the most advanced, accurate and up-to-date research tools. Your role is to conduct comprehensive research on the automotive sector using the latest data and sources available on the internet.\nYour research must focus specifically and exclusively on the automotive market in Vietnam. Do not include global market data unless it directly supports or contrasts the Vietnamese context.\n## Please ensure that your research is:\n- Factual and up-to-date: Cite reliable and authoritative sources only (e.g., industry reports, manufacturer data, market research firms, news outlets).\n- In-depth and structured: Present insights with clear sections such as Market Trends, Consumer Behavior, Competitive Landscape, Technological Innovations, Product Segmentation, and Regional Market Analysis.\n- Localized when relevant: If the topic relates to a specific region or market (e.g., Vietnam), tailor your research output with local context, consumer data, and regional trends.\n- Data-supported: Include quantitative figures, market growth rates, sales data, and technical specifications where applicable.\n- Formatted for clarity: Use bullet points, section headers, tables, and charts (if supported) to enhance readability.\nYour task is to return the full, unabridged and structured research output with maximum detail and accuracy. Avoid generalizations or speculative claims without supporting evidence.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1020,
        1180
      ],
      "id": "b7d89e3e-8383-489a-902f-55c1676882e4",
      "name": "Initial Research"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1540,
        1420
      ],
      "id": "724acf39-5d45-43a5-9070-3dea8c6cf1eb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": "={{ $('Setting').item.json.Chapters }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3560,
        1200
      ],
      "id": "2c2fb32c-1323-47f7-a0d5-649114699f9e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4860,
        1380
      ],
      "id": "fa63de39-24bf-4037-b215-c82f2e102a77",
      "name": "Wait",
      "webhookId": "57c764dd-34e4-4985-b890-e00325a3b08c"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3880,
        1580
      ],
      "id": "e6a1ddbf-acb1-4994-91c8-a32955aff91b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4320,
        1580
      ],
      "id": "cc1c933d-9cb4-46f3-9ff1-c769e00b86c7",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad784d08-27fd-4189-b48a-0f7d0950d237",
              "name": "Website",
              "value": "={{ $json.Website }}",
              "type": "string"
            },
            {
              "id": "42a27cc8-6d50-4556-854e-5e6722716656",
              "name": "Keyword",
              "value": "={{ $json.Keyword }}",
              "type": "string"
            },
            {
              "id": "ef220c1c-0093-47ac-abb8-d05a327d1eb5",
              "name": "Article_description",
              "value": "={{ $json.Article_description }}",
              "type": "string"
            },
            {
              "id": "2544c5d1-7790-4a1d-b789-0651bdfc8945",
              "name": "Max_word_count",
              "value": "={{ $json.Max_word_count }}",
              "type": "number"
            },
            {
              "id": "fd51cf35-75ab-4b73-8e89-4e22b41869e0",
              "name": "Target_audience",
              "value": "={{ $json.Target_audience }}",
              "type": "string"
            },
            {
              "id": "be6358c5-8a28-41e4-8e7b-475507b14d2f",
              "name": "Chapters",
              "value": "={{ $json.Chapters }}",
              "type": "number"
            },
            {
              "id": "df8d1fec-a9dc-4be3-a766-3c0e170c317a",
              "name": "Introduction_length",
              "value": "={{ $json.Introduction_length }}",
              "type": "number"
            },
            {
              "id": "4850ada7-62e7-4cbd-8b3a-e70af244b0e3",
              "name": "conclusion_length",
              "value": "={{ $json.conclusion_length }}",
              "type": "number"
            },
            {
              "id": "147c2da1-c1c9-4837-b63e-6e05c292f0c2",
              "name": "Style",
              "value": "={{ $json.Style }}",
              "type": "string"
            },
            {
              "id": "0cc84838-02f9-4a38-8683-0bea8b8eb782",
              "name": "Category_ID",
              "value": "={{ $json.Category_ID }}",
              "type": "number"
            },
            {
              "id": "7d436648-dbf0-498d-8883-09bc43403b15",
              "name": "CTA",
              "value": "={{ $json.CTA }}",
              "type": "string"
            },
            {
              "id": "5cd867d2-163f-4ebf-ad0a-ee1721d623e2",
              "name": "CTA_URL",
              "value": "={{ $json.CTA_URL }}",
              "type": "string"
            },
            {
              "id": "7f68068e-3046-4b2b-9bb0-84fbb47c25b7",
              "name": "Company_offering",
              "value": "={{ $json.Company_offering }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        1200
      ],
      "id": "418c731f-213b-4e9d-8894-e6aa718ca28c",
      "name": "Setting"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8aa74ec2-15d5-4328-a6cc-866b66485f73",
              "name": "output",
              "value": "={{ $('Blog Planner').item.json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        1180
      ],
      "id": "35105a3f-acc4-4797-b664-383cce88be9b",
      "name": "Lấy output"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.chapters",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2620,
        1180
      ],
      "id": "641e431c-45f7-4c99-816a-0d27db0ed5cc",
      "name": "Tách output"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1cXDMu_Z-y3vHNzGVefMpqh8_-it9ASDNKx5ybuPR2Ek",
          "mode": "list",
          "cachedResultName": "Data-seo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cXDMu_Z-y3vHNzGVefMpqh8_-it9ASDNKx5ybuPR2Ek/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cXDMu_Z-y3vHNzGVefMpqh8_-it9ASDNKx5ybuPR2Ek/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        1200
      ],
      "id": "69da320d-0fd4-4651-85d2-9fc35555341e",
      "name": "Google Sheets Trigger1",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "1DnhMaOtkvEN1OXm",
          "name": "Google Sheets Trigger (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        80,
        1200
      ],
      "id": "ef8b16f6-e64b-4515-8c75-1b063a6f4185",
      "name": "Limit2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "641c0265-fe58-4733-9a35-7f3e6d95276f",
              "leftValue": "={{ $json.Website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "96c6a0eb-161b-4600-99cd-58120cc24ce1",
              "leftValue": "={{ $json.Keyword }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2ec857e1-be25-40f2-9e74-76b13b8a09ef",
              "leftValue": "={{ $json.Article_description }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "72417de3-efdf-48ae-ac8b-4df0f50d0940",
              "leftValue": "={{ $json.Max_word_count }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "33255ead-0538-4918-9afc-e694ff6634a7",
              "leftValue": "={{ $json.Target_audience }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5c47f67d-d946-4eae-bc92-bd3efe9dd117",
              "leftValue": "={{ $json.Chapters }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "d7fbcd47-56b7-4fa6-a970-b83637395b63",
              "leftValue": "={{ $json.Introduction_length }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9b7ad616-8a89-4847-b183-640256e468fa",
              "leftValue": "={{ $json.conclusion_length }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e0f18712-fcba-4451-bbc9-a7133fc77e8f",
              "leftValue": "={{ $json.Style }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        520,
        1200
      ],
      "id": "675e86e1-f0f1-400f-8488-c0b0680d7ece",
      "name": "If1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        920,
        1400
      ],
      "id": "cd3fb36c-8072-43b9-a153-fe0cf28aa989",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1740,
        760
      ],
      "id": "606b7061-eede-461e-81bf-1a26e220dc6a",
      "name": "XML1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urlset.url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1960,
        760
      ],
      "id": "993cde35-64c6-4524-b487-5eaf2350135c",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "maxItems": 20
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2180,
        760
      ],
      "id": "a358dc01-60b5-4955-91d7-9eb051371d63",
      "name": "Limit3"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "loc"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2400,
        760
      ],
      "id": "6fe28dd3-a4a1-499a-9cfd-87853921c799",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "url": "=https://{{ $json.Website }}/post-sitemap.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        760
      ],
      "id": "bca78549-14ae-4e36-9572-d84045bac231",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"topic\": {\n      \"type\": \"string\"\n    },\n    \"research_overview\": {\n      \"type\": \"string\"\n    },\n    \"subtopics\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"subtopic_title\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1320,
        1400
      ],
      "id": "c88134fc-dcf9-451d-8dd0-26686847a979",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"string\",\n  \"subtitle\": \"string\",\n  \"introduction\": \"string\",\n  \"slug\": \"string\",\n  \"google_excerpt\": \"string\",\n  \"google_meta_description\": \"string\",\n  \"chapters\": [\n    {\n      \"chapter_title\": \"string\",\n      \"image_suggestion_keyword\": \"string (short keyword for image search, max 5 words or 50 characters)\",\n      \"file_name\": \"string (SEO-friendly, hyphen-separated, no extension)\",\n      \"alt_text\": \"string (Vietnamese alt text describing the image for SEO)\"\n    }\n  ],\n  \"conclusion\": \"string\",\n  \"cta\": \"string\",\n  \"cta_url\": \"string\",\n  \"company_offering\": \"string\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1760,
        1420
      ],
      "id": "d8c6393a-a7b3-45ef-80a8-1a90a82abe45",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"chapter_title\": {\n      \"type\": \"string\"\n    },\n    \"chapter_content\": {\n      \"type\": \"string\"\n    }\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        4500,
        1580
      ],
      "id": "6b5926e9-028f-40e2-9dd4-382e1c4242f3",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "jsCode": "let article = \"\";\n\n// Thêm phần mở đầu (Introduction)\narticle += $('Blog Planner').first().json.output.introduction + \"\\n\\n\";\n\n// Duyệt qua từng chương từ các node đầu vào (chứa cả tiêu đề, nội dung và ảnh)\nfor (const item of $input.all()) {\n  const title = item.json.chapter_title || \"Chapter\";\n  const content = item.json.chapter_content || \"\";\n  const imageUrl = item.json.source_url || \"\";\n\n  // Thêm tiêu đề chương\n  article += `## ${title}\\n\\n`;\n\n  // Thêm hình ảnh nếu có\n  if (imageUrl !== \"\") {\n    article += `![${title}](${imageUrl})\\n\\n`;\n  }\n\n  // Thêm nội dung chương\n  article += content + \"\\n\\n\";\n}\n\n// Thêm phần kết luận (Conclusion)\narticle += \"###Liên hệ\\n\\n\";\narticle += $('Blog Planner').first().json.output.conclusion + \"\\n\\n\";\n\n// Thêm phần kêu gọi hành động (CTA)\narticle += $('Blog Planner').first().json.output.cta + \"\\n\\n\";\narticle += \"Xem thêm: [\" + $('Blog Planner').first().json.output.cta_url + \"](\" + $('Blog Planner').first().json.output.cta_url + \")\\n\\n\";\n\n// Thêm phần giới thiệu công ty (Company Offering)\narticle += \"###Giới thiệu doanh nghiệp\\n\\n\";\narticle += $('Blog Planner').first().json.output.company_offering;\n\n// Xuất kết quả\nreturn [\n  {\n    article\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5820,
        1680
      ],
      "id": "da8d2919-2543-4e15-a008-18fd6d7fe396",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02a12b46-ee14-492c-b4ba-cc4daccb95ed",
              "name": "article",
              "value": "={{ $json.article }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6100,
        1680
      ],
      "id": "804231d9-8d0f-4752-ae0a-8abcd1443a2f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.article }}",
        "destinationKey": "article",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        6320,
        1680
      ],
      "id": "5b3dc657-783b-4738-b278-4066e98732f4",
      "name": "Markdown"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9eae4d86-f7cf-4304-8cc9-fd53aae5d1fa",
              "name": "article",
              "value": "={{ $json.article }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6540,
        1680
      ],
      "id": "eb950f34-7bff-4397-887c-de207fa4f37d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "title": "={{ $('Blog Planner').first().json.output.title }}",
        "additionalFields": {
          "content": "={{ $json.article }}",
          "slug": "={{ $('Blog Planner').first().json.output.slug }}",
          "status": "publish"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        6780,
        1680
      ],
      "id": "5ea82bb0-2787-45c0-af34-3198e4f29df1",
      "name": "Wordpress",
      "credentials": {
        "wordpressApi": {
          "id": "QgbogXv2coNRFVF3",
          "name": "hondaotosaigonquan2.com.vn"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Instructions\n\nBased on the initial research:\n{{ $json.output.research_overview }}\n\nWrite an article about **{{ $('Setting').item.json.Keyword }}** that targets **{{ $('Setting').item.json.Target_audience }}** in a **{{ $('Setting').item.json.Style }}** writing style. The article should have **{{ $('Setting').item.json.Chapters }}** chapters and a maximum word count of **{{ $('Setting').item.json.Max_word_count }}**.\n\nHere are subtopics, each subtopic will develop into a chapter:\n{{ $json.output.subtopics.toJsonString() }}\n\n**Important:** Every chapter must clearly and explicitly relate back to the overall topic. Each chapter should build on the main narrative and avoid generic or tangential subjects.\n\n### Title and Subtitle\nBased on the initial research, write an **engaging title** and a **concise subtitle** that reflect the topic and hint at the integrated content throughout the article.\n\n### Introduction\nCraft an introduction of approximately **{{ $('Setting').item.json.Introduction_length }} words** that introduces the topic, establishes its relevance, and sets the stage for the detailed chapters. The introduction must hint at how each chapter will contribute to understanding the topic holistically.\n\n- **Avoid phrases** like:\n  - \"In this article\"\n  - \"In the fast-paced world\"\n  - \"Transformative\"\n\n### Slug\nCreate a **short, SEO-friendly URL slug**:\n- Ensure it contains the **SEO keyword phrase**.\n- Use **dashes (-)** to separate words.\n\n### Google Excerpt\nWrite a **Google-friendly excerpt** (up to **160 characters**):\n- Use an **active voice**.\n- Include the **target key phrase**.\n\n### Google Meta Description\nBased on the article content:\n- Limit to **156 characters**.\n- Use an **active voice** and make it **actionable**.\n- Include the **target key phrase**.\n\n### Chapters\nCreate detailed chapter content that remains tightly integrated with the overall article narrative:\n\n- **Structure**:\n  - For each chapter, provide a descriptive title that is **based on** the corresponding subtopic title.\n  - Chapters must be presented in an array field called **chapters**, with the following fields:\n    - `chapter_title`\n  - Each chapter's title and subsequent content should be logically connected to the central theme, ensuring no chapter appears out of sync with the article’s focus.\n\n- **Markdown Formatting**:\n  - Use **bold**, *italic*, and _underline_ styles where appropriate.\n  - Include **lists** and **numbered lists** as needed.\n\n### Conclusion\nWrite a **{{ $('Setting').item.json.conclusion_length }}-word conclusion** summarizing the article and leaving the reader with a final takeaway.\n\n### Call-to-Action (CTA) and Company Offering\n- **CTA**: At the end of the article, include a compelling call-to-action message that motivates readers to take the next step: {{ $('Setting').item.json.CTA }}\n- **CTA URL**: Provide a URL for the CTA: {{ $('Setting').item.json.CTA_URL }}\n- **Company Offering**: Include a detailed description of the company’s offering: {{ $('Setting').item.json.Company_offering }}\n\n---\n\n### Output Format: JSON\nYour output must be in valid JSON format, following the structure below exactly:\n```json\n{\n  \"title\": \"The engaging headline of your article that grabs attention and encapsulates the main message.\",\n  \"subtitle\": \"A concise summary that complements the title and provides a clear insight into the article's focus.\",\n  \"introduction\": \"A compelling introduction of the specified word count that sets the stage by introducing the topic, context, and significance, drawing readers in from the start.\",\n  \"slug\": \"A short, SEO-friendly URL slug (3-5 words) that incorporates the SEO keyword phrase and uses dashes (-) to separate words.\",\n  \"google_excerpt\": \"A succinct, Google-friendly excerpt of up to 160 characters, written in an active voice and including the target key phrase.\",\n  \"google_meta_description\": \"A precise meta description of up to 156 characters that is actionable, written in an active voice, and includes the target key phrase.\",\n  \"chapters\": [\n  {\n    \"chapter_title\": \"A descriptive chapter title that clearly conveys the chapter’s focus and explicitly links back to the overall topic, based on the corresponding subtopic title.\",\n    \"image_suggestion_keyword\": \"A short, precise keyword or phrase (max 5 words or 7 characters) that can be used to search for relevant images on Google, based on this chapter’s focus.\",\n    \"file_name\": \"A short, SEO-friendly, hyphen-separated filename (no extension), related to the chapter content and image keyword.\",\n    \"alt_text\": \"A meaningful, concise Vietnamese alt text describing the image, for SEO and accessibility.\"\n  }\n]\n  \"conclusion\": \"A concise conclusion of the specified word count that summarizes the article, reinforces the key insights, and leaves the reader with a final takeaway.\",\n  \"cta\": \"A compelling call-to-action message that motivates readers to take the next step based on the article's insights.\",\n  \"cta_url\": \"A URL where readers can learn more or take action, directly related to the call-to-action.\",\n  \"company_offering\": \"A detailed description of the company’s offering that explains its value and benefits to the target audience.\"\n}\n",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1560,
        1180
      ],
      "id": "81bf1bf5-33f9-415c-9e84-1e90cd13c319",
      "name": "Blog Planner"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "df6b94b4-5d1b-40fe-affc-ffd304af7ac9",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1960,
        1180
      ],
      "id": "f45ea731-efbb-4d42-8d15-82a72c1b5eea",
      "name": "Check empty output"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3300,
        1200
      ],
      "id": "f6ca8b97-eb10-42cd-881d-f2543e1cb5af",
      "name": "Internal&Article"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Chủ đề: {{ $json.chapter_title }}",
        "options": {
          "systemMessage": "=You are an automotive researcher with access to advanced research tools. Your task is to conduct in-depth research specifically for each chapter topic related to the automotive industry, especially in the context of the Vietnamese market. Follow these instructions carefully:\n\n## Objective:\n- Research detailed content specifically for the current chapter topic provided.\n- Focus on gathering all relevant information, specifications, technologies, features, and insights that belong to this chapter only.\n- Prioritize Vietnamese-language sources or content relevant to the Vietnamese automotive market when available.\n\n## Output Requirements:\n- Return the full and raw research result from your tool, including every technical detail, metric, and description.\n- Include all related data such as: engine types, fuel consumption, dimensions, comfort features, safety systems, smart technologies, and customer preferences in Vietnam.\n- Use clear section headers such as: \"Performance\", \"Design & Comfort\", \"Technology & Safety\", \"Consumer Trends in Vietnam\", etc.\n- Include all available technical terms, lists, numeric data, and structured information if found.\n\n## Accuracy and Integrity:\n- Do NOT summarize or rephrase the content.\n- Do NOT add your own opinion or additional commentary.\n- Your output must reflect exactly what your research tool returns — detailed, complete, unfiltered.\n\n## Format & Tone:\n- Maintain a technical, professional, and research-based tone.\n- Present your research result in plain text format with clear structure."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3900,
        1380
      ],
      "id": "f8de0eb2-a009-4524-ae87-6c6ce9ca5e3a",
      "name": "Research Chapter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Task\nWrite a comprehensive and engaging chapter in **Vietnamese** for an article about the automotive industry in Vietnam. Use the provided research materials and context to ensure depth, accuracy, and clarity. The chapter should flow naturally without segmenting the content into many short or shallow subtopics. Additionally, craft a chapter title that is inspired by the given subtopic title—but make it descriptive, engaging, and interesting, while strongly tying back to the overall article topic.\n\n---\n\n## Input Data\n\n- **Overall Article Topic:**  \n  `{{ $('Initial Research').first().json.output.topic }}`\n\n- **Initial Research Overview:**  \n  `{{ $('Initial Research').first().json.output.research_overview }}`\n\n- **Chapter title:** \n  `{{ $('Loop Over Items').item.json.chapter_title }}`\n- **Detailed Research Results for the Chapter:**  \n  `{{ $json.output }}`\n\n- **Blog URLs for Internal Links:**  \n  *(Use these only if relevant, each URL once)*  \n  ```\n{{ $('Loop Over Items').item.json.loc.join(\"\\n\") }}\n  ```\n- **Word Count Setting:**  \n  Each chapter should be approximately `{{ Math.round($('Setting').item.json.Max_word_count / $('Setting').item.json.Chapters) }}` words long.\n\n---\n\n## Writing Guidelines\n\n### Chapter Title\n- **Descriptive and Engaging:** Develop a chapter title that is descriptive, engaging, and interesting.\n- **Tie Back to the Article Topic:** Ensure the title makes a strong connection with the overall article topic to provide coherence and context.\n- Must sound natural in Vietnamese and relevant to Vietnamese readers.\n\n### Content and Structure\n- **Comprehensive Narrative:** Develop a unified, in-depth narrative that covers the chapter topic thoroughly. Instead of breaking the chapter into multiple short subtopics (e.g., several H3 headings), aim for a fluid, integrated discussion.\n- **Minimal Subheadings:** If internal headings are necessary, limit them to at most one or two broad sections. The content should not be segmented into many shallow subtopics.\n- **Seamless Integration:** Ensure the chapter integrates smoothly with both previous and following chapters. Do not include standalone introductions or conclusions.\n\n### Style and Formatting\n- **Markdown Formatting:** Use Markdown for emphasis (e.g., **bold**, *italic*) and to separate major sections if absolutely needed. Avoid overusing headings like H3 that break the narrative flow.\n- **Concise Sentences:** Aim to keep most sentences under 20 words for clarity.\n- **Plain Text Output:** Produce plain text with Markdown formatting only—no extra JSON structures or additional headers beyond what is specified.\n\n### Prohibited Content\n- Avoid generic phrases such as “In today’s fast-paced world” or similar clichés.\n- Do not mention any specific product or service names.\n\n### Context Consideration\n{{ $itemIndex > 0 ? \"- Previous chapter title: \" + $('Loop Over Items').all()[$itemIndex - 1].json.chapter_title : \"\" }}\n{{ $itemIndex < $input.all().length - 1 ? \"- Next chapter title: \" + $('Loop Over Items').all()[$itemIndex + 1].json.chapter_title : \"\" }}\n \n- Ensure the chapter content is coherent with both previous and following chapters and does not repeat concepts already discussed.\n\n### Internal Linking\n- Review the provided blog URLs.\n- Select one URL that is most relevant to the chapter’s content and embed it as an internal hyperlink with meaningful anchor text derived from the URL.\n- Use each URL only once; if none are relevant, do not include any links.\n\n---\n\n### Output Format (Strict Requirement)\nYou must respond **only** with a valid **JSON object**, following this exact schema format, and **nothing else**:\n\nThe output must look like this (without quotes or labels):\n\n{\n  \"chapter_title\": \"Tiêu đề chương (bằng tiếng Việt, hấp dẫn, có liên kết với topic tổng)\",\n  \"chapter_content\": \"Nội dung chương bằng tiếng Việt, trình bày liền mạch, có thể sử dụng Markdown đơn giản (ví dụ: **bold**, *italic*) nếu cần.\"\n}\n **Do not add explanation, extra text, notes, or code block formatting like triple backticks (` ``` `).**\n**The response must start and end directly with { and } – only the JSON object should be returned.**\n **You will be evaluated strictly on JSON output format. Any response outside of it will be rejected.**\n\n---\n\n## Final Note\n\nEnsure the chapter meets the specified word count (approximately `{{ Math.round($('Setting').item.json.Max_word_count / $('Setting').item.json.Chapters) }}` words) and adheres to all the guidelines above. The chapter should be a cohesive, comprehensive narrative that avoids excessive segmentation into subtopics. Now, write the chapter accordingly.",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        4320,
        1380
      ],
      "id": "8cb7deb8-b485-482c-8367-b5005329100a",
      "name": "Copywriter"
    },
    {
      "parameters": {
        "name": "research_tool",
        "description": "Call this tool to do research. The input should be a topic.",
        "workflowId": {
          "__rl": true,
          "value": "EoPvFqTRrfxFOWuS",
          "mode": "list",
          "cachedResultName": "Research"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4100,
        1580
      ],
      "id": "edddc410-80ab-44dd-9082-61e89ec75ef0",
      "name": "Research Tool 1"
    },
    {
      "parameters": {
        "name": "research_tool",
        "description": "Call this tool to do research. The input should be a topic.",
        "workflowId": {
          "__rl": true,
          "value": "EoPvFqTRrfxFOWuS",
          "mode": "list",
          "cachedResultName": "Research"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1220,
        1400
      ],
      "id": "6f2302b7-ff4c-4bf2-9904-cdc07eee8f68",
      "name": "Research Tool"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5afccf4-a534-42a3-8c33-772fc4e55a4a",
              "name": "chapter_title",
              "value": "={{ $json.output.chapter_title }}",
              "type": "string"
            },
            {
              "id": "facdd216-65ac-43d7-9efe-82eccde47e9a",
              "name": "chapter_content",
              "value": "={{ $json.output.chapter_content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4640,
        1140
      ],
      "id": "bdccdea0-50da-45fb-b2a8-649783ac7cff",
      "name": "Get title chapter and content"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Setting').item.json.Keyword }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1gK0JEGVUyQWfsuNpZQtY6GfK8i2TcUa1",
          "mode": "list",
          "cachedResultName": "Image_oto",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1gK0JEGVUyQWfsuNpZQtY6GfK8i2TcUa1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2200,
        1180
      ],
      "id": "9f1ae922-6ff7-4460-8a92-bc75545dcc6f",
      "name": "Create Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3600,
        1780
      ],
      "id": "f3d895b2-452a-4e68-96a5-ef913d9aebf7",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "name": "={{ $('Tách output').item.json.file_name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5200,
        2060
      ],
      "id": "db7781af-6554-4dbe-928a-cce6708b5055",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://serpapi.com/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"engine\": \"google_images\",\n  \"q\": \"{{ $('Tách output').item.json.image_suggestion_keyword }}\",\n  \"location_requested\": \"Vietnam\",\n  \"location_used\": \"Vietnam\",\n  \"google_domain\": \"google.com\",\n  \"tbm\": \"isch\",\n  \"hl\": \"vi\",\n  \"gl\": \"vn\",\n  \"imgsz\": \"m\",\n  \"image_type\": \"photo\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        1960
      ],
      "id": "6cc56e10-1454-44c3-8e55-ca064bda980c",
      "name": "Search URL Image Google",
      "credentials": {
        "serpApi": {
          "id": "s7AgvtfJYXwuEi5E",
          "name": "SerpAPI (thipha0409)"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.original }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "file"
            }
          },
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4480,
        1960
      ],
      "id": "c489f0cc-77e0-4132-98aa-df225cd54cbe",
      "name": "Download Image"
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 800,
        "height": 0,
        "options": {
          "fileName": "={{ $('Loop Over Items1').item.json.file_name }}",
          "format": "webp"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        4700,
        1960
      ],
      "id": "627eb769-520c-481f-bf78-149b37857d0f",
      "name": "Resize Image"
    },
    {
      "parameters": {
        "fieldToSplitOut": "images_results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4040,
        1960
      ],
      "id": "893b9efd-48ed-4ece-90e1-d040a3f04c3a",
      "name": "Image Scource"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        4260,
        1960
      ],
      "id": "20844826-e185-4447-ad4f-c3ea51b74708",
      "name": "Get 1 Image"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5660,
        1960
      ],
      "id": "f44164e4-3efa-43b6-a273-01728b1cb4a9",
      "name": "Merge"
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5840,
        2060
      ],
      "id": "10604ab6-0515-41b4-b029-d33642a8493d",
      "name": "Wait1",
      "webhookId": "c70857c6-4c00-42df-9adf-a307c6cb1d93"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5580,
        1680
      ],
      "id": "669e3bee-600c-4bce-9721-4c85a72b7b1b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Google Sheets Trigger1').item.json.Website }}/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{ $binary.data.fileName }}.{{ $binary.data.fileExtension }}\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5100,
        1880
      ],
      "id": "9352ad88-ab09-41a5-85ad-733d7722b20c",
      "name": "Upload chapter images",
      "credentials": {
        "wordpressApi": {
          "id": "QgbogXv2coNRFVF3",
          "name": "hondaotosaigonquan2.com.vn"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Limit2').item.json.Website }}/wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "alt_text",
              "value": "={{ $('Tách output').item.json.alt_text }}"
            },
            {
              "name": "title",
              "value": "={{ $('Tách output').item.json.chapter_title }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5320,
        1880
      ],
      "id": "a7e9c682-b0e8-46e4-8b0d-f1137f36257b",
      "name": "Update image meta data",
      "credentials": {
        "wordpressApi": {
          "id": "QgbogXv2coNRFVF3",
          "name": "hondaotosaigonquan2.com.vn"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.original }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4800,
        2420
      ],
      "id": "d5594610-1247-41f9-842a-4127bb0c2c00",
      "name": "Download Image1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 800,
        "height": 0,
        "options": {
          "fileName": "=feature{{ $('Setting').item.json.Keyword }}",
          "format": "webp"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        5040,
        2420
      ],
      "id": "82564ab3-f93b-46ff-9bdc-a0415ac9ddc0",
      "name": "Resize Image1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "images_results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4300,
        2420
      ],
      "id": "141efbac-39dd-49f4-853b-d6e214e5c269",
      "name": "Image Scource1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        4540,
        2420
      ],
      "id": "84cad8f2-bb76-42f2-90c8-6c9b1e4cb9c9",
      "name": "Get 1 Image1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        7180,
        1700
      ],
      "id": "6c85bfa5-5504-43b7-a76e-0f1f1bad840a",
      "name": "Merge3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting').item.json.Website }}/wp-json/wp/v2/posts/{{ $('Wordpress').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9ca2701a-2711-4e81-948b-64df8f614c49",
      "name": "Set featured image for post",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        7660,
        1700
      ],
      "typeVersion": 4.1,
      "credentials": {
        "wordpressApi": {
          "id": "QgbogXv2coNRFVF3",
          "name": "hondaotosaigonquan2.com.vn"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://serpapi.com/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"engine\": \"google_images\",\n  \"q\": \"{{ $('Setting').item.json.Keyword }}\",\n  \"location_requested\": \"Vietnam\",\n  \"location_used\": \"Vietnam\",\n  \"google_domain\": \"google.com\",\n  \"tbm\": \"isch\",\n  \"hl\": \"vi\",\n  \"gl\": \"vn\",\n  \"imgsz\": \"l\",\n  \"image_type\": \"photo\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4060,
        2420
      ],
      "id": "ec9b51b3-650b-4f37-be33-acbb787e40f0",
      "name": "Search URL Featured Image",
      "credentials": {
        "serpApi": {
          "id": "s7AgvtfJYXwuEi5E",
          "name": "SerpAPI (thipha0409)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hondaotosaigonquan2.com.vn/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"feature{{ $('Setting').item.json.Keyword }}.{{ $binary.data.fileExtension }}\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "ae2e116c-e8df-481b-b9fa-7dbe8bef6ba4",
      "name": "Upload featured image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        7420,
        1700
      ],
      "typeVersion": 4.1,
      "credentials": {
        "wordpressApi": {
          "id": "QgbogXv2coNRFVF3",
          "name": "hondaotosaigonquan2.com.vn"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        2100
      ],
      "id": "2d16fe6b-09ab-41d2-a6fe-4c5a87f1479e",
      "name": "When Executed by Another Workflow",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.model }}\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify($json.system_message) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.query) }}\n    }\n  ],\n  \"max_tokens\": {{ $json.max_tokens }},\n  \"temperature\": 0.2,\n  \"top_p\": 0.9,\n  \"search_domain_filter\": null,\n  \"return_images\": false,\n  \"return_related_questions\": false,\n  \"search_recency_filter\": \"month\",\n  \"top_k\": 0,\n  \"stream\": false,\n  \"presence_penalty\": 0,\n  \"frequency_penalty\": 1,\n  \"response_format\": null\n}",
        "options": {}
      },
      "id": "6e96160b-c259-45d5-b36b-b4fc93140d3d",
      "name": "PerplexityAI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        2100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wPYfO85eywm4HX0E",
          "name": "Perplexity AI Authorization"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c191b7a2-4e37-4381-b77d-2d4a27f1366b",
              "name": "model",
              "value": "=sonar",
              "type": "string"
            },
            {
              "id": "68071ef8-ab5d-4480-8f0a-c367673dce0b",
              "name": "query",
              "value": "={{ $json.query }}",
              "type": "string"
            },
            {
              "id": "cb22a8ea-a55f-4dba-9972-5dae2d897d56",
              "name": "system_message",
              "value": "Be thorough and comprehensive",
              "type": "string"
            },
            {
              "id": "492b2451-75b2-4490-bb1b-32522a876995",
              "name": "max_tokens",
              "value": "1000",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        2100
      ],
      "id": "d10fa066-4326-48a1-917f-c10a3b1bd39c",
      "name": "Edit Fields2",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d4eced6-951d-4f4e-b0b4-11c2f351a57d",
              "name": "response",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        2100
      ],
      "id": "d88e7bb4-04f0-4f27-be36-780c8b815f57",
      "name": "Edit Fields3",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Workflow nghiên cứu",
        "height": 400,
        "width": 1080
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        1980
      ],
      "id": "a956d023-2e2f-45a9-9ef3-a25e4f570e6b",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-20T02:03:34.526Z",
  "versionId": "0aaf52cf-638a-4626-83ed-6bffe9f3b1f4"
}