credentials/HK618DcERUWGW3oR.json
{
  "active": false,
  "connections": {
    "data_ads": {
      "main": [
        [
          {
            "node": "code_data_ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "code_data_ads": {
      "main": [
        [
          {
            "node": "Loop3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base_info": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop3": {
      "main": [
        [],
        [
          {
            "node": "status_ad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "status_ad": {
      "main": [
        [
          {
            "node": "Date & Time2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API_Ads": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data_campaign": {
      "main": [
        [
          {
            "node": "code_data_campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "code_data_campaign": {
      "main": [
        [
          {
            "node": "Loop2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop2": {
      "main": [
        [],
        [
          {
            "node": "status_camp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "status_camp": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API TKQC": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Campaign": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Ads": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "code_date_campaign": {
      "main": [
        [
          {
            "node": "data_campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "code_date_ads": {
      "main": [
        [
          {
            "node": "data_ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [],
        [
          {
            "node": "status_adset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "code_date_adset": {
      "main": [
        [
          {
            "node": "data_adset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data_adset": {
      "main": [
        [
          {
            "node": "code_data_adset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "code_data_adset": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "status_adset": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "API TKQC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "API Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "main": [
        [
          {
            "node": "Loop2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets6": {
      "main": [
        [
          {
            "node": "Loop3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets7": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Adset": {
      "main": [
        [
          {
            "node": "code_date_adset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Ads": {
      "main": [
        [
          {
            "node": "code_date_ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook TKQC": {
      "main": [
        [
          {
            "node": "API_Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook campaign": {
      "main": [
        [
          {
            "node": "code_date_campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "base_info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Google Sheets7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "API Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "API Adset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-09T07:12:30.676Z",
  "id": "HK618DcERUWGW3oR",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Facebook Ads to Google Sheet",
  "nodes": [
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v20.0/act_{{ $('Webhook Ads').item.json.body.ID_TKQC }}/insights?access_token={{ $('Webhook Ads').item.json.body.Token_TKQC }}&fields=date_start,created_time,account_name,campaign_name,campaign_id,adset_id,adset_name,ad_id,ad_name,objective,optimization_goal,reach,impressions,frequency,spend,clicks,website_ctr,website_purchase_roas,cpc,ctr,cpm,cpp,conversions,cost_per_conversion,action_values,actions,cost_per_inline_link_click,cost_per_inline_post_engagement,dda_results,purchase_roas&level=ad&breakdowns=&limit=2000&date=today&{{ $json.ketqua }}&time_increment={{ $('Webhook Ads').item.json.body.time_increment }}&date_start=today",
        "options": {}
      },
      "id": "8c838bca-99f4-4aeb-9359-1a3f5835130f",
      "name": "data_ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3340,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "return items[0].json.data.map(item => {\n  // Chuyển đổi action_values thành dạng từ điển (dictionary)\n  const actionValuesDict = {};\n  if (item.action_values) {\n    for (const av of item.action_values) {\n      const actionType = av.action_type.replace(/\\./g, '_'); // Thay thế dấu . bằng _\n      actionValuesDict[`action_values_${actionType}`] = av.value;\n    }\n  }\n\n  // Chuyển đổi actions thành dạng từ điển\n  const actionsDict = {};\n  if (item.actions) {\n    for (const a of item.actions) {\n      const actionType = a.action_type.replace(/\\./g, '_'); // Thay thế dấu . bằng _\n      actionsDict[`actions_${actionType}`] = a.value;\n    }\n  }\n\n  // Trả về kết quả đã được xử lý\n  return {\n    json: {\n      id: `${item.date_start || 0}|${item.ad_id || 0}`,\n      date_start: item.date_start || 0,\n      created_time: item.created_time || 0,\n      account_name: item.account_name || 0,\n      campaign_name: item.campaign_name || 0,\n      campaign_id: item.campaign_id || 0,\n      objective: item.objective || 0,\n      optimization_goal:item.optimization_goal || 0,\n      adset_id: item.adset_id || 0,\n      adset_name: item.adset_name || 0,\n      ad_id: item.ad_id || 0,\n      ad_name: item.ad_name || 0,\n      reach: item.reach || 0,\n      impressions: item.impressions || 0,\n      frequency: item.frequency || 0,\n      spend: item.spend || 0,\n      clicks: item.clicks || 0,\n      ctr: item.ctr || 0,\n      cpc: item.cpc || 0,\n      cpm: item.cpm || 0,\n      cpp: item.cpp || 0,\n      action_values_onsite_web_app_purchase: actionValuesDict.action_values_onsite_web_app_purchase || 0,\n      action_values_onsite_conversion_purchase: actionValuesDict.action_values_onsite_conversion_purchase || 0,\n      action_values_omni_purchase: actionValuesDict.action_values_omni_purchase || 0,\n      action_values_purchase: actionValuesDict.action_values_purchase || 0,\n      action_values_onsite_web_purchase: actionValuesDict.action_values_onsite_web_purchase || 0,\n      action_values_onsite_app_purchase: actionValuesDict.action_values_onsite_app_purchase || 0,\n      action_values_offsite_conversion_fb_pixel_purchase: actionValuesDict.action_values_offsite_conversion_fb_pixel_purchase || 0,\n      actions_link_click: actionsDict.actions_link_click || 0,\n      actions_onsite_web_app_purchase: actionsDict.actions_onsite_web_app_purchase || 0,\n      actions_onsite_conversion_purchase: actionsDict.actions_onsite_conversion_purchase || 0,\n      actions_omni_purchase: actionsDict.actions_omni_purchase || 0,\n      actions_purchase: actionsDict.actions_purchase || 0,\n      actions_onsite_web_purchase: actionsDict.actions_onsite_web_purchase || 0,\n      actions_onsite_app_purchase: actionsDict.actions_onsite_app_purchase || 0,\n      actions_offsite_conversion_fb_pixel_purchase: actionsDict.actions_offsite_conversion_fb_pixel_purchase || 0,\n      actions_post: actionsDict.actions_post || 0,\n      actions_comment: actionsDict.actions_comment || 0,\n      actions_onsite_conversion_messaging_order_created_v2: actionsDict.actions_onsite_conversion_messaging_order_created_v2 || 0,\n      actions_onsite_conversion_total_messaging_connection: actionsDict.actions_onsite_conversion_total_messaging_connection || 0,\n      actions_onsite_conversion_messaging_conversation_replied_7d: actionsDict.actions_onsite_conversion_messaging_conversation_replied_7d || 0,\n      actions_onsite_conversion_messaging_first_reply: actionsDict.actions_onsite_conversion_messaging_first_reply || 0,\n      actions_onsite_conversion_messaging_welcome_message_view: actionsDict.actions_onsite_conversion_messaging_welcome_message_view || 0,\n      actions_onsite_conversion_messaging_conversation_started_7d: actionsDict.actions_onsite_conversion_messaging_conversation_started_7d || 0,\n      actions_onsite_conversion_messaging_block: actionsDict.actions_onsite_conversion_messaging_block || 0,\n      actions_onsite_offsite_conversion_fb_pixel_complete_registration: actionsDict.actions_onsite_offsite_conversion_fb_pixel_complete_registration || 0,\n      actions_onsite_offsite_conversion_fb_pixel_lead: actionsDict.actions_onsite_offsite_conversion_fb_pixel_lead || 0,\n      actions_onsite_onsite_conversion_messaging_conversation_started_7d: actionsDict.onsite_conversion_messaging_conversation_started_7d || 0,\n      actions_onsite_onsite_conversion_messaging_first_reply: actionsDict.onsite_conversion_messaging_first_reply || 0,\n    }\n  };\n});\n"
      },
      "id": "aef6fec6-6a71-4e57-921a-ab857112be7c",
      "name": "code_data_ads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3560,
        640
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6422ef08-7ef0-43df-ba24-f39bac87bfc7",
              "name": "time_ranges_since",
              "value": "",
              "type": "string"
            },
            {
              "id": "cdf7d7d8-ebec-4a50-8851-d22c7fa22db5",
              "name": "time_ranges_until",
              "value": "",
              "type": "string"
            },
            {
              "id": "99406632-8731-46cc-8640-0ba91b6837e2",
              "name": "date_preset",
              "value": "today",
              "type": "string"
            },
            {
              "id": "b809e3f1-34ac-4612-8e82-b4fce128df50",
              "name": "time_increment",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "15d39905-ee78-4cbf-8c7b-123df7450777",
      "name": "base_info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        120
      ]
    },
    {
      "parameters": {
        "content": "## Thông tin chỉ số\n  - date_start: ngày lấy số liệu\n  - created_time: thời gian tạo quảng cáo\n  - account_name: tên TKQC\n  - campaign_name: tên chiến dịch\n  - campaign_id: id chiến dịch\n  - adset_id: id nhóm quảng cáo\n  - adset_name: tên nhóm quảng cáo\n  - ad_id: id quảng cáo\n  - ad_name: tên quảng cáo\n  - objective: mục tiêu chiến dịch\n  - optimization_goal: mục tiêu nhóm quảng cáo\n  - reach: tiếp cận\n  - Impressions: số lần hiển thị\n  - Frequency: tần suất\n  - Spend: số tiền chi tiêu\n  - Clicks: số lượt click\n  - ctr\n  - cpc\n  - cpm\n  - cpp\n  - action_values_onsite_web_app_purchase: giá trị hành động mua trên ứng dụng hoặc web\n  - action_values_onsite_conversion_purchase: giá trị hành động chuyển đổi mua hàng\n  - action_values_omni_purchase: giá trị hành động mua hàng đa kênh\n  - action_values_purchase: giá trị hành động mua hàng\n  - action_values_onsite_web_purchase: giá trị hành động mua hàng trên trang web\n  - action_values_onsite_app_purchase: giá trị hành động mua hàng trong ứng dụng\n  - action_values_offsite_conversion_fb_pixel_purchase: giá trị hành động chuyển đổi ngoài trang qua mua hàng bằng pixel Facebook\n  - actions_link_click: hành động nhấp vào liên kết\n  - actions_onsite_web_app_purchase: hành động mua hàng trên trang web hoặc ứng dụng\n  - actions_onsite_conversion_purchase: hành động chuyển đổi và mua hàng\n  - actions_omni_purchase: hành động mua hàng đa kênh\n  - actions_purchase: hành động mua hàng\n  - actions_onsite_web_purchase: hành động mua hàng trên trang web\n  - actions_onsite_app_purchase: hành động mua hàng trong ứng dụng\n  - actions_offsite_conversion_fb_pixel_purchase: hành động chuyển đổi ngoài trang qua mua hàng bằng pixel Facebook\n  - actions_post: hành động bài viết\n  - actions_comment: hành động bình luận\n  - actions_like: Like page\n  - actions_onsite_conversion_messaging_order_created_v2: hành động chuyển đổi tại chỗ: đơn hàng đã tạo thông qua tin nhắn v2\n  - actions_onsite_conversion_total_messaging_connection:  hành động chuyển đổi tại chỗ: tổng số kết nối thông qua tin nhắn\n  - actions_onsite_conversion_messaging_conversation_replied_7d: hành động chuyển đổi trên trang web: cuộc trò chuyện qua tin nhắn được trả lời trong 7 ngày\n  - actions_onsite_conversion_messaging_first_reply:  hành động chuyển đổi tại chỗ: tin nhắn phản hồi đầu tiên\n  - actions_onsite_conversion_messaging_welcome_message_view:  xem tin nhắn chào mừng\n  - actions_onsite_conversion_messaging_conversation_started_7d:  hành động chuyển đổi trên trang web: cuộc trò chuyện qua tin nhắn đã bắt đầu trong 7 ngày\n  - actions_onsite_conversion_messaging_block:  hành động chuyển đổi trên trang web: chặn tin nhắn\n  - actions_onsite_offsite_conversion_fb_pixel_complete_registration: hành động chuyển đổi ngoài trang qua pixel Facebook: hoàn tất đăng ký\n  - actions_onsite_offsite_conversion_fb_pixel_lead: hành động chuyển đổi ngoài trang qua pixel Facebook: lead\n  - actions_onsite_onsite_conversion_messaging_conversation_started_7d: hành động chuyển đổi trên trang web: cuộc trò chuyện qua tin nhắn đã bắt đầu trên trang web trong 7 ngày\n  - actions_onsite_onsite_conversion_messaging_first_reply: hành động chuyển đổi trên trang web: phản hồi đầu tiên trong cuộc trò chuyện qua tin nhắn",
        "height": 1243,
        "width": 1071
      },
      "id": "1f70294d-c088-4e92-a8b7-99b1dcdb702e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        860
      ]
    },
    {
      "parameters": {
        "content": "## Base_info\n- date_preset: today, yesterday, last_3d, last_7d,\n- time_increment: 1\n- time_ranges_since và time_ranges_until nếu tồn tại giá trị thì date_preset sẽ bị hủy bỏ. time_ranges_since và time_ranges_until là lấy giá trị trong khoảng thời gian",
        "height": 416.54837993585306,
        "width": 239.68466012877167
      },
      "id": "a6f12b0e-5a1b-48d1-8140-f4e1c31e77f7",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        -140
      ]
    },
    {
      "parameters": {
        "batchSize": 100,
        "options": {}
      },
      "id": "f71b9763-f279-464a-a480-fb379fbd978b",
      "name": "Loop3",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3780,
        640
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v20.0/{{ $('code_data_ads').item.json[\"ad_id\"] }}?access_token={{ $('Webhook Ads').item.json.body.Token_TKQC }}&fields=status",
        "options": {}
      },
      "id": "4c833b7c-c916-45a0-89df-24ee5046c227",
      "name": "status_ad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4000,
        640
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v20.0/act_{{ $('Webhook TKQC').item.json.body.ID_TKQC }}?access_token={{ $json.body.Token_TKQC }}&fields=account_status,disable_reason,business,business_name,currency,name,spend_cap,amount_spent,balance,funding_source_details,timezone_name,timezone_offset_hours_utc,created_time,is_direct_deals_enabled",
        "options": {}
      },
      "id": "e861b431-f0e0-43f5-831a-1d9c5d5e6121",
      "name": "API_Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        480
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v20.0/act_{{ $('Webhook campaign').item.json.body.ID_TKQC }}/insights?access_token={{ $('Webhook campaign').item.json.body.Token_TKQC }}&fields=date_start,created_time,account_name,campaign_name,campaign_id,objective,reach,impressions,frequency,spend,clicks,website_ctr,website_purchase_roas,cpc,ctr,cpm,cpp,conversions,cost_per_conversion,action_values,actions,cost_per_inline_link_click,cost_per_inline_post_engagement,dda_results,purchase_roas&level=campaign&breakdowns=&limit=2000&date=today&{{ $json.ketqua }}&time_increment={{ $('Webhook campaign').item.json.body.time_increment }}&date_start=today",
        "options": {}
      },
      "id": "b2df67c2-53ad-4d39-ac84-2c54fb165050",
      "name": "data_campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        1220
      ]
    },
    {
      "parameters": {
        "jsCode": "return items[0].json.data.map(item => {\n  // Chuyển đổi action_values thành dạng từ điển (dictionary)\n  const actionValuesDict = {};\n  if (item.action_values) {\n    for (const av of item.action_values) {\n      const actionType = av.action_type.replace(/\\./g, '_'); // Thay thế dấu . bằng _\n      actionValuesDict[`action_values_${actionType}`] = av.value;\n    }\n  }\n\n  // Chuyển đổi actions thành dạng từ điển\n  const actionsDict = {};\n  if (item.actions) {\n    for (const a of item.actions) {\n      const actionType = a.action_type.replace(/\\./g, '_'); // Thay thế dấu . bằng _\n      actionsDict[`actions_${actionType}`] = a.value;\n    }\n  }\n\n\n  // Trả về kết quả đã được xử lý\n  return {\n    json: {\n      id: `${item.date_start || 0}|${item.campaign_id || 0}`,\n      date_start: item.date_start || 0,\n      created_time: item.created_time || 0,\n      account_name: item.account_name || 0,\n      campaign_name: item.campaign_name || 0,\n      campaign_id: item.campaign_id || 0,\n      objective: item.objective || 0,\n      reach: item.reach || 0,\n      impressions: item.impressions || 0,\n      frequency: item.frequency || 0,\n      spend: item.spend || 0,\n      clicks: item.clicks || 0,\n      ctr: item.ctr || 0,\n      cpc: item.cpc || 0,\n      cpm: item.cpm || 0,\n      cpp: item.cpp || 0,\n      action_values_onsite_web_app_purchase: actionValuesDict.action_values_onsite_web_app_purchase || 0,\n      action_values_onsite_conversion_purchase: actionValuesDict.action_values_onsite_conversion_purchase || 0,\n      action_values_omni_purchase: actionValuesDict.action_values_omni_purchase || 0,\n      action_values_purchase: actionValuesDict.action_values_purchase || 0,\n      action_values_onsite_web_purchase: actionValuesDict.action_values_onsite_web_purchase || 0,\n      action_values_onsite_app_purchase: actionValuesDict.action_values_onsite_app_purchase || 0,\n      action_values_offsite_conversion_fb_pixel_purchase: actionValuesDict.action_values_offsite_conversion_fb_pixel_purchase || 0,\n      actions_link_click: actionsDict.actions_link_click || 0,\n      actions_onsite_web_app_purchase: actionsDict.actions_onsite_web_app_purchase || 0,\n      actions_onsite_conversion_purchase: actionsDict.actions_onsite_conversion_purchase || 0,\n      actions_omni_purchase: actionsDict.actions_omni_purchase || 0,\n      actions_purchase: actionsDict.actions_purchase || 0,\n      actions_onsite_web_purchase: actionsDict.actions_onsite_web_purchase || 0,\n      actions_onsite_app_purchase: actionsDict.actions_onsite_app_purchase || 0,\n      actions_offsite_conversion_fb_pixel_purchase: actionsDict.actions_offsite_conversion_fb_pixel_purchase || 0,\n      actions_post: actionsDict.actions_post || 0,\n      actions_comment: actionsDict.actions_comment || 0,\n      actions_onsite_conversion_messaging_order_created_v2: actionsDict.actions_onsite_conversion_messaging_order_created_v2 || 0,\n      actions_onsite_conversion_total_messaging_connection: actionsDict.actions_onsite_conversion_total_messaging_connection || 0,\n      actions_onsite_conversion_messaging_conversation_replied_7d: actionsDict.actions_onsite_conversion_messaging_conversation_replied_7d || 0,\n      actions_onsite_conversion_messaging_first_reply: actionsDict.actions_onsite_conversion_messaging_first_reply || 0,\n      actions_onsite_conversion_messaging_welcome_message_view: actionsDict.actions_onsite_conversion_messaging_welcome_message_view || 0,\n      actions_onsite_conversion_messaging_conversation_started_7d: actionsDict.actions_onsite_conversion_messaging_conversation_started_7d || 0,\n      actions_onsite_conversion_messaging_block: actionsDict.actions_onsite_conversion_messaging_block || 0,\n      actions_onsite_offsite_conversion_fb_pixel_complete_registration: actionsDict.actions_onsite_offsite_conversion_fb_pixel_complete_registration || 0,\n      actions_onsite_offsite_conversion_fb_pixel_lead: actionsDict.actions_onsite_offsite_conversion_fb_pixel_lead || 0,\n      actions_onsite_onsite_conversion_messaging_conversation_started_7d: actionsDict.onsite_conversion_messaging_conversation_started_7d || 0,\n      actions_onsite_onsite_conversion_messaging_first_reply: actionsDict.onsite_conversion_messaging_first_reply || 0,\n    }\n  };\n});\n"
      },
      "id": "386869f9-41cc-41a7-9d1a-f181ab1075ce",
      "name": "code_data_campaign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2680,
        1220
      ]
    },
    {
      "parameters": {
        "batchSize": 100,
        "options": {}
      },
      "id": "fa2cd6db-0223-4e82-9e37-300aba67b81d",
      "name": "Loop2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2880,
        1220
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v20.0/{{ $('code_data_campaign').item.json[\"campaign_id\"] }}?access_token={{ $('Webhook campaign').item.json.body.Token_TKQC }}&fields=status",
        "options": {}
      },
      "id": "c3c241e7-153d-42bb-85d4-1ce44c775f9d",
      "name": "status_camp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        1220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://primary-production-eac6.up.railway.app/webhook/af5eb999-e3c3-4fde-b763-8ceec2476211",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ID_TKQC",
              "value": "={{ $('Google Sheets').item.json.ID_TKQC }}"
            },
            {
              "name": "Token_TKQC",
              "value": "={{ $('Google Sheets').item.json.Token_TKQC }}"
            },
            {
              "name": "time_increment",
              "value": "={{ $('base_info').item.json.time_increment }}"
            },
            {
              "name": "time_ranges_since",
              "value": "={{ $('base_info').item.json.time_ranges_since }}"
            },
            {
              "name": "time_ranges_until",
              "value": "={{ $('base_info').item.json.time_ranges_until }}"
            },
            {
              "name": "date_preset",
              "value": "={{ $('base_info').item.json.date_preset }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f1b3f6c9-3353-454f-8ffe-74faa436a137",
      "name": "API TKQC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://primary-production-eac6.up.railway.app/webhook/acc9697c-ad09-4247-9cd5-7e3262c56f66",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Webhook TKQC').item.json.body }}",
        "options": {}
      },
      "id": "da08d869-40ee-4267-9bef-006fd5306801",
      "name": "API Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        360
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://primary-production-eac6.up.railway.app/webhook/ef3a904a-85f3-40e4-a4e9-589ba73f5b88",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Webhook TKQC').item.json.body }}",
        "options": {}
      },
      "id": "37e6960e-8829-4311-9afb-753a7f25894f",
      "name": "API Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2460,
        360
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Lấy dữ liệu từ input (node trước đó)\nconst input = items[0].json; // Lấy JSON từ phần tử đầu tiên của input\n\n// Output object để lưu kết quả\nlet output = {};\n\n// Kiểm tra điều kiện và xử lý logic\nif (input.date_preset && input.time_ranges_since && input.time_ranges_until) {\n    output.ketqua = `time_ranges=[{\"since\":\"${input.time_ranges_since}\",\"until\":\"${input.time_ranges_until}\"}]`;\n} else if (input.date_preset && (!input.time_ranges_since || !input.time_ranges_until)) {\n    output.ketqua = `date_preset=${input.date_preset}`;\n} else {\n    output.ketqua = \"Không có điều kiện hợp lệ.\";\n}\n\n// Trả kết quả\nreturn [{ json: output }];\n"
      },
      "id": "fbeb30ec-59aa-4fff-a3cb-28161c8d5cf3",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Lấy dữ liệu từ input (node trước đó)\nconst input = items[0].json.body; // Lấy JSON từ phần tử đầu tiên của input\n\n// Output object để lưu kết quả\nlet output = {};\n\n// Kiểm tra điều kiện và xử lý logic\nif (input.date_preset && input.time_ranges_since && input.time_ranges_until) {\n    output.ketqua = `time_ranges=[{\"since\":\"${input.time_ranges_since}\",\"until\":\"${input.time_ranges_until}\"}]`;\n} else if (input.date_preset && (!input.time_ranges_since || !input.time_ranges_until)) {\n    output.ketqua = `date_preset=${input.date_preset}`;\n} else {\n    output.ketqua = \"Không có điều kiện hợp lệ.\";\n}\n\n// Trả kết quả\nreturn [{ json: output }];\n"
      },
      "id": "e42fd48a-adef-484e-b3bc-07033fe4e5ee",
      "name": "code_date_campaign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        1220
      ]
    },
    {
      "parameters": {
        "jsCode": "// Lấy dữ liệu từ input (node trước đó)\nconst input = items[0].json.body; // Lấy JSON từ phần tử đầu tiên của input\n\n// Output object để lưu kết quả\nlet output = {};\n\n// Kiểm tra điều kiện và xử lý logic\nif (input.date_preset && input.time_ranges_since && input.time_ranges_until) {\n    output.ketqua = `time_ranges=[{\"since\":\"${input.time_ranges_since}\",\"until\":\"${input.time_ranges_until}\"}]`;\n} else if (input.date_preset && (!input.time_ranges_since || !input.time_ranges_until)) {\n    output.ketqua = `date_preset=${input.date_preset}`;\n} else {\n    output.ketqua = \"Không có điều kiện hợp lệ.\";\n}\n\n// Trả kết quả\nreturn [{ json: output }];\n"
      },
      "id": "9488fb40-e32e-49da-b81d-d59d38232879",
      "name": "code_date_ads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        640
      ]
    },
    {
      "parameters": {
        "batchSize": 100,
        "options": {}
      },
      "id": "1b796a4e-546d-4ccc-a851-357053ec112d",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3360,
        920
      ]
    },
    {
      "parameters": {
        "jsCode": "// Lấy dữ liệu từ input (node trước đó)\nconst input = items[0].json.body; // Lấy JSON từ phần tử đầu tiên của input\n\n// Output object để lưu kết quả\nlet output = {};\n\n// Kiểm tra điều kiện và xử lý logic\nif (input.date_preset && input.time_ranges_since && input.time_ranges_until) {\n    output.ketqua = `time_ranges=[{\"since\":\"${input.time_ranges_since}\",\"until\":\"${input.time_ranges_until}\"}]`;\n} else if (input.date_preset && (!input.time_ranges_since || !input.time_ranges_until)) {\n    output.ketqua = `date_preset=${input.date_preset}`;\n} else {\n    output.ketqua = \"Không có điều kiện hợp lệ.\";\n}\n\n// Trả kết quả\nreturn [{ json: output }];\n"
      },
      "id": "e289ea0b-87c0-4648-acbd-000c5bdf683c",
      "name": "code_date_adset",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2680,
        920
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v20.0/act_{{ $('Webhook Adset').item.json.body.ID_TKQC }}/insights?access_token={{ $('Webhook Adset').item.json.body.Token_TKQC }}&fields=date_start,created_time,account_name,campaign_name,campaign_id,adset_id,adset_name,ad_id,ad_name,objective,optimization_goal,reach,impressions,frequency,spend,clicks,website_ctr,website_purchase_roas,cpc,ctr,cpm,cpp,conversions,cost_per_conversion,action_values,actions,cost_per_inline_link_click,cost_per_inline_post_engagement,dda_results,purchase_roas&level=adset&breakdowns=&limit=2000&date=today&{{ $json.ketqua }}&time_increment={{ $('Webhook Adset').item.json.body.time_increment }}&date_start=today",
        "options": {}
      },
      "id": "e40a916e-f632-44cf-acab-0e775b17070d",
      "name": "data_adset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        920
      ]
    },
    {
      "parameters": {
        "jsCode": "return items[0].json.data.map(item => {\n  // Chuyển đổi action_values thành dạng từ điển (dictionary)\n  const actionValuesDict = {};\n  if (item.action_values) {\n    for (const av of item.action_values) {\n      const actionType = av.action_type.replace(/\\./g, '_'); // Thay thế dấu . bằng _\n      actionValuesDict[`action_values_${actionType}`] = av.value;\n    }\n  }\n\n  // Chuyển đổi actions thành dạng từ điển\n  const actionsDict = {};\n  if (item.actions) {\n    for (const a of item.actions) {\n      const actionType = a.action_type.replace(/\\./g, '_'); // Thay thế dấu . bằng _\n      actionsDict[`actions_${actionType}`] = a.value;\n    }\n  }\n\n  // Trả về kết quả đã được xử lý\n  return {\n    json: {\n      id: `${item.date_start || 0}|${item.adset_id|| 0}`,\n      date_start: item.date_start || 0,\n      created_time: item.created_time || 0,\n      account_name: item.account_name || 0,\n      campaign_name: item.campaign_name || 0,\n      campaign_id: item.campaign_id || 0,\n      objective: item.objective || 0,\n      optimization_goal:item.optimization_goal || 0,\n      adset_id: item.adset_id || 0,\n      adset_name: item.adset_name || 0,\n      reach: item.reach || 0,\n      impressions: item.impressions || 0,\n      frequency: item.frequency || 0,\n      spend: item.spend || 0,\n      clicks: item.clicks || 0,\n      ctr: item.ctr || 0,\n      cpc: item.cpc || 0,\n      cpm: item.cpm || 0,\n      cpp: item.cpp || 0,\n      action_values_onsite_web_app_purchase: actionValuesDict.action_values_onsite_web_app_purchase || 0,\n      action_values_onsite_conversion_purchase: actionValuesDict.action_values_onsite_conversion_purchase || 0,\n      action_values_omni_purchase: actionValuesDict.action_values_omni_purchase || 0,\n      action_values_purchase: actionValuesDict.action_values_purchase || 0,\n      action_values_onsite_web_purchase: actionValuesDict.action_values_onsite_web_purchase || 0,\n      action_values_onsite_app_purchase: actionValuesDict.action_values_onsite_app_purchase || 0,\n      action_values_offsite_conversion_fb_pixel_purchase: actionValuesDict.action_values_offsite_conversion_fb_pixel_purchase || 0,\n      actions_link_click: actionsDict.actions_link_click || 0,\n      actions_onsite_web_app_purchase: actionsDict.actions_onsite_web_app_purchase || 0,\n      actions_onsite_conversion_purchase: actionsDict.actions_onsite_conversion_purchase || 0,\n      actions_omni_purchase: actionsDict.actions_omni_purchase || 0,\n      actions_purchase: actionsDict.actions_purchase || 0,\n      actions_onsite_web_purchase: actionsDict.actions_onsite_web_purchase || 0,\n      actions_onsite_app_purchase: actionsDict.actions_onsite_app_purchase || 0,\n      actions_offsite_conversion_fb_pixel_purchase: actionsDict.actions_offsite_conversion_fb_pixel_purchase || 0,\n      actions_post: actionsDict.actions_post || 0,\n      actions_comment: actionsDict.actions_comment || 0,\n      actions_onsite_conversion_messaging_order_created_v2: actionsDict.actions_onsite_conversion_messaging_order_created_v2 || 0,\n      actions_onsite_conversion_total_messaging_connection: actionsDict.actions_onsite_conversion_total_messaging_connection || 0,\n      actions_onsite_conversion_messaging_conversation_replied_7d: actionsDict.actions_onsite_conversion_messaging_conversation_replied_7d || 0,\n      actions_onsite_conversion_messaging_first_reply: actionsDict.actions_onsite_conversion_messaging_first_reply || 0,\n      actions_onsite_conversion_messaging_welcome_message_view: actionsDict.actions_onsite_conversion_messaging_welcome_message_view || 0,\n      actions_onsite_conversion_messaging_conversation_started_7d: actionsDict.actions_onsite_conversion_messaging_conversation_started_7d || 0,\n      actions_onsite_conversion_messaging_block: actionsDict.actions_onsite_conversion_messaging_block || 0,\n      actions_onsite_offsite_conversion_fb_pixel_complete_registration: actionsDict.actions_onsite_offsite_conversion_fb_pixel_complete_registration || 0,\n      actions_onsite_offsite_conversion_fb_pixel_lead: actionsDict.actions_onsite_offsite_conversion_fb_pixel_lead || 0,\n      actions_onsite_onsite_conversion_messaging_conversation_started_7d: actionsDict.onsite_conversion_messaging_conversation_started_7d || 0,\n      actions_onsite_onsite_conversion_messaging_first_reply: actionsDict.onsite_conversion_messaging_first_reply || 0,\n    }\n  };\n});\n"
      },
      "id": "fb765ee8-ae15-4682-a0fc-9f6895fe1d40",
      "name": "code_data_adset",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        920
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v20.0/{{ $('code_data_adset').item.json[\"adset_id\"] }}?access_token={{ $('Webhook Adset').item.json.body.Token_TKQC }}&fields=status",
        "options": {}
      },
      "id": "97ac09ad-e7d9-4bef-8945-43ba093b89cd",
      "name": "status_adset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3580,
        920
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://primary-production-eac6.up.railway.app/webhook/c7952178-f1e3-4f14-a649-281470a69b6a",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Webhook TKQC').item.json.body }}",
        "options": {}
      },
      "id": "fafa5d04-e52f-4bf8-9455-bcbf17fbeaf9",
      "name": "API Adset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        360
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KiY1hMBR46oHf-Z8B3Ahh83L-SWEPqyhtZ6jLbqLMY4",
          "mode": "list",
          "cachedResultName": "Facebook Ads to Sheet Share",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KiY1hMBR46oHf-Z8B3Ahh83L-SWEPqyhtZ6jLbqLMY4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Cấu hình",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KiY1hMBR46oHf-Z8B3Ahh83L-SWEPqyhtZ6jLbqLMY4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "sync",
              "lookupValue": "on"
            },
            {
              "lookupColumn": "status_token",
              "lookupValue": "live"
            }
          ]
        },
        "options": {}
      },
      "id": "df48c69a-1749-4d9d-a589-7d043d3bf8e8",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        700,
        120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgZ6QgXTze23DhsT",
          "name": "Google Sheets API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "95ecfec1-6c7f-4028-bb3c-01ca3395fe0c",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        920,
        120
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1KiY1hMBR46oHf-Z8B3Ahh83L-SWEPqyhtZ6jLbqLMY4",
          "mode": "list",
          "cachedResultName": "Facebook Ads to Sheet Share",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KiY1hMBR46oHf-Z8B3Ahh83L-SWEPqyhtZ6jLbqLMY4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Cấu hình",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wErq389E1CQfb4MFE8ZTIGRonY8HqS-q0Ciurl6_K_c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_TKQC": "={{ $('Webhook TKQC').item.json.body.ID_TKQC }}",
            "name": "={{ $json.name }}",
            "id_bm": "={{ $json.business.id }}",
            "name_bm": "={{ $json.business.name }}",
            "status": "={{ $json.account_status }}",
            "disable_reason": "={{ $json.disable_reason }}",
            "currency": "={{ $json.funding_source_details.coupons[0].currency }}",
            "balance": "={{ $json.balance }}",
            "payment_card": "={{ $json.funding_source_details.display_string }}",
            "timezone": "={{ $json.timezone_offset_hours_utc }}"
          },
          "matchingColumns": [
            "ID_TKQC"
          ],
          "schema": [
            {
              "id": "ID_TKQC",
              "displayName": "ID_TKQC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Token_TKQC",
              "displayName": "Token_TKQC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sync",
              "displayName": "sync",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status_token",
              "displayName": "status_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_bm",
              "displayName": "id_bm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name_bm",
              "displayName": "name_bm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_name",
              "displayName": "status_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "disable_reason",
              "displayName": "disable_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "disable_reason_name",
              "displayName": "disable_reason_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "balance",
              "displayName": "balance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_card",
              "displayName": "payment_card",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "387c1f41-b8c1-47fa-9ca1-d0fad49f5a3d",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1800,
        360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgZ6QgXTze23DhsT",
          "name": "Google Sheets API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1KiY1hMBR46oHf-Z8B3Ahh83L-SWEPqyhtZ6jLbqLMY4",
          "mode": "list",
          "cachedResultName": "Facebook Ads to Sheet Share",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KiY1hMBR46oHf-Z8B3Ahh83L-SWEPqyhtZ6jLbqLMY4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Cấu hình",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KiY1hMBR46oHf-Z8B3Ahh83L-SWEPqyhtZ6jLbqLMY4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sync": "off",
            "status_token": "die",
            "ID_TKQC": "={{ $('Webhook TKQC').item.json.body.ID_TKQC }}"
          },
          "matchingColumns": [
            "ID_TKQC"
          ],
          "schema": [
            {
              "id": "ID_TKQC",
              "displayName": "ID_TKQC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Token_TKQC",
              "displayName": "Token_TKQC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sync",
              "displayName": "sync",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_token",
              "displayName": "status_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_bm",
              "displayName": "id_bm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name_bm",
              "displayName": "name_bm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status_name",
              "displayName": "status_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "disable_reason",
              "displayName": "disable_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status_disable_reason",
              "displayName": "status_disable_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "balance",
              "displayName": "balance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ngưỡng chi tiêu",
              "displayName": "ngưỡng chi tiêu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_card",
              "displayName": "payment_card",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ea975b2c-54dd-460e-92de-48df0823b061",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1580,
        600
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgZ6QgXTze23DhsT",
          "name": "Google Sheets API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KiY1hMBR46oHf-Z8B3Ahh83L-SWEPqyhtZ6jLbqLMY4",
          "mode": "list",
          "cachedResultName": "Facebook Ads to Sheet Share",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KiY1hMBR46oHf-Z8B3Ahh83L-SWEPqyhtZ6jLbqLMY4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334288234,
          "mode": "list",
          "cachedResultName": "Campaign",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KiY1hMBR46oHf-Z8B3Ahh83L-SWEPqyhtZ6jLbqLMY4/edit#gid=1334288234"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('code_data_campaign').item.json.id }}",
            "date_start": "={{ $('code_data_campaign').item.json.date_start }}",
            "account_name": "={{ $('code_data_campaign').item.json.account_name }}",
            "id_tkqc": "={{ $('Webhook campaign').item.json.body.ID_TKQC }}",
            "objective": "={{ $('code_data_campaign').item.json.objective }}",
            "campaign_name": "={{ $('code_data_campaign').item.json.campaign_name }}",
            "campaign_id": "={{ $('code_data_campaign').item.json.campaign_id }}",
            "status_camp": "={{ $('status_camp').item.json.status }}",
            "reach": "={{ $('code_data_campaign').item.json.reach }}",
            "impressions": "={{ $('code_data_campaign').item.json.impressions }}",
            "frequency": "={{ $('code_data_campaign').item.json.frequency }}",
            "spend": "={{ $('code_data_campaign').item.json.spend }}",
            "clicks": "={{ $('code_data_campaign').item.json.clicks }}",
            "ctr": "={{ $('code_data_campaign').item.json.ctr }}",
            "cpc": "={{ $('code_data_campaign').item.json.cpc }}",
            "cpm": "={{ $('code_data_campaign').item.json.cpm }}",
            "cpp": "={{ $('code_data_campaign').item.json.cpp }}",
            "comment": "={{ $('code_data_campaign').item.json.actions_comment }}",
            "mua hàng trên web": "={{ $('code_data_campaign').item.json.actions_onsite_web_purchase }}",
            "hoàn tất đăng ký": "={{ $('code_data_campaign').item.json.actions_onsite_offsite_conversion_fb_pixel_complete_registration }}",
            "mua hàng trên meta": "={{ $('code_data_campaign').item.json.actions_onsite_conversion_messaging_order_created_v2 }}",
            "tin nhắn phản hồi đầu tiên": "={{ $('code_data_campaign').item.json.actions_onsite_conversion_messaging_first_reply }}",
            "tin nhắn mới": "={{ $('code_data_campaign').item.json.actions_onsite_conversion_total_messaging_connection }}",
            "mua hàng": "={{ $('code_data_campaign').item.json.actions_purchase }}",
            "xem tin nhắn chào mừng": "={{ $('code_data_campaign').item.json.actions_onsite_conversion_messaging_welcome_message_view }}",
            "time_update": "={{ $json.currentDate.replace('T', ' ').split(\".\")[0] }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_start",
              "displayName": "date_start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_update",
              "displayName": "time_update",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "account_name",
              "displayName": "account_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_tkqc",
              "displayName": "id_tkqc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "objective",
              "displayName": "objective",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign_name",
              "displayName": "campaign_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign_id",
              "displayName": "campaign_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_camp",
              "displayName": "status_camp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reach",
              "displayName": "reach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "impressions",
              "displayName": "impressions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "frequency",
              "displayName": "frequency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "spend",
              "displayName": "spend",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "clicks",
              "displayName": "clicks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ctr",
              "displayName": "ctr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cpc",
              "displayName": "cpc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cpm",
              "displayName": "cpm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cpp",
              "displayName": "cpp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comment",
              "displayName": "comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mua hàng trên web",
              "displayName": "mua hàng trên web",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hoàn tất đăng ký",
              "displayName": "hoàn tất đăng ký",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mua hàng trên meta",
              "displayName": "mua hàng trên meta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mua hàng",
              "displayName": "mua hàng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "xem tin nhắn chào mừng",
              "displayName": "xem tin nhắn chào mừng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tin nhắn phản hồi đầu tiên",
              "displayName": "tin nhắn phản hồi đầu tiên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tin nhắn mới",
              "displayName": "tin nhắn mới",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "1126408f-0576-472c-abdd-9e72919e4bb0",
      "name": "Google Sheets5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3800,
        1220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgZ6QgXTze23DhsT",
          "name": "Google Sheets API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KiY1hMBR46oHf-Z8B3Ahh83L-SWEPqyhtZ6jLbqLMY4",
          "mode": "list",
          "cachedResultName": "Facebook Ads to Sheet Share",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KiY1hMBR46oHf-Z8B3Ahh83L-SWEPqyhtZ6jLbqLMY4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1943235917,
          "mode": "list",
          "cachedResultName": "Adset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KiY1hMBR46oHf-Z8B3Ahh83L-SWEPqyhtZ6jLbqLMY4/edit#gid=1943235917"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('code_data_ads').item.json.id }}",
            "date_start": "={{ $('code_data_ads').item.json.date_start }}",
            "account_name": "={{ $('code_data_ads').item.json.account_name }}",
            "id_tkqc": "={{ $('Webhook Ads').item.json.body.ID_TKQC }}",
            "objective": "={{ $('code_data_ads').item.json.objective }}",
            "campaign_name": "={{ $('code_data_ads').item.json.campaign_name }}",
            "campaign_id": "={{ $('code_data_ads').item.json.campaign_id }}",
            "reach": "={{ $('code_data_ads').item.json.reach }}",
            "impressions": "={{ $('code_data_ads').item.json.impressions }}",
            "frequency": "={{ $('code_data_ads').item.json.frequency }}",
            "spend": "={{ $('code_data_ads').item.json.spend }}",
            "clicks": "={{ $('code_data_ads').item.json.clicks }}",
            "ctr": "={{ $('code_data_ads').item.json.ctr }}",
            "cpc": "={{ $('code_data_ads').item.json.cpc }}",
            "cpm": "={{ $('code_data_ads').item.json.cpm }}",
            "cpp": "={{ $('code_data_ads').item.json.cpp }}",
            "comment": "={{ $('code_data_ads').item.json.actions_comment }}",
            "mua hàng trên web": "={{ $('code_data_ads').item.json.actions_onsite_web_purchase }}",
            "hoàn tất đăng ký": "={{ $('code_data_ads').item.json.actions_onsite_offsite_conversion_fb_pixel_complete_registration }}",
            "mua hàng trên meta": "={{ $('code_data_ads').item.json.actions_onsite_conversion_messaging_order_created_v2 }}",
            "tin nhắn phản hồi đầu tiên": "={{ $('code_data_ads').item.json.actions_onsite_conversion_messaging_first_reply }}",
            "tin nhắn mới": "={{ $('code_data_ads').item.json.actions_onsite_conversion_total_messaging_connection }}",
            "mua hàng": "={{ $('code_data_ads').item.json.actions_purchase }}",
            "xem tin nhắn chào mừng": "={{ $('code_data_ads').item.json.actions_onsite_conversion_messaging_welcome_message_view }}",
            "optimization_goal": "={{ $('code_data_ads').item.json.optimization_goal }}",
            "adset_id": "={{ $('code_data_ads').item.json.adset_id }}",
            "adset_name": "={{ $('code_data_ads').item.json.adset_name }}",
            "ad_id": "={{ $('code_data_ads').item.json.ad_id }}",
            "ad_name": "={{ $('code_data_ads').item.json.ad_name }}",
            "status_ad": "={{ $('status_ad').item.json.status }}",
            "time_update": "={{ $json.currentDate.replace('T', ' ').split(\".\")[0] }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_start",
              "displayName": "date_start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_update",
              "displayName": "time_update",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "account_name",
              "displayName": "account_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_tkqc",
              "displayName": "id_tkqc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "objective",
              "displayName": "objective",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign_name",
              "displayName": "campaign_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign_id",
              "displayName": "campaign_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "optimization_goal",
              "displayName": "optimization_goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "adset_id",
              "displayName": "adset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "adset_name",
              "displayName": "adset_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ad_id",
              "displayName": "ad_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ad_name",
              "displayName": "ad_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_ad",
              "displayName": "status_ad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reach",
              "displayName": "reach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "impressions",
              "displayName": "impressions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "frequency",
              "displayName": "frequency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "spend",
              "displayName": "spend",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "clicks",
              "displayName": "clicks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ctr",
              "displayName": "ctr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cpc",
              "displayName": "cpc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cpm",
              "displayName": "cpm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cpp",
              "displayName": "cpp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comment",
              "displayName": "comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mua hàng trên web",
              "displayName": "mua hàng trên web",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hoàn tất đăng ký",
              "displayName": "hoàn tất đăng ký",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mua hàng trên meta",
              "displayName": "mua hàng trên meta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mua hàng",
              "displayName": "mua hàng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "xem tin nhắn chào mừng",
              "displayName": "xem tin nhắn chào mừng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tin nhắn phản hồi đầu tiên",
              "displayName": "tin nhắn phản hồi đầu tiên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tin nhắn mới",
              "displayName": "tin nhắn mới",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "94222a71-77ae-46bd-b2ec-04496391abd5",
      "name": "Google Sheets6",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4620,
        640
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgZ6QgXTze23DhsT",
          "name": "Google Sheets API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KiY1hMBR46oHf-Z8B3Ahh83L-SWEPqyhtZ6jLbqLMY4",
          "mode": "list",
          "cachedResultName": "Facebook Ads to Sheet Share",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KiY1hMBR46oHf-Z8B3Ahh83L-SWEPqyhtZ6jLbqLMY4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1571276577,
          "mode": "list",
          "cachedResultName": "Ad",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KiY1hMBR46oHf-Z8B3Ahh83L-SWEPqyhtZ6jLbqLMY4/edit#gid=1571276577"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('code_data_adset').item.json.id }}",
            "date_start": "={{ $('code_data_adset').item.json.date_start }}",
            "account_name": "={{ $('code_data_adset').item.json.account_name }}",
            "id_tkqc": "={{ $('Webhook Adset').item.json.body.ID_TKQC }}",
            "objective": "={{ $('code_data_adset').item.json.objective }}",
            "campaign_name": "={{ $('code_data_adset').item.json.campaign_name }}",
            "campaign_id": "={{ $('code_data_adset').item.json.campaign_id }}",
            "reach": "={{ $('code_data_adset').item.json.reach }}",
            "impressions": "={{ $('code_data_adset').item.json.impressions }}",
            "frequency": "={{ $('code_data_adset').item.json.frequency }}",
            "spend": "={{ $('code_data_adset').item.json.spend }}",
            "clicks": "={{ $('code_data_adset').item.json.clicks }}",
            "ctr": "={{ $('code_data_adset').item.json.ctr }}",
            "cpc": "={{ $('code_data_adset').item.json.cpc }}",
            "cpm": "={{ $('code_data_adset').item.json.cpm }}",
            "cpp": "={{ $('code_data_adset').item.json.cpp }}",
            "comment": "={{ $('code_data_adset').item.json.actions_comment }}",
            "mua hàng trên web": "={{ $('code_data_adset').item.json.actions_onsite_web_purchase }}",
            "hoàn tất đăng ký": "={{ $('code_data_adset').item.json.actions_onsite_offsite_conversion_fb_pixel_complete_registration }}",
            "mua hàng trên meta": "={{ $('code_data_adset').item.json.actions_onsite_conversion_messaging_order_created_v2 }}",
            "tin nhắn phản hồi đầu tiên": "={{ $('code_data_adset').item.json.actions_onsite_conversion_messaging_first_reply }}",
            "tin nhắn mới": "={{ $('code_data_adset').item.json.actions_onsite_conversion_total_messaging_connection }}",
            "mua hàng": "={{ $('code_data_adset').item.json.actions_purchase }}",
            "xem tin nhắn chào mừng": "={{ $('code_data_adset').item.json.actions_onsite_conversion_messaging_welcome_message_view }}",
            "optimization_goal": "={{ $('code_data_adset').item.json.optimization_goal }}",
            "adset_id": "={{ $('code_data_adset').item.json.adset_id }}",
            "adset_name": "={{ $('code_data_adset').item.json.adset_name }}",
            "status_adset": "={{ $('status_adset').item.json.status }}",
            "time_update": "={{ $json.currentDate.replace('T', ' ').split(\".\")[0] }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_start",
              "displayName": "date_start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_update",
              "displayName": "time_update",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "account_name",
              "displayName": "account_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_tkqc",
              "displayName": "id_tkqc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "objective",
              "displayName": "objective",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign_name",
              "displayName": "campaign_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign_id",
              "displayName": "campaign_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "optimization_goal",
              "displayName": "optimization_goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "adset_id",
              "displayName": "adset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "adset_name",
              "displayName": "adset_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_adset",
              "displayName": "status_adset",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reach",
              "displayName": "reach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "impressions",
              "displayName": "impressions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "frequency",
              "displayName": "frequency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "spend",
              "displayName": "spend",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "clicks",
              "displayName": "clicks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ctr",
              "displayName": "ctr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cpc",
              "displayName": "cpc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cpm",
              "displayName": "cpm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cpp",
              "displayName": "cpp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comment",
              "displayName": "comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mua hàng trên web",
              "displayName": "mua hàng trên web",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hoàn tất đăng ký",
              "displayName": "hoàn tất đăng ký",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mua hàng trên meta",
              "displayName": "mua hàng trên meta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mua hàng",
              "displayName": "mua hàng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "xem tin nhắn chào mừng",
              "displayName": "xem tin nhắn chào mừng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tin nhắn phản hồi đầu tiên",
              "displayName": "tin nhắn phản hồi đầu tiên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tin nhắn mới",
              "displayName": "tin nhắn mới",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "2e33b141-cc9d-4299-8dc1-22fb63ef9ed7",
      "name": "Google Sheets7",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4200,
        920
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgZ6QgXTze23DhsT",
          "name": "Google Sheets API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ef3a904a-85f3-40e4-a4e9-589ba73f5b88",
        "options": {}
      },
      "id": "25723abc-1439-4d2c-8a7a-28d6c18e6f67",
      "name": "Webhook Adset",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2460,
        920
      ],
      "webhookId": "ef3a904a-85f3-40e4-a4e9-589ba73f5b88"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c7952178-f1e3-4f14-a649-281470a69b6a",
        "options": {}
      },
      "id": "d2391f13-6ddb-40ed-9d3f-c54eb0da3e88",
      "name": "Webhook Ads",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2860,
        640
      ],
      "webhookId": "c7952178-f1e3-4f14-a649-281470a69b6a"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "af5eb999-e3c3-4fde-b763-8ceec2476211",
        "options": {}
      },
      "id": "f36209d6-3f08-4888-b303-30966f43f477",
      "name": "Webhook TKQC",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1120,
        480
      ],
      "webhookId": "af5eb999-e3c3-4fde-b763-8ceec2476211"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "acc9697c-ad09-4247-9cd5-7e3262c56f66",
        "options": {}
      },
      "id": "6b614ec2-a7b9-4e86-967b-98638a7f15ab",
      "name": "Webhook campaign",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2020,
        1220
      ],
      "webhookId": "acc9697c-ad09-4247-9cd5-7e3262c56f66"
    },
    {
      "parameters": {
        "options": {
          "timezone": "Asia/Ho_Chi_Minh"
        }
      },
      "id": "7ddb805c-6d12-4967-98db-6cd1d826298f",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3360,
        1220
      ]
    },
    {
      "parameters": {
        "options": {
          "timezone": "Asia/Ho_Chi_Minh"
        }
      },
      "id": "d15aee93-ed59-49fd-a42b-a9d2202d84c9",
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3800,
        920
      ]
    },
    {
      "parameters": {
        "options": {
          "timezone": "Asia/Ho_Chi_Minh"
        }
      },
      "id": "ac2b55b9-e7ff-4c71-9740-91da91d4a155",
      "name": "Date & Time2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4200,
        640
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "004f0b7e-43c5-4ade-bd9d-da32cdee7616",
        "options": {}
      },
      "id": "e3cfd6b4-6545-40c8-8097-02db77b57ce0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        120
      ],
      "webhookId": "004f0b7e-43c5-4ade-bd9d-da32cdee7616"
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "84c39c3d-46de-499e-a8c6-540cdac237f0",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4420,
        640
      ],
      "webhookId": "99cdb8bf-09d3-44dd-b06f-482e4bac5fff"
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "2c6f21cd-d60e-40f9-8491-5120472fa245",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4000,
        920
      ],
      "webhookId": "74d12730-c0d6-425d-bf7a-878177518609"
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "78226a8e-f5f1-4e6e-b2b4-bfdc1d33cb4b",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3580,
        1220
      ],
      "webhookId": "c9f4e3bb-321a-40d0-bc7b-ba97e16e7a37"
    },
    {
      "parameters": {},
      "id": "660ab44e-feb5-4ba5-9a33-d7d2cdc4b437",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1580,
        360
      ],
      "webhookId": "5b33541d-ce6a-4b3d-a111-d4d1144281c9"
    },
    {
      "parameters": {},
      "id": "6c8ac23f-bbf5-4fe5-a876-dc63bd0ad9b4",
      "name": "Wait4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2260,
        360
      ],
      "webhookId": "9af54140-2671-43aa-a3ee-f989c9b51f97"
    },
    {
      "parameters": {},
      "id": "ac02082b-10c7-4f9d-be58-5a5331382f87",
      "name": "Wait5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2660,
        360
      ],
      "webhookId": "0b6356f0-553f-43be-a1da-c084f8085a9d"
    },
    {
      "parameters": {
        "content": "## ",
        "height": 620,
        "width": 220,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1180,
        200
      ],
      "id": "c265fb7b-2487-4a95-991f-e69dfe668b31",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## ",
        "height": 1060,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2040,
        420
      ],
      "id": "0d7183c7-e397-45d8-9c9f-404cb98f3c3c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## ",
        "height": 800,
        "width": 220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2480,
        420
      ],
      "id": "0e4cd13a-d456-4887-b78b-fbddfa6b928b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## ",
        "height": 440,
        "width": 220,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2880,
        420
      ],
      "id": "a8045990-11b7-4001-96b9-296c78a4d8d1",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Chú ý\n- Khi clone template thì thay lại link webhook và các link trong node http request. Tương ứng với các màu giống nhau.\n\nVí dụ: Link webhook màu đỏ thì copy rồi thay vào node http request màu đỏ tương ứng.",
        "width": 1280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        -20
      ],
      "id": "6bc0f70e-68a9-4364-84d2-f2a26b5ef2cc",
      "name": "Sticky Note10"
    }
  ],
  "pinData": {
    "Webhook Adset": [
      {
        "json": {
          "headers": {
            "connection": "close",
            "host": "go.n8n.app",
            "content-length": "363",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "https://giapducthang.com",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "https://giapducthang.com/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "vi-VN,vi;q=0.9"
          },
          "params": {},
          "query": {},
          "body": {
            "ID_TKQC": "1246666332608018",
            "Token_TKQC": "EAALglxIZBbrIBO7Faw7naKe5eGYpXRrurOIQrfCCvij2GnHRGkM0ZA99q0NQIuwNPfwrUyt8mnUs2vfFA1L4YnTeqNunbAhK8HY63VGS1OnWl2cLtE8satxK2qQN7Ul1LPm3jKQPgbhMHsXD93aZAIGavlSr5YCaRk9e3zDC9QdRIBeM3Q1PojGlFCS6LrCPPSJaw2LxZBJuOz2j",
            "time_increment": "1",
            "time_ranges_since": "",
            "time_ranges_until": "",
            "date_preset": "today"
          },
          "webhookUrl": "https://go.n8n.app/webhook-test/5582f890-5f06-4331-acf5-3b87910836a9aaaa",
          "executionMode": "test"
        }
      }
    ],
    "Webhook Ads": [
      {
        "json": {
          "headers": {
            "connection": "close",
            "host": "go.n8n.app",
            "content-length": "363",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "https://giapducthang.com",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "https://giapducthang.com/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "vi-VN,vi;q=0.9"
          },
          "params": {},
          "query": {},
          "body": {
            "ID_TKQC": "1246666332608018",
            "Token_TKQC": "EAALglxIZBbrIBO7Faw7naKe5eGYpXRrurOIQrfCCvij2GnHRGkM0ZA99q0NQIuwNPfwrUyt8mnUs2vfFA1L4YnTeqNunbAhK8HY63VGS1OnWl2cLtE8satxK2qQN7Ul1LPm3jKQPgbhMHsXD93aZAIGavlSr5YCaRk9e3zDC9QdRIBeM3Q1PojGlFCS6LrCPPSJaw2LxZBJuOz2j",
            "time_increment": "1",
            "time_ranges_since": "",
            "time_ranges_until": "",
            "date_preset": "today"
          },
          "webhookUrl": "https://go.n8n.app/webhook-test/a0d152a3-5086-446b-857e-882617ba0a8311212",
          "executionMode": "test"
        }
      }
    ],
    "Webhook TKQC": [
      {
        "json": {
          "headers": {
            "connection": "close",
            "host": "go.n8n.app",
            "content-length": "363",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "https://giapducthang.com",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "https://giapducthang.com/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "vi-VN,vi;q=0.9"
          },
          "params": {},
          "query": {},
          "body": {
            "ID_TKQC": "1246666332608018",
            "Token_TKQC": "EAALglxIZBbrIBO7Faw7naKe5eGYpXRrurOIQrfCCvij2GnHRGkM0ZA99q0NQIuwNPfwrUyt8mnUs2vfFA1L4YnTeqNunbAhK8HY63VGS1OnWl2cLtE8satxK2qQN7Ul1LPm3jKQPgbhMHsXD93aZAIGavlSr5YCaRk9e3zDC9QdRIBeM3Q1PojGlFCS6LrCPPSJaw2LxZBJuOz2j",
            "time_increment": "1",
            "time_ranges_since": "",
            "time_ranges_until": "",
            "date_preset": "today"
          },
          "webhookUrl": "https://go.n8n.app/webhook-test/433f0098-170f-4f5a-8aa8-19e3661a31541111",
          "executionMode": "test"
        }
      }
    ],
    "Webhook campaign": [
      {
        "json": {
          "headers": {
            "connection": "close",
            "host": "go.n8n.app",
            "content-length": "363",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "https://giapducthang.com",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "https://giapducthang.com/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "vi-VN,vi;q=0.9"
          },
          "params": {},
          "query": {},
          "body": {
            "ID_TKQC": "1246666332608018",
            "Token_TKQC": "EAALglxIZBbrIBO7Faw7naKe5eGYpXRrurOIQrfCCvij2GnHRGkM0ZA99q0NQIuwNPfwrUyt8mnUs2vfFA1L4YnTeqNunbAhK8HY63VGS1OnWl2cLtE8satxK2qQN7Ul1LPm3jKQPgbhMHsXD93aZAIGavlSr5YCaRk9e3zDC9QdRIBeM3Q1PojGlFCS6LrCPPSJaw2LxZBJuOz2j",
            "time_increment": "1",
            "time_ranges_since": "",
            "time_ranges_until": "",
            "date_preset": "today"
          },
          "webhookUrl": "https://go.n8n.app/webhook-test/fb-ads-google-sheet-campaign",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 5,
  "updatedAt": "2025-03-30T12:09:12.665Z",
  "versionId": "f55e3457-360b-4c1c-bfcd-3261e5dd963f"
}