credentials/iSKj9g19OVZjnCnY.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Tạo Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo Campaign": {
      "main": [
        [
          {
            "node": "Tạo Adsets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo Adsets": {
      "main": [
        [
          {
            "node": "Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image take HashID": {
      "main": [
        [
          {
            "node": "Tạo QC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo QC": {
      "main": [
        [
          {
            "node": "Publish QC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First Access Global Insta": {
      "main": [
        [
          {
            "node": "Exchange Long Credentials1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First Access Global Insta1": {
      "main": [
        [
          {
            "node": "Exchange Long Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "First Access Global Insta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Spend 200, Pur = 0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spend 200, Pur = 0": {
      "main": [
        [
          {
            "node": "Off Adset Spend 200K",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Spend 300, Pur < 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spend 300, Pur < 2": {
      "main": [
        [
          {
            "node": "Off Adset Spend 300K",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CPP > 200K | pur > 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CPP > 200K | pur > 4": {
      "main": [
        [
          {
            "node": "Cpp > 200",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CPP < 100 | Pur > 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CPP < 100 | Pur > 4": {
      "main": [
        [
          {
            "node": "Nhân camp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tăng Budget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Off Adset Spend 200K": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Off Adset Spend 300K": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cpp > 200": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nhân camp": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Upload Image take HashID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload Video ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video ID": {
      "main": [
        [
          {
            "node": "Tạo QC Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo QC Video": {
      "main": [
        [
          {
            "node": "Publish QC Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API1": {
      "main": [
        [
          {
            "node": "Facebook Graph API2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-31T00:51:08.354Z",
  "id": "iSKj9g19OVZjnCnY",
  "meta": null,
  "name": "Create Facebook Ads",
  "nodes": [
    {
      "parameters": {
        "content": "## Sub-Workflow: Meta Ads Data",
        "height": 620,
        "width": 2600,
        "color": 5
      },
      "id": "c11db9df-a6e2-49f6-8208-91e37e5fde43",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        20,
        680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        300,
        120
      ],
      "id": "5fc87130-5d7f-436d-9f71-50b1f6e37d94",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nDar9ZlioxXJl9dw0DYKwjoNhNxFl4ErQcMSFc84jpo",
          "mode": "list",
          "cachedResultName": "n8n Ads Care",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nDar9ZlioxXJl9dw0DYKwjoNhNxFl4ErQcMSFc84jpo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nDar9ZlioxXJl9dw0DYKwjoNhNxFl4ErQcMSFc84jpo/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "For Production"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        520,
        120
      ],
      "id": "c4905616-1644-43c2-a399-47fb487ddb2c",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/act_369419949067034/campaigns",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "Tên chiến dịch"
            },
            {
              "name": "objective",
              "value": "OUTCOME_ENGAGEMENT"
            },
            {
              "name": "status",
              "value": "PAUSED"
            },
            {
              "name": "special_ad_categories",
              "value": "[]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        120
      ],
      "id": "dbf014f8-eeec-434a-bfa1-aa79cfee11c5",
      "name": "Tạo Campaign"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/act_369419949067034/adsets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "Nhóm quảng cáo tin nhắn"
            },
            {
              "name": "campaign_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "daily_budget",
              "value": "100000"
            },
            {
              "name": "billing_event",
              "value": "IMPRESSIONS"
            },
            {
              "name": "optimization_goal",
              "value": "CONVERSATIONS"
            },
            {
              "name": "targeting",
              "value": "={\n    \"geo_locations\": {\n      \"countries\": [\"VN\"]\n    },\n    \"age_min\": 18,\n    \"age_max\": 65\n  }"
            },
            {
              "name": "status",
              "value": "ACTIVE"
            },
            {
              "name": "bid_strategy",
              "value": "LOWEST_COST_WITHOUT_CAP"
            },
            {
              "name": "start_time",
              "value": "2025-03-30T11:25:00+0700"
            },
            {
              "name": "=messaging_destination",
              "value": "={\n    \"messenger\": true\n  }"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        120
      ],
      "id": "ead891d1-e2f9-46cf-a2d4-9871abcb6766",
      "name": "Tạo Adsets"
    },
    {
      "parameters": {
        "url": "={{ $('Google Sheets').item.json['Ảnh'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        120
      ],
      "id": "5d3fca42-e9e9-409e-a01b-d0e789400cb9",
      "name": "Download"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/act_369419949067034/adimages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "filename",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        100
      ],
      "id": "b1c23691-443c-4de9-8391-ec07dffd647f",
      "name": "Upload Image take HashID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/act_369419949067034/adcreatives",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "Nội dung quảng cáo ảnh"
            },
            {
              "name": "=object_story_spec",
              "value": "={\n    \"page_id\":\"{{ $('Google Sheets').item.json['Page ID'] }}\",\n    \"link_data\":{\n      \"image_hash\":\"{{ $json.images['ads.jpg'].hash }}\",\n      \"link\":\"{{ $('Google Sheets').item.json.Link }}\",\n      \"message\":\"Nội dung chính của quảng cáo\",\n      \"name\":\"Tiêu đề quảng cáo\",\n      \"description\":\"Mô tả ngắn về quảng cáo\",\n      \"call_to_action\":{\"type\":\"MESSAGE_PAGE\",\"value\":{\"link\":\"{{ $('Google Sheets').item.json.Link }}\"}}\n    }\n  }"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        100
      ],
      "id": "21a43799-3dab-4583-9f64-0d76cb8e0ce1",
      "name": "Tạo QC"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/act_369419949067034/ads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "Quảng cáo mới"
            },
            {
              "name": "adset_id",
              "value": "={{ $('Tạo Adsets').item.json.id }}"
            },
            {
              "name": "creative",
              "value": "={\"creative_id\":\"{{ $json.id }}\"}"
            },
            {
              "name": "status",
              "value": "PAUSED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        100
      ],
      "id": "d5be9748-0a2c-4850-90be-6d9dba2db80c",
      "name": "Publish QC"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45ae74a0-7d74-4ca4-909b-276a63578442",
              "name": "access_token",
              "value": "EAAItishBaYgBO0ECyrXKn0g4FQfJQ6OeN81MaB2MBzbAcKkC0gy0ZCInHL0PG8ZBmxdKUlpblLLomhn5xHZBvsvaDyEaVNlZBLC4J8Yy4WgfkeukyDDl61iRSZAY3lxmWh7gSW7amjfmfTI1OxZAtS2izoWOp0MrZAGoNMzPekDQIHNpx18gMXXdda9vZBRWfY8TrGXLipXNiJL4NuFZBU8gS5O023IZCbwK7C9gZDZD",
              "type": "string"
            },
            {
              "id": "0893dc2a-2cad-43dc-9aa8-b7a461e4d04f",
              "name": "app_id",
              "value": "613024041888136",
              "type": "string"
            },
            {
              "id": "cab7f922-bed9-4b82-80dd-9e250f539541",
              "name": "adccount",
              "value": "1391422301727230",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9f353f8a-5b3e-40c0-9db7-97ff2368ff0d",
      "name": "First Access Global Insta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -700,
        120
      ]
    },
    {
      "parameters": {
        "command": "=node testm"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        280,
        1020
      ],
      "id": "22adedae-fa62-455c-983c-31bfb201ec56",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/oauth/access_token?grant_type=fb_exchange_token&client_id={{ $json.app_id }}&fb_exchange_token={{ $json.access_token }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "id": "a0f013be-86c5-4fc4-80d0-49aeadee1f96",
      "name": "Exchange Long Credentials1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -500,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "996b6963-1935-4a2c-99b5-252db08196ac",
              "name": "stdout",
              "value": "={{ $json.stdout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        1020
      ],
      "id": "e48f30bc-ed88-4b6e-aa14-e48b63fa72e4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Lấy dữ liệu từ input (stdout)\nconst inputData = JSON.parse($json.stdout)[0].data;\n\nlet output = [{\n  data: []\n}];\n\n// Duyệt qua từng chiến dịch\nfor (const item of inputData) {\n  output[0].data.push({\n    campaign_id: item.campaign_id,\n    campaign_name: item.campaign_name,\n    campaign_status: item.campaign_status,\n    adsets_id: item.adsets_id,\n    adsets_name: item.adsets_name,\n    adsets_status: item.adsets_status,\n    daily_budget: item.daily_budget || 'N/A',\n    spend: item.spend,\n    total_messaging_connections: item.total_messaging_connections || '0',\n    impressions: item.impressions,\n    clicks: item.clicks\n  });\n}\n\n// Trả về dữ liệu theo cấu trúc yêu cầu\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        1020
      ],
      "id": "5c296109-d61c-490b-b795-c231d9d92aba",
      "name": "Code1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        900,
        1020
      ],
      "id": "2822fe5e-a22c-4e25-ae6a-e2f722a7b44b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        1020
      ],
      "id": "9395ab64-40d1-4384-bdbd-fa9ce4445053",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45ae74a0-7d74-4ca4-909b-276a63578442",
              "name": "access_token",
              "value": "EAAItishBaYgBO0ECyrXKn0g4FQfJQ6OeN81MaB2MBzbAcKkC0gy0ZCInHL0PG8ZBmxdKUlpblLLomhn5xHZBvsvaDyEaVNlZBLC4J8Yy4WgfkeukyDDl61iRSZAY3lxmWh7gSW7amjfmfTI1OxZAtS2izoWOp0MrZAGoNMzPekDQIHNpx18gMXXdda9vZBRWfY8TrGXLipXNiJL4NuFZBU8gS5O023IZCbwK7C9gZDZD",
              "type": "string"
            },
            {
              "id": "0893dc2a-2cad-43dc-9aa8-b7a461e4d04f",
              "name": "app_id",
              "value": "613024041888136",
              "type": "string"
            },
            {
              "id": "cab7f922-bed9-4b82-80dd-9e250f539541",
              "name": "adccount",
              "value": "1391422301727230",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "595979d7-511f-41af-a010-2ea62b54c4e9",
      "name": "First Access Global Insta1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -500,
        360
      ]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v16.0/oauth/access_token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $json.app_id }}"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            }
          ]
        },
        "options": {}
      },
      "id": "ea51f978-2331-404d-8f4d-8de36201dd1c",
      "name": "Exchange Long Credentials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        360
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -760,
        360
      ],
      "id": "8eb3fda9-8c90-42f7-8391-81d57808d3ac",
      "name": "Schedule Trigger2",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $json.adsets_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "PAUSED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        860
      ],
      "id": "c7d1ac04-402f-404f-b2c6-f8f469ee6892",
      "name": "Off Adset Spend 200K"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d97e84ef-2208-4406-a447-c13974f2064f",
              "leftValue": "={{ $json.spend.split(\" \")[0] }}",
              "rightValue": "=200000",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "1ea5e8ea-42f8-4c07-8ef5-3ff567fb9c21",
              "leftValue": "={{ $json.total_messaging_connections }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        1020
      ],
      "id": "b1d93e6c-1ad0-42e1-b1ba-6b366fe62c2a",
      "name": "Spend 200, Pur = 0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $json.adsets_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "PAUSED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        880
      ],
      "id": "da447148-ac67-4dda-ba78-8602d0929da4",
      "name": "Off Adset Spend 300K"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d97e84ef-2208-4406-a447-c13974f2064f",
              "leftValue": "={{ $json.spend.split(\" \")[0] }}",
              "rightValue": "=300000",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "1ea5e8ea-42f8-4c07-8ef5-3ff567fb9c21",
              "leftValue": "={{ $json.total_messaging_connections }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1380,
        1040
      ],
      "id": "b9e77491-7360-41fa-a832-86fdf4824efa",
      "name": "Spend 300, Pur < 2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d97e84ef-2208-4406-a447-c13974f2064f",
              "leftValue": "={{ $json.spend.split(\" \")[0]/ $json.total_messaging_connections}}",
              "rightValue": "=200000",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "1ea5e8ea-42f8-4c07-8ef5-3ff567fb9c21",
              "leftValue": "={{ $json.total_messaging_connections }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        1060
      ],
      "id": "07705a69-f5dd-4edf-81c3-a8b07691b1ae",
      "name": "CPP > 200K | pur > 4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $json.adsets_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "PAUSED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        960
      ],
      "id": "523fc66c-bffa-4b5e-aacd-544dc9c1019b",
      "name": "Cpp > 200"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "asyncbatch",
              "value": "=[\n    {\n        \"method\":\"POST\", \n        \"relative_url\":\"{{ $json.adsets_id }}/copies\",\n        \"name\":\"async_copy1\", \n        \"body\":\"name=copy_adset_1&deep_copy=true&status_option=ACTIVE\"\n    },\n    {\n        \"method\":\"POST\", \n        \"relative_url\":\"{{ $json.adsets_id }}/copies\",\n        \"name\":\"async_copy2\", \n        \"body\":\"name=copy_adset_2&deep_copy=true&status_option=ACTIVE\"\n    }\n]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        980
      ],
      "id": "0545348d-2690-44ce-a536-72c3153b7ac1",
      "name": "Nhân camp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d97e84ef-2208-4406-a447-c13974f2064f",
              "leftValue": "={{ $json.spend.split(\" \")[0]/ $json.total_messaging_connections}}",
              "rightValue": "=100000",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "1ea5e8ea-42f8-4c07-8ef5-3ff567fb9c21",
              "leftValue": "={{ $json.total_messaging_connections }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1860,
        1120
      ],
      "id": "319150e1-0108-4397-9ddc-6f0544bc4cdd",
      "name": "CPP < 100 | Pur > 4"
    },
    {
      "parameters": {
        "content": "## Auto Create Cammp\n**Double click** ",
        "height": 420,
        "width": 2920,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0ba4f0bd-d161-47f1-8d8d-6993e2be50b4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst processedItems = items.map(item => {\n  const mimeType = item.binary && item.binary.data ? item.binary.data.mimeType : 'unknown';\n  \n  // Xác định loại media\n  let mediaType = 'unknown';\n  if (mimeType.startsWith('image/')) {\n    mediaType = 'image';\n  } else if (mimeType.startsWith('video/')) {\n    mediaType = 'video';\n  }\n  \n  console.log('MIME Type:', mimeType);\n  console.log('Media Type:', mediaType);\n\n  return {\n    ...item,\n    json: {\n      ...item.json,\n      mimeType: mimeType,\n      mediaType: mediaType\n    }\n  };\n});\n\nreturn processedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        120
      ],
      "id": "b706daa9-f191-4271-8506-0f439b71b350",
      "name": "Code"
    },
    {
      "parameters": {
        "chatId": "7182418544",
        "text": "=Đã chi tiêu quá 200k và không có Pur nào\nĐã off camp nhóm : {{ $json.adsets_id }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1500,
        700
      ],
      "id": "100cee77-3290-4163-b111-65486af99619",
      "name": "Telegram",
      "webhookId": "c61e270c-9108-4ee9-9bb2-784af0009ada"
    },
    {
      "parameters": {
        "chatId": "7182418544",
        "text": "=Đã chi tiêu quá 300k và Pur < 2\nĐã off camp nhóm : {{ $json.adsets_id }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1740,
        700
      ],
      "id": "a38fe010-6521-4dd9-8439-543bf8b7697c",
      "name": "Telegram1",
      "webhookId": "786921f1-1724-455a-a89f-6d9930ed3e63"
    },
    {
      "parameters": {
        "chatId": "7182418544",
        "text": "=CPP lớn hơn 200k\nĐã off camp nhóm : {{ $json.adsets_id }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1980,
        700
      ],
      "id": "0828a911-b12f-430f-a43f-9254f379c369",
      "name": "Telegram2",
      "webhookId": "88db8a3c-0b78-4132-ab3d-f425613adade"
    },
    {
      "parameters": {
        "chatId": "7182418544",
        "text": "=CPP ngon\nĐã nhân camp nhóm : {{ $json.adsets_id }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2460,
        700
      ],
      "id": "c4402fb5-5e17-46aa-8287-f75a2f54bed8",
      "name": "Telegram3",
      "webhookId": "42933cd0-7953-4904-a7f3-f48bf3187218"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f909e6e9-e263-4fa0-8b19-7e3ab04bfc2a",
              "leftValue": "={{ $json.mediaType }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1640,
        120
      ],
      "id": "91b578b8-795e-4fd0-8f82-8148f8c6e554",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/act_369419949067034/advideos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "filename",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        260
      ],
      "id": "a7a832b0-ad80-4cda-8108-abb402d8749a",
      "name": "Upload Video ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/act_369419949067034/adcreatives",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "Nội dung quảng cáo ảnh"
            },
            {
              "name": "=object_story_spec",
              "value": "={\n    \"page_id\": \"{{ $('Google Sheets').item.json['Page ID'] }}\",\n    \"video_data\": {\n      \"call_to_action\": {\n        \"type\": \"MESSAGE_PAGE\",\n        \"value\": {\n          \"link\": \"https://m.me/{{ $('Google Sheets').item.json['Page ID'] }}\"\n        }\n      },\n      \"image_url\": \"https://video.n8n.zalux.vn/ads.jpg\",\n      \"link_description\": \"Mô tả video\",\n      \"message\": \"Nội dung chính của quảng cáo\",\n      \"title\": \"Tiêu đề quảng cáo\",\n      \"video_id\": \"{{ $json.id }}\"\n    }\n  }"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        260
      ],
      "id": "7f482677-9225-4646-ac6b-186c183f7aea",
      "name": "Tạo QC Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/act_369419949067034/ads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "Quảng cáo mới"
            },
            {
              "name": "adset_id",
              "value": "={{ $('Tạo Adsets').item.json.id }}"
            },
            {
              "name": "creative",
              "value": "={\"creative_id\":\"{{ $json.id }}\"}"
            },
            {
              "name": "status",
              "value": "PAUSED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2380,
        260
      ],
      "id": "ef9ed126-e32c-43c5-b02c-c4a27bc94c29",
      "name": "Publish QC Video"
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "act_1415780612332078",
        "edge": "campaigns",
        "options": {
          "fields": {
            "field": [
              {
                "name": "id,name,status,daily_budget"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        120,
        1420
      ],
      "id": "c70d3012-b223-42f3-9f02-935b3c785b40",
      "name": "Facebook Graph API"
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "120216769353550450",
        "edge": "adsets",
        "options": {
          "fields": {
            "field": [
              {
                "name": "id,name,status,daily_budget"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        340,
        1420
      ],
      "id": "858ba8e5-72e1-49d6-86e5-315fe634eaa7",
      "name": "Facebook Graph API1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -140,
        1420
      ],
      "id": "bfab3ad0-01c4-4b38-b1d9-25943c5e1d94",
      "name": "Schedule Trigger3"
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "={{ $json.data[0].id }}",
        "edge": "=insights",
        "options": {
          "queryParametersJson": "={\n \"fields\": \"spend,actions,impressions,clicks\",\n \"time_range\": {\n   \"since\": \"2025-03-28\",\n   \"until\": \"2025-03-29\"\n }\n}"
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        540,
        1420
      ],
      "id": "9ab3dfab-1829-4605-a197-a5507f2ffe90",
      "name": "Facebook Graph API2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $json.adsets_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "daily_budget",
              "value": "={{ $('Split Out').item.json.daily_budget * 1.2 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        1160
      ],
      "id": "9a8360e9-f016-48b7-8cac-c26e6a324e13",
      "name": "Tăng Budget"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v20.0/{{ $json.async_sessions[0].id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,status,issues_info"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        980
      ],
      "id": "91edd80a-ca3b-4d2c-b854-582d4a72fe09",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-31T00:51:08.354Z",
  "versionId": "a6e074ea-6eee-415d-b99b-14e412691a80"
}