credentials/JRKDo1VD0MGX7A3B.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Tạo Drive Min",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Tạo Drive Min1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive3": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo Drive Min": {
      "main": [
        [
          {
            "node": "Tìm ID Name ảnh",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Tìm ID Name ảnh": {
      "main": [
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive4": {
      "main": [
        [
          {
            "node": "Edit Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo Drive Min1": {
      "main": [
        [
          {
            "node": "Tìm ID Name ảnh1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Tìm ID Name ảnh1": {
      "main": [
        [
          {
            "node": "Google Drive4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-04T01:49:51.714Z",
  "id": "JRKDo1VD0MGX7A3B",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "250404_ResizeImage_UuDai",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6943f956-2289-4fc9-bbef-9f1df03de46a",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1dXdjbQO4IawVEUexuJpc5_wImGZtZ_bO",
            "mode": "list",
            "cachedResultName": "Resize",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1dXdjbQO4IawVEUexuJpc5_wImGZtZ_bO"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "a4c5810f-42de-48f8-bd28-3e88e0f8549a",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const name = item.json.name;\n  const match = name.match(/-(VO|PP)$/i); // lấy phần cuối là VO hoặc PP\n  return {\n    json: {\n      ...item.json,\n      type: match ? match[1].toUpperCase() : 'UNKNOWN'\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "b9aca7ab-19d9-4e3d-9fd0-dd3aa337a1b1",
      "name": "Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "PP",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "50b08efd-6a8b-4b38-b5a4-d32d4e82d8f6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3d7f7cca-afe2-4eec-ae14-81219cf65963",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "VO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        0
      ],
      "id": "40389f68-c2ca-4083-9b73-8cbe18131bfa",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1300,
        -320
      ],
      "id": "64ae611a-8b61-4daf-ab00-6e51a7002497",
      "name": "Google Drive3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Code').item.json.name }}-Min",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1dXdjbQO4IawVEUexuJpc5_wImGZtZ_bO",
          "mode": "list",
          "cachedResultName": "Resize",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1dXdjbQO4IawVEUexuJpc5_wImGZtZ_bO"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        880,
        -320
      ],
      "id": "2994adec-f3bf-4a42-8a87-3bada7331e76",
      "name": "Tạo Drive Min",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Switch').item.json.id }}",
            "mode": "id"
          }
        },
        "options": {
          "fields": [
            "name",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1100,
        -320
      ],
      "id": "d4d0323f-ca89-4e87-97f3-59b89d650b0e",
      "name": "Tìm ID Name ảnh",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "resize",
        "width": null,
        "height": null,
        "options": {
          "format": "webp"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1480,
        -320
      ],
      "id": "925bad34-26f4-4c6e-a15e-0e79c3656fec",
      "name": "Edit Image",
      "retryOnFail": true,
      "maxTries": 5,
      "disabled": true
    },
    {
      "parameters": {
        "name": "={{ $json.customFileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Tạo Drive Min').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3320,
        -240
      ],
      "id": "a26d8517-becb-4343-8cbb-0c005281d717",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "=Please analyze the image and identify the type of motorcycle shown in the picture. Only provide the model name if you are confident.\n\nAnswer the name of the vehicle e.g.:\nWave Alpha\nBlade\nWave RSX\nFuture\nWinnerX\nVision\nLead\nAir Blade\nVario\nSh Mode\nSh125/150/160\nCBR150\nSH350i\nCB350\n\nRespond in this format:\n\nImage: {{ $json.name }}\nMotorcycle Type: {{model_name}}\n\nIf you're not sure, respond with \"Unknown\".\n",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2180,
        -100
      ],
      "id": "ca9b75ff-81f2-491d-8331-8980746a1503",
      "name": "OpenAI",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi (thipha0409)"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const counts = {};\n\nreturn items.map(item => {\n  const content = item.json.content || '';\n\n  // 🧠 1. Tách tên xe từ GPT\n  const typeMatch = content.match(/Motorcycle Type:\\s*(.+)/i);\n  const motorcycleType = typeMatch ? typeMatch[1].trim().replace(/\\s+/g, '') : 'Unknown';\n\n  // 🧠 2. Lấy loại ảnh: PP / VO từ node Switch đã merge\n  const type = item.json.type || 'XX';\n\n  // 🧠 3. Tách prefix (năm-tháng) từ tên thư mục: \"MKT-T4-2025-PP\"\n  const folderName = item.json.name || '';\n  const prefixMatch = folderName.match(/MKT-T(\\d{1})-(\\d{4})/);\n  const prefix = prefixMatch ? `${prefixMatch[2].slice(2)}0${prefixMatch[1]}` : '0000';\n  // Giải thích: \"2025\" + \"4\" => \"2504\"\n\n  // 🧠 4. Tạo key để đánh số theo từng loại xe\n  const key = `${prefix}-${type}-${motorcycleType}`;\n  if (!counts[key]) counts[key] = 1;\n  else counts[key]++;\n\n  const index = counts[key];\n\n  // 🧠 5. Tạo tên file chuẩn\n  const customFileName = `${prefix}-${type}-${motorcycleType}-${index}.webp`;\n\n  return {\n    json: {\n      motorcycleType,\n      type,\n      prefix,\n      customFileName,\n      rawText: content\n    },\n    binary: item.binary // giữ nguyên ảnh để upload\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2980,
        -80
      ],
      "id": "b5e34d3d-517c-4eb1-a9f9-577ea79240af",
      "name": "Code1",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3140,
        -240
      ],
      "id": "12b22f1e-e768-435a-9e30-0d6b77a623c1",
      "name": "Merge",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2800,
        -80
      ],
      "id": "8c1094c3-d192-4207-9863-1d8e4c90b771",
      "name": "Merge1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1340,
        400
      ],
      "id": "0ac30241-d7c1-4034-90f1-e6a9ff561833",
      "name": "Google Drive4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Code').item.json.name }}-Min",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1dXdjbQO4IawVEUexuJpc5_wImGZtZ_bO",
          "mode": "list",
          "cachedResultName": "Resize",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1dXdjbQO4IawVEUexuJpc5_wImGZtZ_bO"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        940,
        400
      ],
      "id": "7f1b56de-48b3-4bf7-bc81-1cdfdf272a5a",
      "name": "Tạo Drive Min1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Switch').item.json.id }}",
            "mode": "id"
          }
        },
        "options": {
          "fields": [
            "name",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1140,
        400
      ],
      "id": "4530aa26-fa10-4f39-adfb-656a214d796a",
      "name": "Tìm ID Name ảnh1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "operation": "resize",
        "width": null,
        "height": null,
        "options": {
          "format": "webp"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1540,
        400
      ],
      "id": "01dcf176-de64-49cd-98ad-ffe1712a2b0a",
      "name": "Edit Image1",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "name": "={{ $json.customFileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Tạo Drive Min1').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3300,
        380
      ],
      "id": "dad23e32-687f-4a52-8f6c-81581d39fa7c",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "=Please analyze the image and identify the type of motorcycle shown in the picture. Only provide the model name if you are confident.\n\nAnswer the name of the vehicle e.g.:\nWave Alpha\nBlade\nWave RSX\nFuture\nWinnerX\nVision\nLead\nAir Blade\nVario\nSh Mode\nSh125/150/160\nCBR150\nSH350i\nCB350\n\nRespond in this format:\n\nImage: {{ $json.name }}\nMotorcycle Type: {{model_name}}\n\nIf you're not sure, respond with \"Unknown\".\n",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2200,
        540
      ],
      "id": "a0538046-380e-43f6-b0cf-85d8d7be5127",
      "name": "OpenAI1",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi (thipha0409)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const counts = {};\n\nreturn items.map(item => {\n  const content = item.json.content || '';\n\n  // 🧠 1. Tách tên xe từ GPT\n  const typeMatch = content.match(/Motorcycle Type:\\s*(.+)/i);\n  const motorcycleType = typeMatch ? typeMatch[1].trim().replace(/\\s+/g, '') : 'Unknown';\n\n  // 🧠 2. Lấy loại ảnh: PP / VO từ node Switch đã merge\n  const type = item.json.type || 'XX';\n\n  // 🧠 3. Tách prefix (năm-tháng) từ tên thư mục: \"MKT-T4-2025-PP\"\n  const folderName = item.json.name || '';\n  const prefixMatch = folderName.match(/MKT-T(\\d{1})-(\\d{4})/);\n  const prefix = prefixMatch ? `${prefixMatch[2].slice(2)}0${prefixMatch[1]}` : '0000';\n  // Giải thích: \"2025\" + \"4\" => \"2504\"\n\n  // 🧠 4. Tạo key để đánh số theo từng loại xe\n  const key = `${prefix}-${type}-${motorcycleType}`;\n  if (!counts[key]) counts[key] = 1;\n  else counts[key]++;\n\n  const index = counts[key];\n\n  // 🧠 5. Tạo tên file chuẩn\n  const customFileName = `${prefix}-${type}-${motorcycleType}-${index}.webp`;\n\n  return {\n    json: {\n      motorcycleType,\n      type,\n      prefix,\n      customFileName,\n      rawText: content\n    },\n    binary: item.binary // giữ nguyên ảnh để upload\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2940,
        200
      ],
      "id": "8f61bf34-4dd8-48ee-9d37-13b7ba477230",
      "name": "Code2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3120,
        380
      ],
      "id": "c9395e77-6bde-477c-95b6-61a551a61a68",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2760,
        260
      ],
      "id": "3d91a6b0-a441-4112-8811-cfb6f1755064",
      "name": "Merge3"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1780,
        -200
      ],
      "id": "ce759c67-808d-4461-80ff-a78d9fda5996",
      "name": "Loop Over Items",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2340,
        -100
      ],
      "id": "92c353a3-deb6-4f92-a836-9783be95e6df",
      "name": "Wait",
      "webhookId": "791b9d3b-1b4f-4487-99a7-77a79bfc047d",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2000,
        -100
      ],
      "id": "f35ee042-cca4-4348-9bb5-2239eb32a3f5",
      "name": "Wait1",
      "webhookId": "5a65aba1-52ec-4e69-aabb-bc127ae98414",
      "disabled": true
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1840,
        480
      ],
      "id": "478fde1b-1f97-4e96-b6da-bb1af13f04cd",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2020,
        540
      ],
      "id": "534d14a0-bb63-47f7-b08c-dd0ac31422d6",
      "name": "Wait2",
      "webhookId": "0be998df-e8e7-4f89-9524-9e341541ba69"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2360,
        540
      ],
      "id": "c72f6686-b813-437f-9401-c82d3eed25bd",
      "name": "Wait3",
      "webhookId": "afedd8fe-6529-4313-9302-ab43a82e7927"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-05T06:17:49.351Z",
  "versionId": "0e3acb4a-c407-4543-b2a9-e38aafdf4b7c"
}