credentials/KRBpBRUKRZIzRTM0.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Tạo Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo Campaign": {
      "main": [
        [
          {
            "node": "Tạo Adsets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo Adsets": {
      "main": [
        [
          {
            "node": "Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image take HashID": {
      "main": [
        [
          {
            "node": "Tạo QC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo QC": {
      "main": [
        [
          {
            "node": "Publish QC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First Access Global Insta": {
      "main": [
        [
          {
            "node": "Exchange Long Credentials1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First Access Global Insta1": {
      "main": [
        [
          {
            "node": "Exchange Long Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "First Access Global Insta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Spend 200, Pur = 0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spend 200, Pur = 0": {
      "main": [
        [
          {
            "node": "Off Adset Spend 200K",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Spend 300, Pur < 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spend 300, Pur < 2": {
      "main": [
        [
          {
            "node": "Off Adset Spend 300K",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CPP > 200K | pur > 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CPP > 200K | pur > 4": {
      "main": [
        [
          {
            "node": "Cpp > 200",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CPP < 100 | Pur > 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CPP < 100 | Pur > 4": {
      "main": [
        [
          {
            "node": "Nhân camp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Off Adset Spend 200K": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Off Adset Spend 300K": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cpp > 200": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nhân camp": {
      "main": [
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Upload Image take HashID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload Video ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video ID": {
      "main": [
        [
          {
            "node": "Tạo QC Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo QC Video": {
      "main": [
        [
          {
            "node": "Publish QC Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-31T00:53:02.763Z",
  "id": "KRBpBRUKRZIzRTM0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Create Facebok Mess",
  "nodes": [
    {
      "parameters": {
        "content": "## Sub-Workflow: Meta Ads Data",
        "height": 620,
        "width": 2600,
        "color": 5
      },
      "id": "ebbbe132-fcef-4be7-9276-3f16be3209a0",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5860,
        3340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        6140,
        2780
      ],
      "id": "63f4ef65-34f3-4e87-ac12-a7fa4f81e093",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nDar9ZlioxXJl9dw0DYKwjoNhNxFl4ErQcMSFc84jpo",
          "mode": "list",
          "cachedResultName": "n8n Ads Care",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nDar9ZlioxXJl9dw0DYKwjoNhNxFl4ErQcMSFc84jpo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nDar9ZlioxXJl9dw0DYKwjoNhNxFl4ErQcMSFc84jpo/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "For Production"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        6360,
        2780
      ],
      "id": "c4d5bd59-fdc6-472f-8f8e-15273cc2e740",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/act_369419949067034/campaigns",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "Tên chiến dịch"
            },
            {
              "name": "objective",
              "value": "OUTCOME_SALES"
            },
            {
              "name": "status",
              "value": "PAUSED"
            },
            {
              "name": "special_ad_categories",
              "value": "[]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6580,
        2780
      ],
      "id": "38221852-bec2-420b-b2f4-66764c3b3d5f",
      "name": "Tạo Campaign"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/act_369419949067034/adsets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "Nhóm quảng cáo chuyển đổi"
            },
            {
              "name": "campaign_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "daily_budget",
              "value": "100000"
            },
            {
              "name": "billing_event",
              "value": "IMPRESSIONS"
            },
            {
              "name": "optimization_goal",
              "value": "OFFSITE_CONVERSIONS"
            },
            {
              "name": "promoted_object",
              "value": "={\n    \"pixel_id\":\"864143895802458\",\n    \"custom_event_type\":\"PURCHASE\"\n  }"
            },
            {
              "name": "targeting",
              "value": "={\n    \"geo_locations\": {\n      \"countries\": [\"VN\"]\n    },\n    \"age_min\": 18,\n    \"age_max\": 65\n  }"
            },
            {
              "name": "status",
              "value": "PAUSED"
            },
            {
              "name": "bid_strategy",
              "value": "LOWEST_COST_WITHOUT_CAP"
            },
            {
              "name": "start_time",
              "value": "2025-03-27T11:25:00+0700"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6800,
        2780
      ],
      "id": "970212db-7559-4385-89ef-d956cf77430d",
      "name": "Tạo Adsets"
    },
    {
      "parameters": {
        "url": "={{ $('Google Sheets').item.json['Ảnh'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7020,
        2780
      ],
      "id": "c5f4fb24-6442-4563-8549-790e3b0ccc2d",
      "name": "Download"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/act_369419949067034/adimages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "filename",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7740,
        2760
      ],
      "id": "4d0f1464-ea5a-46ec-bbfd-0f91accd4e4a",
      "name": "Upload Image take HashID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/act_369419949067034/adcreatives",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "Nội dung quảng cáo ảnh"
            },
            {
              "name": "=object_story_spec",
              "value": "={\n    \"page_id\":\"{{ $('Google Sheets').item.json['Page ID'] }}\",\n    \"link_data\":{\n      \"image_hash\":\"{{ $json.images['ads.jpg'].hash }}\",\n      \"link\":\"{{ $('Google Sheets').item.json.Link }}\",\n      \"message\":\"Nội dung chính của quảng cáo\",\n      \"name\":\"Tiêu đề quảng cáo\",\n      \"description\":\"Mô tả ngắn về quảng cáo\",\n      \"call_to_action\":{\"type\":\"SHOP_NOW\",\"value\":{\"link\":\"{{ $('Google Sheets').item.json.Link }}\"}}\n    }\n  }"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7960,
        2760
      ],
      "id": "ef5bfbf0-a2be-4dd4-8ad0-f9cc6bfe418e",
      "name": "Tạo QC"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/act_369419949067034/ads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "Quảng cáo mới"
            },
            {
              "name": "adset_id",
              "value": "={{ $('Tạo Adsets').item.json.id }}"
            },
            {
              "name": "creative",
              "value": "={\"creative_id\":\"{{ $json.id }}\"}"
            },
            {
              "name": "status",
              "value": "PAUSED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8200,
        2760
      ],
      "id": "3a572ee8-a185-464e-9ace-d04bee3aef88",
      "name": "Publish QC"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v20.0/act_1391422301727230/insights?fields=account_name,campaign_name,adset_name,campaign_id,adset_id,ad_id,reach,impressions,frequency,spend,actions.omni_purchase&time_range={'since':'2025-02-18','until':'2025-03-29'}&access_token=ACCESS_TOKEN",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6460,
        5120
      ],
      "id": "75b6ba88-58de-4b9c-898d-a0c9c3ee19d0",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45ae74a0-7d74-4ca4-909b-276a63578442",
              "name": "access_token",
              "value": "EAAItishBaYgBO0ECyrXKn0g4FQfJQ6OeN81MaB2MBzbAcKkC0gy0ZCInHL0PG8ZBmxdKUlpblLLomhn5xHZBvsvaDyEaVNlZBLC4J8Yy4WgfkeukyDDl61iRSZAY3lxmWh7gSW7amjfmfTI1OxZAtS2izoWOp0MrZAGoNMzPekDQIHNpx18gMXXdda9vZBRWfY8TrGXLipXNiJL4NuFZBU8gS5O023IZCbwK7C9gZDZD",
              "type": "string"
            },
            {
              "id": "0893dc2a-2cad-43dc-9aa8-b7a461e4d04f",
              "name": "app_id",
              "value": "613024041888136",
              "type": "string"
            },
            {
              "id": "cab7f922-bed9-4b82-80dd-9e250f539541",
              "name": "adccount",
              "value": "1391422301727230",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9da811c5-cff7-4961-b829-17fc1ba69b40",
      "name": "First Access Global Insta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5140,
        2780
      ]
    },
    {
      "parameters": {
        "command": "=node test"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        6100,
        3680
      ],
      "id": "e2000121-9d98-4e96-a04c-d9f6f708148e",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/oauth/access_token?grant_type=fb_exchange_token&client_id={{ $json.app_id }}&fb_exchange_token={{ $json.access_token }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "id": "8e24d797-7b5d-437e-954c-434ef60bdd5b",
      "name": "Exchange Long Credentials1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5340,
        2780
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "996b6963-1935-4a2c-99b5-252db08196ac",
              "name": "stdout",
              "value": "={{ $json.stdout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6300,
        3680
      ],
      "id": "783fca2c-e648-41c6-9ded-4b31df50a81d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Lấy dữ liệu từ input (stdout)\nconst inputData = JSON.parse($json.stdout)[0].data;\n\nlet output = [{\n  data: []\n}];\n\n// Duyệt qua từng chiến dịch\nfor (const item of inputData) {\n  output[0].data.push({\n    campaign_id: item.campaign_id,\n    campaign_name: item.campaign_name,\n    campaign_status: item.campaign_status,\n    adsets_id: item.adsets_id,\n    adsets_name: item.adsets_name,\n    adsets_status: item.adsets_status,\n    daily_budget: item.daily_budget || 'N/A',\n    spend: item.spend,\n    omni_purchases: item.omni_purchases || '0',\n    impressions: item.impressions,\n    clicks: item.clicks\n  });\n}\n\n// Trả về dữ liệu theo cấu trúc yêu cầu\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6520,
        3680
      ],
      "id": "48943b38-e98b-4f53-a28b-18fb73aa450c",
      "name": "Code1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        6740,
        3680
      ],
      "id": "5c8d9af9-7556-4f27-94ef-5ba00d31b082",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        5940,
        3680
      ],
      "id": "26f1eb2a-b956-4712-a1bc-ef88db7087ac",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45ae74a0-7d74-4ca4-909b-276a63578442",
              "name": "access_token",
              "value": "EAAItishBaYgBO0ECyrXKn0g4FQfJQ6OeN81MaB2MBzbAcKkC0gy0ZCInHL0PG8ZBmxdKUlpblLLomhn5xHZBvsvaDyEaVNlZBLC4J8Yy4WgfkeukyDDl61iRSZAY3lxmWh7gSW7amjfmfTI1OxZAtS2izoWOp0MrZAGoNMzPekDQIHNpx18gMXXdda9vZBRWfY8TrGXLipXNiJL4NuFZBU8gS5O023IZCbwK7C9gZDZD",
              "type": "string"
            },
            {
              "id": "0893dc2a-2cad-43dc-9aa8-b7a461e4d04f",
              "name": "app_id",
              "value": "613024041888136",
              "type": "string"
            },
            {
              "id": "cab7f922-bed9-4b82-80dd-9e250f539541",
              "name": "adccount",
              "value": "1391422301727230",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "97d6f7c1-1260-4ea3-a60e-4d84e93befeb",
      "name": "First Access Global Insta1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5340,
        3020
      ]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v16.0/oauth/access_token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $json.app_id }}"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            }
          ]
        },
        "options": {}
      },
      "id": "042654fb-2b55-40b3-8a30-390924a6d98b",
      "name": "Exchange Long Credentials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5540,
        3020
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        5080,
        3020
      ],
      "id": "d97f6810-dc9f-431b-90f2-5e1f10e5453c",
      "name": "Schedule Trigger2",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $json.adsets_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "PAUSED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7180,
        3520
      ],
      "id": "3d17cca1-800f-4e23-a380-913acaa87cd2",
      "name": "Off Adset Spend 200K"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d97e84ef-2208-4406-a447-c13974f2064f",
              "leftValue": "={{ $json.spend.split(\" \")[0] }}",
              "rightValue": "=200000",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "1ea5e8ea-42f8-4c07-8ef5-3ff567fb9c21",
              "leftValue": "={{ $json.omni_purchases }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6960,
        3680
      ],
      "id": "60a93256-c3c1-4c38-ba98-3cb3c7b2e013",
      "name": "Spend 200, Pur = 0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $json.adsets_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "PAUSED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7420,
        3540
      ],
      "id": "74741378-5709-4b02-b3ad-93c90ffcc615",
      "name": "Off Adset Spend 300K"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d97e84ef-2208-4406-a447-c13974f2064f",
              "leftValue": "={{ $json.spend.split(\" \")[0] }}",
              "rightValue": "=300000",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "1ea5e8ea-42f8-4c07-8ef5-3ff567fb9c21",
              "leftValue": "={{ $json.omni_purchases }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7220,
        3700
      ],
      "id": "d49b2968-65e1-40a0-9b87-1a49c5503b71",
      "name": "Spend 300, Pur < 2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d97e84ef-2208-4406-a447-c13974f2064f",
              "leftValue": "={{ $json.spend.split(\" \")[0]/ $json.omni_purchases}}",
              "rightValue": "=200000",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "1ea5e8ea-42f8-4c07-8ef5-3ff567fb9c21",
              "leftValue": "={{ $json.omni_purchases }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7440,
        3720
      ],
      "id": "6bb63a6d-b6ba-423e-9874-b5198a6a02cd",
      "name": "CPP > 200K | pur > 4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $json.adsets_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "PAUSED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7660,
        3620
      ],
      "id": "70c65c48-81b7-4fc7-a0eb-f958fcad0889",
      "name": "Cpp > 200"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "asyncbatch",
              "value": "=[\n    {\"method\":\"POST\", \"relative_url\":\"{{ $json.adsets_id }}/copies\", \"body\":\"name=copy_adset_1&deep_copy=true&status=ACTIVE\"},\n    {\"method\":\"POST\", \"relative_url\":\"{{ $json.adsets_id }}/copies\", \"body\":\"name=copy_adset_2&deep_copy=true&status=ACTIVE\"},\n    {\"method\":\"POST\", \"relative_url\":\"{{ $json.adsets_id }}/copies\", \"body\":\"name=copy_adset_3&deep_copy=true&status=ACTIVE\"},\n    {\"method\":\"POST\", \"relative_url\":\"{{ $json.adsets_id }}/copies\", \"body\":\"name=copy_adset_4&deep_copy=true&status=ACTIVE\"},\n    {\"method\":\"POST\", \"relative_url\":\"{{ $json.adsets_id }}/copies\", \"body\":\"name=copy_adset_5&deep_copy=true&status=ACTIVE\"}\n  ]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7940,
        3660
      ],
      "id": "8201fca9-355b-4091-b81e-8527632b3fd1",
      "name": "Nhân camp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d97e84ef-2208-4406-a447-c13974f2064f",
              "leftValue": "={{ $json.spend.split(\" \")[0]/ $json.omni_purchases}}",
              "rightValue": "=100000",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "1ea5e8ea-42f8-4c07-8ef5-3ff567fb9c21",
              "leftValue": "={{ $json.omni_purchases }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7700,
        3780
      ],
      "id": "1924cd80-e3b1-4b2b-896a-2faed0823f69",
      "name": "CPP < 100 | Pur > 4"
    },
    {
      "parameters": {
        "content": "## Auto Create Cammp\n**Double click** ",
        "height": 420,
        "width": 2600,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5840,
        2660
      ],
      "id": "aea89cd7-7df3-47e1-b580-354c63c28208",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst processedItems = items.map(item => {\n  const mimeType = item.binary && item.binary.data ? item.binary.data.mimeType : 'unknown';\n  \n  // Xác định loại media\n  let mediaType = 'unknown';\n  if (mimeType.startsWith('image/')) {\n    mediaType = 'image';\n  } else if (mimeType.startsWith('video/')) {\n    mediaType = 'video';\n  }\n  \n  console.log('MIME Type:', mimeType);\n  console.log('Media Type:', mediaType);\n\n  return {\n    ...item,\n    json: {\n      ...item.json,\n      mimeType: mimeType,\n      mediaType: mediaType\n    }\n  };\n});\n\nreturn processedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7260,
        2780
      ],
      "id": "d86f3bc6-af91-4664-a56f-e106bdecc3ec",
      "name": "Code"
    },
    {
      "parameters": {
        "chatId": "7182418544",
        "text": "=Đã chi tiêu quá 200k và không có Pur nào\nĐã off camp nhóm : {{ $json.adsets_id }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        7340,
        3360
      ],
      "id": "c832558f-6617-42e2-add7-1422f05542d2",
      "name": "Telegram",
      "webhookId": "be51a307-4b38-4c22-a061-ba6647e83113"
    },
    {
      "parameters": {
        "chatId": "7182418544",
        "text": "=Đã chi tiêu quá 300k và Pur < 2\nĐã off camp nhóm : {{ $json.adsets_id }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        7580,
        3360
      ],
      "id": "1ea58345-707a-4cd3-a5ff-2e10fcc92781",
      "name": "Telegram1",
      "webhookId": "be51a307-4b38-4c22-a061-ba6647e83113"
    },
    {
      "parameters": {
        "chatId": "7182418544",
        "text": "=CPP lớn hơn 200k\nĐã off camp nhóm : {{ $json.adsets_id }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        7820,
        3360
      ],
      "id": "29d2fc46-ef5c-44c7-8f28-492da0f61592",
      "name": "Telegram2",
      "webhookId": "be51a307-4b38-4c22-a061-ba6647e83113"
    },
    {
      "parameters": {
        "chatId": "7182418544",
        "text": "=CPP ngon\nĐã nhân camp nhóm : {{ $json.adsets_id }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        8080,
        3360
      ],
      "id": "f01b43f0-df62-40a4-9ab2-125c5512d2bc",
      "name": "Telegram3",
      "webhookId": "be51a307-4b38-4c22-a061-ba6647e83113"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f909e6e9-e263-4fa0-8b19-7e3ab04bfc2a",
              "leftValue": "={{ $json.mediaType }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7480,
        2780
      ],
      "id": "c91555c5-bfb8-4f8a-a2ae-7b3a23d9f358",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/act_369419949067034/advideos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "filename",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7740,
        2920
      ],
      "id": "9b90d8ef-5d86-46c8-9b10-50372ae55d2e",
      "name": "Upload Video ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/act_369419949067034/adcreatives",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "Nội dung quảng cáo ảnh"
            },
            {
              "name": "=object_story_spec",
              "value": "={\n    \"page_id\": \"{{ $('Google Sheets').item.json['Page ID'] }}\",\n    \"video_data\": {\n      \"call_to_action\": {\n        \"type\": \"SHOP_NOW\",\n        \"value\": {\n          \"link\": \"{{ $('Google Sheets').item.json.Link }}\"\n        }\n      },\n      \"image_url\": \"https://video.n8n.zalux.vn/ads.jpg\",\n      \"link_description\": \"Mô tả video\",\n      \"message\": \"Nội dung chính của quảng cáo\",\n      \"title\": \"Tiêu đề quảng cáo\",\n      \"video_id\": \"{{ $json.id }}\"\n    }\n  }"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7960,
        2920
      ],
      "id": "a6ac2939-4e88-4a1c-9987-4844fbbd24a4",
      "name": "Tạo QC Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/act_369419949067034/ads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "Quảng cáo mới"
            },
            {
              "name": "adset_id",
              "value": "={{ $('Tạo Adsets').item.json.id }}"
            },
            {
              "name": "creative",
              "value": "={\"creative_id\":\"{{ $json.id }}\"}"
            },
            {
              "name": "status",
              "value": "PAUSED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8220,
        2920
      ],
      "id": "6a93c0fd-cdaf-4a42-8891-042f45359e66",
      "name": "Publish QC Video"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-31T00:53:02.763Z",
  "versionId": "1fdf142d-b9db-4ac8-b012-f0a5963d7322"
}