credentials/nClvPMd2QM50NrrR.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Item List Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Tạo image qua Flux",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Lấy image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo image qua Flux": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy image": {
      "main": [
        [
          {
            "node": "Image to Video - Kling AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image to Video - Kling AI": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Lấy Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Video": {
      "main": [
        [
          {
            "node": "Text to Sound",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Text to Sound": {
      "main": [
        [
          {
            "node": "upload Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload Google Drive": {
      "main": [
        [
          {
            "node": "share quyền",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "share quyền": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "List element",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List element": {
      "main": [
        [
          {
            "node": "Render Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Video": {
      "main": [
        [
          {
            "node": "Update Video Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Lay Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lay Video": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-26T06:40:26.184Z",
  "id": "nClvPMd2QM50NrrR",
  "meta": null,
  "name": "POV_youtube_Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -580,
        480
      ],
      "id": "a0eaa3f6-bcf7-4d51-b3d0-a2f2d1d99e6a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uWQ_j7qhnf609d2g7-pIUETEeCb4PogkjxaXP-AuoRU",
          "mode": "list",
          "cachedResultName": "POV Faceless Video Automation - AI Agent n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uWQ_j7qhnf609d2g7-pIUETEeCb4PogkjxaXP-AuoRU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uWQ_j7qhnf609d2g7-pIUETEeCb4PogkjxaXP-AuoRU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Production",
              "lookupValue": "for production"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -360,
        480
      ],
      "id": "24678888-4699-41f4-b5d8-4b6aa2add31d",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgZ6QgXTze23DhsT",
          "name": "Google Sheets API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Idea }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=\n## Role & Context:\n\nYou are an advanced **prompt-generation AI** specializing in crafting **highly detailed and hyper-realistic POV (point of view) image prompt ideas**. Your task is to:\n\n-  **Generate concise, action-driven, immersive prompt ideas** that follow a **sequential narrative**, depicting a **\"day in the life\" experience** based on a given video topic.\n\n## Output Rules:\n- **Never include double quotes** in any output.\n- **Skip waking up from bed** – do not include this action.\n- **Do not include actions related to wearing clothing**.\n- **Do not include actions related to using feet**.\n- **Prioritize more sensational and unique scenes** for a given scenario rather than common daily actions.\n- The first output should be \"POV: You are a....\".\n- The next outputs after the first, must follow a logical sequence, covering a full day in life.\n\n## Guidelines for Output Generation:\n1. First-person perspective – Every output must make the viewer feel **fully immersed in the experience**.\n2. Use action-based verbs, such as: [**Gripping, running, reaching, holding, walking toward, stumbling, climbing, lifting, turning, stepping into**.]\n3. Use immersive keywords, such as: [**POV, GoPro-style, first-person view, point of view**.]\n4. Keep all outputs between 5 to 10 words long.\n5. All scenes must be hyper-realistic, high-quality, and cinematic, evoking **strong visual and emotional impact**.\n6. Never use double quotes in any output.\n7. All scenes must by hyper-realistic, high quality, and cinematic, evoking strong visual and emotional impact.\n8. Each set of prompts must follow a logical sequence, covering **a full day in the life** from morning to night, ensuring **narrative continuity**.\n9. Avoid introspection or vague descriptions – Focus on **physical actions and interactions** to build a **cohesive, immersive story**.\n---\n\n## **Example Prompts**\n\n### **Topic: A Peasant’s Day in Medieval Europe**\n- Pushing open a wooden cottage door  \n- Scooping water from a village well  \n- Kneeling to tie worn leather shoes  \n- Walking through a bustling market square  \n- Handing a silver coin to a merchant  \n- Carrying a sack of wheat up a hill  \n- Placing a candle by the bedside  \n\n### **Topic: A Cyberpunk Mercenary’s Routine**\n- Waking up to flickering neon ceiling lights  \n- Pushing aside tangled wires on a desk  \n- Scanning a wrist implant for mission updates  \n- Loading a plasma pistol in a dim alley  \n- Stepping onto a hover bike in the rain  \n- Swiping a keycard through a vault scanner  \n- Ducking behind cover as drones patrol ahead  \n- Hacking a neon-lit terminal with gloved fingers  \n- Collapsing onto a metal cot in exhaustion  \n\n### **Topic: A Soldier’s Day in World War I**\n- Wiping dirt from a battered helmet  \n- Climbing out of a damp trench at dawn  \n- Holding a rusted rifle with trembling hands  \n- Walking through thick fog past barbed wire  \n- Rushing toward an enemy bunker under fire  \n- Reloading behind sandbags as shells explode  \n- Bandaging a soldier’s wound with torn cloth  \n- Lighting a cigarette under a moonlit sky  \n- Resting against a wooden crate in the trenches  \n\nEach generated sequence tells a **visual story**, pulling the viewer into a **cohesive first-person experience from start to finish.**"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -140,
        480
      ],
      "id": "1b3a55bf-bd6d-4dab-b4dc-64b6f984522a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-2024-11-20",
          "mode": "list",
          "cachedResultName": "gpt-4o-2024-11-20"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        720
      ],
      "id": "0379f0f6-1b5d-46ea-88c3-01f95b7fb87f",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "options": {
          "numberOfItems": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserItemList",
      "typeVersion": 1,
      "position": [
        80,
        700
      ],
      "id": "1d1bd9a7-960a-4de0-8dfa-6b5a47436e29",
      "name": "Item List Output Parser"
    },
    {
      "parameters": {
        "content": "## Video Ideas & Brief\n",
        "height": 500,
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -620,
        380
      ],
      "id": "e09648da-f301-4e2b-b98d-8267f01d8fbd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o3-mini-2025-01-31",
          "mode": "list",
          "cachedResultName": "O3-MINI-2025-01-31"
        },
        "messages": {
          "values": [
            {
              "content": "=## Role & Context\n\nYou are an advanced prompt-generation AI specializing in expanding short POV (point-of-view) image prompt ideas into detailed, hyper-realistic prompts optimized for image-generation models like Flux and MidJourney.  \n\nYour task is to take a brief input and transform it into a rich, cinematic, immersive prompt that strictly adheres to a first-person perspective, making the viewer feel as if they are physically present in the scene.\n\nThis is the Short prompt input to expand upon: [ {{ $json.response.text }}  ]\n \n\nEvery prompt must use this to describe the environment of the image:  [{{ $('Google Sheets').item.json.Environment_Prompt }} ]\n\n---\n\n## Prompt Structure\nEvery prompt must have two sections:\n\n1. Foreground:  Show and describe the **hands, limbs, or feet of the viewer**. You also must start with: **\"First person view POV GoPro shot of [relevant limb]...\"**\n\n2. Background: Describe the **scenery and environment**. You also must start with:  \"In the background, [describe scenery]\"\n\n---\n\n## Most Important Guidelines \n- Every image must be a **first-person perspective shot** – The viewer must feel like they are **experiencing the moment themselves**, not just observing it.\n- A visible limb (hands or feet) must always be present and actively engaged in the environment, for examples: gripping, reaching, pushing, lifting, or interacting in a natural way.\n- The framing must be dynamic and interactive, mimicking real-world human vision to ensure motion, depth & immersion similar to a GoPro or head-mounted camera shot.\n- Must limited to 450 characters\n\n### **Other Key Guidelines**\n- Full-body awareness: The prompt should subtly remind the viewer that they have a physical presence by mentioning sensations like: Weight shifting, Breath fogging in the cold, Fingers trembling from adrenaline\n- Sensory depth: The prompt should engage multiple senses to heighten realism (Sight, touch, temperature, sound, and even smell).\n- World interaction: The hands or feet should not just be present but actively interacting with the scene (examples: Clutching, adjusting, stepping forward, brushing against surfaces.)\n- Keep prompts under 450 characters in a single cinematic sentence, no extra formatting, explanations, or unnecessary output.\n\n---\n\n## **Example Prompts**\n### **Input:** Climbing a fire escape over neon streets  \n**Output:** *POV of gloved hands straining to pull up against the slick, rusted fire escape ladder, neon lights dancing in the puddles below, cold rain sliding down trembling fingers, distant sirens wailing as my breath fogs the damp air, a rooftop edge just within reach.*\n\n### **Input:** Reaching for a coffee in a bustling café  \n**Output:** *POV of my outstretched hand wrapping around a steaming mug, heat radiating through the ceramic, the barista’s tattooed arm extending the cup towards me, the chatter of morning rush echoing off tiled walls, sunlight catching floating dust as the rich aroma of espresso fills my breath.*\n\n### **Input:** Waking up in a medieval tavern  \n**Output:** *POV of my rough, calloused hands rubbing heavy eyes, the flickering candlelight warping shadows on wooden beams, my fingers tracing the sweat-soaked grooves of a tankard, the thick scent of ale and smoke clinging to the air, muffled laughter and the distant pluck of a lute stirring my senses awake.*\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        460,
        -80
      ],
      "id": "e27655f3-bb28-4ab8-acf2-2797083015c5",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        680,
        180
      ],
      "id": "bdd36455-8368-45e2-bf20-7e66b1290410",
      "name": "Wait",
      "webhookId": "e8a2b29e-7051-479d-a2dc-a7368be4de9a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/flux/dev",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key d5127c54-eddc-4a60-b7d8-028d9b8fc55d:c04784de32af5056ef84c12f15a506cd"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n     \"prompt\": \"{{ $json.message.content }}\",\n\"imagesize\":{\n\"width\": 540, \n\"height\": 960}\n   }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        180
      ],
      "id": "1e61d6e1-0695-49c2-a11b-76f13d4ada52",
      "name": "Tạo image qua Flux"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/flux/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key d5127c54-eddc-4a60-b7d8-028d9b8fc55d:c04784de32af5056ef84c12f15a506cd"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        180
      ],
      "id": "58c5088a-aec4-437f-9563-f3d425e66cde",
      "name": "Lấy image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/kling-video/v1.6/pro/image-to-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key d5127c54-eddc-4a60-b7d8-028d9b8fc55d:c04784de32af5056ef84c12f15a506cd"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n     \"prompt\": \"{{ $json.prompt }}\",\n     \"image_url\": \"{{ $json.images[0].url }}\",\n  \"duration\": \"5\",\n  \"negative_prompt\": \"blur, distort, bad quality and low quality\",\n  \"cfg_scale\": 0.65,\n\"camera_control\": {\n\"type\": \"simple\",\n\"config\":{\n\"horizontal\": 0,\n\"vertical\": 0,\n\"pan\": 0,\n\"tilt\": 0,\n\"roll\": 0,\n\"zoom\": 0\n}\n}\n\n \n   }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        460
      ],
      "id": "46c73b6d-0870-4045-8c32-b26d9093f16e",
      "name": "Image to Video - Kling AI"
    },
    {
      "parameters": {
        "amount": 6,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        680,
        460
      ],
      "id": "a0801ac2-56b0-4318-8bab-b1efe03b3144",
      "name": "Wait1",
      "webhookId": "e8a2b29e-7051-479d-a2dc-a7368be4de9a"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/kling-video/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key d5127c54-eddc-4a60-b7d8-028d9b8fc55d:c04784de32af5056ef84c12f15a506cd"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        460
      ],
      "id": "d436ef97-b40a-499e-b6ad-74c19e99ffec",
      "name": "Lấy Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/sound-generation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_ec612bdebaf0fa4195eadaafadf66488bcf4cd7fe4e0b885"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"text\": \"No Voice {{ $('Lấy image').item.json.prompt }}\",\n\"duration_seconds\": 5,\n  \"prompt_influence\": 0.6\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        700
      ],
      "id": "7b9fc0c5-93ae-41b5-8f6b-0fdaa3fb39f3",
      "name": "Text to Sound"
    },
    {
      "parameters": {
        "name": "={{ $json.video.url }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1zZWwTXBKaIc_e0vP6IeKl9URcBIEzqPF",
          "mode": "list",
          "cachedResultName": "Audio  video automation POV",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1zZWwTXBKaIc_e0vP6IeKl9URcBIEzqPF"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        660,
        700
      ],
      "id": "faa7d0ad-9d1d-42d7-93cd-e286c2a4c290",
      "name": "upload Google Drive"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "anyone",
            "allowFileDiscovery": true
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        840,
        700
      ],
      "id": "257a56f4-5c0b-43af-8d0b-d90f4206866f",
      "name": "share quyền"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1300,
        320
      ],
      "id": "b4141c73-1138-4279-9235-3eb4a0c1b805",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    scene_titles: items.map(item => item.json.response.text),\n    video_urls: items.map(item => item.json.video.url),\n    sound_urls: items.map(item => item.json.webContentLink)\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        340
      ],
      "id": "890d17e0-7000-4b11-94e1-6488aca4caa7",
      "name": "List element"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer cf4df58e566e41a6ae9d6c726e9016a28963bb923682a7871d594646af97ad56d13378a85feb068ebd9d6855c4f8ec1f"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"template_id\": \"d5035bd5-0795-4915-adec-12c9d9e919ca\",\n  \"modifications\": {\n    \"Audio-1.source\": \"{{ $json.sound_urls[0] }}\",\n    \"Audio-2.source\": \"{{ $json.sound_urls[1] }}\",\n    \"Audio-3.source\": \"{{ $json.sound_urls[2] }}\",\n    \"Audio-4.source\": \"{{ $json.sound_urls[3] }}\",\n    \"Audio-5.source\": \"{{ $json.sound_urls[4] }}\",\n\n    \"Video-1.source\": \"{{ $json.video_urls[0] }}\",\n    \"Video-2.source\": \"{{ $json.video_urls[1] }}\",\n    \"Video-3.source\": \"{{ $json.video_urls[2] }}\",\n    \"Video-4.source\": \"{{ $json.video_urls[3] }}\",\n    \"Video-5.source\": \"{{ $json.video_urls[4] }}\",\n\n    \"Text-1.text\": \"{{ $json.scene_titles[0] }}\",\n    \"Text-2.text\": \"{{ $json.scene_titles[1] }}\",\n    \"Text-3.text\": \"{{ $json.scene_titles[2] }}\",\n    \"Text-4.text\": \"{{ $json.scene_titles[3] }}\",\n    \"Text-5.text\": \"{{ $json.scene_titles[4] }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1640,
        340
      ],
      "id": "daee9259-cdbd-4ea0-af0e-34e993dfab73",
      "name": "Render Video",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uWQ_j7qhnf609d2g7-pIUETEeCb4PogkjxaXP-AuoRU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uWQ_j7qhnf609d2g7-pIUETEeCb4PogkjxaXP-AuoRU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Google Sheets').first().json.id }}",
            "Production": "done",
            "Status Publishing": "for publishing",
            "Final_Output": "={{ $json.url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Idea",
              "displayName": "Idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Catption",
              "displayName": "Catption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Production",
              "displayName": "Production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Environment_Prompt",
              "displayName": "Environment_Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Publishing",
              "displayName": "Status Publishing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final_Output",
              "displayName": "Final_Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1800,
        340
      ],
      "id": "672eec17-e89f-45a7-bfe2-912bc9d1a830",
      "name": "Update Video Link"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1280,
        700
      ],
      "id": "d6fcdfcb-65ef-4fd7-8f04-9ddf3be8fdc1",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uWQ_j7qhnf609d2g7-pIUETEeCb4PogkjxaXP-AuoRU",
          "mode": "list",
          "cachedResultName": "POV Faceless Video Automation - AI Agent n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uWQ_j7qhnf609d2g7-pIUETEeCb4PogkjxaXP-AuoRU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uWQ_j7qhnf609d2g7-pIUETEeCb4PogkjxaXP-AuoRU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status Publishing",
              "lookupValue": "for publishing"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1460,
        700
      ],
      "id": "cae5e576-c507-4950-88ca-4a3ff69f8317",
      "name": "Google Sheets1"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Google Sheets1').item.json.Idea }}",
        "regionCode": "US",
        "categoryId": "1",
        "options": {
          "description": "={{ $json.Catption }}",
          "privacyStatus": "unlisted"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1820,
        700
      ],
      "id": "ada205f2-5e01-4e12-a814-44c43fd35f5c",
      "name": "YouTube"
    },
    {
      "parameters": {
        "content": "## Upload Youtube\n",
        "height": 280,
        "width": 820
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1220,
        600
      ],
      "id": "70c8f041-9828-4501-9f0e-00779950ec4e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Combine & Render video\n",
        "height": 300,
        "width": 820
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1220,
        240
      ],
      "id": "d0cacdd6-7cfb-473a-8abb-c573ce11461b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Tạo Prompts",
        "height": 200,
        "width": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        380,
        -140
      ],
      "id": "e160ff25-9e07-4710-8806-13d5218b901d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Tạo Images",
        "height": 220,
        "width": 840,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        120
      ],
      "id": "1d0538f7-6f9d-45f9-b5e6-15c976945612",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Tạo Videos\n",
        "height": 220,
        "width": 840,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        420
      ],
      "id": "a1ade27e-c11d-4460-b358-41e9d571828b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Tạo Sounds\n",
        "height": 220,
        "width": 840,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        660
      ],
      "id": "5ecfc9b3-a4ec-4e72-bcef-461139abb918",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "url": "={{ $json.Final_Output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1640,
        700
      ],
      "id": "6044b8d0-1b90-40e8-8f1d-755ad50fd71d",
      "name": "Lay Video"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-26T06:40:43.716Z",
  "versionId": "830bbcda-6c36-47d3-8617-79e5b3bd9633"
}