credentials/PTpo7mmTlVnOjlvL.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Business Information": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SEO Knowledge": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-06T07:52:29.501Z",
  "id": "PTpo7mmTlVnOjlvL",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Plan Post Content SEO",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Bạn là một chuyên gia Content SEO chuyên nghiệp, có nhiệm vụ làm việc trực tiếp với Sếp (gọi là BOSS) để xây dựng **kế hoạch và kịch bản nội dung bài viết chuẩn SEO**.\n\nLệnh của BOSS là: {{ $json.chatInput }}\nTime: {{ $now }}\n\n## Mục tiêu của bạn là:\n1. Nghiên cứu thông tin tổng quan về chủ đề bài viết.\n2. Tham khảo kiến thức SEO và dữ liệu doanh nghiệp nội bộ.\n3. Giao tiếp với BOSS để thống nhất kế hoạch triển khai.\n4. Gửi một đoạn tóm tắt kế hoạch triển khai bài viết, sẽ nói về  Bài viết sẽ mở đầu như thế nào,mức độ liên quan giữa các chương.\n5. Đoạn tóm tắt về cấu trúc chương, nên nói về vấn đề gì, cụ thể thông tin gì, đưa ra các dữ liệu gì chứng minh và sẽ có độ liên quan gì đến bài viết và các chương tiếp theo.\n\n---\n\n### Bạn có các công cụ hỗ trợ:\n- **Research Tool**: Sử dụng công cụ \"Research Tool\" để tìm thông tin từ các nguồn uy tín (Wikipedia, Google, diễn đàn, báo chí, website chuyên ngành...).\n- **Bộ nhớ doanh nghiệp**: Có thể truy cập nội dung nội bộ từ một file Google Docs tên là \"Business Information\", file có chứa thông tin về công ty, sản phẩm, khách hàng, sứ mệnh...\n- **Tài liệu kiến thức SEO**: Google Docs \"SEO Knowledge\" hướng dẫn tối ưu SEO, cấu trúc bài viết, hành vi người dùng, kỹ thuật SEO mới nhất.\n- **Bộ nhớ tạm thời**: Ghi nhớ và lưu trữ các nội dung đã trao đổi với BOSS trong suốt cuộc trò chuyện.\n\n---\n\n### Kết quả bạn cần xuất ra **bắc buộc dưới định dạng JSON:**\n```json\n- \"keyword\": \"Gợi ý từ khóa chính cần SEO.\"\n- \"topic_description\": \"Tóm tắt về kế hoạch bài viết, đảm bảo thu hút\"\n- \"number_of_chapters\": Số lượng chương đề xuất (nên nằm trong khoảng 3–7).\n- \"max_word_count\": Tổng số ký tự ước tính của toàn bài viết (ví dụ: 1.200–1.800).\n- \"tone_of_voice\": \"Giọng văn phù hợp (VD: chuyên gia, gần gũi, hài hước, trung lập...).\"\n- \"target_audience\": \"Mô tả chân dung đối tượng độc giả nhắm đến.\"\n- \"chapters\": [\n{\n  - \"chapter_title\": \"Tiêu đề chương\"\n  - \"chapter_description\": \"Mô tả chương, mục tiêu triển khai nội dung của chương đó.\"\n  - \"chapter_structure\" \" Đoạn tóm tắt về cấu trúc chương\"\n}\n]\n```\n\n---\n\n### Trong quá trình làm việc:\n- Hãy **giải thích rõ vì sao chọn cấu trúc bài viết như vậy** để thuyết phục BOSS.\n- Nếu cần, **hỏi thêm BOSS để làm rõ định hướng**, ví dụ: muốn bài bán hàng hay chia sẻ kiến thức?\n- Chỉ khi BOSS xác nhận, bạn mới kết thúc giai đoạn lập kế hoạch để chuyển qua triển khai viết bài.\n\n---\n\n### Gợi ý thêm:\nNếu bạn chưa có file kiến thức SEO, hãy đề xuất cho BOSS sử dụng tài liệu như \"SEO Writing Checklist\", hoặc tích hợp với một plugin SEO phổ biến như Ahrefs/SurferSEO để tăng độ chính xác.\n\n### Bắt buộc:\n- **Phải có các trường thông tin keyword, topic_description, number_of_chapters, tone_of_voice, target_audience, chapters, dưới định dạng JSON.**\n- Phải là tiếng Việt.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        360,
        0
      ],
      "id": "f4ef095e-df31-4d39-be8a-db086f853bdb",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        340,
        240
      ],
      "id": "5e10e26c-423e-4532-bf86-6b0d116469a5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi (thipha0409)"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"keyword\": {\n      \"type\": \"string\",\n      \"description\": \"Từ khóa chính cần SEO cho bài viết\"\n    },\n    \"topic_description\": {\n      \"type\": \"string\",\n      \"description\": \"Mô tả ngắn gọn về chủ đề của bài viết\"\n    },\n    \"number_of_chapters\": {\n      \"type\": \"integer\",\n      \"description\": \"Số lượng chương trong bài viết\"\n    },\n    \"max_word_count\": {\n      \"type\": \"integer\",\n      \"description\": \"Số ký tự tối đa toàn bài viết\"\n    },\n    \"tone_of_voice\": {\n      \"type\": \"string\",\n      \"description\": \"Giọng văn triển khai, ví dụ: chuyên nghiệp, gần gũi, hài hước, bán hàng,...\"\n    },\n    \"target_audience\": {\n      \"type\": \"string\",\n      \"description\": \"Chân dung độc giả mục tiêu của bài viết\"\n    },\n    \"chapters\": {\n      \"type\": \"array\",\n      \"description\": \"Danh sách các chương sẽ có trong bài viết\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"chapter_title\": {\n            \"type\": \"string\",\n            \"description\": \"Tiêu đề chương\"\n          },\n          \"chapter_description\": {\n            \"type\": \"string\",\n            \"description\": \"Mô tả nội dung, mục tiêu của chương\"\n          },\n            \"chapter_structure\": {\n            \"type\": \"string\",\n            \"description\": \"Cấu trúc chương\"\n          }\n        },\n        \"required\": [\"chapter_title\", \"chapter_description\"]\n      }\n    }\n  },\n  \"required\": [\n    \"keyword\",\n    \"topic_description\",\n    \"number_of_chapters\",\n    \"max_word_count\",\n    \"tone_of_voice\",\n    \"target_audience\",\n    \"chapters\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        240,
        260
      ],
      "id": "42b6106a-2ee5-4aaf-8233-ccf43d9d4827",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "=1ufIqaIgYK1l6qJhzHH_iIQ0tdOxO3lTrkp00GNnNuNM",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', `You contain information about the business.`, 'boolean') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        540,
        240
      ],
      "id": "c45c9ef7-2005-4cc4-8d49-a69a46a5b11d",
      "name": "Business Information",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "FBIsiwZrvt3m5rjG",
          "name": "Google Docs API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1XYDJoqv8_CueFXcjhlk8zPcxoa6IbVD66VKP-I-HDGo",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', `You contain knowledge about SEO`, 'boolean') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        640,
        260
      ],
      "id": "1b3259a6-812c-449b-9fcc-a4981b0e61c6",
      "name": "SEO Knowledge",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "FBIsiwZrvt3m5rjG",
          "name": "Google Docs API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "name": "research_tool",
        "workflowId": {
          "__rl": true,
          "value": "EoPvFqTRrfxFOWuS",
          "mode": "list",
          "cachedResultName": "Research"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        440,
        360
      ],
      "id": "dec130c6-08e6-44f9-8511-4dcf67ddb0bf",
      "name": "Research Tool"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        440,
        220
      ],
      "id": "c34b9630-35bb-48cf-99b1-b42ed0de0f2c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://primary-production-eac6.up.railway.app/webhook/0ef6d0a2-d20e-4ec7-b31e-389c2d149b43/chat",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        0
      ],
      "id": "241010c2-9c02-4db9-8733-1d84dea2982f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        140,
        0
      ],
      "id": "edfb872e-b327-483c-89d1-f7c291b18445",
      "name": "Telegram Trigger",
      "webhookId": "9134f2c1-26d3-438d-bbb7-03c09a6562b3",
      "credentials": {
        "telegramApi": {
          "id": "EUJL0Q8mSeRtq6TP",
          "name": "Telegram NamLee"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-08T13:01:02.403Z",
  "versionId": "b324a2c4-36d9-47bc-ad1e-27affecf5719"
}