credentials/QygdR0Mh79cg4pV8.json
{
  "active": false,
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Create post title and structure",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create post title and structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Create post title and structure",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Write chapter text",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Write chapter text",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create post title and structure": {
      "main": [
        [
          {
            "node": "get output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write chapter text": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Write chapter text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get output": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-24T08:36:54.183Z",
  "id": "QygdR0Mh79cg4pV8",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Test 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1FowQPQda-K7YH7Rk08P6_qz_YS5LTdBz_d5sUVmJxnM",
          "mode": "list",
          "cachedResultName": "n8n_Blog_Automation_Pro_v2__SEO_topic_template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FowQPQda-K7YH7Rk08P6_qz_YS5LTdBz_d5sUVmJxnM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "blog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FowQPQda-K7YH7Rk08P6_qz_YS5LTdBz_d5sUVmJxnM/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "efb531cf-a07c-4fd3-b072-35bc44f8f817",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "1DnhMaOtkvEN1OXm",
          "name": "Google Sheets Trigger (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        180,
        0
      ],
      "id": "d856bfd8-c26f-4d3f-8805-221eac64fb16",
      "name": "Limit"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"Content Schema\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\"\n    },\n    \"subtitle\": {\n      \"type\": \"string\"\n    },\n    \"introduction\": {\n      \"type\": \"string\"\n    },\n    \"slug\": {\n      \"type\": \"string\"\n    },\n    \"googleExcerpt\": {\n      \"type\": \"string\"\n    },\n    \"googleMetaDescription\": {\n      \"type\": \"string\"\n    },\n    \"chapters\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": {\n            \"type\": \"string\"\n          },\n          \"prompt\": {\n            \"type\": \"string\"\n          },\n          \"image\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"imagePrompt\": {\n                \"type\": \"string\"\n              },\n              \"fileName\": {\n                \"type\": \"string\"\n              },\n              \"caption\": {\n                \"type\": \"string\"\n              },\n              \"altText\": {\n                \"type\": \"string\"\n              }\n            }\n          }\n        }\n      }\n    },\n    \"conclusion\": {\n      \"type\": \"string\"\n    },\n    \"image\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"imagePrompt\": {\n          \"type\": \"string\"\n        },\n        \"fileName\": {\n          \"type\": \"string\"\n        },\n        \"caption\": {\n          \"type\": \"string\"\n        },\n        \"altText\": {\n          \"type\": \"string\"\n        }\n      }\n    },\n    \"cta\": {\n      \"type\": \"string\"\n    },\n    \"ctaUrl\": {\n      \"type\": \"string\"\n    },\n    \"companyOffering\": {\n      \"type\": \"string\"\n    }\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        780,
        200
      ],
      "id": "e11eb8f1-59c7-4468-8303-9162eb94bba5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "21a4ae32-d1e1-47a0-b20f-de6d170e2e14",
              "name": "Website",
              "value": "={{ $json.Website }}",
              "type": "string"
            },
            {
              "id": "82354758-8cd4-4ffb-b325-24b4e4dead45",
              "name": "Seed keyword",
              "value": "={{ $json.Seed_keyword }}",
              "type": "string"
            },
            {
              "id": "8adf4f3f-d8e1-46c7-8e1b-dc294dccb57f",
              "name": "Target audience",
              "value": "={{ $json.Target_audience }}",
              "type": "string"
            },
            {
              "id": "7a53706a-e885-4510-83f3-a54ea491d73f",
              "name": "Max word count",
              "value": "={{ $json.Word_Count }}",
              "type": "number"
            },
            {
              "id": "4d4cfe30-ae82-46cc-a3dc-3119f7049389",
              "name": "Number of chapters",
              "value": "={{ $json.Chapters }}",
              "type": "number"
            },
            {
              "id": "717d1e7e-3ccf-4685-a560-40f6ea24391e",
              "name": "Introduction length",
              "value": "={{ $json.Introduction_length }}",
              "type": "string"
            },
            {
              "id": "fbbefe2b-7bda-4a1c-b290-8dcafa5ece14",
              "name": "Conclusion length",
              "value": "={{ $json.conclusion_length }}",
              "type": "number"
            },
            {
              "id": "3f87e4d4-b7f4-4ad3-ba51-ecd653e504ae",
              "name": "style",
              "value": "={{ $json.Style }}",
              "type": "string"
            },
            {
              "id": "83605b07-395d-42c1-8bd8-ee0a5bfea9bc",
              "name": "Category ID",
              "value": "={{ $json.Category_ID }}",
              "type": "number"
            },
            {
              "id": "b686f36b-0b09-470c-948e-da1f0a8b30bc",
              "name": "CTA",
              "value": "={{ $json.CTA }}",
              "type": "string"
            },
            {
              "id": "d53b1831-9a1b-43cf-9320-33de005f1fdb",
              "name": "CTA URL",
              "value": "={{ $json.CTA_URL }}",
              "type": "string"
            },
            {
              "id": "8bc227aa-ccb2-46b8-aa28-90ca26ae3682",
              "name": "Company Offering",
              "value": "={{ $json.Company_offering }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        0
      ],
      "id": "fb46f4b8-737b-44c4-a009-5086369d6fd7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        600,
        200
      ],
      "id": "6b90338e-568a-4569-9eb7-7dfdbcc1e781",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1840,
        240
      ],
      "id": "8cac5544-faea-4b9f-babb-e2ce4255d279",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"title\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"content\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2020,
        240
      ],
      "id": "8f6a6f59-cb15-49c5-a007-18da82941c64",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1180,
        0
      ],
      "id": "fa269e82-0437-49a8-92fe-2464468be8c2",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1420,
        0
      ],
      "id": "779899d7-2ce1-4716-8b6f-4a5808e19949",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7171f221-cbb5-4dab-9c17-db58ec385871",
              "name": "chapter_title",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        -140
      ],
      "id": "36594bd4-7a21-447a-b3f8-8dce849e700d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Instruction\nWrite a article about {{ $json['Seed keyword'] }} that targets {{ $json['Target audience'] }} in {{ $json.style }} writing style. The article should have {{ $json['Number of chapters'] }} chapters with {{ $json['Max word count'] }} maximum word count. \n\n### Title and Subtitle\nWrite an **engaging title** and a **concise subtitle** that reflects the topic.\n\n### Introduction\nWrite an introduction of approximately **{{ $json['Introduction length'] }} words** that introduces the topic and sets the stage for the rest of the article.\n\n- **Avoid phrases** like:\n  - \"In this article\"\n  - \"In the fast-paced world\"\n  - \"Transformative\"\n\n### Slug\nCreate a **short, SEO-friendly URL slug** of 3-5 words:\n\n- Ensure it contains the **SEO keyword phrase**.\n- Use **dashes (-)** to separate words.\n\n### Google Excerpt\nWrite a **Google-friendly excerpt** (up to **160 characters**):\n\n- Use an **active voice**.\n- Include the **target key phrase**.\n\n### Google Meta Description\nBased on the article content:\n\n- Limit to **156 characters**.\n- Use an **active voice** and make it **actionable**.\n- Include the **target key phrase**.\n\n### Chapters\nCreate detailed chapter content:\n\n- **Structure**:\n  - Provide a title and an **exhaustive prompt** for each chapter.\n  - Place chapters in an array field called **chapters**, with fields:\n    - `title`\n    - `prompt`\n    - `image`\n  - Ensure a **logical flow** between chapters without repeating concepts.\n  - Avoid generic titles like \"Chapter 1,\" \"Chapter 2,\" etc.; use **descriptive titles**.\n\n- **Markdown Formatting**:\n  - Use **bold**, *italic*, and _underline_ styles when appropriate.\n  - Include **lists** and **numbered lists** as needed.\n\n- **Image Details** for Each Chapter:\n  - **Image Prompt**: A vivid and detailed description of the image.\n  - **File Name**: A descriptive file name for the image (without an extension).\n  - **Caption**: A succinct summary of the image content.\n  - **Alt Text**: An accessibility-focused description of the image.\n\n### Conclusion\nWrite a **{{ $json['Conclusion length'] }}-word conclusion** summarizing the article and leaving the reader with a final takeaway.\n\n### Call-to-Action (CTA) and Company Offering\n- **CTA**: At the end of the article, include a compelling call-to-action message that motivates readers to take the next step: {{ $json.CTA }}\n- **CTA URL**: Provide a URL for the CTA: {{ $json['CTA URL'] }}\n- **Company Offering**: Include a detailed description of the company’s offering: {{ $json['Company Offering'] }}\n### Language Specification\nAll outputs must be provided entirely in Vietnamese, including title, subtitle, introduction, slug, Google Excerpt, Google Meta Description, chapters (title, prompt, imagePrompt, fileName, caption, altText), conclusion, CTA, CTA URL, company offering, and all image details. Do not use any language other than Vietnamese in the final output.\n\n---\n\n## Image Details for Article Cover\nThe article should include a **featured image object** with the following fields:\n\n- **Image Prompt**: A vivid and detailed description of the image reflecting the article's content and sentiment.\n- **File Name**: A descriptive file name for the cover image (without an extension).\n- **Caption**: A succinct summary of the cover image content.\n- **Alt Text**: An accessibility-focused description of the cover image.\n\n**Requirements** for the Cover Image:\n- **Aspect Ratio**: 16:9\n- Must be **relevant** to the article's content and sentiment.\n- Contain **rich details** and reflect the text content in a **photo-realistic style**.\n- Exclude any text other than the DALL-E 3 prompt.\n\n---\n\n### Output Format: JSON\n```json\n{\n  \"title\": \"string\",\n  \"subtitle\": \"string\",\n  \"introduction\": \"string\",\n  \"slug\": \"string\",\n  \"googleExcerpt\": \"string\",\n  \"googleMetaDescription\": \"string\",\n  \"chapters\": [\n    {\n      \"title\": \"string\",\n      \"prompt\": \"string\",\n      \"image\": {\n        \"imagePrompt\": \"string\",\n        \"fileName\": \"string\",\n        \"caption\": \"string\",\n        \"altText\": \"string\"\n      }\n    }\n  ],\n  \"conclusion\": \"string\",\n  \"image\": {\n    \"imagePrompt\": \"string\",\n    \"fileName\": \"string\",\n    \"caption\": \"string\",\n    \"altText\": \"string\"\n  },\n  \"cta\": \"string\",\n  \"ctaUrl\": \"string\",\n  \"companyOffering\": \"string\"\n}\n```",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        620,
        0
      ],
      "id": "d5bb5d74-9812-4920-a1bc-fc850924f9a4",
      "name": "Create post title and structure"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Write a Chapter for an Article**\n\n**Article Details:**\n- **Topic:** {{ $('Create post title and structure').item.json.output.title }}\n- **Subtitle:** {{ $('Create post title and structure').item.json.output.subtitle }}\n\n**Chapter Details:**\n- **Chapter Title:** {{ $('get output').item.json.output.chapters[0].title }}\n- **Chapter Prompt:** {{ $('get output').item.json.output.chapters[0].prompt }}\n\n**Task:**\nGenerate a chapter for the article using the topic, subtitle, chapter title, and chapter prompt above.\n\n**Guidelines:**\n- **Avoid Phrases:** Do not use “In today’s fast-paced world” or similar expressions.\n- **No Product Names:** Refrain from mentioning any names of products or services.\n- **Formatting:** \n  - Return the chapter content as plain text without extra internal titles or headings.\n  - Use markdown formatting (e.g., **bold**, *italic*, lists) where appropriate.\n- **Length & Style:**\n  - The chapter should be about **300-500 words**.\n  - Keep most sentences under 20 words.\n  - Dive deep into the topic—avoid superficial explanations.\n- **Context Consideration:**\n\n  - **Previous Chapter:**  \n    {{ $itemIndex > 0 ? \"- Previous chapter title: \" + $input.all()[$itemIndex - 1].json.title : \"\" }}  \n    {{ $itemIndex > 0 ? \"- Previous chapter prompt: \" + $input.all()[$itemIndex - 1].json.prompt : \"\" }}\n  - **Next Chapter:**  \n    {{ $itemIndex < $input.all().length - 1 ? \"- Next chapter title: \" + $input.all()[$itemIndex + 1].json.title : \"\" }}  \n    {{ $itemIndex < $input.all().length - 1 ? \"- Next chapter prompt: \" + $input.all()[$itemIndex + 1].json.prompt : \"\" }}\n  - Ensure the chapter content is coherent with both previous and following chapters and does not repeat concepts already discussed.\n- **Integration:**  \n  This chapter is part of a larger article. Do not include an introduction or conclusion that stands alone; ensure the chapter flows naturally into the overall article.\n\n**Output Format:**\nReturn the chapter as a JSON object with two fields:\n```json\n{\n  \"title\": \"string\",\n  \"content\": \"string\"\n}\n```\n\n---",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1920,
        40
      ],
      "id": "fccd0ce7-12de-40cc-be86-d3768f77dc2b",
      "name": "Write chapter text"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1680,
        40
      ],
      "id": "2fbdff7d-c3b3-48f4-be8b-bd8dcf99bb27",
      "name": "Wait",
      "webhookId": "7b75e814-efc6-47c3-a061-6c8be0b73d92"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2803730a-44bf-4612-ba8b-369de2aa034b",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        980,
        0
      ],
      "id": "7e6de62f-a356-4b81-8da8-6dfe267da56c",
      "name": "get output"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-24T10:39:59.427Z",
  "versionId": "07780c69-f845-4cd2-b2f1-17faa2a723bb"
}