credentials/swqBzFOMc1Stdhg0.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-18T08:10:44.425Z",
  "id": "swqBzFOMc1Stdhg0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Google Credential",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "68ef0c9a-bc92-4480-b54b-690393f7edbe",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "q": "=subject:Đăng ký nhận báo giá"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        220,
        0
      ],
      "id": "1c61b29f-32d0-45a1-afff-ba2f85e8d82d",
      "name": "Gmail",
      "webhookId": "5413f566-b507-4ff8-b52a-0c1dbde83693",
      "credentials": {
        "gmailOAuth2": {
          "id": "VIRMOYVQEP0eT8Cg",
          "name": "Gmail API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1I6vg5cwW7_d1sJ9NVhFoQr2Gkxys_8WRis5O7pgELhw",
          "mode": "list",
          "cachedResultName": "thong-tin-kh",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I6vg5cwW7_d1sJ9NVhFoQr2Gkxys_8WRis5O7pgELhw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I6vg5cwW7_d1sJ9NVhFoQr2Gkxys_8WRis5O7pgELhw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Khách hàng": "={{ $json.snippet }}"
          },
          "matchingColumns": [
            "Khách hàng"
          ],
          "schema": [
            {
              "id": "Khách hàng",
              "displayName": "Khách hàng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SĐT",
              "displayName": "SĐT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Dòng xe",
              "displayName": "Dòng xe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sống tại",
              "displayName": "Sống tại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        0
      ],
      "id": "4687ef8e-31d6-4ccf-b4c5-39170589ee79",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgZ6QgXTze23DhsT",
          "name": "Google Sheets API (namlee2807)"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-18T09:29:13.415Z",
  "versionId": "f42cc21e-3d61-49ae-a3af-ccb98a976ce6"
}