credentials/TkcGa16IAv5FqnJX.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PerplexityAI API": {
      "main": [
        [
          {
            "node": "Get Research Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "PerplexityAI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-09T04:36:58.966Z",
  "id": "TkcGa16IAv5FqnJX",
  "meta": null,
  "name": "2024_02_28_WordPress_Blog_Automation_Pro__Deep_Research__v1_subflow",
  "nodes": [
    {
      "parameters": {},
      "id": "a3ea0761-a534-4eb2-8e85-741ea0c0c5ad",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.model }}\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify($json.system_message) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.query) }}\n    }\n  ],\n  \"max_tokens\": {{ $json.max_tokens }},\n  \"temperature\": 0.2,\n  \"top_p\": 0.9,\n  \"search_domain_filter\": null,\n  \"return_images\": false,\n  \"return_related_questions\": false,\n  \"search_recency_filter\": \"month\",\n  \"top_k\": 0,\n  \"stream\": false,\n  \"presence_penalty\": 0,\n  \"frequency_penalty\": 1,\n  \"response_format\": null\n}",
        "options": {}
      },
      "id": "8718cc0a-c8f0-4699-962f-c342e92b89a8",
      "name": "PerplexityAI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wPYfO85eywm4HX0E",
          "name": "Perplexity AI Authorization"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea477bb8-47dd-49be-9560-e29cc544cc9e",
              "name": "response",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "11532191-7b9f-445c-8d34-9a2a9e682d34",
      "name": "Get Research Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1543a7e-3509-4a39-b132-32106c34cb7c",
              "name": "model",
              "value": "sonar",
              "type": "string"
            },
            {
              "id": "c2cc5e5b-31d2-4964-9bc7-f0b55dd2ec1b",
              "name": "query",
              "value": "=Facebook Ads",
              "type": "string"
            },
            {
              "id": "559d4864-9e2d-41ca-9dc4-01c4aa105276",
              "name": "system_message",
              "value": "Be thorough and comprehensive",
              "type": "string"
            },
            {
              "id": "3f954b4c-2f56-4397-9832-518fc5d32ae5",
              "name": "max_tokens",
              "value": "1000",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        0
      ],
      "id": "017545f3-ae8d-4a12-a5d3-e7680083b5c9",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-09T04:36:45.790Z",
      "updatedAt": "2025-03-09T04:36:45.790Z",
      "id": "exZKA0B9pNjGXwC8",
      "name": "Tool"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-03-13T13:17:43.464Z",
  "versionId": "db0ad47b-de55-4552-88d3-84b127118ba8"
}