credentials/XnJBhbtlM16HyRpI.json
{
  "active": false,
  "connections": {
    "Generate featured image": {
      "main": [
        [
          {
            "node": "Upload featured image to Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resize featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Create post title and structure",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create post title and structure": {
      "main": [
        [
          {
            "node": "Create Drive folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write chapter text": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Check inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Write chapter text",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split out chapters": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get post sitemap": {
      "main": [
        [
          {
            "node": "Get XML file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get XML file": {
      "main": [
        [
          {
            "node": "Split out links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out links": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get title chapter and content": {
      "main": [
        [
          {
            "node": "Merge chapters title and text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate chapter image": {
      "main": [
        [
          {
            "node": "Upload chapter images to Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resize Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize Image": {
      "main": [
        [
          {
            "node": "Upload chapter images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload chapter images": {
      "main": [
        [
          {
            "node": "Update image meta data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge chapters title and text": {
      "main": [
        [
          {
            "node": "Combine into article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown to HTML": {
      "main": [
        [
          {
            "node": "FInal article in HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post on Wordpress": {
      "main": [
        [
          {
            "node": "Add featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize featured image": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload featured image": {
      "main": [
        [
          {
            "node": "Update featured image meta data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update image meta data": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge chapters title and text",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update featured image meta data": {
      "main": [
        [
          {
            "node": "Set featured image for post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Get title chapter and content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set featured image for post": {
      "main": [
        [
          {
            "node": "Set excerpt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set excerpt": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Create post title and structure",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Write chapter text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Generate chapter image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Write chapter text",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Aggregate internal links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check inputs": {
      "main": [
        [
          {
            "node": "Create post title and structure",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get post sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add featured image": {
      "main": [
        [
          {
            "node": "Upload featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Doc": {
      "main": [
        [
          {
            "node": "Save texts to Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload chapter images to Drive": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Save texts to Doc": {
      "main": [
        [
          {
            "node": "Post on Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get output": {
      "main": [
        [
          {
            "node": "Split out chapters",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Drive folder": {
      "main": [
        [
          {
            "node": "Get output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload featured image to Drive": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Add featured image",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the latest topic": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FInal article in HTML": {
      "main": [
        [
          {
            "node": "Create Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final article in Markdown": {
      "main": [
        [
          {
            "node": "Markdown to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine into article": {
      "main": [
        [
          {
            "node": "Final article in Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate internal links": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Get the latest topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-20T04:12:46.395Z",
  "id": "XnJBhbtlM16HyRpI",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "SEO Write",
  "nodes": [
    {
      "parameters": {
        "content": "Final confirmation to the user",
        "height": 80,
        "width": 263,
        "color": 7
      },
      "id": "7621ba30-7b42-4631-ac6a-2cbac2ed23d2",
      "name": "Sticky Note43",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5640,
        2700
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate a photographic image to be used as the cover image for the article titled {{ $('Create post title and structure').first().json.output.title }}, {{ $('Create post title and structure').first().json.output.subtitle }}\nThis is the prompt for the image: {{ $('Create post title and structure').first().json.output.image.imagePrompt }}, photography, realistic. Do not show any texts in the image.",
        "options": {
          "quality": "standard",
          "size": "1792x1024",
          "style": "natural"
        }
      },
      "id": "2bc5dc6d-00c5-4710-87cf-96946bd4cb34",
      "name": "Generate featured image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1640,
        1160
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"Content Schema\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\"\n    },\n    \"subtitle\": {\n      \"type\": \"string\"\n    },\n    \"introduction\": {\n      \"type\": \"string\"\n    },\n    \"slug\": {\n      \"type\": \"string\"\n    },\n    \"googleExcerpt\": {\n      \"type\": \"string\"\n    },\n    \"googleMetaDescription\": {\n      \"type\": \"string\"\n    },\n    \"chapters\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": {\n            \"type\": \"string\"\n          },\n          \"prompt\": {\n            \"type\": \"string\"\n          },\n          \"image\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"imagePrompt\": {\n                \"type\": \"string\"\n              },\n              \"fileName\": {\n                \"type\": \"string\"\n              },\n              \"caption\": {\n                \"type\": \"string\"\n              },\n              \"altText\": {\n                \"type\": \"string\"\n              }\n            }\n          }\n        }\n      }\n    },\n    \"conclusion\": {\n      \"type\": \"string\"\n    },\n    \"image\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"imagePrompt\": {\n          \"type\": \"string\"\n        },\n        \"fileName\": {\n          \"type\": \"string\"\n        },\n        \"caption\": {\n          \"type\": \"string\"\n        },\n        \"altText\": {\n          \"type\": \"string\"\n        }\n      }\n    },\n    \"cta\": {\n      \"type\": \"string\"\n    },\n    \"ctaUrl\": {\n      \"type\": \"string\"\n    },\n    \"companyOffering\": {\n      \"type\": \"string\"\n    }\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        200,
        240
      ],
      "id": "3f4ad2be-2da8-4b2c-abed-66ab89c71dea",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Instruction\nWrite a article about {{ $json['Seed keyword'] }} that targets {{ $json['Target audience'] }} in {{ $json.style }} writing style. The article should have {{ $json['Number of chapters'] }} chapters with {{ $json['Max word count'] }} maximum word count. \n\n### Title and Subtitle\nWrite an **engaging title** and a **concise subtitle** that reflects the topic.\n\n### Introduction\nWrite an introduction of approximately **{{ $json['Introduction length'] }} words** that introduces the topic and sets the stage for the rest of the article.\n\n- **Avoid phrases** like:\n  - \"In this article\"\n  - \"In the fast-paced world\"\n  - \"Transformative\"\n\n### Slug\nCreate a **short, SEO-friendly URL slug** of 3-5 words:\n\n- Ensure it contains the **SEO keyword phrase**.\n- Use **dashes (-)** to separate words.\n\n### Google Excerpt\nWrite a **Google-friendly excerpt** (up to **160 characters**):\n\n- Use an **active voice**.\n- Include the **target key phrase**.\n\n### Google Meta Description\nBased on the article content:\n\n- Limit to **156 characters**.\n- Use an **active voice** and make it **actionable**.\n- Include the **target key phrase**.\n\n### Chapters\nCreate detailed chapter content:\n\n- **Structure**:\n  - Provide a title and an **exhaustive prompt** for each chapter.\n  - Place chapters in an array field called **chapters**, with fields:\n    - `title`\n    - `prompt`\n    - `image`\n  - Ensure a **logical flow** between chapters without repeating concepts.\n  - Avoid generic titles like \"Chapter 1,\" \"Chapter 2,\" etc.; use **descriptive titles**.\n\n- **Markdown Formatting**:\n  - Use **bold**, *italic*, and _underline_ styles when appropriate.\n  - Include **lists** and **numbered lists** as needed.\n\n- **Image Details** for Each Chapter:\n  - **Image Prompt**: A vivid and detailed description of the image.\n  - **File Name**: A descriptive file name for the image (without an extension).\n  - **Caption**: A succinct summary of the image content.\n  - **Alt Text**: An accessibility-focused description of the image.\n\n### Conclusion\nWrite a **{{ $json['Conclusion length'] }}-word conclusion** summarizing the article and leaving the reader with a final takeaway.\n\n### Call-to-Action (CTA) and Company Offering\n- **CTA**: At the end of the article, include a compelling call-to-action message that motivates readers to take the next step: {{ $('Settings').item.json.CTA }} \n- **CTA URL**: Provide a URL for the CTA: {{ $('Settings').item.json['CTA URL'] }}\n- **Company Offering**: Include a detailed description of the company’s offering: {{ $('Settings').item.json['Company Offering'] }}\n\n### Language Specification\nAll outputs must be provided entirely in Vietnamese, including title, subtitle, introduction, slug, Google Excerpt, Google Meta Description, chapters (title, prompt, imagePrompt, fileName, caption, altText), conclusion, CTA, CTA URL, company offering, and all image details. Do not use any language other than Vietnamese in the final output.\n\n---\n\n## Image Details for Article Cover\nThe article should include a **featured image object** with the following fields:\n\n- **Image Prompt**: A vivid and detailed description of the image reflecting the article's content and sentiment.\n- **File Name**: A descriptive file name for the cover image (without an extension).\n- **Caption**: A succinct summary of the cover image content.\n- **Alt Text**: An accessibility-focused description of the cover image.\n\n**Requirements** for the Cover Image:\n- **Aspect Ratio**: 16:9\n- Must be **relevant** to the article's content and sentiment.\n- Contain **rich details** and reflect the text content in a **photo-realistic style**.\n- Exclude any text other than the DALL-E 3 prompt.\n\n---\n\n### Output Format: JSON\n```json\n{\n  \"title\": \"string\",\n  \"subtitle\": \"string\",\n  \"introduction\": \"string\",\n  \"slug\": \"string\",\n  \"googleExcerpt\": \"string\",\n  \"googleMetaDescription\": \"string\",\n  \"chapters\": [\n    {\n      \"title\": \"string\",\n      \"prompt\": \"string\",\n      \"image\": {\n        \"imagePrompt\": \"string\",\n        \"fileName\": \"string\",\n        \"caption\": \"string\",\n        \"altText\": \"string\"\n      }\n    }\n  ],\n  \"conclusion\": \"string\",\n  \"image\": {\n    \"imagePrompt\": \"string\",\n    \"fileName\": \"string\",\n    \"caption\": \"string\",\n    \"altText\": \"string\"\n  },\n  \"cta\": \"string\",\n  \"ctaUrl\": \"string\",\n  \"companyOffering\": \"string\"\n}\n```",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -60,
        60
      ],
      "id": "77782d73-0afd-4519-bda8-88ee3719125d",
      "name": "Create post title and structure",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Write a Chapter for an Article**\n\n**Article Details:**\n- **Topic:** {{ $('Create post title and structure').first().json.output.title }}\n- **Subtitle:** {{ $('Create post title and structure').first().json.output.subtitle }}\n\n**Chapter Details:**\n- **Chapter Title:** {{ $('Split out chapters').item.json.title }}\n- **Chapter Prompt:** {{ $('Split out chapters').item.json.prompt }}\n\n**Task:**\nGenerate a chapter for the article using the topic, subtitle, chapter title, and chapter prompt above.\n\n**Guidelines:**\n- **Avoid Phrases:** Do not use “In today’s fast-paced world” or similar expressions.\n- **No Product Names:** Refrain from mentioning any names of products or services.\n- **Formatting:** \n  - Return the chapter content as plain text without extra internal titles or headings.\n  - Use markdown formatting (e.g., **bold**, *italic*, lists) where appropriate.\n- **Length & Style:**\n  - The chapter should be about **{{ Math.round($('Settings').first().json['Max word count']) / $('Settings').first().json['Number of chapters'] }} words**.\n  - Keep most sentences under 20 words.\n  - Dive deep into the topic—avoid superficial explanations.\n- **Context Consideration:**\n  - **Previous Chapter:**  \n    {{ $itemIndex > 0 ? \"- Previous chapter title: \" + $input.all()[$itemIndex - 1].json.title : \"\" }}  \n    {{ $itemIndex > 0 ? \"- Previous chapter prompt: \" + $input.all()[$itemIndex - 1].json.prompt : \"\" }}\n  - **Next Chapter:**  \n    {{ $itemIndex < $input.all().length - 1 ? \"- Next chapter title: \" + $input.all()[$itemIndex + 1].json.title : \"\" }}  \n    {{ $itemIndex < $input.all().length - 1 ? \"- Next chapter prompt: \" + $input.all()[$itemIndex + 1].json.prompt : \"\" }}\n  - Ensure the chapter content is coherent with both previous and following chapters and does not repeat concepts already discussed.\n- **Internal Linking:**\n  - Review the list of blog URLs below:\n    ```\n    {{ $json.internal_links.join(\"\\n\") }}\n    ```\n  - Choose one URL that is relevant to the chapter content and embed it as an internal link with appropriate hyperlink text.\n  - Use each URL only once. If none are relevant, do not add any links.\n- **Integration:**  \n  This chapter is part of a larger article. Do not include an introduction or conclusion that stands alone; ensure the chapter flows naturally into the overall article.\n\n**Output Format:**\nReturn the chapter as a JSON object with two fields:\n```json\n{\n  \"title\": \"string\",\n  \"content\": \"string\"\n}\n```\n\n---",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2360,
        160
      ],
      "id": "60fb0b44-3646-4129-992a-0d21b994d949",
      "name": "Write chapter text"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1440,
        60
      ],
      "id": "a863ea7a-354e-4d31-9e61-0d6907b507ec",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "deb6621e-982a-4e20-a1c1-1140be02cad3",
              "name": "Website",
              "value": "={{ $json.Website }}",
              "type": "string"
            },
            {
              "id": "fdd24a9b-649b-4088-b085-da0be99f3d86",
              "name": "Seed keyword",
              "value": "={{ $json.Seed_keyword }}",
              "type": "string"
            },
            {
              "id": "2b0b01e1-8a4b-4cf4-8327-bc6e0ca30ef8",
              "name": "Target audience",
              "value": "={{ $json.Target_audience }}",
              "type": "string"
            },
            {
              "id": "0dafb0ac-5735-4243-84cc-85e787697892",
              "name": "Max word count",
              "value": "={{ $json.Word_Count }}",
              "type": "number"
            },
            {
              "id": "3bab3dcd-e18d-4b22-9c86-a8e9b60ea5c3",
              "name": "Number of chapters",
              "value": "={{ $json.Chapters }}",
              "type": "number"
            },
            {
              "id": "191105bb-4f7e-4b4f-bab7-95fa1f858c43",
              "name": "Introduction length",
              "value": "={{ $json.Introduction_length }}",
              "type": "number"
            },
            {
              "id": "d1368f97-9249-4bb6-9c5c-f3185b7ef9eb",
              "name": "Conclusion length",
              "value": "={{ $json.conclusion_length }}",
              "type": "number"
            },
            {
              "id": "9579a7f2-1a4e-45b7-8cd7-ef249073798d",
              "name": "style",
              "value": "={{ $json.Style }}",
              "type": "string"
            },
            {
              "id": "1575eee8-6b01-4d0f-8304-68d4d541f0f7",
              "name": "Category ID",
              "value": "={{ $json.Category_ID }}",
              "type": "number"
            },
            {
              "id": "ae45f0c3-1ed6-4901-bf50-359ea3da33a9",
              "name": "CTA",
              "value": "={{ $json.CTA }}",
              "type": "string"
            },
            {
              "id": "c71d3ccd-369d-4c50-8f57-1cb693af14be",
              "name": "CTA URL",
              "value": "={{ $json.CTA_URL }}",
              "type": "string"
            },
            {
              "id": "f6e4ce2b-6d29-4ca8-9b91-6236701d71b5",
              "name": "Company Offering",
              "value": "={{ $json.Company_offering }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        60
      ],
      "id": "7940d90c-47ed-458a-9339-e84387077080",
      "name": "Settings"
    },
    {
      "parameters": {
        "content": "## Settings",
        "height": 431,
        "width": 567,
        "color": 2
      },
      "id": "ba14fb1c-6f38-4ee5-a232-8b0141e9a4f6",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -860,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Create Article structure\n",
        "height": 431,
        "width": 607,
        "color": 2
      },
      "id": "6b5d6cdb-f7f7-451b-bc5c-c38dd8c87008",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Generate text for each chapter\n",
        "height": 511,
        "width": 2047,
        "color": 2
      },
      "id": "4e81c157-cb37-4d8b-9d2b-87a39c28c0e2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        940,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Get all internal links\n",
        "height": 231,
        "width": 1207,
        "color": 2
      },
      "id": "f814fb61-6472-486c-b1cc-9b556f77dd7b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        420,
        -300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Generate image for each chapter",
        "height": 431,
        "width": 1727,
        "color": 2
      },
      "id": "e35b0da5-9548-41ed-bf22-298ad62c3015",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1540,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Combine and finalize the article\n",
        "height": 411,
        "width": 1347,
        "color": 2
      },
      "id": "b5167d54-a3ee-4420-acf4-04972217dbad",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3040,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Publish article to website\n",
        "height": 431,
        "width": 367,
        "color": 2
      },
      "id": "25ef69e2-0f14-4480-a3ad-8bccca23ebc4",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5100,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Set featured image for the article\n",
        "height": 431,
        "width": 987,
        "color": 2
      },
      "id": "ed5fd7df-2c23-4a7c-b3cd-dd8689d5c424",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5540,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"title\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"content\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2520,
        380
      ],
      "id": "be5b0479-d7d5-4040-8eac-81fe26120ac8",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.chapters",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1040,
        60
      ],
      "id": "9f935ea1-8873-4356-9e70-f85a6fabb4a1",
      "name": "Split out chapters"
    },
    {
      "parameters": {
        "url": "=https://{{ $json.Website }}/sitemap.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        -240
      ],
      "id": "c23b04f2-d186-4fff-a49e-0dda966b4089",
      "name": "Get post sitemap"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        720,
        -240
      ],
      "id": "c20cf64d-e0cf-4f4e-9c8b-f55c04feac61",
      "name": "Get XML file"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urlset.url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        940,
        -240
      ],
      "id": "8cd3f374-a07c-491e-8ede-97949a9467ab",
      "name": "Split out links"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3db2a3a4-d89e-4848-835c-1d6ac68419ac",
              "name": "chapter_title",
              "value": "={{ $json.output.title }}",
              "type": "string"
            },
            {
              "id": "25fbf572-7e57-4797-99ba-34fc1c8d560a",
              "name": "chapter_content",
              "value": "={{ $json.output.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2740,
        40
      ],
      "id": "5dbe886c-e228-4fc3-af8a-dc42c219651a",
      "name": "Get title chapter and content"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate a photographic image to be used as the cover image for the chapter {{ $json.title }} in the article titled {{ $('Create post title and structure').first().json.output.title }},\nThis is the prompt for the image: {{ $json.image.imagePrompt }}, photography, realistic. Do not show any texts in the image.",
        "options": {
          "quality": "standard",
          "size": "1792x1024",
          "style": "natural"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        2080,
        740
      ],
      "id": "1c6dffa8-07e2-42bf-b7e0-fb3ad663c844",
      "name": "Generate chapter image",
      "credentials": {
        "openAiApi": {
          "id": "7SlLLSEUnoJ4ouGB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "resize",
        "dataPropertyName": "=data",
        "width": 800,
        "height": 800,
        "options": {
          "fileName": "={{ $('Split out chapters').item.json.image.fileName }}",
          "format": "webp"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        2340,
        640
      ],
      "id": "e39e8b62-a264-4c8c-8f1c-850cd80c9cc9",
      "name": "Resize Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{ $binary.data.fileName }}.{{ $binary.data.fileExtension }}\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "bd21093d-90e9-45f5-bc89-f1c244feaf7a",
      "name": "Upload chapter images",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2640,
        700
      ],
      "typeVersion": 4.1,
      "credentials": {
        "wordpressApi": {
          "id": "mMsblukJDhYhqjHZ",
          "name": "amoo.com.vn"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "5c7fb35d-57a3-4a24-b2ed-7e7dbf471e8c",
      "name": "Merge chapters title and text",
      "type": "n8n-nodes-base.merge",
      "position": [
        3220,
        120
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.article }}",
        "destinationKey": "article",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        3960,
        120
      ],
      "id": "df046093-79f1-4fc7-9496-19d413181449",
      "name": "Markdown to HTML"
    },
    {
      "parameters": {
        "title": "={{ $('Create post title and structure').first().json.output.title }}",
        "additionalFields": {
          "content": "={{ $('FInal article in HTML').item.json.article }}",
          "slug": "={{ $('Create post title and structure').first().json.output.slug }}",
          "status": "publish",
          "categories": [
            403
          ]
        }
      },
      "id": "4501551e-b31c-4540-a699-902d976b0969",
      "name": "Post on Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        5220,
        120
      ],
      "typeVersion": 1,
      "credentials": {
        "wordpressApi": {
          "id": "mMsblukJDhYhqjHZ",
          "name": "amoo.com.vn"
        }
      }
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 800,
        "height": 800,
        "options": {
          "fileName": "={{ $('Create post title and structure').item.json.output.image.fileName }}",
          "format": "webp"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        2040,
        1100
      ],
      "id": "c28a1031-2f7e-49ef-8d63-e0894946de32",
      "name": "Resize featured image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{ $('Create post title and structure').item.json.output.image.fileName }}.{{ $binary.data.fileExtension }}\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "a56b3336-dea2-4caf-9983-8d12c6222b98",
      "name": "Upload featured image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5860,
        140
      ],
      "typeVersion": 4.1,
      "credentials": {
        "wordpressApi": {
          "id": "mMsblukJDhYhqjHZ",
          "name": "amoo.com.vn"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/posts/{{ $('Post on Wordpress').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "83ec7f96-6646-405c-b12b-4123d3284195",
      "name": "Set featured image for post",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        6280,
        140
      ],
      "typeVersion": 4.1,
      "credentials": {
        "wordpressApi": {
          "id": "mMsblukJDhYhqjHZ",
          "name": "amoo.com.vn"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "alt_text",
              "value": "={{ $('Split out chapters').first().json.image.altText }}"
            },
            {
              "name": "title",
              "value": "={{ $('Split out chapters').first().json.image.caption }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Split out chapters').first().json.image.caption }}"
            },
            {
              "name": "description",
              "value": "={{ $('Split out chapters').first().json.image.caption }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2840,
        700
      ],
      "id": "0578d8ce-4198-44cf-b361-72de76042c4e",
      "name": "Update image meta data",
      "credentials": {
        "wordpressApi": {
          "id": "mMsblukJDhYhqjHZ",
          "name": "amoo.com.vn"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1640,
        620
      ],
      "id": "a64bde6b-89ca-46f3-814c-8da632ac5e34",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "alt_text",
              "value": "={{ $('Create post title and structure').first().json.output.image.altText }}"
            },
            {
              "name": "title",
              "value": "={{ $('Create post title and structure').first().json.output.image.caption }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Create post title and structure').first().json.output.image.caption }}"
            },
            {
              "name": "description",
              "value": "={{ $('Create post title and structure').first().json.output.image.caption }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6080,
        140
      ],
      "id": "30023464-da3c-4062-b3f9-b5b93b1999a0",
      "name": "Update featured image meta data",
      "credentials": {
        "wordpressApi": {
          "id": "mMsblukJDhYhqjHZ",
          "name": "amoo.com.vn"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1660,
        60
      ],
      "id": "a9d52873-3e12-4cfb-a032-f3add656291b",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "178011dc-bb76-420d-a01e-5a5d9797957e",
              "name": "response",
              "value": "=A new blog post was created and published at {{ $json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7220,
        140
      ],
      "id": "14f97d30-10fd-4b62-8527-5ad824363ad6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Generate featured image",
        "height": 471,
        "width": 1067,
        "color": 2
      },
      "id": "37222033-3b9c-486d-9744-a76423a7228d",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1560,
        1060
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## SEO\n",
        "height": 431,
        "width": 507,
        "color": 2
      },
      "id": "3787ca1c-c14f-4100-b28f-77c8f60e2717",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6580,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/posts/{{ $('Post on Wordpress').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "excerpt",
              "value": "={{ $('Create post title and structure').first().json.output.googleExcerpt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6640,
        140
      ],
      "id": "59dae31a-9273-4cbb-9040-40f24886d8f0",
      "name": "Set excerpt",
      "credentials": {
        "wordpressApi": {
          "id": "mMsblukJDhYhqjHZ",
          "name": "amoo.com.vn"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -60,
        240
      ],
      "id": "b3248313-5af1-420f-8c6d-e54692d46fb9",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "AcLVQSnjRAAxfmKn",
          "name": "OpenRouter account API"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2100,
        160
      ],
      "id": "2307e1db-84d7-4a09-913d-80972bb8b290",
      "name": "Wait",
      "webhookId": "ecc9702f-fabf-4b8e-957e-11a05033f36e",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1860,
        740
      ],
      "id": "8a3b3873-4578-4f60-b51b-6d0321bfca20",
      "name": "Wait1",
      "webhookId": "6d464934-8067-45c6-8e9f-4c90f806784c",
      "disabled": true
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2340,
        340
      ],
      "id": "c332d730-2064-428a-b855-1941f1bbc27a",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "AcLVQSnjRAAxfmKn",
          "name": "OpenRouter account API"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 20
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1180,
        -240
      ],
      "id": "a736a0bd-7b50-41ce-805f-3146886f2a9b",
      "name": "Limit1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a5e0892b-6f70-46d4-81fc-e33321dc87b9",
              "leftValue": "={{ $json.Website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b4b4c8d5-9acb-4b8d-be85-7cb70954da7d",
              "leftValue": "={{ $json['Seed keyword'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "48f46993-3214-48b6-a7d1-54a23c0cad48",
              "leftValue": "={{ $json['Target audience'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5599e8bf-4ed9-4316-9b2d-3eea6f74e9a3",
              "leftValue": "={{ $json['Max word count'] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "4b177d23-d6e7-4444-8bbb-fe4d5064da03",
              "leftValue": "={{ $json['Number of chapters'] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "34b9e9d2-c5a3-4878-a12a-f5ad87b43efa",
              "leftValue": "={{ $json['Introduction length'] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "68969bc3-a14a-4459-95d3-7c6a0cb279ce",
              "leftValue": "={{ $json['Conclusion length'] }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "30633e71-924d-4f0f-9ea8-f2d4a119ae51",
              "leftValue": "={{ $json.style }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "ecb3a6a6-a19a-40b5-8026-2b26cca361de",
              "leftValue": "={{ $json['Category ID'] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -520,
        60
      ],
      "id": "a177ce9e-81b3-418d-be12-1637f3324216",
      "name": "Check inputs"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5640,
        140
      ],
      "id": "8fc96632-07a9-41a9-a19a-588857d51af1",
      "name": "Add featured image"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Final article in Markdown').item.json.article }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        4780,
        120
      ],
      "id": "0a63fa13-c187-4c95-ba4e-1ac34ab511d9",
      "name": "Save texts to Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "FBIsiwZrvt3m5rjG",
          "name": "Google Docs API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "folderId": "={{ $('Create Drive folder').first().json.id }}",
        "title": "={{ $('Create post title and structure').first().json.output.title.replace(/ /g, \"_\") }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        4540,
        120
      ],
      "id": "7273648d-b6a0-4f58-b372-15447a8c45e1",
      "name": "Create Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "FBIsiwZrvt3m5rjG",
          "name": "Google Docs API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Create post title and structure').item.json.output.image.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Drive folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2040,
        1340
      ],
      "id": "ad6cd71b-6f7a-48b5-a9cd-0fb42e856e2f",
      "name": "Upload featured image to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Split out chapters').item.json.image.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Drive folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2340,
        880
      ],
      "id": "e906531c-18d2-4800-b33a-4b6ab47a5a93",
      "name": "Upload chapter images to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8cada260-4cd5-4470-8dba-139cec531ddc",
              "name": "output",
              "value": "={{ $('Create post title and structure').item.json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        60
      ],
      "id": "9dc028e8-b56d-4d9f-a35d-2648df63a245",
      "name": "Get output"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.output.title.replace(/ /g, \"_\") }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1flykpYS2KZk_mjDYpYvpJUfnWbZaN91G",
          "mode": "list",
          "cachedResultName": "Auto Blog",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1flykpYS2KZk_mjDYpYvpJUfnWbZaN91G"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        440,
        60
      ],
      "id": "b7c85e64-86ac-4ffd-855a-68b1c9a79cc6",
      "name": "Create Drive folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoQgn4R3hctsZUEQ",
          "name": "Google Drive API (namlee2807)"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2460,
        1220
      ],
      "id": "e22fa3cb-13c3-499b-be09-207ca12f4568",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3060,
        740
      ],
      "id": "68d69039-50a2-4f88-80fd-350875edbe9d",
      "name": "Merge1"
    },
    {
      "parameters": {
        "content": "Create Save Folder on Drive",
        "height": 431,
        "width": 467,
        "color": 2
      },
      "id": "9f96006f-0560-4e59-aacc-9dfebe1fe666",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save to Doc on Drive\n",
        "height": 431,
        "width": 507,
        "color": 2
      },
      "id": "29cf2588-d009-4631-90c5-b26f4684fc5b",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4480,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1440,
        280
      ],
      "id": "7dfffea9-7a69-4aa5-842a-f9dd1e4837df",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1100,
        60
      ],
      "id": "c5ac8b5c-0361-4ddb-83ec-ce82a965c072",
      "name": "Get the latest topic",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1440,
        500
      ],
      "id": "ceaf85f7-269e-4265-987d-01e2e5412098",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6877f11-541d-4ac5-8556-f10374322f2a",
              "name": "article",
              "value": "={{ $json.article }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4200,
        120
      ],
      "id": "6f60e708-99b6-4d2b-8847-886d3c60685e",
      "name": "FInal article in HTML"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd9e8fee-8386-4410-8cb4-5ef83c265d52",
              "name": "article",
              "value": "={{ $json.article }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3740,
        120
      ],
      "id": "79128d32-28d5-4650-8c0e-f26c5bfbe6ca",
      "name": "Final article in Markdown"
    },
    {
      "parameters": {
        "jsCode": "let article = \"\";\n\n// Introduction\narticle += $('Create post title and structure').first().json.output.introduction;\narticle += \"\\n\\n\";\n\nfor (const item of $input.all()) {\n  // Add the chapter title as a level 2 Markdown header\n  article += \"## \" + item.json.chapter_title + \"\\n\\n\";\n  \n  // Insert the chapter image if it exists (Markdown image syntax)\n  if (item.json.source_url) {\n    article += `![${item.json.title.rendered}](${item.json.source_url})\\n\\n`;\n  }\n  \n  // Add the chapter content\n  article += item.json.chapter_content;\n  article += \"\\n\\n\";\n}\n\n// Conclusion\narticle += \"## Final words\\n\\n\";\narticle += $('Create post title and structure').first().json.output.conclusion;\narticle += \"\\n\\n\";\n\n// Call-to-Action (CTA)\narticle += $('Create post title and structure').first().json.output.cta + \"\\n\\n\";\narticle += \"Learn more: [\" + $('Create post title and structure').first().json.output.ctaUrl + \"](\" + $('Create post title and structure').first().json.output.ctaUrl + \")\\n\\n\";\n\n// Company Offering\narticle += \"## About us\\n\\n\";\narticle += $('Create post title and structure').first().json.output.companyOffering;\n\nreturn [\n  {\n    \"article\": article\n  }\n];\n"
      },
      "id": "baf563be-3568-4bb3-ae2a-b3926cfed972",
      "name": "Combine into article",
      "type": "n8n-nodes-base.code",
      "position": [
        3460,
        120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "loc",
              "renameField": true,
              "outputFieldName": "internal_links"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1440,
        -240
      ],
      "id": "c4773c10-1f25-4a25-ad3d-0b636084f90f",
      "name": "Aggregate internal links"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1FowQPQda-K7YH7Rk08P6_qz_YS5LTdBz_d5sUVmJxnM",
          "mode": "list",
          "cachedResultName": "n8n_Blog_Automation_Pro_v2__SEO_topic_template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FowQPQda-K7YH7Rk08P6_qz_YS5LTdBz_d5sUVmJxnM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "blog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FowQPQda-K7YH7Rk08P6_qz_YS5LTdBz_d5sUVmJxnM/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1340,
        60
      ],
      "id": "33f9d8c6-883a-428e-9c37-1c07461f4d63",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "1DnhMaOtkvEN1OXm",
          "name": "Google Sheets Trigger (namlee2807)"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Sheets Trigger": {
      "documentId": "1FowQPQda-K7YH7Rk08P6_qz_YS5LTdBz_d5sUVmJxnM",
      "sheetId": 0,
      "lastIndexChecked": 10
    }
  },
  "tags": [
    {
      "createdAt": "2025-02-20T04:08:24.345Z",
      "updatedAt": "2025-02-20T04:08:24.345Z",
      "id": "Gv1k0DVSmyEB61kz",
      "name": "AI"
    },
    {
      "createdAt": "2025-02-20T04:08:24.352Z",
      "updatedAt": "2025-02-20T04:08:24.352Z",
      "id": "l0qG43hY9LtBKQbZ",
      "name": "WordPress"
    },
    {
      "createdAt": "2025-02-20T04:08:24.359Z",
      "updatedAt": "2025-02-20T04:08:24.359Z",
      "id": "Mw1m9iBiZ0Xoyh6H",
      "name": "OpenAI"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-03-15T10:17:54.710Z",
  "versionId": "4cf72de8-cc49-4319-9b37-1438613efb65"
}