credentials/ZYjrCsLYaDevZ5zR.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent Writing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent Writing",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Writing": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Writing",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-16T07:51:17.872Z",
  "id": "ZYjrCsLYaDevZ5zR",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Nam_Writing Content Web",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "df41eed4-3c9c-48c5-b8bf-1621062e4253",
      "name": "When chat message received",
      "webhookId": "dce5f3c1-1a80-40ca-9a49-c508ee2c40a0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Be precise and comprehensive.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.chatInput }}\"\n    }\n  ],\n  \"temperature\": 0.2,\n  \"top_p\": 0.9,\n  \"search_domain_filter\": [\n    \"perplexity.ai\"\n  ],\n  \"return_images\": false,\n  \"return_related_questions\": false,\n  \"search_recency_filter\": \"month\",\n  \"top_k\": 0,\n  \"stream\": false,\n  \"presence_penalty\": 0,\n  \"frequency_penalty\": 1,\n  \"response_format\": null\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        -160
      ],
      "id": "c697c3a3-a0e6-4480-bfd7-b5de2eeaa485",
      "name": "Perplexity",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wPYfO85eywm4HX0E",
          "name": "Perplexity AI Authorization"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "624c5a63-abb3-4d9d-9b3c-c56bffeaeb12",
              "name": "title",
              "value": "={{ $json.output.title }}",
              "type": "string"
            },
            {
              "id": "75995544-598c-4600-9661-8edf544f3fc1",
              "name": "content",
              "value": "={{ $json.output.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        0
      ],
      "id": "7b0ef523-5b4d-423f-822d-cfd7f1cc167b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Bạn là một chuyên gia SEO và viết nội dung chuyên nghiệp. Tôi cần bạn viết một bài SEO với mục tiêu tối ưu hóa cho công cụ tìm kiếm. Bài viết cần đáp ứng các tiêu chí sau:\n\nTừ khóa chính: {{ $json.chatInput }}\nĐộ dài: 1000-1200 từ.\nCấu trúc chuẩn SEO:\nTiêu đề (title) hấp dẫn, chứa từ khóa chính, dưới 70 ký tự.\nĐoạn mở đầu (100-150 từ) cuốn hút, giới thiệu chủ đề và chứa từ khóa chính.\nCác tiêu đề phụ (H2, H3) rõ ràng, chứa từ khóa chính hoặc phụ.\nNội dung cung cấp thông tin hữu ích, dễ đọc, trả lời câu hỏi của người dùng liên quan đến từ khóa.\nKêu gọi hành động (CTA) tự nhiên ở cuối bài.\nTối ưu hóa: Sử dụng từ khóa chính 3-5 lần, từ khóa phụ rải rác tự nhiên, không nhồi nhét.\nHãy viết bài dựa trên yêu cầu trên và đảm bảo nội dung độc đáo, không sao chép, thu hút người đọc và phù hợp với mục đích tìm kiếm của từ khóa.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        200,
        0
      ],
      "id": "b7ccd622-297b-4cdf-8b31-e57cf8880012",
      "name": "AI Agent Writing"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\"\n    },\n    \"content\": {\n      \"type\": \"string\"\n    }\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        440,
        200
      ],
      "id": "6d0ed21c-48ab-4a94-9fe5-07c656294a5f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "additionalFields": {
          "content": "={{ $json.data }}",
          "status": "publish"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1020,
        0
      ],
      "id": "ff1e6f46-d3fa-446d-86c5-f82375cd599f",
      "name": "Wordpress",
      "credentials": {
        "wordpressApi": {
          "id": "mMsblukJDhYhqjHZ",
          "name": "amoo.com.vn"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        760,
        0
      ],
      "id": "bfa966d3-f56b-49e3-88aa-5b5215f1f8de",
      "name": "Markdown"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer xai-Hf9Qc85aoLPwIhyrIcszvdYYfKYemzgxVEjYqmSoUF0y2beFNP6VkeZYMuww1stm7LXzDXhGVoCQBiWZ"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Be precise and comprehensive.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.chatInput }}\"\n    }\n  ],\n  \"model\": \"grok-2-latest\",\n  \"stream\": false,\n  \"temperature\": 0\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -160
      ],
      "id": "e7b9998e-7416-4b10-946d-3d9ab2cfe0f2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "grok-2-1212",
          "mode": "list",
          "cachedResultName": "grok-2-1212"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        220
      ],
      "id": "f009fcc6-3d62-4f91-81db-59188d4445b5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XJUx5BsSJTavYlnr",
          "name": "Grok"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-25T09:44:23.901Z",
  "versionId": "ccf38358-98d3-4ff1-9e21-9c12f56e78db"
}